  <div class="case-meta theme--{{bodyClass}}"> 
    <p><span>client</span>&nbsp;&mdash;&nbsp;<span class="case-meta__client">{{date}}</span></p>
    <ul class="tag-list">
      {{#each tag}}
        <li>{{this}} <span>/</span></{{this}}></li>
        {{/each}}
      </ul>
    </div>