<div class="center">
    <button class="btn">Tell your story. Learn more. WHERE is this????</button>
</div>
<section class="next-project__wrap">
<h2>Read more stories</h2>
<div class="flex next-project-container">
<figure class="next-project-first">
    <a href="../{{url1}}"><img src="../images/{{img1}}" /></a>
</figure>
<figure class="next-project-second">
    <a href="../{{url2}}"><img src="../images/{{img2}}" /></a>
</figure>
</div>
</section>