<section class="callout fullscreen callout--refer-links">
    <h4 class="">Are you looking for another service area?</h4>
    <div class="flex-c">
      <div class="width-half">
        <a href="../work/growth-marketing">Growth</></a>
      </div>
    <div class="width-half">
      <a href="../work/proposal-writing">Funding</></a>
    </div>
  </div>
</section>