<section class="callout callout--refer-links">
    <h4 class="text-light">Learn more about the work we do</h4>
    <ul class="flex-c flex-c--space-between label-row">
      <a href="../work/growth-marketing"><li class="label center hidden grow">Growth</li></a>
      <a href="../work/lead-generation"><li class="label center hidden lead">Leads</li></a>
      <a href="../work/proposal-writing"><li class="label center hidden fund">Funding</li></a>
    </ul>
</section>