<section class="callout fullscreen callout--refer-links">
    <h4 class="">Are you looking for another service area?</h4>
    <div class="flex-c">
      <div class="flex-c">
        <a href="../work/growth-marketing"><img src="./images/test-abstract.jpg" width="400px" alt="todo" />
        <p>Growth</p></a>
      </div>
    <div class="width-half">
      <a href="../work/proposal-writing"><img src="./images/test-abstract.jpg" width="400px" alt="todo" />
      <p>Funding</p></a>
    </div>
  </div>
</section>

<section class="callout fullscreen callout--refer-links">
    <h4 class="">Are you looking for another service area?</h4>
    <div class="flex-c">
    <a href="../work/proposal-writing"><img src="./images/test-abstract.jpg" width="400px" alt="todo" />
      <p>Funding</p></a>
    </div>
</section>