<div class="inner">
  <div class="flex-c">
    <div class="flex-i case-meta">
      <h6 class="fine-print">Client</h6>
      <p>{{client}}</p>
    </div>
      <ul class="case-meta flex-c--col">
      {{#each tag}}
        <li><p>{{this}} <span>/</span></p></li>
      {{/each}}
    </ul>
</div>
</div>
