  <div class="case-meta"> 
    <p><span>client</span> &mdash;  {{client}}</p>
    <ul class="tag-list">
      {{#each tag}}
        <li>{{this}} <span>/</span></{{this}}></li>
        {{/each}}
      </ul>
    </div>

