
  <div class="inner">
    <div class="flex-c">
      <div class="flex-i">
        <h6 class="fine-print">Client</h6>
        <p>{{client}}</p>
      </div>
       <ul class="case-meta flex-c--col">
        {{#each tag}}
          <li><p>{{this}} / </p></li>
        {{/each}}
      </ul>
    <ul class="case-meta flex-c--col">
      <li><h6 class="fine-print">Team</h6></li> 
        {{#each team}}
        <li><p>{{this}}</p></li>
        {{/each}}
    </ul> 
  </div>
  </div>
