<div class="flex-c--col case-container case-meta">
  <div class="case-container__aside flex-c--center">
    <div class="">
      <p><span>client</span> &mdash;  {{client}}</p>
      <ul class="flex-c--col tag-list">
        {{#each tag}}
          <li>{{this}} <span>/</span></{{this}}></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

