<section class="callout">
    <article class="flex-container-col cta-container">
        <h2>Insert a CTA lead-in so gobstoppingly great, unicorns and rainbows spill from the sky. Lorem ipsum.</h2>
        <h2>"Hire Fuel Copy or you'll regrrret it. They're grrreat!" --Tony the Tiger</h2>
        <button class="btn-cta">Brief awesome CTA</button>
    </article> 
</section>

