<section class="callout flex-container-col">
    <h2>Insert a CTA lead-in so gobstoppingly great, unicorns and rainbows spill from the sky. Lorem ipsum.</h2>
    <button>Brief awesome CTA</button
</section>

