<section class="callout">
    <h2>We're eager to hear your story. And begin to help you today.</h2>
    <h4 class="mail-link"><a href="mailto:caroline@fuelcopy.com?subject=Fuelsite query">Email us</a></h4>
    <h4 class="tel-link"><a href="tel:5551234567">Call +1 (610) 220-7863</a></h4>
</section>