    <p class="">Browse Our Site!</p>
    <div class="fl-container"> 
        <ul class="fl-column">
            <li><a href="./">Home</a></li>
            <li><a href="./about">About Us</a></li>
            <li><a href="./work">What We Do</li>
            <li><a href="./portfolio">Our Work / Portfolio</a></li>
            <li><a href="./contact">Contact</a></li>
        </ul>
    </div>
    <div class="fl-container">
            <p>What's News</p>
        <div class="fl-column"></div>
            <p>Contact Info</p>
            <p>Easy Contact</p>
    </div>
    <div class="container-center">
        <p>&copy;2019 Fuel Communications</p>
    </div> 