<section class="footer__wrap">
  <div class="inner flex-c--col">
        <ul class="social-links flex-c--center">
          <p class="footer-link"><a href="mailto:caroline@fuelcopy.com?subject=Fuelsite query">caroline@fuelcopy.com</a></p>
          <p class="footer-link"><a href="tel:+1-610-220-7863">+1 (610) 220-7863</a></p>
          <div class="flex-c--row">
            <li><a href="https://www.github.com/cml815" class="fab fab fa-facebook"></a></li>
            <li><a href="https://www.github.com/cml815" class="fab fa-github-alt"></a>
            <li><a href="https://www.twitter.com/caroline815" class="fab fa-twitter"></a></li>
          </div>
        </ul> 
      </div>
  </div>
  <section class="banner">

      <div class="copyright">
    <span>&copy;
<script type="text/javascript">
  document.write(new Date().getFullYear());
</script>
</span>
<span class="center">&nbsp;Fuel Communications, LLC</span>
</div>
</div>

  </section>


