<div class="colorful">
<div class="flex-container">
  <ul class="flex-item sitemap">
    <li>What We Offer</li>
    <li>About</li>
    <li>Case Stories</li>
  </ul>
   <ul class="contact-links">
    <li><h4>Get in Touch!</h4></li>
    <li>Call 610-220-7863</li>
    <li>Email us</li>
  </ul>
  <ul class="social-links">
    <li>FB</li>
    <li>Github</li>
    <li>Twitter</li>
  </ul> 
</div>
<div class="">
<p>
&copy;<script type="text/javascript">
  document.write(new Date().getFullYear());
</script>, Fuel Communications, LLC
</p>
</div>
</div>