<section class="flex-c inner footer-container">
  <div class="flex-i inner">
    <p>Let's Work Together</p>
  </div>
  <div class="flex-i--double">
     <div class = "">
      <p>New Business &amp; Client Support:</p>
      <p class=""><a href="mailto:caroline@fuelcopy.com?subject=Fuelsite query">caroline@fuelcopy.com</a></p>
      <p class=""><a href="tel:+1-610-220-7863">+1 (610) 220-7863</a></p>
    </div>
  </div>
  <div class="social">
    <ul class="social-links flex-c--row">
      <li><a href="https://www.facebook.com/fuelcopy/" class="fab fa-facebook"></a></li>
      <li><a href="https://www.github.com/cml815" class="fab fa-github-alt"></a>
      <li><a href="https://www.twitter.com/caroline815" class="fab fa-twitter"></a></li>
    </ul> 
  </div>
</section>
<section class="copyright">

&copy;
<script type="text/javascript">
  document.write(new Date().getFullYear());
</script>

<span class="center">&nbsp;Fuel Communications, LLC</span>
</section>
