<section class="flex-c footer-container">
  <div class="flex-i--double">
    <p>Let's Work Together</p>
    <div class = "">
      <p class="mail-link"><a href="mailto:caroline@fuelcopy.com?subject=Fuelsite query">caroline@fuelcopy.com</a></p>
      <p class="tel-link"><a href="tel:+1-610-220-7863">+1 (610) 220-7863</a></p>
    </div>
  </div>
  <div class="flex-i">
    <ul class="flex-item sitemap">
      <li>What We Offer</li>
      <li>About</li>
      <li>Case Stories</li>
    </ul>
  </div>
  <div class="flex-1 social">
    <ul class="social-links flex-c">
      <li><a href="https://www.facebook.com/fuelcopy/" class="fab fa-facebook"></a></li>
      <li><a href="https://www.github.com/cml815" class="fab fa-github-alt"></a>
      <li><a href="https://www.twitter.com/caroline815" class="fab fa-twitter"></a></li>
    </ul> 
  </div>
</section>

<div class="copyright">
&copy;

<script type="text/javascript">
  document.write(new Date().getFullYear());
</script>

<span class="center copyright">, Fuel Communications, LLC</span>

