<p>&copy;2019 Fuel Communications</p> 
    <div class="fl-container"></div>
    <div class="column"> 
        <ul class="grid"></div>
            <li><a href="./">Home</a></li>
            <li><a href="./about">About Us</a></li>
            <li><a href="./work">What We Do</li>
            <li><a href="./portfolio">Our Work / Portfolio</a></li>
            <li><a href="./contact">Contact</a></li>
        <div class="flex-column"></div>
            <p>What's News</p>
        <div class="flex-column"></div>
            <p>Contact Info</p>
            <p>Easy Contact</p>
    </div>