<section class="footer__wrap">
  <div class="inner flex-c">
    <div class="content-block">
      <p>Fuel Copy</p>
      <p>We make the complex relatable.</p>
    </div>
    <div class="content-block">
      <p class="bold">Explore</p>
      <ul>
        <li><a href="../about">About</a></li>
        <li><a href="../work">What We Do</a></li>
        <li><a href="../projects">Case Stories</a></li>
        <li><a href="../contact">Contact</a></li>
      </ul>
    </div>
    <div class="content-block">
      <p class="bold">New Business or Questions</p>
      <p><a href="mailto:caroline@fuelcopy.com?subject=Fuelsite query">Email us</a></p>
      <p><a href="tel:+1-610-220-7863">+1 (610) 220-7863</a></p>
    
    <ul class="flex-c social-links">
    <li><a href="https://www.github.com/cml815" class="fab fab fa-facebook"></a></li>
    <li><a href="https://www.twitter.com/caroline815" class="fab fa-twitter"></a></li>
    <li><a href="https://www.github.com/cml815" class="fab fa-github-alt"></a>
  </ul> 
    </div>

  </div>
</section>
<section>
 
</section>

<section>
  <div class="copyright">
    <span>&copy;
<script type="text/javascript">
  document.write(new Date().getFullYear());
</script>
</span>
<span class="center">&nbsp;Fuel Communications, LLC</span>
</div>
</section>


