<form class="contact-form" action="">
    <fieldset>
        <legend>
            <label for="firstName" class="first-name">First Name</label>
            <input id="firstName" type="text">

            <label for="lastName" class="last-name">Last Name</label>
            <input id="lastName" type="text">

            <label for="job">Job or Company</label>
            <input id="job" type="text">

            <label for="email">Email</label>
            <input id="email" type="email">
            <button>Submit</button>
        </legend>
    </fieldset>
</form>
