<form action="/subscribe_email/" method="post">
    <label for="sub_name">Name </label>
    <input id="sub_name" type="text" name="name_field" value="Enter you name.">
    <input type="submit" value="OK">
</form>