<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>
<meta name="description" content="{{description}}">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://use.typekit.net/slr6emh.css">
<link href="https://fonts.googleapis.com/css?family=Barlow:400,700|Montserrat:700,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Chivo:400,700|Noto+Serif+JP:400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap" rel="stylesheet">
<!-- <script src="https://kit.fontawesome.com/d16fe5b3f1.js"></script> -->
<script src="https://kit.fontawesome.com/c7228e8690.js"></script>