<meta charset="utf-8">
<title>{{title}}</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Corben:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/slr6emh.css">
<link href="https://fonts.googleapis.com/css?family=Lato:700|Libre+Franklin:500|Noticia+Text:700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">