<meta charset="utf-8">
<title>{{title}}</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro" rel="stylesheet">