<div class="text-container">
  <h1>Help others find you, <br>know you and trust you.</h1>
  <h4>Personable websites and content that cement relationships and simplify purchase decisions.</h4>
    <div class="container-cta">
    <div class="btn cta" <a href="../contact"><p>Get a Winning Online Presence. Talk to Us.</p></a></div>
  </div>
</div>
<div class="slide-in-right">
  <img class="slide-in-right" src="https://via.placeholder.com/400" />
</div>

 