<div class="text-container">
  <h1>Help others find you, <br>know you, <br> and trust you.</h1>
  <h4>Turn "love at first sight" into sales and loyalty with custom website design and copy.</h4>
    <button class="container-cta">
    <button class="btn-hero" <a href="../contact"><p>Get a Winning Online Presence. Talk to Us.</p></a></button>
  </div>
</div>
<div class="slide-in-right">
  <img class="slide-in-right" src="https://via.placeholder.com/400" />
</div>

 