  <div class="lead">
    <h1>When you have exactly what others want. <br>Then, they find you.</h1>
    <h2 class="tagline">That's happiness.</h2>
    <h4>Succeed with trusted, relatable design and copy.</h4>
  </div>
  <article class="">
    <div class="container-cta">
      <div class="btn cta" <a href="../portfolio"><p>Make Your Mark Online Now.</p></a></div>
    </div>
  </article>