<section class="flex-wrap">
<div class="text-container">
  <div class="text-transform-container">
    <h1 class="loud"><span class="text-intro"></span>Help them <br>find you, <br>know you, <br><span class= "highlight">trust you.</span></h1>
  </div>
  <h4>Attract revenue and new funding with expert support.</h4>
    <button class="container-cta">
    <button class="btn rounded"><a href="../contact"><p>Schedule free consult.</p></a></button>
  </div>
</div>
<div class="slide-in-right image-container">
  <img class="slide-in-right mobile-hide" src="./images/undraw_add_content.svg" />
</div>
</section>
