  <div class="lead">
    <h1>You have exactly what others want. <br>Let them find you.</h1>
    <h4>Succeed with websites and copy to aid purchase decisions.</h4>
  </div>
  <article class="">
    <div class="container-cta">
      <div class="btn cta" <a href="../portfolio"><p>Discuss Your Project.</p></a></div>
    </div>
  </article>