<div class="text-container">
  <h2>Help others find you, <br>know you, <br> and trust you.</h2>
  <h1>Gain trust, sales and loyalty with digital marketing and strategic communications.</h1>
    <button class="container-cta">
    <button class="btn-hero" <a href="../contact"><p>Get a Winning Online Presence. Talk to Us.</p></a></button>
  </div>
</div>
<div class="slide-in-right">
  <img class="slide-in-right" src="https://via.placeholder.com/400" />
</div>
