 <header class="header-navigation">
       <nav role="navigation">
        <ul class="navigation">
            <li><a href="../">Logo</li>
            <li><a href="../about">About</a></li>
            <li><a href="../work">Services</a>
                <ul class="dropdown">
                    <li><a href="#">Digital campaigns</a></li>
                    <li><a href="#"></a>Content</li>
                    <li><a href="#">Grants / Proposals</a></li>
                </ul>
            </li>
            <li><a href="../portfolio">Portfolio</a></li>
            <li><a href="../contact">Contact</a></li>
        </ul>
    </nav>
</header>