<nav id="menu" role="navigation">
    <ul>
        <li><a href="../">Logo</li>
        <li><a href="../work">What We Do</a>
            <ul class="dropdown">
                <li><a href="#">Websites</a></li>
                <li><a href="#"></a>Content marketing</li>
            </ul>
        </li>
        <li><a href="../projects">Stories</a></li>
        <li><a href="../contact">Let's Talk</a></li>
        <li><a href="../projects/jeff-grant-technology-influencer">Influencer</a></li>
    </ul>
</nav>
