<nav class="navbar">
        
        <!-- <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i> 
        </span> -->

        <li id="logo" class="logo hidden"><a href="../"><img src="./images/fuel-logo-trans.svg" height="36" width="36" /></li>
        <ul class="main-nav" id="js-menu">
            <li><a href="../work">Services</a></li>
            <li><a href="../about">About Us</a></li>
            <li><a href="../projects">Sample Work</a></li>
            <!-- add dropdown for case studies -->
            <!-- <li><a href="../projects/jeff-grant-technology-influencer">Influencer</a></li> -->
            <li><button class="btn "><a href="../contact">Let's Talk</a></button></li>
            
        </ul>
    </nav>
