<nav class="navbar">
        
        <!-- <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i> 
        </span> -->

        <li id="logo" class="logo hidden"><a href="/"><img src="./images/logo-new.svg" height="60" width="60" /></li> 
        <ul class="main-nav" id="js-menu">
            <li class="is-visible"><a href="../about">About</a></li>
            <li class="is-visible"><a href="../work">How We Help</a></li>
            <li class="is-visible"><a href="../projects">Case Stories</a></li>
            <li><button class="btn small"><a href="../contact">Let's Talk</a></button></li>
            <li class="hamburger"><span onclick="openNav()"><i class="fas fa-bars"></i></span></li>
            <li id="myNav" class="overlay">
            <!-- Button to close the overlay navigation -->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
             <!-- Overlay content -->
            <div class="overlay-content">
                <a href="../">Home</a>
                <a href="../about">About</a>
                <a href="../work/growth-marketing">Growth Marketing</a>
                <a href="../work/proposal-writing">Fundraising</a>
                <a href="../projects">Case Stories</a>
                <a href="../contact">Contact</a>
            </div>
        </li>
        </ul>
       

    </nav>

