<nav class="navbar">
        
        <!-- <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i> 
        </span> -->

        <!--<li id="logo" class="logo hidden"><a href="/"><img src="./images/logo-new.svg" height="60" width="60" alt="logo"/></li> -->
        <li id="logo"><a class="logo-link" href="/">FUEL COPY</a></li>
        <ul class="main-nav" id="js-menu">
            <li class="is-visible"><a class="nav-link" href="../about">About</a></li>
            <li class="is-visible"><a class="nav-link" href="../work/growth-marketing">Marketing</a></li>
            <li class="is-visible"><a class="nav-link" href="../work/fundraising">Grant Funding</a></li>
            <li class="is-visible"><a class="nav-link" href="../projects">Case Stories</a></li>
             <li class="is-visible"><a class="nav-link" href="../blog">Blog</a></li>
            <li><button class="btn--menu small"><a href="../contact"><p class="no-margin">Let's Talk!</p></a></button></li>
            <li class="hamburger"><span onclick="openNav()"><img src="./images/bars-light.svg" width="24px" alt="hamburger menu icon" /></span></li>
            <li id="myNav" class="overlay">
            <!-- Button to close the overlay navigation -->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
             <!-- Overlay content -->
            <div class="overlay-content">
                <a href="../">Home</a>
                <a href="../about">About</a>
                <a href="../work/growth-marketing">Marketing</a>
                <a href="../work/fundraising">Grant Funding</a>
                <a href="../projects">Case Stories</a>
                <a href="../blog">Blog</a>
                <a href="../contact">Contact</a>
            </div>
        </li>
        </ul>
       

    </nav>

