 <header>
        <nav>
            <div class="topnav" id="topnav">
                <a href="../" class="active"></a>Home</a>
                <a href="../about">About</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Services
                        <i class="fa fa-caret-down"</i>
                    </button>
                    <div class="dropdown-content">
                    <a href="../work">Overview of all services</a>
                    <a href="../work/marketing">Marketing</a>
                    <a href="../work/fundraising">Fundraising</a>
                    </div>
                <a href="../portfolio">See Our Work</a>
                <a href="../contact">Contact</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </nav>
    </header>