 <header>
       <nav role="navigation">
        <ul class="navigation">
            <li><a href="../">Logo</li>
            <li><a href="../about">About</a></li>
            <li><a href="../work">Services</a>
                <ul class="dropdown">
                    <li><a href="#">Sub-1</a></li>
                    <li><a href="#">Sub-2</a></li>
                    <li><a href="#">Sub-3</a></li>
                </ul>
            </li>
            <li><a href="../portfolio">Portfolio</a></li>
            <li><a href="../contact">Contact</a></li>
        </ul>
    </nav>
</header>