 <figure class="feature-img">
      <img src="../images/grant-red-shirt.jpg">
    </figure>
    <div class="feature-fill">  
    </div>
    <div class="feature-text">
      <h4>Insert Punchy Headline Here!</h4>
      <p>Don't know what I'm going to write, but let me do that here. YouTuber Jeff Grant geeks out on technology, cameras and being awesome.</p>
      <p>Another sentence to reinforce things.</p>
      <button class="default">Read our work stories.</button>
    </div>