        <ul class="sub-nav grid-container">
                <li><a href="../projects/social-media-influencer">social media influencer</a></li>
                <li><a href="../projects/press-campaign">press campaign</a></li>
                <li><a href="../projects/founder-stories">Founder stories</a></li>
                <li><a href="../projects/sbir-grants">SBIR grants</a></li>
                <li><a href="../projects/thought-leadership">Thought leadership</a></li>
                <li><a href="../projects/web-design">Web design</a></li>
            </div>
        </ul>
       

