<section class="hero team">
  <div class="hero__text-container flex-c--center">
    <div class="hero__text hero__text---team">
      <h1 class="huge"><span class="text-outline">{{firstname}}<br></span><span class="color--white">{{lastname}}</span></h1>
    </div>
    <div class="image-container">
        <img class="shadow" src="../images/{{img}}.jpg" width="400px" alt="{{fullname}}" />
    </div>  
  </div>
</section>