<section class="hero">
  <div class="hero__text-container flex-c--center">
    <div class="hero__text">
      <p class="fine-print">Meet the Team</p>
      <h1 class="huge large-print text-outline">{{firstname}}</h1>
    </div>
    <div class="image-container">
        <img src="../images/{{img}}.jpg" width="500px" alt="{{fullname}}" />
    </div>  
  </div>
</section>