<!doctype html>
<html lang="en">
<head>
  {{> head}}
</head>
<body class="{{ bodyClass }}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PG4665D"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <header id="menu" class="menu-wrap grid__item">
    {{> nav }}
  </header>

<div class="inner--l">
  <h1>Resource Bank</h1>
  <p class="serif">Browse through articles, FAQs and tutorials to help you reach your goals.</p>
</div>
<div class="band">
  <div class="item-1">
    <a href="../blog/sbir-grant-guide" class="card">
      <div class="thumb" style="background-image: url(../images/nci-cells.jpg);"></div>
      <article>
        <h2>SBIR Grant Guide</h2>
        <span>Caroline Leopold</span>
      </article>
    </a>
  </div>
  <div class="item-2">
    <a href="../blog/estimate-chances-grant-success" class="card">
      <div class="thumb" style="background-image: url(../images/calendar.svg);"></div>
      <article>
        <h2>Predict Your Chances for Grant Success</h2>
        <span>Caroline Leopold</span>
      </article>
    </a>
  </div>
  <div class="item-3">
    <a href="../blog/covid-relief-grants-for-small-business" class="card">
      <div class="thumb" style="background-image: url(../images/coronavirus-source-CDC.jpg);"></div>
      <article>
        <h2>Coronavirus Relief for Small Businesses: Updated</h2>
        <span>Caroline Leopold</span>
      </article>
    </a>
  </div>
  <div class="item-4">
    <a href="https://webdesign.tutsplus.com/tutorials/how-to-code-a-scrolling-alien-lander-website--cms-26826" class="card">
      <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/landing.png);"></div>
      <article>
        <h1>How to Code a Scrolling “Alien Lander” Website</h1>
        <p>We’ll be putting things together so that as you scroll down from the top of the page you’ll see an “Alien Lander” making its way to touch down.</p>
        <span>Kezz Bracey</span>
      </article>
    </a>
  </div>
  <div class="item-5">
    <a href="https://design.tutsplus.com/tutorials/stranger-things-inspired-text-effect--cms-27139" class="card">
      <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/strange.jpg);"></div>
      <article>
        <h1>How to Create a “Stranger Things” Text Effect in Adobe Photoshop</h1>
        <span>Rose</span>
      </article>
    </a>
  </div>
  <div class="item-6">
    <a href="https://photography.tutsplus.com/articles/5-inspirational-business-portraits-and-how-to-make-your-own--cms-27338" class="card">
      <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flor.jpg);"></div>
      <article>
        <h1>5 Inspirational Business Portraits and How to Make Your Own</h1>

        <span>Marie Gardiner</span>
      </article>
    </a>
  </div>
  <div class="item-7">
    <a href="https://webdesign.tutsplus.com/articles/notes-from-behind-the-firewall-the-state-of-web-design-in-china--cms-22281" class="card">
      <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/china.png);"></div>
      <article>
        <h1>Notes From Behind the Firewall: The State of Web Design in China</h1>
        <span>Kendra Schaefer</span>
      </article>
    </a>
  </div>
</div>



  <main class=" {{bodyClass}}__main">
    
  </main>




<section class="hero--short">
  <div class="inner">
    <p class="fine-print">Blog</p>
    <h1>We help brands share themselves in real and appealing ways. Draw inspiration from their successes!</h1>
  </div>
</section>
<section class="grid-c__fluid--m inner--s">
  <article>
    <figure class="project">
      <a href="../projects/press-campaign">
        <figcaption class="project--overlay project--details 
         project--meta content--details"> 
            <h4 class="narrow">Mass Action To End Mass Shootings.</h4>
            <p class="line-wrap">earned media / pr</p>
        </figcaption>         
        <img class="image__content" src="../images/harrisburg.jpg" alt="Rally to prevent gun violence in Harrisburg at Pennsylvania State Capitol">
      </a>
    </figure>
  </article>
  <article>
    <figure class="project">
      <a href="../projects/founder-stories">
        <figcaption class="project--overlay project--details project--meta content--details  ">
          <h4 class="narrow">Founder Stories Stir Imagination, Grow Traffic.</h4>
          <p class="line-wrap">content marketing / <br> SEO</p>
        </figcaption>
        <img class="image__content" src="../images/caroline-shin-ceo.jpg" alt="Caroline Shin, Vacatia CEO">
      </a>
    </figure>
  </article>
  <article>
      <figure class="project">
        <a href="../projects/websites">
          <figcaption class="project--overlay project--details project--meta content--details">
            <h4 class="narrow">A Web Presence &amp; Digital Onboarding Made Easier.</h4>
            <p class="line-wrap">web design / <br> copywriting</p>
        </figcaption>
        <img class="image__content" src="../images/laptop.jpg" alt="desktop computer">
      </a>
    </figure>
  </article>
  <article>
    <figure class="project container__caption">
      <a href="../blog/sbir-grant-guide">
        <figcaption class="project--overlay project--details project--meta content--details  "> -->
          <h4 class="narrow">SBIR Grant Guide</h4>
          <p class="line-wrap">
          Frequently asked questions blah blah blah blah</p>
        </figcaption> 
    </figure>
  </article>
   <article>
    <figure class="">
      <a href="../projects/social-marketing-grant">
        
        <img class="image__content" src="../images/woman-red.jpg" width="200px" height="200px" alt="woman in red suit">
        <figcaption class="">
          <h4 class="">SBIR Grant Guide for Small Businesses</h4>
           <ul class="tag-line flex">
            <li>fundraising</li>
            <li>grants</li>
            <li>SBIR</li>
          </ul> 
        </figcaption>
      </a>
    </figure>
  </article>
</section>

  <footer class="{{bodyClass}}__footer">
    {{> footer }}
  </footer>
  <script src="./javascripts/main.js"></script>

</body>







</html>