<!doctype html>
<head>
  {{> head}}
</head>
<body>
<p>sample copy here</p>
    
  {{{ body }}}

  <footer>
    {{> footer }}
  </footer>
  <script src="./javascripts/main.js"></script>
  </body>
  </html>

