<!doctype html>
<head>
  {{> head}}
</head>
<body class="{{ bodyClass }}">
  <header id="menu" class="menu-wrap grid__item">
    {{> nav }}
  </header>
  <main>
      {{> hero}}
      {{{ body }}}
    <div class="subnav-container grid-container">
      {{> subnav }}
    </div>
  </main>
  <footer>
    {{> footer }}
    </footer>
  <script src="./javascripts/main.js"></script>
</body>
</html>