<!doctype html>
<head>
  {{> head}}
</head>
<body>
    <header class="{{ bodyClass }}">
        {{> nav}}
    </header>

<!-- Data from projects.js -->
    <div class="case-data">
        <h2>{{title}}</h2>
        <ul class="">
            {{#each tag}}
            <li>{{this}}</li>
            {{/each}}
        </ul> 
    </div>
  
<!-- Main area -->
    <main class="case-content">
        {{{ body }}}

    </main>

<!--    <button class="go-back" onclick="goBack()">Previous</button> -->
<!-- Footer 
 <footer class="grid__item grid__item--footer">
        {{> footer}}
    </footer>  -->
    
<!-- script>
    function goBack() {
    window.history.back();
    }
</script> -->

    {{> footer}}
</body>
</html>