<!doctype html>
<head>
  {{> head}}
</head>
<body class="case-template grid__container--page">
    <header class="grid__item grid__item--header">
        <div class="container__flex data__primary">
            <h2>{{title}}</h2>
            <ul class="container__flex tag-list">
                {{#each tag}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </header>
  


<!-- Main area -->
    <main class="grid__item grid__item--main">
        {{{ body }}}
    <button class="go-back" onclick="goBack()">Previous</button>
    </main>

<!-- Footer 
 <footer class="grid__item grid__item--footer">
        {{> footer}}
    </footer>

    -->
    
<script>
    function goBack() {
    window.history.back();
    }
</script>
</body>
</html>