<!doctype html>
<head>
  {{> head}}
</head>
<body class="{{ bodyClass }}">
  <header id="menu" class="menu-wrap grid__item">
    {{> nav }}
  </header>
  <main class="case-study {{bodyClass}}__main">
      {{{ body }}}
  </main>
  <footer class="{{bodyClass}}__footer">
    {{> footer }}
  </footer>
  <script src="./javascripts/main.js"></script>
</body>
</html>