 <!doctype html>
 <html lang="en">
<head>
{{> head}}
</head>
<body class="not-home">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NM3HJS8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <main>
    <header id="menu" class="menu-wrap grid__item">
      {{> nav }}
    </header>
    <div class="title-wrap">
      {{#if title}}
      <h1 class="page-title">{{ title }}</h1>
      {{/if}}
    </div>
    <section class="contact">
  {{{ body }}}
  </section>
  </main>
  <footer>
    {{> footer }}
  </footer>
  <script src="./javascripts/main.js"></script>
  </body>
  </html>