<!doctype html>
<head>
  {{> head}}
</head>
<body class="{{ bodyClass }}">
  <header id="menu" class="menu-wrap grid__item">
    {{> nav }}
  </header>
  <main class=" {{bodyClass}}">
    <div class="body">
      {{{ body }}}
    </div>
  </main>
  <footer class="">
    {{> footer }}
    </footer>
  <script src="./javascripts/main.js"></script>
</body>
</html>