<!doctype html>
<head>
  {{> head}}
</head>
<body class="{{ bodyClass }}">
  <header id="menu" class="menu-wrap grid__item">
    {{> nav }}
  </header>
  <main>
      {{> hero}}
      {{{ body }}}
      <section class="callout">
          {{> cta }}
      </section>
  </main>
  <footer class="">
    {{> footer }}
    </footer>
  <script src="./javascripts/main.js"></script>
</body>
</html>