<!doctype html>
<head>
  {{> head}}
</head>
<header id="menu" class="menu-wrap grid__item">
  {{> nav }}
</header>
<body class="{{ bodyClass }}">
  <main>
      {{{ body }}}
  </main>
  <script src="./javascripts/main.js"></script>
</body>
</html>