<!doctype html>
<head>
  {{> head}}
</head>
<body class="grid-container grid-container__page case__tech">
    <header class="grid__item grid__item--header">
        <h1>{{title}}</h1>

    </header>
    <sidebar class="grid__item grid__item--sidebar">

         {{> sidebar}}

    </sidebar>

       
    <main class="grid__item grid__item--main">

        {{{ body }}}

    </main>

</body>
</html>