<!doctype html>
<head>
  {{> head}}
</head>
<body>
<div class="grid__page grid__page--12x12">
  <header class="grid__item">
			<div class="container__title">
				{{#if title}}
					<h1 class="page-title">{{ title }}</h1>
				{{/if}}
			</div>
  </header>
  <header id="menu">
      {{> nav }}
  </header>
		<main class="grid__item">
			 {{{ body }}}
		</main>
  <footer class="grid__item">
    {{> footer }}
  </footer>
</div> <!-- end grid -->
  <script src="./javascripts/main.js"></script>
</body>
</html>
