<!doctype html>
<head>
  {{> head}}
</head>
<body class="home">
  <main>
    <section class="home-hero">
        {{> hero}}
    </section>
    <header id="menu" class="menu-wrap grid__item">
        {{> nav }}
    </header>
    <div class="body-content">
        {{{ body }}}
    </div>
    <footer class="">
        {{> footer }}
    </footer>
  </main>
  <script src="./javascripts/main.js"></script>
</body>
</html>