<!doctype html>
<head>
  {{> head}}
</head>
<body class="home">
  <header id="menu" class="menu-wrap grid__item">
    {{> nav }}
  </header>
  <main>
    <div class="">
        {{{ body }}}
      <section class="callout">
          {{> cta }}
      </section>
    </div>
  </main>
  <footer class="colorful">
    {{> footer }}
    </footer>
  <script src="./javascripts/main.js"></script>
</body>
</html>