<!doctype html>
<head>
  {{> head}}
</head>
<body>
{{> nav }}
    <h1 class="page-title">{{ title }}</h1>
  <div>
    
  {{{ body }}}

  <footer>
    {{> footer }}
  </footer>
  <script src="./javascripts/main.js"></script>
  </body>
  </html>

