<!doctype html>
<head>
  {{> head}}
</head>
<body>
  <header id="menu">
        <nav class="">
            <ul class="wrap-menu-links">
                <li><a href="../">Home</a></li>
                <li><a href="../about">About</a></li>
                <li><a href="../work">How We Help</a></li>
                <li><a href="../portfolio">See Our Work</a></li>
                <li><a href="../contact">Contact</a></li>
            </ul>
        </nav>
    </header>
  <main>
  {{{ body }}}

  </main>
  <footer>
    {{> footer }}
  </footer>
  <script src="./javascripts/main.js"></script>
  </body>
  </html>

