<!doctype html>
<head>
{{> head}}
</head>

<body>
  <header>
    <nav>
      {{> nav }}
    </nav>
  </header>
  <main>
    <div class="container__title">
      {{#if title}}
      <h1 class="page-title">{{ title }}</h1>
      {{/if}}
    </div>
  {{{ body }}}
  </main>
  <footer>
    {{> footer }}
  </footer>
  <script src="./javascripts/main.js"></script>
  </body>
  </html>

