<!doctype html>
<head>
{{> head}}
</head>
<body>
  <main>
    <header id="menu" class="menu-wrap grid__item">
      {{> nav }}
    </header>
    <div class="">
      {{#if title}}
      <h1 class="page-title">{{ title }}</h1>
      {{/if}}
    </div>
  {{{ body }}}
  </main>
  <footer>
    {{> footer }}
  </footer>
  <script src="./javascripts/main.js"></script>
  </body>
  </html>

