 <!doctype html>
<head>
{{> head}}
</head>
<body class="not-home">
  <main>
    <header id="menu" class="menu-wrap grid__item">
      {{> nav }}
    </header>
    <div class="title-wrap">
      {{#if title}}
      <h1 class="page-title">{{ title }}</h1>
      <p>Adjust title-wrap</p>
      {{/if}}
    </div>
  {{{ body }}}
  {{> cta}}
  </main>
  <footer>
    {{> footer }}
  </footer>
  <script src="./javascripts/main.js"></script>
  </body>
  </html>

