<!doctype html>
<head>
  {{> head}}
</head>
<body>
<!-- portfolio page layout -->

{{> nav }}

<div class="container__title">
  {{#if title}}
    <h1 class="page-title">{{ title }}</h1>
  {{/if}}
</div>

  {{{ body }}}

  <footer>
    {{> footer }}
  </footer>
  <script src="./javascripts/main.js"></script>
  </body>
  </html>

