<section class="hero">
<div class="hero__inner-container">
  <div class="text-transform-container">
    <p class="page-title"><span class="highlight">{{ shortTitle }}</span></p>
    <h1>Fuel Copy harnesses strategy, creativity, technology and heart to achieve (almost) impossible goals.</h1>  </div>
</div>
</div>
</section>
<section>
    <div class="inner-container centering">        
        <h2>While we love the craft, results are what matter.</h2>
        <p>We're doers with exceptional skill in communications strategy, design and execution. Largely, we work behind the scenes to ensure health, technology and community change projects get the following and financial support they deserve.</p>
    </div>    
</section>
<section>
    <div class="inner-container centering">        
        <h2>How It Started & Where We're Going.</h2>
        <p>Fuel began as a desire to use our experience to help mission-focused ventures improve the world.</p>
        <p>In the years since our founding in 2012, much has changed. Online opportunities to connect and profit continue to grow, but so has competition for attention.</p>
    </div>    
</section>

<section class="gallery__container">
  <h1>Faces of Fuel</h1>
  <div class="gallery__container--grid">
    <div class="item">
      <div class="item__details">
        Caroline Leopold
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">
        Rich Garella
      </div>
    </div>
    <div class="item item--medium">
      <div class="item__details">
        Dave Scholnick
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">
        Dana Henry
      </div>
    </div>
    <div class="item item--full">
      <div class="item__details">
         Rich, Caroline &amp; Dave
      </div>
    </div>
    <div class="item item--medium">
      <div class="item__details">
        Francesca Lo Basso
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">
        Darcie Goodwin
      </div>
    </div>
    <div class="item">
      <div class="item__details">
        Ed Apffel
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">
        Placeholder here
      </div>
    </div>
    </div>
    <div class="item">
      <div class="item__details">
        Placeholder
      </div>
    </div>
  </div>
</div>
</section>