  <section class="hero">
  <div class="hero__inner">
    <p class="fine-print">About us</p>
    <div class="">
      <h1>Fuel Copy harnesses strategy, creativity, skill &amp; ❤️ to achieve (almost) impossible goals.</h1>  
    </div>
</div>
</div>
<section class="flex-c">
<div class="content-text">
  <div class="inner">      
    <h2>While we love the craft, results are what matter.</h2>
    <p>We're doers with exceptional skill in communications strategy, design and execution. Largely, we work behind the scenes to ensure health, technology and community change projects get the following and financial support they deserve.</p>
  </div>   
  <div class="inner">        
    <h2>How we began &amp; where we're going.</h2>
    <p>Fuel began as a desire to use our experience to help mission-focused ventures improve the world.</p>
    <p>In the years since our founding in 2012, much has changed. Online opportunities to connect and profit continue to grow, but so has competition for attention. So, we are a learning agency and we evolve. </p>
  </div> 
</div>
<div class="content-image flex-c--center">
  <img src="../images/rock-trio.jpg" alt="Fuel leadership">
</div>   
</section>
<section>
<h2 class="center">Meet the Team!</h2>
<div class="masonry">
  <figure class="m-item m-container">
    <a href="../about/team-bios" target="_blank">
        <img class="content-image" src="../images/caroline-wall.jpg" alt="Caroline Leopold"/>
        <div class="">
          <h4 class="center" class="content-title">The "people person." </h4>
        </div>
    </a>
    <figcaption>
      <p>Caroline Leopold, Founder</p>
      <p>The "People Person"</p>
    </figcaption>
  </figure>

  <figure class="m-item">
    <img class="image-item" src="../images/darcie-goodwin-edit.jpg" alt="Darcie Goodwin" />
    <figcaption>
      <p>Darcie Goodwin</p>
      <p>Senior Writer</p>
      <p>Global Experience</p>
    </figcaption>
  </figure>
 
   <figure class="m-item">
    <img class="image-item" src="../images/ed-apffel-edit.jpg" width="300px" />
  <figcaption>
    <p>Ed Apffel</p>
    <p>Senior Technical Writer</p>
    
  </figcaption>
</figure>

   <figure class="m-item m-container">
    <img class="content-image image-item" src="../images/dave-scholnick.jpg" alt="David Scholnick"/>
      <div class="m-overlay fadeIn-bottom">
        <h4 class="center" class="content-title">The "Connector" </h4>
        <p class="content-text">Dave brings leadership, experience and fresh perspectives to campaigns.</p>
        <p>As communications director for not-for-profits and issue campaigns, Dave brings a wide variety of connections to get important work done.</p>
      </div>
    <figcaption>Chief of Operations &amp; Media Director</figcaption>
  </figure>
 
  <figure class="m-item m-container">
    <img class="image-item" src="../images/dana-1.jpg" alt="Dana Henry" />
    <figcaption>Dana Henry<br>Content Strategist</figcaption>
  </figure>

    <figure class="m-item m-container">
    <img class="image-item" src="../images/colgate.jpg" />
    <figcaption>Francesca Lo Basso <br>Copywriter</figcaption>
  </figure>

  <figure class="m-item m-container">
   <a href="#"><img class="content-image image-item" src="../images/rich-garella.jpg" alt="Rich Garella" />
     <div class="m-overlay fadeIn-bottom">
      <h4 class="center" class="content-title">The "Anchorman" </h4>
      <p class="content-text">Rich gained an impressive track record due to technical skill, singular focus on the end goal and ability to fill virtually any needed role.</p>
      <p>Among Rich's accomplishments are producing a Peabody Prize winning documentary, serving as managing editor for a daily newspaper in Cambodia and working at <i>The New York Times</i>.</p>
    </div>
  </a>
  <figcaption>Rich Garella<br>Editor In Chief</figcaption>
  </figure>
</div>

</section>
