<section class="hero">
  <div class="hero__text-container flex-c--center">
    <div class="hero__text">
      <p class="fine-print">About us</p>
      <h1>We harness skill, creativity &amp; ❤️ to achieve (almost) impossible dreams.</h1>
    </div>  
  </div>
</section>
<section class="flex-c about-intro__wrap">
  <div class="container__wrap">
    <div class="container__text inner"> 
      <h4>While we love the craft, results are what matter.</h2>
      <p>We're doers with exceptional skill in communications strategy, design and execution. Largely, we work behind the scenes to ensure health, technology and community change projects get the following and financial support they deserve.</p>
    </div>   
    <div class="container__text  inner">        
      <h4>What we do reflects who we are.</h4>
      <p>Fuel began as a desire to use our experience to help mission-focused ventures improve the world.</p>
      <p>All of us have personal experience that relates to the work. We've founded companies, published, taught and volunteered for numerous causes.
    </div> 
    <div class="container__text  inner">   
      <h4>How we began and where we're going.</h4>
      <p>In the years since our founding in 2012, much has changed. Fuel began as a medical writing service and blossomed into a marketing and fundraising group. Online opportunities to connect and profit continue to grow, but so has competition for attention. What worked before fails now. So, we are a learning agency and we evolve. </p>
    </div>
      <div class="container__text  inner">        
      <h4>You inspire us to do our best.</h4>
      <p>Our clients aim to improve health or make life better is some way. They bring vision and together we make that real with strategy, creative and technical skill.</p>
    </div>  
  </div>
  <div class="flex-c">
    <div class="content-image">
    <img src="../images/team-rainbow.jpg" alt="Fuel leadership outside with a rainbow" width="600px">
    </div>
  </div>   
</section>

 <h2 class="center">Meet the Team!</h2>
<section class="flex-c--center team-gallery">
<div class="team-grid content-container">
  <figure class="team-item team-1 overlay-img">
    <a href="../about/caroline-leopold">
      <img class="shadow" src="../images/caroline-leopold.jpg" alt="Caroline Leopold"/>
        <figcaption>
          <p>Caroline Leopold</p>
          <p>Founder</p>
        </figcaption>
    </a>
  </figure>

    <figure class="team-item team-2">
  <a href="../about/rich-garella"><img class="shadow" src="../images/rich-garella.jpg" width="" alt="Rich Garella" />
    <figcaption>
      <p>Rich Garella</p>
      <p>Editor In Chief</p>
      <p>Anchorman</p>
    </figcaption>
  </a>
  </figure>

     <figure class="team-item team-3">
    <a href="../about/dave-scholnick"><img class="shadow" src="../images/dave-scholnick.jpg" alt="David Scholnick"/></a>
      <figcaption>
        <p>Dave Scholnick</p>
        <p>Chief of PR &amp; Content Supervisor</p>
      </figcaption>
  </figure>

   <figure class="team-item team-4">
    <a href="../about/dana-henry"><img class="shadow" src="../images/dana-henry.jpg" alt="Dana Henry" /></a>
    <figcaption>
      <p>Dana Henry</p>      
      <p>Content Strategist</p>
    </figcaption>
  </figure>


  <figure class="team-item team-5">
    <a href="../about/darcie-goodwin"><img class="shadow" src="../images/darcie-goodwin-edit.jpg" alt="Darcie Goodwin" /></a>
    <figcaption>
      <p>Darcie Goodwin</p>
      <p>Senior Writer</p>
      <p>"Globe Trotter"</p>
    </figcaption>
  </figure>
 
<figure class="team-item team-6">
    <a href="../about/ed-apffel"><img class="shadow" src="../images/ed-apffel.jpg" width="" /></a>
  <figcaption>
    <p>Ed Apffel</p>
    <p>Senior Technical Writer</p>
    <p>Portlander</p>
  </figcaption>
</figure>
</div>
</section>
{{>svg}}
