<section class="hero">
   <div class="text-container">
    <h1>Fuel Copy harnesses strategy, technology, creative and experimentation to achieve (almost) impossible goals.</h1>
    <div class="container-cta">
        <div class="btn cta" <a href="../contact">Let's talk shop.</a></div>
  </div>
</div>
    </section>
    <section>
        <h2>While we love the craft, results are what matter.</h2>
        <p>Fuel is comprised of doers with exceptional skill in communications strategy, design and execution. Largely, we work behind the scenes to ensure health, technology and community change projects get publicity, a following, and financial support.</p>    
    </section>
    <section>
        <h4>Meet the Team</h4>
        <div class="team grid-container">
            <figure class="member t-1">
                <img src="https://www.fillmurray.com/600/400" />
                <figcaption>
                    <h6>Caroline Leopold</h6>
                    <p>People Person</p>
                </figcaption>
            </figure>
            <figure class="member t-2">
                <img src="https://www.fillmurray.com/600/400">
                <figcaption>Rich Garella</figcaption>
            </figure>
            <figure class="member t-3">
                <img src="https://www.fillmurray.com/600/400">
                <figcaption>Dana Henry</figcaption>
            </figure>
            <figure class="member t-4">
                <img src="https://dummyimage.com/600x400/aaa/fff.png">
                <figcaption>Francesca Lo Basso</figcaption>
            </figure>
            <figure class="member t-5">
                <img src="https://dummyimage.com/600x400/aaa/fff.png">
                <figcaption>Ed Apffel</figcaption>
            </figure>
            <figure class="member t-6">
                <img src="https://www.fillmurray.com/600/400" />
                <figcaption>Dave Scholnick</figcaption>
            </figure>
             <figure class="member t-7">
                <img src="https://dummyimage.com/600x400/aaa/fff.png">
                <figcaption>Assistant</figcaption>
            </figure>
            <figure class="member t-8">
                <img src="https://www.fillmurray.com/600/400">
                <figcaption>Darcie Goodwin</figcaption>
            </figure>
        </div>
    </section>
</div>