<div class="about">
    <section class="grid-container">
        <h1>Fuel Copy harnesses strategic, technology, creative and "people" skills to achieve (almost) impossible goals.</h1>
    </section>
    <section>
        <h2>While we love the craft, results are what matter.</h2>
        <p>Fuel is comprised of doers with exceptional skill in communications strategy, design and execution. Largely, we're behind the scenes to ensure health, technology and community change projects get publicity, a following, and financial support.</p>    
    </section>
    <section>
        <h4>Meet the Team</h4>
        <div class="grid-container">
            <figure>
                <img src="https://www.fillmurray.com/400/600">
                <figcaption>Caroline Leopold</figcaption>
            </figure>
        </div>
    </section>
</div>