<section class="hero">
  <div class="hero__text-container flex-c--center">
    <div class="hero__text">
      <p class="fine-print">About us</p>
      <h1>We harness skill, creativity &amp; ❤️ to achieve (almost) impossible dreams.</h1>
    </div>  
  </div>
</section>
<section class="flex-c">
  <div class="content-text">
    <div class="inner">      
      <h2>While we love the craft, results are what matter.</h2>
      <p>We're doers with exceptional skill in communications strategy, design and execution. Largely, we work behind the scenes to ensure health, technology and community change projects get the following and financial support they deserve.</p>
    </div>   
    <div class="inner">        
      <h2>How we began &amp; where we're going.</h2>
      <p>Fuel began as a desire to use our experience to help mission-focused ventures improve the world.</p>
      <p>In the years since our founding in 2012, much has changed. Online opportunities to connect and profit continue to grow, but so has competition for attention. So, we are a learning agency and we evolve. </p>
    </div> 
  </div>
  <div class="content-image flex-c--center">
    <img src="../images/rock-trio.jpg" alt="Fuel leadership">
  </div>   
</section>

 <h2 class="center">Meet the Team!</h2>
<section class="flex-c--center team-gallery">
<div class="team-grid content-container">
  <figure class="team-item team-1 overlay-img">
    <a href="../about/caroline-leopold">
      <img class="image" src="../images/caroline-leopold.jpg" alt="Caroline Leopold"/>
        <figcaption>
          <p>Caroline Leopold</p>
          <p>Founder</p>
        </figcaption>
        <div class="hover">
          <div class="text">People Person</div>
        </div>
    </a>
  </figure>

    <figure class="team-item team-2">
  <a href="../about/rich-garella"><img src="../images/rich-garella.jpg" alt="Rich Garella" />
    <figcaption>
      <p>Rich Garella</p>
      <p>Editor In Chief</p>
      <p>Anchorman</p>
    </figcaption>
  </a>
  </figure>

     <figure class="team-item team-3">
    <img class="content-image image-item" src="../images/dave-scholnick.jpg" alt="David Scholnick"/>
      <figcaption>
        <p>Dave Scholnick</p>
        <p>Chief of PR &amp; Content Supervisor</p>
      </figcaption>
  </figure>

   <figure class="team-item team-4">
    <img class="" src="../images/dana-henry.jpg" alt="Dana Henry" />
    <figcaption>
      <p>Dana Henry</p>      
      <p>Content Strategist</p>
    </figcaption>
  </figure>


  <figure class="team-item team-5">
    <img class="image-item" src="../images/darcie-goodwin-edit.jpg" alt="Darcie Goodwin" />
    <figcaption>
      <p>Darcie Goodwin</p>
      <p>Senior Writer</p>
      <p>"Globe Trotter"</p>
    </figcaption>
  </figure>
 
<figure class="team-item team-6">
    <img class="image-item" src="../images/ed-apffel.jpg" width="" />
  <figcaption>
    <p>Ed Apffel</p>
    <p>Senior Technical Writer</p>
    <p>Portlander</p>
  </figcaption>
</figure>
</div>
</section>
