<section class="hero">
  <div class="hero__inner">
    <div class="">
      <h1>Fuel Copy harnesses strategy, creativity, technology and heart to achieve (almost) impossible goals.</h1>  
    </div>
</div>
</div>
</section>
<section>
    <div class="inner centering">        
        <h2>While we love the craft, results are what matter.</h2>
        <p>We're doers with exceptional skill in communications strategy, design and execution. Largely, we work behind the scenes to ensure health, technology and community change projects get the following and financial support they deserve.</p>
    </div>    
</section>
<section>
    <div class="inner centering">        
        <h2>How we began &amp; where we're going.</h2>
        <p>Fuel began as a desire to use our experience to help mission-focused ventures improve the world.</p>
        <p>In the years since our founding in 2012, much has changed. Online opportunities to connect and profit continue to grow, but so has competition for attention.</p>
    </div>    
</section>

<!--
<div class="container">
  <h3 class="title">Text fadeIn bottom</h3>
  <div class="content">
    <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
      <div class="content-overlay"></div>
      <img class="content-image" src="999">
      <div class="content-details fadeIn-bottom">
        <h3 class="content-title">This is a title</h3>
        <p class="content-text">This is a short description</p>
      </div>
    </a>
  </div>
</div> -->

<section>
<h2 class="center">Meet the Team!</h2>
<div class="masonry">
  <figure class="m-item m-container">
    <a href="../about/team-bios" target="_blank">
        <img class="content-image" src="../images/leopold-no-glasses.jpg" alt="Caroline Leopold"/>
        <div class="m-overlay fadeIn-bottom">
          <h4 class="content-title">This is a title</h4>
          <p class="content-text">Short description for the hover.</p>
        </div>
    </a>
    <figcaption>Caroline Leopold<br>Founder</figcaption>
    <p></p>
  </figure>




  <div class="m-item">
    <img class="image-item" src="../images/dana-1.jpg" />
  </div>
  <div class="m-item">
    <img class="image-item" src="../images/darcie-goodwin.jpg" />
  </div>
   <div class="m-item">
    <img class="image-item" src="../images/ed-apffel.jpg" />
  </div>
  <div class="m-item">
    <img class="image-item" src="../images/leopold-glasses.jpg" />
  </div>
  <div class="m-item">
    <img class="image-item" src="../images/biotech-tight.jpg" />
  </div>
  <div class="m-item">
    <img class="image-item" src="../images/colgate.jpg" />
  </div>
  <div class="m-item">
    <img class="image-item" src="../images/dave-cityhall-crop.jpg" />
  </div>
</div>
</section>
