<section class="hero--tiny blog-bg">
  <div class="inner">
    <p class="fine-print">Blog</p>
    <h1>Blog Entranceway in Progress </h1>
  </div>
</section>

 <aside class="case-meta-container grid-item-color item-2 flex-c--center">
      {{>case-meta}} 
    </aside>

<section class="blog-row">
   
      <p class="fine-print">Summary</p>
      <p>We helped the National Hemophilia Foundation (NHF) develop a social marketing approach to help college-aged women seek testing for von Willebrand disease (VWD), the most common inherited bleeding disorder. </p>
      <p>Social marketing applies traditional marketing to influence behavior for public benefit. In this case, NHF sought to increase the number of women seeking testing through social media campaigns and outreach to university health clinics.</p>
      <p>We helped NHF develop campaigns and write a persuasive grant proposal, resulting in a $2.3 million award from the Centers for Disease Control and Prevention (CDC).</p>

   </section>

  <div class="grid-item-3 inner--l">
    <p class="fine-print">Challenge</p>
    <p>NHF needed expert help to present a plan, objectives and strategies with a high likelihood of reaching younger women.</p> 
    <p>NHF needed expertise in designing large-scale online, print and social networking campaigns that demonstrate results. </p>
    <p>A particularly difficult challenge is that many women don't recognize heavy menstrual bleeding &mdash; a hallmark symptom of von Willebrand disease &mdash; as a problem. Therefore, NHF was tasked with raising awareness and offering ways to seek help.</p>
  </div>
  <aside class="grid-item-6 flex-c--center">
    <div>
      <a class="" href="https://betteryouknow.org/"><img class="zoom-in-out" src="../images/betteryouknow.png" alt="screen shot of Better You Know website" />
      <figcaption class=""><p>This National Hemophilia Foundation raises awareness about bleeding disorders.</p></figcaption>
      </a>
    </div>
  </aside>    

  <div class="grid-item-5 inner--l">
    <p class="fine-print">Solution</p>   
    <p>NHF's strong reputation and national programs served as the foundation for our work. We helped them tailor outreach with women and health providers who evaluate symptoms.</p>
    <p>We researched examples of social marketing campaigns, which had strong evidence. And we adapted those strategies to reach measurable goals.</p> 
    <p>Next, we developed the proposal narrative, logic model and evaluation strategy. Due to the complexity of the project, we created tables that mapped each goal, strategy, measurement method and long-term outcome.</p> 
    <p>Finally, we worked with NHF to hone the logic to align with the CDC's priorities.</p>      
  </div>  
    <div class="grid-item-4 inner--l flex-c--center">
        <div>
      <h6>Activities</h6>
      <ul>
        <li>Social marketing design</li>
        <li>Exemplary programs review</li>
        <li>Logic model</li>
        <li>Evaluation plan</li>
        <li>Proposal writing</li>
      </ul>
      </div>
    </div>

  <div class="grid-item-7 inner--l">
    <p class="fine-print">Results</p>
    <p>The NHF was awarded a $2.3 million cooperative agreement. This grant was the largest share of available CDC funds (80%) for prevention, education and increased access to treatment for bleeding disorders. NHF used the CDC funds to expand and launch health campaigns across the country.</p>
    <p>The CDC publicly supported NHF as a partner in its work to diagnose and treat VWD.</p>
  </div>
</section>
<section class="next-project theme--red flex-c">
      <div class="inner--l flex-c--col flex-c--center">
        <p class="larger">Next Story</p>
      <p class="link-text-large"><a href="../projects/sbir-grants">Small Business (SBIR) Grants</a></p>
    </div>
    <div class="img-display">
      <a href="../projects/sbir-grants"><img class="grayscale" src="../images/perelman-center.jpg" width="350" alt="Perelman Center at University of Pennsylvania"/></a>
  </div>
</section>

{{> svg}}
