
{{>team-hero}}

<section class="bio-wrap flex-c">
  <div class="container--vertical-text">
    <p class="text-rotated">people person</p>
  </div>
  <div class="flex-c bio-container inner--l">
    <div class="inner--l">
    <h4>Caroline Leopold</h4>
    <p>Founder</p>
    <p>Caroline connects executives, creatives and technical experts to achieve extraordinary results. She also makes practical contributions to projects through web design, copywriting and grant proposal writing.</p>
    <p>Caroline brings 20 years of experience showcasing the value of health, technology and community projects. Caroline's rare blend of technical and creative talents enable her to imagine and execute possibilities, so clients can achieve ahead of the competition.</p>
    </div>
    <div class="brag-container">
      <h2 class="">Bragging Rights</h2>
      <ul class="hidden">
        <li>Fundraising yield of $28 million.</li>
        <li>Created 500+ features on brand and news sites.</li>
        <li>Coached over 250 entrepreneurs and researchers.</li>
      </ul>
    </div>
    </section>
    <section class="list-container">
    <div class="flex-c">
      <div>
        <h6>Clients / Agencies</h6>
        <ul class="hidden">
          <li>Benefiber</li>
          <li>Borshoff</li>
          <li>Colgate</li>
          <li>Ingram Micro</li>
          <li>Paysa</li>
          <li>Porter Novelli</li>
          <li>RewardExpert</li>
          <li>UCLA</li>
          <li>University of Pennsylvania</li>
        </ul>
      </div>
      <div>
        <h6>Publications</h6>
        <ul class="hidden">
          <li>Business Insider</li>
          <li>Healthline</li>
          <li>MedCity News</li>
          <li>Medical News Today</li>
          <li>Parachute (AOL)</li>
          <li>Overture</li>
        </ul>
      </div>
        <div>
    <h6>Say Hello!</h6>
    <p><a href="mailto:caroline@fuelcopy.com?subject=Fuelsite query">Email me</a></p>
    <a href="{{linkedin}}"><i class="fab fa-linkedin"></i></a>
  </div>
</section>



