<section class="hero flex-c--col">
  <div class="hero__inner-container">
    <p class="fine-print">{{title}}</p>
    <h1>Ready to fast track your goals? We're here.</h1>
    <h2 class="center">Contact us for a consultation or quote.</h2>
  <div class = "contact__container">
    <p class="mail-link"><a href="mailto:caroline@fuelcopy.com?subject=Fuelsite query">caroline@fuelcopy.com</a></p>
    <p class="tel-link"><a href="tel:+1-610-220-7863">+1 (610) 220-7863</a></p>
  </div>
</div>
</section>
<section class="contact flex-c--col">
  <div class="callout-l">
  </div>
  <form class="contact-form" action="/contact" method="post">
      <fieldset>
          <legend>Write us a message.</legend>
          <div>
              <label for="name" class="">Name:</label>
              <input id="name" type="text" name="user_name">
          </div>
          <div>
              <label for="mail" class="">Email:</label>
              <input id="mail" type="user_email">
          </div>
          <div>
              <label for="msg">Message:</label>
              <textarea id="msg" name="user_message"></textarea>
          </div>
          <div class="button">
            <button type="submit">Send your message</button>
          </div>
      </fieldset>
  </form>

<!-- old form 
  <form action="/contact" id="contact-form" method="post" role="form">
  <fieldset>
    <label for="name">Name &#42;</label>
    <input id="name" name="name" type="text" placeholder="Your name" required="required">
    <label for="email">Email &#42;</label>
    <input id="email" name="email" type="text" placeholder="Your email" required="required">
    <label for="message">Message &#42;</label>
    <textarea id="message" name="message" placeholder="Enter your message here" rows="3" required="required"></textarea>
    <button type="submit">Submit</button>
  </fieldset>
</form>
</section>

-->







