<section>
  <div class="hero">
    <div class="inner">
      <p class="fine-print">{{title}}</p>
      <h1 class="huge large-print"><span class="text-outline">Tell Us</span><br>About You</h1>
      <h2 class="">Ready to discuss a project? We're here.</h2>
      <p class="">Contact us for a consultation or quote.</p>
    </div>
  </div>
</section>
<section class="flex-c">
  <div class = "contact__container">
    <p class="fine-print">New Business / Questions</p>
    <p class="mail-link"><a href="mailto:caroline@fuelcopy.com?subject=Fuelsite query">caroline@fuelcopy.com</a></p>
    <p class="tel-link"><a href="tel:+1-610-220-7863">+1 (610) 220-7863</a></p>
  </div>
  <div class="contact flex-c--col">
    {{> form}}
  </div>
</section>

<section>
  <div class="contact-image">
    
  </div>
</section>