<section class="fullscreen flex-c">
  <div class="container--vertical-text inner">
    <p class="text-rotated">get in touch</p>
  </div>
  <div>
    <div class = "contact__container flex-c--column">
      <div>
        <h1 class="huge large-print"><span class="text-outline">Tell Us</span><br>About You</h1>
      </div>
      <h4 class="">Contact us for a free consultation or quote.</h4>
      <p class="">Current Clients / New Business</p>
      <p class="mail-link"><a href="mailto:caroline@fuelcopy.com?subject=Fuel site query">caroline@fuelcopy.com</a></p>
      <div class="spaced-container">
      <p class="">General Inquiries</p>
      <p class="mail-link"><a href="mailto:hello@fuelcopy.com?subject=Fuel site query">hello@fuelcopy.com</a></p>
      <p class="spaced-container">Calls or texts also welcome.</p>
      <p class="tel-link"><a href="tel:+1-610-220-7863">+1 (610) 220-7863</a></p>
    </div>
    </div>
  </div>

</section>
  <div class="contact-image">
    
  </div>
</section>