<h1>{{title}}</h1>

<section class="contact flex-container-col">
  <div class="callout-l">
    <h4>Get started today. Schedule a no-obligation consult to jump-start your online image.</h2>
    <p class="mail-link"><a href="mailto:caroline@fuelcopy.com?subject=Fuelsite query">Email us</a></h4>
    <p class="tel-link"><a href="tel:5551234567">Call +1 (610) 220-7863</a></h4>
  </div>
  <form action="/contact" id="contact-form" method="post" role="form">
  <fieldset>
    <label for="name">Name &#42;</label>
    <input id="name" name="name" type="text" placeholder="Your name" required="required">
    <label for="email">Email &#42;</label>
    <input id="email" name="email" type="text" placeholder="Your email" required="required">
    <label for="message">Message &#42;</label>
    <textarea id="message" name="message" placeholder="Enter your message here" rows="3" required="required"></textarea>
    <button type="submit">Submit</button>
  </fieldset>
</form>
</section>







