{{>team-hero}}

<section class="flex-c">
  <div class="container--vertical-text">
    <p class="text-rotated">analyst</p>
  </div>
  <div class="inner--l">
    <h4>Dana Henry</h4>
        <h6>Content Strategy Lead</h6>
        <p>Dana Henry is a journalist and content marketer for tech and health companies. Throughout her writing career, Dana has covered a range of high tech innovations including cancer treatment, gene therapy, virtual reality hardware, enterprise software, internet of things (IOT), and materials engineering. She specializes in communicating end-use technology to target personas, including HR, managers, and C-level executives. She has experience leading content strategy for a growing business and has consulted with startup founders and Fortune 500s on targeted, actionable content that helps drive sales.</p>
              <h6>Social</h6>
    <a href="{{linkedin}}"><i class="fab fa-linkedin"></i></a>
      </div>    

  </div>
</section>



