{{>team-hero}}
{{>svg-top}}

 <div class="inner">
    <h4>{{fullname}}</h4>
              <h6>Senior Advisor &amp; Marketing Consultant</h6>
              <a href="{{linkedin}}"><i class="fab fa-linkedin"></i></a>
        <p>  Darcie Goodwin works as a marketing and communications consultant for clients including FedEx Express Asia Pacific, Think Global and Kudzukian. Her previous experience includes serving as Communications Manager for FedEx Express in China and traveling the globe with ORBIS International, where she handled media relations and communications. She has also held positions at the Oklahoma Department of Commerce; the Taipei YMCA; and, with former US Congressman Buddy MacKay.</p>
        <p>Darcie earned her BA in Economics and Political Science from Drew University and an MBA in International Management from Thunderbird School of Global Management. She is proficient in Mandarin Chinese.</p> 
      <div class="brag-container">
        <h4 class="">Bragging Rights</h4>
        <ul class="hidden">
            <li>More than 20 years experience handling communications in countries including the U.S., China, Germany, India and Peru.</li>
            <li>Works with both Fortune 500 and start up businesses.</li>
        </ul>
      </div>    

  </div>
</section>