{{> team-hero}}
{{>svg-top}}
<section class="flex-c">
  <div class="container--vertical-text">
    <p class="text-rotated">analyst</p>
  </div>
  <div class="inner--l">
    <h4>{{firstname}}</h4>
        <h6>Media Strategy &amp; Communications</h6>
        <a href="{{linkedin}}"><i class="fab fa-linkedin"></i></a>
            <p>Dave brings leadership, experience and fresh perspectives to campaigns. As communications director for not-for-profits and issue campaigns, Dave brings a wide variety of connections to get important work done.</p>  

  </div>
</section>



