{{> team-hero}}
{{>svg-top}}
<section class="flex-c">
  <div class="container--vertical-text">
    <p class="text-rotated">analyst</p>
  </div>
  <div class="inner--l">
    <h4>Dave Scholnick</h4>
        <h6>Media Strategy &amp; Communications</h6>
        <a href="{{linkedin}}"><i class="fab fa-linkedin"></i></a>
          <p>Dave brings leadership, experience and fresh perspectives to campaigns. As communications director for not-for-profits and issue campaigns, Dave brings a coalition-building approach to get important work done.</p>  
          <h6>Bragging Rights</h6>
          <p>Dave helped a healthcare nonprofit raise its profile after the departure of its charismatic founder, in part by increasing earned media more than 60 percent with positive stories in local, national, and trade publications.</p>
          <p>Though he prefers life behind the scenes, Dave has been quoted on the <i>Philadelphia Inquirer’s</i> front page, as well as the <i>Los Angeles Times</i>, <i>USA Today</i>, and other news outlets.</p>

  </div>
</section>




