{{>team-hero}}
{{>svg-top}}

  <section class="flex-c--center inner--l">
 <div class="">
   <div class="bio-meta">
    <h2>{{fullname}}</h2>
    <h4>Technical &amp; Medical Writer</h4>
    <a href="{{linkedin}}"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="inner--l container__text">
    <p>Ed Apffel is a marketing and communications consultant who has written for a wide variety of businesses and organizations in the financial, continuing education, transportation, high-tech and non-profit sectors.</p> 
    <p>He has decades of experience in various marketing communications roles and, for the past 15 years, has operated as a freelance writer under the moniker ENA Consulting. He excels at making complex topics comprehensible and relatable for general audiences. Ed holds a bachelor’s degree in history from the University of Virginia and an MBA from the University of Texas at Austin.</p>
  </div>
</div>      
    <div class="brag-container flex-c--column">
      <div class="brag-text-container">
        <div class="brag-text">
          <h6 class="">Bragging Rights</h6>
          <i class="fal fa-award"></i>
        </div>
      </div>
      <ul class="hidden brag-bullets flex-c--center">
        <li>Has written over 750,000 words of investment analysis, ad copy, trade articles and grant proposals</li>
        <li>Part of a communications team that produced award-winning marketing and branding work for the Fortune 500 transportation company, Con-way (acquired by XPO Logistics).</li>
        </ul> 
</section>



