<section class="panel">
  <article class="flex-c">
    <div class="container flex-c--center">
      <div class="panel__content">
        <h4 class="center">fundraising</h4>
        <p class="">We help you win donations, grants and contracts with thoughtful asks. We advise, facilitate relationships, navigate difficult competitions and write proposals.</p>
        <ul class="hidden">
          <li>&mdash; opportunity advising</li>
          <li>&mdash; donor / funder relations</li>
          <li>&mdash; need assessments</li>
          <li>&mdash; proposals</li>
          <li>&mdash; small business grants (SBIR)</li>
        </ul>
        <div class="button__container flex-c--center">
          <button class="btn rounded shadow"><a href="../work/fundraising">Learn more</a></button>
        </div>
      </div>
    </div>
    <div>
      <img src="./images/office.jpg" width="400px" alt="people in a conference room"/ >
    </div>
  </article>
</section>



<section>
    <div class="flex-c--column flex-c--center center top-pad">
      <div class="error__container">
        <div class="">
          <h1 class="serif">Oh, Snap!</h1>
          <h2>Page not found</h2>
        </div>
        <div class="img-container">
          <img class="" src="../images/pencil-break.png" />
        </div>
        <div class="">
          <p>You’ve run into a broken link or a page that doesn’t exist anymore.</p> 
          <a class="underline" href="../index">Try returning home,</a> or <a class="underline" href="../contact">send us a message.</a></p>
        </div>
      </div>
</article>

</section>