<section>
    <article class="flex-c-center center">
        <h1 class="serif">Oh Snap!</h1>
        <h2>Page not found.</h2>
      <div class="img-container center">
        <img class="" src="../images/pencil-break.png" />
      </div>

<p>You’ve run into a broken link or a page that doesn’t exist anymore. 
Try returning home, or send us a message.</p>
</article>

</section>