<section class="flex-center fullscreen">
    <article class="flex-item nalfscreen">
<h1>Page Not Found.</h1>

<p>Oops, we couldn't find the page. Maybe we moved or deleted the page.</p>

<p>Are you looking for?</p>

  <ul>
        <a href="../">Home</a>
        <a href="../about">About</a>
        <a href="../work">Services</a>
        <a href="../projects">Case Stories</a>
        <a href="../contact">Contact</a>
    </ul>
</article>

</section>