<section>
    <div class="flex-c--column flex-c--center center top-pad">
      <div class="error__container">
        <div class="text-container">
          <h1 class="serif">Oh, Snap!</h1>
          <h2>Page not found</h2>
        </div>
        <div class="img-container">
          <img class="" src="../images/pencil-break.png" />
        </div>
        <div class="text-container"></div>
          <p>You’ve run into a broken link or a page that doesn’t exist anymore.</p> 
          <a class="underline" href="../index">Try returning home,</a> or <a class="underline" href="../contact">send us a message.</a></p>
        </div>
      </div>
</article>

</section>