<section class="hero">
  <div class="inner">
    <p class="fine-print">Case Study</p>
    <h1>Founder stories</h1>
    <h4>Startups disrupting the travel industry find a larger audience.</h4>
  </div>
</section>

<section class="block-spacer main-content--summary">
  <article class="summary-container">
    <div class="">
      <div class="flex-c justify-between">
        <div class="summary-text inner">
          <p class="fancy-text">Everyone loves a good story, especially one that combines the thrill of launching a venture with global adventure.</p> 
          <p>Travel startup RewardExpert asked our team to find, interview and create stories on various travel and tech startups.</p>
          <p>Fuel contacted 200+ companies and interviewed dozens of company leaders and told their origin stories on RewardExpert's platform.</p>
          <p>Results: RewardExpert elevated their brand with discerning travel enthusiasts. And companies promoted their brand on an Alexa-ranked travel website.</p>
      </div>
      <aside>
        <div class="flex-c--col case-meta">
          {{>case-meta}} 
        </div>
      </aside>
    </div>
  </article>
</section>

<section class="block-spacer main-content--spotlight">
  <article class="flex-c--space-between">
    <div class="case__content-container">
      <h4>Spotlight: Rome2rio</h4>
       <p>Our interview with Rome2rio revealed how their app offers ultra-local travel options Google neglects.  Travelers can use the app to explore scenic routes by bike, boat, car or train.</p>
       <p>Developers Bernie Tschirren &amp; Michael Cameron hatched the app while working at Microsoft.</p>
       <p>During peak travel, the app has about 10 million users in any month.</p>
    </div>
    <figure>
      <img src="../images/rome2rio_team-edit.jpg" width="700px" alt="Rome2rio team Bernie Tschirren, Michael Cameron and Rod Cuthbert"/>
      <figcaption>
        <p>Rome2rio team: Michael Cameron (co-founder), Bernie Tschirren (co-founder) and Rod Cuthbert. Photo courtesy of Rome2rio.</p>
      </figcaption>
    </figure>
  </article>
</section>

<section class="main-content">
<div class="flex-c">
  <div class="container--vertical-text">
    <p class="fine-print text-rotated">Challenge</p>
  </div>
  <div class="fancy-text-block">
    <p>Travel is among the most innovative industries, with driverless cars and sojourns to Mars on the horizon.<p>
    <p>Travel website RewardExpert asked our writers to find, interview and write stories on various travel and tech startups.</p>
    <p>The goal was to publish compelling stories on the RewardExpert website to grow their authority as a leading travel tech authority. And to have travel companies promote and link back to those stories.</p>
  </div>
</div>

<section>
  <figure class="images-container inner flex-c--column flex-c--center twitter-wrap">
      <blockquote class="twitter-tweet"><p lang="en" dir="ltr">ICYMI: See <a href="https://twitter.com/caroline815?ref_src=twsrc%5Etfw">@caroline815</a>&#39;s great profile of <a href="https://twitter.com/Vacatia?ref_src=twsrc%5Etfw">@Vacatia</a> and our CEO <a href="https://twitter.com/carolinekshin?ref_src=twsrc%5Etfw">@carolinekshin</a>!<br>😎✈️🚙<br>&quot;Vacatia: Family-Friendly Resort Rentals&quot; via <a href="https://twitter.com/RewardExpert?ref_src=twsrc%5Etfw">@RewardExpert</a> <a href="https://twitter.com/hashtag/familytravel?src=hash&amp;ref_src=twsrc%5Etfw">#familytravel</a> <br>😎🌴🌵❄️<a href="https://t.co/i7wXcg7pVV">https://t.co/i7wXcg7pVV</a> <a href="https://t.co/P7gypMz1Q6">pic.twitter.com/P7gypMz1Q6</a></p>&mdash; Vacatia (@Vacatia) <a href="https://twitter.com/Vacatia/status/1107143455837294592?ref_src=twsrc%5Etfw">March 17, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
  </figure>
</section>

<section class="main-content">
  <div class="flex-c">
    <div class="inner">
      <p class="fine-print">Results</p>
      <p>Over six months, nearly 40 company founders or media representatives shared solutions for travel's greatest challenges.</p>
    </div>
  </section>

<aside>
  <blockquote class="inner">
    <p class="fine-print">Elements of a compelling founder story</p>
    <ul>
      <li>Founder is relatable</li>
      <li>Memorable "Aha" moments</li>
      <li>Takes a chance</li>
      <li>Success comes from passion &amp; hard work</li>
    </ul>
  </blockquote>
</div>
</aside>

<section>
<div class="main-content flex-c">
  <div class="container--vertical-text">
    <p class="text-rotated fine-print">Solution</p>
  </div>
  <div class="main-content__inner callout focus-text-block">
    <p>A team of Fuel writers conducted personalized outreach to in-house marketing/PR directors and to agencies. 
    <p>All of the companies had remarkable success, in part because they had a story worth sharing. We began to understand what made a great success story.</p>
    <p>RewardExpert published and promoted these founder stories, which raised the profile of these companies to an audience of sophisticated travelers. And the increase in traffic and links has, in part, established RewardExpert as one of the top travel-tech websites in the world.</p>

 <figure class="images-container inner flex-c--column flex-c--center twitter-wrap">
<blockquote class="twitter-tweet"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/HomeExchange?src=hash&amp;ref_src=twsrc%5Etfw">#HomeExchange</a> is a Pioneer for Collaboration <a href="https://t.co/TSa4Z4wvni">https://t.co/TSa4Z4wvni</a> via <a href="https://twitter.com/RewardExpert?ref_src=twsrc%5Etfw">@rewardexpert</a> Cc <a href="https://twitter.com/HomeExchangecom?ref_src=twsrc%5Etfw">@HomeExchangecom</a> @Trocmaison</p>&mdash; HomeExchange FR (@HomeExchangeFR) <a href="https://twitter.com/HomeExchangeFR/status/898097749702447104?ref_src=twsrc%5Etfw">August 17, 2017</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</figure>
</div>
</section>

       <ul class="">
        <li><h6 class="fine-print">Team</h6></li> 
          {{#each team}}
          <li><p>{{this}}</p></li>
          {{/each}}
      </ul>


<section class="next-project-wrap">
  {{> next-proj}}
</section>
