<section class="hero">
  <div class="inner">
    <p class="fine-print">Case Study</p>
    <h1>Founder stories</h1>
    <h4>Startups disrupting the travel industry find a larger audience.</h4>
  </div>
</section>

<div class="grid__wrap--case-story">


    <article class="grid-summary">
      <div class="case-container__text">
      <p class="fine-print">Summary</p>
      <p class="">Everyone loves a good story, especially one that combines the thrill of launching a venture with global adventure. Travel startup RewardExpert asked our team to find, interview and create stories on various travel and tech startups.</p> 
      <p>Fuel contacted 200+ companies and interviewed dozens of company leaders and told their origin stories on RewardExpert's platform.</p>
      <p>Results: RewardExpert elevated their brand among discerning travel enthusiasts. And the founders promoted their company on a popular website.</p>
    </div>
  </article>

  <aside class="grid-meta">
    {{>case-meta}} 
  </aside>

  <article class="grid-challenge">
    <p class="fine-print">Challenge</p>
    <p>Travel is among the most innovative industries, with driverless cars and sojourns to Mars on the horizon.<p>
    <p>Travel website RewardExpert asked our writers to find, interview and write stories on various travel and tech startups.</p>
    <p>The goal was to publish compelling stories on the RewardExpert website to grow their authority as a leading travel tech authority. And to have travel companies promote and link back to those stories.</p>
  </article>
  <aside class="grid-image">
      <figure class="">
        <img src="../images/caroline-shin-ceo.jpg" />
        <figcaption>
            <p>Caroline Shinn, Vacatia CEO, founded the marketplace to help families find resort rentals.</p>
        </figcaption>
      </figure>
  </aside>
  <figure class="grid-tweet images-container inner flex-c--column flex-c--center twitter-wrap">
      <blockquote class="twitter-tweet"><p lang="en" dir="ltr">ICYMI: See <a href="https://twitter.com/caroline815?ref_src=twsrc%5Etfw">@caroline815</a>&#39;s great profile of <a href="https://twitter.com/Vacatia?ref_src=twsrc%5Etfw">@Vacatia</a> and our CEO <a href="https://twitter.com/carolinekshin?ref_src=twsrc%5Etfw">@carolinekshin</a>!<br>😎✈️🚙<br>&quot;Vacatia: Family-Friendly Resort Rentals&quot; via <a href="https://twitter.com/RewardExpert?ref_src=twsrc%5Etfw">@RewardExpert</a> <a href="https://twitter.com/hashtag/familytravel?src=hash&amp;ref_src=twsrc%5Etfw">#familytravel</a> <br>😎🌴🌵❄️<a href="https://t.co/i7wXcg7pVV">https://t.co/i7wXcg7pVV</a> <a href="https://t.co/P7gypMz1Q6">pic.twitter.com/P7gypMz1Q6</a></p>&mdash; Vacatia (@Vacatia) <a href="https://twitter.com/Vacatia/status/1107143455837294592?ref_src=twsrc%5Etfw">March 17, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
  </figure>
</article>

  <article class="grid-solution">
    <p class="fine-print">Solution</p>
    <p>A team of Fuel writers conducted personalized outreach to in-house marketing/PR directors and to agencies.</p> 
    <p>All of the companies had remarkable success, in part because they had a story worth sharing. We began to understand what made a great success story.</p>
    <p>RewardExpert published and promoted these founder stories, which raised the profile of these companies to an audience of sophisticated travelers. And the increase in traffic and links has, in part, established RewardExpert as one of the top travel-tech websites in the world.</p>
  </article>
  <aside class="grid-strategy">
    <ul>
      <li>Outreach</li>
      <li>Interviews</li>
      <li>Promotion</li>
    </ul>
  </aside>

<section class="grid-spotlight spotlight">
  <div class="flex-c">
    <div class="container--vertical-text">
    </div>
    <div class="case-container">
      <h4>Founder Story: Rome2rio</h4>
       <p>Our interview with Rome2rio revealed how their app offers ultra-local travel options Google neglects.  Travelers can use the app to explore scenic routes by bike, boat, car or train.</p>
       <p>Developers Bernie Tschirren &amp; Michael Cameron hatched the app while working at Microsoft.</p>
       <p>During peak travel, the app has about 10 million users in any month.</p>
    </div>
  </section>
    <figure class="grid-rio-image">
      <img src="../images/rome2rio_team-edit.jpg" width="700px" alt="Rome2rio team Bernie Tschirren, Michael Cameron and Rod Cuthbert"/>
      <figcaption>
        <p>Rome2rio co-founders Michael Cameron and Bernie Tschirren with former CEO Rod Cuthbert.</p>
      </figcaption>
    </figure>

  <article class="grid-results inner">
    <p class="fine-print">Results</p>
    <p>Over six months, our team of five writers interviewed 37 company founders or PR representatives. RewardExpert created custom designs for each article, making every brand story unique and memorable.</p>
    <p>What the client and brands gained:</p>
    <ul>
      <li>Increase in organic traffic</li>
      <li>Increase rank in search engine results pages</li>
      <li>Increase in high quality backlinks</li>
    </ul>
  </article>
    <aside class="grid-team">
       <ul>
        <li><h6 class="fine-print">Team</h6></li> 
          {{#each team}}
          <li><p>{{this}}</p></li>
          {{/each}}
      </ul>
    </aside>

</div>

<section class="next-project flex-c--center">
    <p class="inner spaced">See Next Project</p>
    <a class="large-link flex-c--center " href="../projects/websites">
      <p class="link-text-large">Websites</p></a>
    <div class="img-display">
      <a href="../projects/websites"><img class="grayscale" src="../images/laptop.jpg" width="300px" />
    </div>
  </a>
</section>


