<section class="hero">
  <div class="inner">
    <p class="fine-print">fundraising</p>
    <h1>We relate your vision to donors and funders to raise money for exemplary concepts.</h1>
  </div>
</section>
<section class="banner shoutout flex-c--center">
  <div class="banner__inner center">
    <h2 class="serif center focus room">We've helped innovators secure $28M for projects that sustain health, hope and happiness. <span class="focus"></span> <span class="focus"></span></h2>
    <div class="vertical-line">
    </div>
  </div> 
</section>
<header class="submenu is-visible-on-large">
    <ul class="grid-c--1x4 submenu__container">
      <a href="#service-advising"><li class="submenu-item center">Advising</li></a>
      <a href="#service-opportunity"><li class="submenu-item center">Opportunity research</li></a>
      <a href="#service-grant"><li class="submenu-item center">Federal grant writing</li></a>
      <a href="#service-contract"><li class="submenu-item center">Contract bids</li></a>
    </ul>
</header>
<section>
<div class="inner">
    <h2>Rewards of fundraising</h2>
    <p>Donations and grants have a high return on investment. Winners have extra resources to grow. Less struggle, more success.</p>
    <p>Everyone loves a winner. Funding is social proof you are a success story.</p>
    <p>Companies especially value grants because they are non-dilutive, meaning founders don't give up equity.</p>
    <p>Contracts offer companies and not-for-profits reliable, recurring and long-term revenue.</p>
</div>
</section>
<section>
    <div class="inner">
        <h2>How we help</h2>
        <p>Our singular purpose is to help you win. We apply decades of experience, research and tools to help your proposal score highly with reviewers. </p>
        <p>We help our clients describe their projects and their value in a credible and compelling way. By pulling from our past experience and research, we can give concrete advice on what funders want. Also, we create proposals, budgets and attachments with your involvement as director.</p>
    </div>
</section>
<section>
    <div class="inner">
    <h2>What we offer</h2>
        <article id="service-advising">
            <h4>Advising</h4>
            <p>We'll interpret the request for proposals (RFP), so you understand funder priorities and what you are asked to do. Also, we can find opportunities for you. </p>
        </article>
          <article id="service-opportunity">
            <h4>Opportunity research</h4>
            <p>We'll search databases to find grant and contract opportunities. </p>
        </article>
        <article id="service-grant">
            <h4>Federal grant proposals</h4>
            <p>A winning proposal unites funder priorities with your experience and proposed solution. We help you plan and create to get high scores in review.</p>
        </article>
        <article id="service-sbir">
          <h4>Small business innovation research (SBIR)</h4>
          <p>SBIR funds research and development for small ventures who connect innovation with public benefit. We help tech and biotech companies win grants ranging from $100K to $1.5M.</p>
        </article>
        <article id="service-contract">
            <h4>Contract bids</h4>
            <p>To win a contract, you'll need to propose a cost-effective solution and show how your organization is able to meet the demands of the work. Depending on your needs, we'll advise on and write any or all aspects of the proposal.  </p>
        </article>
    </div>
</section>

<section class="flex-c--space-between">
    <div class="inner">
        <h2>Who we help</h2>
        <p>We partner with not-for-profits, startups, health centers and universities. Typically, we work with teams who contribute their expertise and make sure the proposal represents the work.</p>
    </div>
    <div class="inner">
        <h3>Some of our clients</h3>
        <ul>
            <li>&mdash; Johns Hopkins University</li>
            <li>&mdash; University of Pennsylvania</li>
            <li>&mdash; University of California, Davis</li>
            <li>&mdash; St. Louis University</li>
            <li>&mdash; National Hemophilia Foundation</li>
            <li>&mdash; Collaborative Drug Discovery</li>
        </ul>
    </div>
</section>
<section>
    <div class="inner">
        <h2>Our track record &amp; qualifications</h2>
        <p>We've had the honor to help win about $50M for groundbreaking projects. And we have advised dozens of physicians, researchers and entrepreneurs find ways to get initial funding for new ventures.</p>
    </div>
    <div class="inner">
        <h3>"What is your success rate?"</h3>
        <p>Grant and contract competitions are intense with <1% to 20% award rates. Our award rates vary by opportunity and applicant experience (range 15% to 70%).</p>
    </div>
</section>
<section>
    <div class="inner">
        <h2>Our process</h2>
        <p>We begin with a free consultation to discuss a grant or contract opportunity and learn more about you. </p>
        <p>We'll discuss how to boost your odds for success and give you insights on how agencies make funding decisions. Sometimes the requirements seem daunting, but we've seen small projects get large awards.</p>
        <p>Then, we make a plan and race the deadline clock. We work in small teams to make sure everything gets done in time and at the highest possible quality.</p>
        <p>We work with our clients to communicate the proposal demands, collect data, brainstorm ideas and craft a logical,persuasive proposal. </p>
    </div>
</section>
<section class="project flex-c--center">
  <div class="">
    <h2>Case Study: Small business grants</h2>
    <a href="../projects/sbir-grants">
    <img src="./images/biotech-tight.jpg" alt="laptop and cell phone"/>
  </a>
</div>
</section>
