<section class="hero">
  <div class="hero__text-container flex-c--center">
    <div class="hero__text">
    <p class="fine-print">Growth Marketing</p>
    <h1>We help you attract, engage and delight audiences with websites and content.</h1>
  </div>
</section>
<section class="banner flex-c--center theme--dark">
  <div class="banner__inner">
   <h4 class="serif fancy-text center">When your message meets your audience, they'll follow, subscribe, buy and believe. That's the power of online marketing.</h4>
      <div class="vertical-line--dark">
      </div>
  </div>
</section>
<section class="banner inner--l">
  <article class="inner">
      <div class="flex-c--center">
        <div class="flex-item container__text">
      <h4 class="">How we help</h4>
      <p class="">Our job is to foster growth via powerful digital strategies that attract, retain and convert.</p>
      <p class=""> We offer nimble, lean marketing campaigns.</p>
      <p class="">We're attuned to how digital experiences provoke thought, emotion and action. So, we use data, creative and technology to make client visions real.</p>
    </div> 
     <div class="hero__img inner--l">
      <img src="./images/couple-selfie-edit.jpg" width="400px" alt="couple taking a selfie" />
    </div>
  </article>
</section>
<section class="testimonials flex-c">
  <div class="container--vertical-text">
    <p class="text-rotated">testimonials</p>
  </div>
    <blockquote class="testimonial">
    <p class="hidden">They helped me get my blog up and running and walked me through the issues I was having. And they responded quickly with questions I had. I'm so grateful for all they have done!</p>
    <figcaption class="flex-c--center">
      <div>
        <p>Emily Lewis<p> 
        <p>Lifestyle Blogger</p>
      </div>
    </figcaption>
  </blockquote>
  <blockquote class="testimonial">
    <p class="hidden">We assigned an exclusive feature-length article on a complex scientific topic, for a new publication still defining its scope and voice. The results were exactly what we needed and helped us to launch the publication successfully.</p>
    <figcaption class="flex-c--center">
      <div>
       <p>Chris Mohney</p>
        <p>Overture</p>
      </div>
    </figcaption>
  </blockquote>
</section>
<section>
  <article class="flex-c--center service__container-1 panel theme--orange">
    <div class="inner panel__text">
    <h4>Landing pages &amp; websites</h4>
    <p>Websites and landing pages are more than an online introduction. They give visitors have opportunities to take satisfying actions -- learn, ask for help, subscribe and buy. </p>
    <p>We work to boost your appeal by making useful, authoritative and engaging web sites. </p>
    <ul class="inner">
      <h6 class="">What we do</h6>
      <p>&mdash; Design (Node, Wordpress)</p>
      <p>&mdash; Copy tailored for conversion</p>
      <p>&mdash; Search engine optimization</p>
      <p>&mdash; Tech support for DIY projects</p>
    </ul>
    </div>
  <figure class="container__card">
    <div class="container__image">
      <a href="../projects/websites"><img class="shadow-hover" src="./images/laptop.jpg" width="400" height="600" />
    <div class="container__caption shadow">
      <a href="../projects/websites"><figcaption><p>Read case story on websites.</p></figcaption></a>
    </div>
  </figure>
  </article>
</section>

<section>
  <article class="flex-c service__container-2 panel">
    <div class="inner panel__text">
      <h4>Content Marketing</h4>
      <p>Move growth to an exponential level by sharing your story and growing your organic reach.</p>
      <p>We bring big brand experience to campaigns of any size. We translate your voice and value into unique, substantial and compelling stories.</p>
      <ul class="inner">
        <h6 class="fine-print">Our specialties</h6>
        <p>&mdash; Editorial style (magazine feel)</p>
        <p>&mdash; Interviews for original, interesting content</p>
        <p>&mdash; White papers that decode technical topics</p>
        <p>&mdash; Authority blogs</p>
      </ul>
    </div>
    <figure class="flex-c--center container__card service__story">
      <div class="container__image">
      <a href="../projects/founder-stories">
        <img class="shadow-hover" src="./images/rover-600x400.jpg" width="500px" alt="Rover app">
        <figcaption class="container__caption shadow">Read case story on content marketing.</figcaption>
      </a>
    </div>
  </article>
</section>
<section>
   <article class="flex-c service__container-3 panel">
    <div class="inner panel__text">
      <h4>Influencer Marketing / Social Media</h4>
      <p>Profit from our relationships with respected and celebrated personalities.</p>
      <p>We've had the honor to talk to hundreds of everyday heroes &mdash; founders, change-makers, scientists and creators. We know their stories bring inspiration, as shown by their social media following.</p>
      <p>As connectors, we'll help you spotlight the charisma and talent within your network.</p>
      <p>And we'll help you build relationships with influencers who will energize your customers, investors and fans.</p>
      <ul class="inner">
        <p>&mdash; Brand stories</p>
        <p>&mdash; Find and interview influencers for content</p>
        <p>&mdash; Profiles on social media</p>
        <p>&mdash; Sponsored content</p>
    </ul>
  </div>
  <div class="flex-c--center service__story">
    <a href="../projects/social-media-influencer">
      <img class="shadow-hover" src="./images/grant-sit-tight.jpg" width="500px" alt="Jeff Grant, videographer and YouTuber">
      <figcaption class="container__caption shadow">Read case story on influencer marketing.</figcaption>
    </a>
  </div>
</article>
</section>
<section>
   <article class="flex-c service__container-4 panel">
     <div class="inner panel__text">
      <h4>Media Relations</h4>
      <p>Spur engagement by sharing your story across respected, popular media sources.</p>
      <ul class="inner">
        <p>&mdash; Strategy</p>
        <p>&mdash; Publisher / reporter relations</p>
        <p>&mdash; Press packs</p>
        <p>&mdash; Advisories, releases &amp; content</p>
    </ul>
    </div>
      <div class="flex-c--center service__story">
        <a href="../projects/press-campaign">
          <img class="shadow-hover nudge-up" src="./images/dave-cityhall-crop.jpg" width="500px" alt="Dave Scholnick at City Hall in Philadelphia">
           <figcaption class="container__caption shadow">Read case story on media relations</figcaption>
        </a>
      </div>
  </article>
</section>

{{> svg}}

