<section class="hero">
<div class="inner">
  <div class="">
    <p class="page-title"><span class="fine-print">Work / {{ shortTitle }}</span></p>
    <h1>We help you attract, engage and delight those who matter most to you.</h1>
  </div>
</div>
</section>
<section class="banner shoutout flex-c--center">
    <div class="banner__inner center">
      <h2 class="serif center focus room">When your message hooks your audience, they'll follow, subscribe, buy and believe. That's the power of online marketing. <span class="focus"></span> <span class="focus"></span></h2>
      <div class="vertical-line">
      </div>
    </div> 
</section>
<section>
  <article class="inner text-column">
    <h6 class="fine-print">What we offer</h6>
    <p class="larger"> We offer nimble, lean marketing campaigns.</p>
    <p class="larger">Our job is to foster growth via powerful digital strategies that attract, retain and convert.</p>
    <p class="larger">We're attuned to how digital experiences provoke thought, emotion and action. So, we use data, creative and technology to make client visions real.</p>
  </article>
<header class="submenu visible-on-large">
    <div class="flex-c--col">
    <ul class="grid-c--1x4 submenu--container">
      <a href="#service-website"><li class="label submenu-item center ">Websites</li></a>
      <a href="#service-content"><li class="label submenu-item center">Content Marketing</li></a>
      <a href="#service-influencer"><li class="label submenu-item center">Influencer Marketing</li></a>
      <a href="#service-media"><li class="label submenu-item center">Media Relations</li></a>
    </ul>
  </div>
</header>
</section>
<section>
  <article id="service-website" class="flex-c service__container">
    <div class="inner">
    <h4>Landing pages &amp; websites</h4>
    <p>Websites and landing pages are more than an online introduction. They give visitors have opportunities to take satisfying actions -- learn, ask for help, subscribe and buy. </p>
    <p>We work to boost your appeal by making useful, authoritative and engaging web sites. </p>
    <ul class="inner">
      <h6 class="fine-print">What we do</h6>
      <p>&mdash; Design (Node, Wordpress)</p>
      <p>&mdash; Copy tailored for conversion</p>
      <p>&mdash; Search engine optimization</p>
      <p>&mdash; Tech support for DIY projects</p>
    </ul>
    </div>
    <div class="flex-c--center service__story">
      <a href="../projects/websites">
        <img src="./images/rover-600x400.jpg" width="600px" alt="todo">
        <figcaption>See a case study</figcaption>
      </a>
    </div>
  </article>
</section>
<section>
  <article id="service-content" class="flex-c service__container">
    <div class="inner">
      <h4>Content Marketing</h4>
      <p>Move growth to an exponential level by sharing your story and growing your organic reach.</p>
      <p>We bring big brand experience to campaigns of any size. We translate your voice and value into unique, substantial and compelling stories.</p>
      <ul class="inner">
        <h6 class="fine-print">Our specialties</h6>
        <p>&mdash; Editorial style (magazine feel)</p>
        <p>&mdash; Interviews for original, interesting content</p>
        <p>&mdash; White papers that decode technical topics</p>
        <p>&mdash; Authority blogs</p>
      </ul>
    </div>
    <div class="flex-c--center service__story">
      <a href="../projects/founder-stories">
        <img src="./images/landing-page.svg" width="600px" alt="todo">
        <figcaption>See a case study</figcaption>
      </a>
    </div>
  </article>
</section>
<section>
   <article id="service-influencer" class="flex-c service__container">
    <div class="inner">
      <h4>Influencer Marketing / Social Media</h4>
      <p>Profit from our relationships with respected and celebrated personalities.</p>
      <p>We've had the honor to talk to hundreds of everyday heroes &mdash; founders, change-makers, scientists and creators. We know their stories bring inspiration, as shown by their social media following.</p>
      <p>As connectors, we'll help you spotlight the charisma and talent within your network.</p>
      <p>And we'll help you build relationships with influencers who will energize your customers, investors and fans.</p>
      <ul class="inner">
        <h6 class="fine-print">How we're social</h6>
        <p>&mdash; Brand stories</p>
        <p>&mdash; Find and interview influencers for content</p>
        <p>&mdash; Profiles on social media</p>
        <p>&mdash; Sponsored content</p>
    </ul>
  </div>
  <div class="flex-c--center service__story">
    <a href="../projects/social-media-influencer">
      <img src="./images/grant-sit-tight.jpg" width="600px" alt="todo">
      <figcaption>See a case study</figcaption>
    </a>
  </div>
</article>
</section>
<section>
   <article id="service-media" class="flex-c service__container">
     <div class="inner">
      <h4>Media Relations</h4>
      <p>Spur engagement by sharing your story across respected, popular media sources.</p>
      <ul class="inner">
        <h6 class="fine-print">How we help</h6>
        <p>&mdash; Strategy</p>
        <p>&mdash; Publisher / reporter relations</p>
        <p>&mdash; Press packs</p>
        <p>&mdash; Advisories, releases &amp; content</p>
    </ul>
    </div>
      <div class="flex-c--center service__story">
        <a href="../projects/press-campaign">
          <img src="./images/dave-cityhall-crop.jpg" width="600px" alt="todo">
          <figcaption>See a case study</figcaption>
        </a>
      </div>
  </article>
</section>
<section class="callout fullscreen callout--refer-links">
    <h4 class="">Are you looking for another service area?</h4>
    <div class="flex-c">
    <a href="../work/proposal-writing"><img src="./images/test-abstract.jpg" width="400px" alt="todo" />
      <p>Funding</p></a>
    </div>
</section>

