<section class="hero">
<div class="hero__inner">
  <div class="text-transform-container">
    <p class="page-title"><span class="highlight">{{ shortTitle }}</span></p>
    <h1>We help attract, engage and delight those who matter most to you. We offer nimble, lean marketing campaigns.</h1>
  </div>
</div>
</section>
<header class="subnav visible-on-large">
    <div class="flex-c--col hero__inner">
    <ul class="flex-c flex-c--space-between label-row">
      <a href="#service-website"><li class="label center grow">Websites</li></a>
      <a href="#service-content"><li class="label center grow light">Content Marketing</li></a>
      <a href="#service-influencer"><li class="label center grow darker">Influencer Marketing</li></a>
      <a href="#service-media"><li class="label center grow lighter">Media Relations</li></a>
      <a href="#service-seo"><li class="label center grow">SEO</li></a>
    </ul>
  </div>
</header>
<section>
  <article class="benefits">
    <div class="inner">
      <h2>Digital marketing is powerful when there is a commitment to learn, adjust to audiences and persevere.</h2>
    </div>
    <p class="fine-print">Benefits</p>
    <p>Benefits of a lean, powerful marketing machine.</p>
  </article>
  <article class="intro">
    <p class="fine-print">What We Offer</p>
    <p>Our job is to foster growth via powerful digital strategies that attract, retain and convert.</p>
    <p>We're attuned to how digital experiences provoke thought, emotion and action. So, we use data, creative and technology to make client visions real.</p>
  </article>
  <article id="service-website" class="">
    <h4>Landing pages &amp; Websites</h4>
    <p>Websites and landing pages are more than an online introduction. They give visitors have opportunities to take satisfying actions -- learn, ask for help, subscribe and buy. </p>
  </article>
  <article id="service-content" class="">
    <h4>Content Marketing</h4>
    <p>Move growth to an exponential level by sharing your story where you audience is. </p>
  </article>
   <article id="service-influencer" class="">
    <h4>Social Media / Influencer Marketing</h4>
    <p>Profit from our relationships with respected and celebrated personalities.</p>
  </article>
   <article id="service-media" class="">
    <h4>Media Relations</h4>
    <p>Move growth to an exponential level by sharing your story where you audience is. </p>
  </article>
    <article id="service-media" class="">
    <h4>Search engine optimization (SEO)</h4>
    <p>Move growth to an exponential level by sharing your story where you audience is. </p>
  </article>
</section>
<div class="callout__wrap">
  {{> callout-work}}
</div>

