<section class="hero">
<div class="hero__inner">
  <div class="text-transform-container">
    <p class="page-title"><span class="highlight">{{ shortTitle }}</span></p>
    <h1>We help attract, engage and delight those who matter most to you. We offer nimble, lean marketing campaigns.</h1>
  </div>
</div>
</section>
<section class="banner shoutout flex-c--center">
    <div class="banner__inner center">
      <h2 class="serif center focus room">When your message hooks your audience, then they'll follow, subscribe, buy and believe. That's the power of online marketing. <span class="focus"></span> <span class="focus"></span></h2>
      <div class="vertical-line">
      </div>
    </div> 
</section>
<section>
  <article class="inner text-column">
    <h6 class="fine-print">What we offer</h6>
    <p class="larger">Our job is to foster growth via powerful digital strategies that attract, retain and convert.</p>
    <p class="larger">We're attuned to how digital experiences provoke thought, emotion and action. So, we use data, creative and technology to make client visions real.</p>
  </article>
<header class="subnav visible-on-large">
    <div class="flex-c--col">
    <ul class="grid-c--1x5 submenu--container">
      <a href="#service-website"><li class="label item-1 center grow">Websites</li></a>
      <a href="#service-content"><li class="label item-2 center grow">Content Marketing</li></a>
      <a href="#service-influencer"><li class="label item-3 center grow">Influencer Marketing</li></a>
      <a href="#service-media"><li class="label item-4 center grow">Media Relations</li></a>
      <a href="#service-seo"><li class="label item-5 center grow">SEO</li></a>
    </ul>
  </div>
</header>
<section>
  <article id="service-website" class="flex-c service__container">
    <div class="inner">
    <h4>Landing pages &amp; websites</h4>
    <p>Websites and landing pages are more than an online introduction. They give visitors have opportunities to take satisfying actions -- learn, ask for help, subscribe and buy. </p>
    <p>We work to boost your appeal by making useful, authoritative and engaging web sites. </p>
    <ul class="inner">
      <h6 class="fine-print">What we do</h6>
      <p>&mdash; Design (Node, Wordpress)</p>
      <p>&mdash; Copy tailored for conversion</p>
      <p>&mdash; Search engine optimization</p>
      <p>&mdash; Tech support for DIY projects</p>
    </ul>
    </div>
    <div class="set-height">
    </div>
  </article>
  <article id="service-content" class="flex-c service__container">
    <div class="inner">
      <h4>Content Marketing</h4>
      <p>Move growth to an exponential level by sharing your story and growing your organic reach.</p>
      <p>We bring big brand experience to campaigns of any size. We translate your voice and value into unique, substantial and compelling stories.</p>
    </div>
    <ul class="inner">
      <h6 class="fine-print">Our specialities</h6>
      <p>&mdash; Editorial style (magazine feel)</p>
      <p>&mdash; Interviews for original, interesting content</p>
      <p>&mdash; White papers that decode technical topics</p>
      <p>&mdash; Authority blogs</p>
    </ul>
  </article>
   <article id="service-influencer" class="service__container inner">
    <h4>Social Media / Influencer Marketing</h4>
    <p>Profit from our relationships with respected and celebrated personalities.</p>
  </article>
   <article id="service-media" class="service__container inner">
    <h4>Media Relations</h4>
    <p>Move growth to an exponential level by sharing your story where you audience is. </p>
  </article>
    <article id="service-media" class="service__container inner">
    <h4>Search engine optimization (SEO)</h4>
    <p>Move growth to an exponential level by sharing your story where you audience is. </p>
  </article>
</div>
</section>
<div class="callout__wrap">
  {{> callout-work}}
</div>

