<section class="hero">
<div class="hero__inner-container">
  <div class="text-transform-container">
    <p class="page-title"><span class="highlight">{{ shortTitle }}</span></p>
    <h1>We help attract, engage and delight those who matter most to you. We offer nimble, lean marketing campaigns.</h1>
  </div>
</div>
</section>
<section>
    <div class="flex-c--col hero__inner-container">
    <ul class="flex-c flex-c--space-between label-row">
      <li class="label center grow">Websites</li>
      <li class="label center grow light">Content Marketing</li>
      <li class="label center grow darker">Influencer Marketing</li>
      <li class="label center grow lighter">Media Relations</li>
      <li class="label center grow">Search engine optimization (SEO)</li>
    </ul>
  </div>
</section>
<section>
  <article class="benefits">
    
  </article>
</section>

