<section class="hero">
<div class="text-container">
  <div class="text-transform-container">
    <p class="page-title"><span class="highlight">{{ shortTitle }}</span></p>
    <h1>We help you tell original and relatable stories. Stories that represent you and encourage people to come back to you.</h1>
  </div>
</div>
</section>
<section>
    <div class="flex-container--col text-container">
    <ul class="flex-container flex-spaced-b label-row">
      <li class="label center grow">Websites</li>
      <li class="label center grow light">Content Marketing</li>
      <li class="label center grow darker">Influencer Marketing</li>
      <li class="label center grow lighter">Media Relations</li>
      <li class="label center grow">Search engine optimization (SEO)</li>
    </ul>
  </div>
</section>
<section>
  <figure class="feature-img">
    <img src="../images/grant-red-crop.jpg">
  </figure>
  <div class="feature-text">
    <h4>How Video Changed Everything!</h4>
    <p>Don't know what I'm going to write, but let me do that here. YouTuber Jeff Grant geeks out on technology, cameras and being awesome.</p>
    <p>Insights by videographer and YouTuber, Jeff Grant.</p>
    <button class="btn outline fine-print"><a href="../projects">Read our success stories.</a></button>
  </div>
</section>
