<section class="hero">
<div class="text-container">
  <div class="text-transform-container">
    <p class="page-title"><span class="highlight">{{ shortTitle }}</span></p>
    <h1>We help you tell original and relatable stories. Stories that represent you and encourage people to come back to you.</h1>
  </div>
</div>
</section>
</div>

<section>
    <h2>Authentic</h2>
    <h2>Helpful</h2>
    <h2>Relatable</h2>
    <p></p>
</section>
