<div id="" class="">
<section class="hero">
<div class="text-container">
  <div class="text-transform-container">
    <p class="page-title"><span class="highlight">{{ shortTitle }}</span></p>
    <h1>Storytelling</h1>
  </div>
</div>
</section>
<section>
    <h2>Authentic</h2>
    <h2>Helpful</h2>
    <h2>Relatable</h2>
    <p></p>
</section>
