<!-- Begin main section -->
<main class="home page__wrap">
<section class="hero">
  <div class="">
    <h1>Your Story, Front Page.</h1>
    <h4>We bring thoughtful design and copy.</h4>
  </div>
  <article class="right-panel">
    <div class="container-cta">
      <div class="btn cta" <a href="../portfolio">Browse Our Work</a></div>
    </div>
  </article>
</section>
</div>
<div class="card-wrapper">
  <h2>You're Original</h2>
  <h4>We help you articulate a vision. And then showcase your evolving company or brand. So, you can grow your reputation and reach.</h4>
<div class="card-container">
<figure class="card">
    <i class="fas fa-hand-holding-heart"></i>
    <h6>Where Mind Meets Heart</h6>
    <p>We'll help you learn who knows you and what they're doing and saying.</p>
</figure>
<figure class="card">
  <i class="fas fa-hand-holding-heart"></i>
  <h6>We Meld Heart and Mind</h6>
  <p>We'll help you learn who knows you and what they're doing and saying.</p>
  </figure>
  <figure class="card">
    <i class="fas fa-hand-holding-heart"></i>
    <h6>We Meld Heart and Mind</h6>
    <p>We'll help you learn who knows you and what they're doing and saying.</p>
</figure>
<figure class="card">
  <i class="fas fa-hand-holding-heart"></i>
  <h6>We Meld Heart and Mind</h6>
  <p>We'll help you learn who knows you and what they're doing and saying.</p>
  </figure>

</div> <!-- close card container -->
</div> <!-- close card wrapper -->
<section class="samples">

</section>
<section class="contact">

</section>
</main>
<!-- End main -->




