<!-- Begin main section -->
<div class="page__wrap" id="home">
<section class="hero">
  <div class="">
    <h1>Ease.</h1>
    <h4>Websites that don't make you want to scratch your eyes out. We
    don't want to suck so hard. You can do it.   
    </h4>
  </div>
  <article class="right-panel">
    <div class="container-cta">
      <div class="btn cta" <a href="../portfolio">Browse Our Work</a></div>
    </div>
  </article>
</section>
</div>
<!-- End main -->



