  <section class="benefits">
    <div class="title-bar flex-container">
      <h2>Here's what audience awareness can do for you.</h2>
    </div>
    <div class="grid-container">
      <figure class="item-b1 benefit">
        <p class="">Interactions that maintain one-on-one feel.</p>
      </figure>
      <figure class="item-r1 result">
        <p class="">Exponential rise in ROI</p>
      </figure>
      <figure class="item-b2 benefit">
        <p class="">Tell unique stories of what you know and do.</p>
      </figure>
      <figure class="item-r2 result">
        <p class="">More trust, greater retention.</p>
      </figure>
      <figure class="item-b3 benefit">
        <p class="">Prove to be a reliable and friendly resource.</p>
      </figure>
      <figure class="item-r3 result">
        <p class="">Greater trust, more word-of-mouth shares and more sales.</p>
      </figure>
    </div>
</section>
<section class="services grid-container">
    <div class="s-card grid-item 1of6 hidden">
      <h4>Strategy</h4>
      <img src="https://loremflickr.com/400/360" alt="icon1">
    </div>
    <div class="s-card grid-item 2of6 hidden">
      <h4>Design</h4>
      <img src="https://loremflickr.com/400/360" alt="icon2">
    </div>
    <div class="s-card grid-item 3of6 hidden">
      <h4>Copy</h4>
      <img src="https://loremflickr.com/400/360" alt="icon3">
    </div>
        <div class="s-card flex-container grid-item 4of6 toggle-content">
      <h4>Content Marketing</h4>
      <img src="https://loremflickr.com/400/360" alt="icon4">
    </div>
    <div class="s-card grid-item 5of6 hidden">
      <h4>SEO</h4>
      <img src="https://loremflickr.com/400/360" alt="icon5">
    </div>
  </section>
    <section class="pros">
    <div class="card-container">
    <figure class="card first">
        <p>Case 1</p>
    </figure>
    <figure class="card second">
      <p>Case 2.</p>
      </figure>
      <figure class="card third">
        <h6>Case 3.</h6>
        <p>lorum ipsum whatsoever. i don't care.</p>
    </figure>
    <figure class="card last">
      <h6>Case 4</h6>
      </figure>
    </div> <!-- close card container -->
  </section>
<section class="contact">
  <h2>Get in touch.</h2>
  <form method="POST" action="https://formspree.io/caroline@fuelcopy.com">
  <input type="email" name="email" placeholder="Your email">
  <textarea name="message" placeholder="Test Message"></textarea>
  <button type="submit">Send Test</button>
</form>
</section>
</div>
<!-- End main -->




