  <section class="benefits">
    <div class="title-bar lead flex-container-col">
      <h2>Success solution,  face and credible case to your offering, magic happens.</h2>
    </div>
    <div class="grid-container">
      <figure class="benefit b1">
        <h4>Put One Person First. Reach and Delight More.</h6>
      <p>Rather than one size fits all, we'll showcase benefits attuned to different audiences. So, they'll feel like your message is meant exclusively for them.</p>
        <p class="">We Help You Talk About Yourself -- in the right way.</p>
        <p class="">Your company runs on sweat and heart. We'll let your prospects know you. Then, buy from you.</p>
      </figure>
      <figure class="benefit b2">
        <p class="">Gain Social Proof - a key to conversions.</p>
         <p class="">Greater trust, more word-of-mouth shares and more sales.</p>
      </figure>
      <figure class="benefit b3">
        <p class="">Prove to be a reliable and friendly resource.</p>
         <p class="">Give freely of your expertise and insights. You'll become top-of-mind when it's time to buy.</p>
      </figure>
    </div>
</section>
<section class="services grid-container">
    <div class="s-card grid-item 1of6 hidden">
      <h4>Strategy</h4>
      <img src="https://loremflickr.com/100/100" alt="icon1" />
    </div>
    <div class="s-card grid-item 2of6 hidden">
      <h4>Design</h4>
      <img src="https://loremflickr.com/100/100" alt="icon2" />
    </div>
    <div class="s-card grid-item 3of6 hidden">
      <h4>Copy</h4>
      <img src="https://loremflickr.com/100/100" alt="icon3">
    </div>
        <div class="s-card flex-container grid-item 4of6 toggle-content">
      <h4>Content Marketing</h4>
      <img src="https://loremflickr.com/100/100" alt="icon4">
    </div>
    <div class="s-card grid-item 5of6 hidden">
      <h4>SEO</h4>
      <img src="https://loremflickr.com/100/100" alt="icon5">
    </div>
  </section>
    <section class="pros">
    <div class="card-container">
    <figure class="card first">
        <p>Case 1</p>
    </figure>
    <figure class="card second">
      <p>Case 2.</p>
      </figure>
      <figure class="card third">
        <h6>Case 3.</h6>
        <p>lorum ipsum whatsoever. i don't care.</p>
    </figure>
    <figure class="card last">
      <h6>Case 4</h6>
      </figure>
    </div> <!-- close card container -->
  </section>
<section class="contact">
  <h2>Get in touch.</h2>
  <form method="POST" action="https://formspree.io/caroline@fuelcopy.com">
  <input type="email" name="email" placeholder="Your email">
  <textarea name="message" placeholder="Test Message"></textarea>
  <button type="submit">Send Test</button>
</form>
</section>
</div>
<!-- End main -->




