<!-- Begin main section -->
<div class="home page__wrap">
  <section class="services grid-container">
    <div class="s-card grid-item 1of6">
      <h4>Design</h4>
      <img src="icon-1" alt="icon1">
    </div>
    <div class="s-card grid-item 2of6">
      <h4>Copy</h4>
      <img src="icon-2" alt="icon2">
    </div>
    <div class="s-card grid-item 3of6">
      <h4>Strategy</h4>
      <img src="icon-3" alt="icon3">
    </div>
        <div class="s-card flex-container grid-item 4of6">
      <h4>SEO</h4>
      <img src="https://via.placeholder.com/250" alt="icon4">
    </div>
    <div class="s-card grid-item 5of6">
      <h4>Content marketing</h4>
      <img src="icon-5" alt="icon5">
    </div>
    <div class="s-card grid-item 6of6">
      <h4>Fun Fun Fun</h4>
      <img src="icon-6" alt="icon6">
    </div>
  </section>
  <section class="pros">
      <h2>Your vision. Made real.</h2>
      <h4>We'll turn your vision into an online showcase of your evolving company or brand. So, you can grow your reputation and reach.</h4>
    <div class="card-container">
    <figure class="card">
        <i class="fas fa-hand-holding-heart"></i>
        <h6>Where Mind Meets Heart</h6>
        <p>We'll help you learn who knows you and what they're doing and saying.</p>
    </figure>
    <figure class="card">
      <i class="fas fa-hand-holding-heart"></i>
      <h6>We Meld Heart and Mind</h6>
      <p>We'll help you learn who knows you and what they're doing and saying.</p>
      </figure>
      <figure class="card">
        <i class="fas fa-hand-holding-heart"></i>
        <h6>We Meld Heart and Mind</h6>
        <p>We'll help you learn who knows you and what they're doing and saying.</p>
    </figure>
    <figure class="card">
      <i class="fas fa-hand-holding-heart"></i>
      <h6>We Meld Heart and Mind</h6>
      <p>We'll help you learn who knows you and what they're doing and saying.</p>
      </figure>
    </div> <!-- close card container -->
  </section>
  <section class="samples grid-container">
    <div class="grid__item top-left">
      <h2>See how we have highlighted interesting stories of leadership and innovation.</h2>
    </div>
    <div class="grid__item animated-img top-right">
      <img class="fade-in-element hidden" src="./images/colgate.jpg">
    </div>
    <div class="grid__item animated-img bottom-left">
      <img class="fade-in-element hidden" src="./images/colgate.jpg">
    </div>
    <div class="grid__item animated-img bottom-right">
      <img class="fade-in-element hidden" src="./images/colgate.jpg">
    </div>
</section>
<section class="contact">
  <h2>Get in touch.</h2>
  <form method="POST" action="https://formspree.io/caroline@fuelcopy.com">
  <input type="email" name="email" placeholder="Your email">
  <textarea name="message" placeholder="Test Message"></textarea>
  <button type="submit">Send Test</button>
</form>
</section>
</div>
<!-- End main -->




