<section class="hero flex-c">
    <div class="hero__text-container">
      <div class="small-text-column">
        <p class="space-tight">Help them</p>
      </div>
      <div class="text-display-container flex-c--center">
        <h1><span class="indent">find</span><span>,</span><br> 
        <span class="indent">know</span><span>,</span><br>
        <span class="indent">trust</span><span>,</span><br>
        &amp;<span class="indent color-red"> love you</span>.</h1>
      <div>
        <!-- <img src="../images/cell-heart-color.svg" width="256px" />
      </div> -->
    </div>
        <div class="">
          <div class="flex-c--col flex-c--center cta-container">
          <p class="larger inner">We imagine and create strategic communications.</p>
          <p class="center no-margin">Profit from a free, practical consultation.</p>
          <button class="btn rounded large"><a href="../contact">Get in touch</a></button>
        </div>
      </div>
    </div>
    <div>
    </div>
</section>
<section class="banner flex-c--center inner">
  <div class="center">
    <h2 class="">We help health and technology brands grow through <span class="market-col">digital marketing</span> and <span class="fund-col">fundraising</span>.</h2>
      <div class="icon__container">
        <svg class="home-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><style>.st0{fill:none;stroke:#000;stroke-width:4;stroke-miterlimit:10;}</style><switch><g><path class="st0" d="M359.8 507H143.3c-19.2 0-34.8-15.7-34.8-34.9V389c-24.9-3.8-47.8-15.3-64.5-32.6-17.3-17.9-26.9-40.7-26.9-64.3 0-23.2 9.5-45.7 26.9-63.3 16.7-16.9 39.5-28.3 64.5-32v-22.7c-4.7-.9-8.3-5.1-8.3-10.1v-8.3c0-5 3.6-9.2 8.3-10.1v-4.8c-4.7-.9-8.3-5.1-8.3-10.1v-8.3c0-5 3.6-9.2 8.3-10.1v-4.8c-4.7-.9-8.3-5.1-8.3-10.1v-8.3c0-5 3.6-9.2 8.3-10.1V38.9C108.4 19.7 124 4 143.3 4h216.5c19.2 0 34.8 15.7 34.8 34.9V97c24.9 3.8 47.8 15.1 64.5 32 17.3 17.6 26.9 40 26.9 63.3 0 23.6-9.5 46.5-26.9 64.3-16.7 17.2-39.6 28.7-64.5 32.6v182.9c.1 19.2-15.6 34.9-34.8 34.9zM110.4 149.3c-3.5 0-6.4 2.9-6.4 6.4v8.3c0 3.5 2.9 6.4 6.4 6.4h1.9v29.8l-1.7.2c-24.7 3.4-47.4 14.4-63.9 31.1C30.1 248.4 21 269.9 21 292.1c0 22.6 9.1 44.5 25.8 61.6 16.5 17 39.2 28.2 63.9 31.7l1.7.2v86.5c0 17.1 13.9 31 31 31h216.5c17.1 0 31-13.9 31-31V285.8l1.7-.2c24.7-3.4 47.4-14.7 63.9-31.7 16.6-17.1 25.8-39 25.8-61.6 0-22.2-9.1-43.7-25.7-60.5-16.5-16.7-39.2-27.8-63.9-31.1l-1.7-.2V38.9c0-17.1-13.9-31-31-31H143.3c-17.1 0-31 13.9-31 31v43.9h-1.9c-3.5 0-6.4 2.9-6.4 6.4v8.3c0 3.5 2.9 6.4 6.4 6.4h1.9V116h-1.9c-3.5 0-6.4 2.9-6.4 6.4v8.3c0 3.5 2.9 6.4 6.4 6.4h1.9v12.2h-1.9zM251.5 482c-10.2 0-18.6-8.3-18.6-18.6 0-10.2 8.3-18.6 18.6-18.6 10.2 0 18.6 8.3 18.6 18.6s-8.3 18.6-18.6 18.6zm0-33.2c-8.1 0-14.7 6.6-14.7 14.7s6.6 14.7 14.7 14.7 14.7-6.6 14.7-14.7-6.6-14.7-14.7-14.7zm126.5-25H125v-37.2h1.9c13.8 0 27-2.4 40.2-7.4l.8-.3.8.4c10.6 5.5 22.9 9.6 38.6 12.7 1.5.3 3 .7 4.5 1 4.4 1 9 2.1 13.4 1.8 3.4-.2 6.6-2.4 7.6-5.1.7-1.9.1-3.9-1.8-5.8-7.1-6.9-12.2-22.1-14.4-42.8l-.1-.7.4-.6c10.6-14.9 16-31 16-47.8 0-51.2-47.6-92.9-106-92.9H125V70.5h253v28.9h-1.9c-58.5 0-106 41.7-106 92.9 0 16.9 5.4 32.9 16 47.8l.4.6-.1.7c-2.1 20.7-7.3 35.8-14.4 42.8-1.6 1.5-2.2 3.8-1.6 6 .6 2.3 2.4 4.1 4.6 4.7 2.6.7 6.2 0 9.3-.6 1-.2 1.9-.4 2.7-.5 17.7-2.8 32.3-7 44.5-12.9.9-.4 1.8-.9 2.7-1.4l.8-.4.8.3c13.2 5 26.4 7.4 40.2 7.4h1.9v137zm-249.1-3.9h245.2V290.7c-13.3-.2-26.1-2.6-38.8-7.3-.7.4-1.4.7-2.1 1-12.6 6.1-27.5 10.4-45.6 13.2-.8.1-1.7.3-2.6.5-3.6.7-7.6 1.5-11 .6-3.6-.9-6.4-3.8-7.3-7.5-.9-3.6 0-7.3 2.6-9.8 6.3-6.1 11.1-20.5 13.2-39.6-10.8-15.4-16.3-32-16.3-49.5 0-52.8 48.3-95.8 108-96.8V74.4H128.9v120.9c59.7.9 108 44 108 96.8 0 17.5-5.5 34.1-16.3 49.5 2.1 19.1 6.8 33.5 13.1 39.6 4.1 4 3.5 7.9 2.8 9.9-1.5 4.1-6 7.2-10.9 7.6-5 .4-9.9-.8-14.6-1.8-1.4-.3-2.9-.7-4.4-1-15.7-3.1-28.1-7.2-38.9-12.7-12.8 4.7-25.5 7.1-38.8 7.3v29.4z" id="phone"/><g id="text"><path class="st0 line" d="M173.5 336.7h-83c-5.7 0-10.3-4.6-10.3-10.3 0-5.7 4.6-10.3 10.3-10.3h83c5.7 0 10.3 4.6 10.3 10.3-.1 5.7-4.7 10.3-10.3 10.3z"/><path class="st0 line" d="M90.4 320c-3.5 0-6.4 2.9-6.4 6.4 0 3.5 2.9 6.4 6.4 6.4h83c3.5 0 6.4-2.9 6.4-6.4 0-3.5-2.9-6.4-6.4-6.4h-83zM190.1 303.4H90.4c-5.7 0-10.3-4.6-10.3-10.3 0-5.7 4.6-10.3 10.3-10.3h99.7c5.7 0 10.3 4.6 10.3 10.3-.1 5.7-4.6 10.3-10.3 10.3z"/><path class="st0 line" d="M90.4 286.8c-3.5 0-6.4 2.9-6.4 6.4s2.9 6.4 6.4 6.4h99.7c3.5 0 6.4-2.9 6.4-6.4s-2.9-6.4-6.4-6.4H90.4zM148.6 270.1H90.4c-5.7 0-10.3-4.6-10.3-10.3 0-5.7 4.6-10.3 10.3-10.3h58.1c5.7 0 10.3 4.6 10.3 10.3 0 5.7-4.6 10.3-10.2 10.3z"/><path class="st0 line" d="M90.4 253.5c-3.5 0-6.4 2.9-6.4 6.4s2.9 6.4 6.4 6.4h58.1c3.5 0 6.4-2.9 6.4-6.4s-2.9-6.4-6.4-6.4H90.4z"/></g><g id="heart"><path class="st0" d="M380.1 259.4c-2.4 0-4.7-.9-6.6-2.4l-40.9-34.4c-9.7-8.2-16.4-18.7-19.4-30.3-2-7.8-1.5-13.1-1.2-15 2.2-21.8 19.7-38.3 40.6-38.3 10 0 19.7 4.4 27.5 12.4 7.8-8 17.5-12.4 27.5-12.4 20.9 0 38.4 16.5 40.6 38.4.3 1.8.7 7.1-1.2 14.9-2.9 11.6-9.6 22.1-19.4 30.3L386.7 257c-1.8 1.5-4.2 2.4-6.6 2.4z"/><path class="st0" d="M352.6 142.9c-18.9 0-34.7 15-36.7 34.9-.3 1.8-.7 6.5 1.1 13.6 2.7 10.8 9 20.6 18.1 28.3L376 254c1.1 1 2.6 1.5 4.1 1.5 1.5 0 2.9-.5 4.1-1.5l40.9-34.4c9.1-7.7 15.4-17.5 18.1-28.3 1.8-7.1 1.4-11.8 1.1-13.5-2-20-17.8-35-36.7-35-12.9 0-21.9 7.9-26.1 12.7l-1.4 1.6-1.5-1.6c-4.2-4.6-13.2-12.6-26-12.6z"/></g></g></switch></svg>
    </div>
    <div class="vertical-line">
    </div>
  </div> 
</section>
<section class="benefits flex-c panel theme--dark">
  <div class="container--vertical-text">
    <p class="text-rotated theme--dark">benefits</p>
  </div>
  <div class="benefits-container grid-c--2x2 inner--l">
      <figure class="flex-c--col inner">
        <div class="header__container">
           <h6>Get meaningful results</h6>
        </div>
        <div class="content-container--s">
          <div class="content__text hidden">
            <p>Access strategies that move toward greater goals.</p>
          </div>
        </div>
      </figure>
      <figure class="inner">
        <div class="header__container">
          <h6>Grow with methods you can sustain</h6>
        </div>
        <div class="content-container--s">
          <div class="content__text hidden">
            <p>Avoid cycles of boom/bust because of stop-and-start campaigns. 
          </div>
      </figure>
      <figure class="inner">
        <div class="header__container">
          <h6>Focus on the big picture</h6>
        </div>
        <div class="content-container--s">
          <div class="content__text hidden">
             <p>Your vision and goals define the work. Then, we maneuver the "how" to get the results you want. </p>
          </div>
      </figure>
      <figure class="inner">
        <div class="header__container">
          <h6>Access useful networks</h6>
        </div>
        <div class="content-container--s">
          <div class="content__text hidden">
             <p>Our relationships generate invention and results. We bring networks built over decades.</p>
          </div>
      </figure>
  </div>
</section>
<section class="panel market flex-c">
  <article class="flex-c">
    <div class="container flex-c--center">      
      <div class="image__container">
        <img class="image__background" src="./images/couple-selfie-sq.jpg" width="500px" height="" alt="young couple taking selfie"/ >
        <h2 class='bottom-left'>marketing</h2>
      </div>
    </div>
  <div class="container flex-c--center">
      <div class="panel__content">
        
        <p>Grow your online presence and widen your influence. Attract, engage and motivate your visitors to act.</p>
        <ul class="hidden">
          <li>&mdash; lead generation</li>
          <li>&mdash; content marketing</li>
          <li>&mdash; media relations</li>
          <li>&mdash; social media</li>
          <li>&mdash; search engine optimization (SEO)</li>
        </ul>
        <div class="button__container flex-c--center">
          <button class="btn rounded center"><a href="../work/growth-marketing">Learn more</button></a>
        </div>
      </div>
    </div>
</section>
<section class="panel fund">
  <article class="flex-c">
    <div class="container flex-c--center">
      <div class="panel__content">
        <p class="">We help you win donations, grants and contracts with thoughtful asks. We advise, facilitate relationships, navigate difficult competitions and write proposals.</p>
        <ul class="hidden">
          <li>&mdash; opportunity advising</li>
          <li>&mdash; donor / funder relations</li>
          <li>&mdash; need assessments</li>
          <li>&mdash; proposals</li>
          <li>&mdash; small business grants (SBIR)</li>
        </ul>
        <div class="button__container flex-c--center">
          <button class="btn rounded shadow"><a href="../work/fundraising">Learn more</a></button>
        </div>
      </div>
    </div>
    <div class="image__container">
      <img src="./images/office.jpg" width="500px" alt="people in a conference room"/ >
      <h2 class="bottom-left">fundraising</h2>
    </div>
  </article>
</section>
<section class="testimonials panel flex-c flex-c--center">
  <div class="container--vertical-text">
    <p class="text-rotated">testimonials</p>
  </div>
  <blockquote class="testimonial">
    <p class="fine-print">Marketing / Media</p>
    <p class="hidden">Dave recognized our needs and...maximized our media coverage. His strategic writing and thinking amplified our voice and extended our reach.</p>
    <figcaption class="flex-c--center">
      <div>
        <p>Shira Goodman, Executive Director</p>
        <p>CeaseFirePA</p>
      </div>
    </figcaption>
  </blockquote>
  <blockquote class="testimonial">
    <p class="fine-print">Fundraising</p>
    <p class="hidden">Caroline excels in all aspects of grant writing, from putting pen to paper, working with clients and overall time management. I look forward to my continued work with her.</p>
    <figcaption class="flex-c--center">
      <div>
        <p>Darci Granda, Managing Director</p>
        <p>McAllister &amp; Quinn</p>
      </div>
    </figcaption>
  </blockquote>
</section>

<section class="testimonial-slider">
  <div class="slide-wrap">
        <div class="slideshow">

          <div class="slide-entry">
            <div class="slide-content">
              <h6 class="slide-title">marketing / media</h6>
<p>Dave recognized our needs and...maximized our media coverage.<br> His strategic writing and thinking amplified our voice and extended our reach.

<p><span class="highlight"</span></span>Shira Goodman, Executive Director</p>
<p>CeaseFirePA</p>
            </div>
          </div>
          
        <div class="slide-entry">
            <div class="slide-content">
              <h6 class="slide-title">fundraising</h6>
              <p>Caroline excels in all aspects of grant writing, from putting pen to paper, working with clients and overall time management. I look forward to my continued work with her.</p>
              <p> Darci Granda, <br>Managing Director
McAllister & Quinn</p>
            </div>
          </div>
      
                       <div class="slide-entry">
            <div class="slide-content">
              <h6 class="slide-title">content marketing</h6>
              <p>We assigned an exclusive feature-length article on a complex scientific topic, for a new publication still defining its scope and voice. The results were exactly what we needed and helped us to launch the publication successfully..</p>
              <p> Chris Mohney, Editorial Lead, Overture</p>
            </div>
          </div>

                                <div class="slide-entry">
            <div class="slide-content">
              <h6 class="slide-title">Websites</h6>
              <p>[Caroline] helped me so much to get my blog up and running and walked me through the issues...She always responded quickly with any questions I had. I'm so grateful for all she has done!</p>
              <p> Emily Lewis, Lifestyle Blogger</p>
            </div>
          </div>
          
          
        </div>
        <ul class="slide-nav">
          <li id="prev-slide"><i class="fal fa-chevron-left"></i></li>
          <li id="next-slide"><i class="fal fa-chevron-right"></i></li> 
        </ul>
      </div>
</section>
<section class="container">
  <figure class="flex-c">
    <div class="">
      <img src="../images/jeff-grant-headshot-crop.jpg" width="500px" alt="Jeff Grant, videographer and YouTuber">
       <figcaption class="flex-c--col inner">
        <p>Videographer and YouTuber, Jeff Grant</p>
      </figcaption>
    </div>
    <div class="flex-c--col">
        <div class="inner">
          <p class="fine-print">Case Stories</p>
          <h4>Storytelling for the mobile generation</h4>
          <p>We tapped our network of YouTube influencers to create family-friendly content for an online driver's education brand.</p>
          <a class="classy-link" href="../projects/social-media-influencer">Read the story</a>
        </div>
      <div class="button__container flex-c--center">
        <button class="btn rounded">
          <a href="../projects">Browse our case stories</a>
      </button>
    </div>
</figure>
</section>

<!-- End main content -->




