<section class="hero">
    <div class="hero__text-container">
      <div class="small-text-column">
        <p class="space-tight">Help them</p>
      </div>
      <div class="text-display-container flex-i">
        <h1><span class="indent">find</span><span>,</span><br> 
        <span class="indent">know</span><span>,</span><br>
        <span class="indent">trust</span><span>,</span><br>
        <span class="indent">&amp; love</span> you.</h1>
        <div class="">
          <div class="flex-c--col flex-c--center cta-container">
          <p class="larger inner">We imagine and create strategic communications.</p>
          <p class="center no-margin">Profit from a free, practical consultation.</p>
          <button class="btn rounded large"><a href="../contact">Get in touch</a></button>
        </div>
      </div>
      
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1999.007 560" style="enable-background:new 0 0 1999.007 560;" xml:space="preserve">
<path class="line1" style="fill:none;stroke:#CA3532;stroke-width:11;stroke-miterlimit:10;" d="M0,205.122c0,0,1.873-5.227,34.181,11.771
	c34.482,18.143,59.697,52.119,93.893,71.865c58.23,33.623,127.729,35.703,192.193,20.418
	c84.208-19.967,120.448-106.473,201.401-131.238c33.513-10.252,72.097-7.987,100.849,12.053
	c13.948,9.722,25.016,23.027,38.729,33.078c41.312,30.281,101.44,28.432,150.36,28.432c58.764,0,1187.401,0,1187.401,0"/>
<path class="line2" style="fill:none;stroke:#21AEB8;stroke-width:11;stroke-miterlimit:10;" d="M7.622,68.997
	c63.526,16.725,114.958,46.718,161.474,93.375c58.574,58.752,124.397,129.296,215.396,122.491
	c36.201-2.707,69.877-18.493,104.376-29.793c92.193-30.198,191.378-28.556,288.366-26.362
	c222.659,5.037,443.983,4.791,666.654,4.791c85.665,0,555.119,0,555.119,0"/>
<path class="line3" style="fill:none;stroke:#62AB38;stroke-width:11;stroke-miterlimit:10;" d="M10.628,398.243
	c98.501,20.268,202.926,9.114,295.368-30.252c110.86-47.21,211.1-122.805,335.982-128.2c91.338-3.945,184.697,28.631,270.85,55.526
	c52.736,15.855,159.623,42.183,257.969,42.183s828.21,0,828.21,0"/>
<path class="line4" style="fill:none;stroke:#70357B;stroke-width:11;stroke-miterlimit:10;" d="M3.753,344.931
	c0,0,260.692-109.142,307.727-118.406c47.035-9.264,132.368-18.393,195.794,3.404s243.095,67.78,340.015,64.93
	c96.92-2.851,204.513-72.49,236.582-89.594c32.069-17.104,65.547-14.766,143.225-14.766c77.679,0,771.911,0,771.911,0"/>
</svg>
    </div>

</section>
<section class="banner flex-c--center">
  <div class="banner__inner center ">
    <h2 class="center">Avenues for growth for health and technology brands</h2>
    <div class="flex-c">
      <div class="flex-c--column">
       <!-- <svg xmlns="http://www.w3.org/2000/svg" width="128px" height="128px" viewBox="0 0 50.5 50" id="circle-icon"><defs><style>.cls-2{fill:#fff;stroke:#000;stroke-miterlimit:10}</style></defs>
        <ellipse class="circle-background" cx="24.98" cy="25" rx="24.98" ry="24.5" fill="#cc2929" id="Layer_3" data-name="Layer 3"/><g id="Layer_2" data-name="Layer 2" fill="none" stroke="#000" stroke-miterlimit="10"><path id="arc" class="arc" d="M47.65 17.14A23.54 23.54 0 1125.5 1.5" stroke-width="3"/><path class="squiggle" d="M16.37 31.28c1.69-8.44 4.63-11.26 7.29-12.05 3.51-1 6.46 1.43 10 0 3.13-1.32 4.5-4.89 5.16-8" stroke-width="2"/></g></svg> -->
        <p>Digital marketing</p>
        <div class="flex-c--center">
          <img src="../images/phone-icon.svg" width="64px" />
        </div>
      </div>
      <div class="">
        <p>Fundraising</p>
         <div class="flex-c--center">
          <img src="../images/tree-icon.svg" width="64px" />
        </div>
      </div>
    </div>
    <div class="vertical-line">
    </div>
  </div> 
</section>
<section class="benefits flex-c panel">
  <div class="container--vertical-text">
    <p class="text-rotated">benefits</p>
  </div>
  <div class="grid-c--2x2 inner--l">
      <figure class="flex-c--col inner">
        <div class="header__container">
           <h6>Get meaningful results</h6>
        </div>
        <div class="content-container--s">
          <div class="content__text hidden">
            <p>Build the foundations of a winning marketing program, which grows with you.</p>
          </div>
        </div>
      </figure>
      <figure class="inner">
        <div class="header__container">
          <h6>Grow with methods you can sustain</h6>
        </div>
        <div class="content-container--s">
          <div class="content__text hidden">
            <p>Avoid cycles of boom/bust with continual marketing, at the most minimal cost in time and price. 
          </div>
      </figure>
      <figure class="inner">
        <div class="header__container">
          <h6>Focus on the big picture</h6>
        </div>
        <div class="content-container--s">
          <div class="content__text hidden">
             <p>Your vision and goals define the work. And we maneuver the "how" to get the results you want. </p>
          </div>
      </figure>
      <figure class="inner">
        <div class="header__container">
          <h6>Access useful networks</h6>
        </div>
        <div class="content-container--s">
          <div class="content__text hidden">
             <p>Our relationships generate invention and results. We bring networks built over decades.</p>
          </div>
      </figure>
  </div>
</section>
<section class="panel">
  <article class="flex-c">
    <div class="container--vertical-text">
    <p class="text-rotated">how we help</p>
  </div>
    <div class="container flex-c--center">
      <div class="panel__content">
        <h4 class="center">marketing</h4>
        <p>Grow your online presence and widen your influence. Attract, engage and motivate your visitors to act.</p>
        <ul class="hidden">
          <li>&mdash; lead generation</li>
          <li>&mdash; content marketing</li>
          <li>&mdash; media relations</li>
          <li>&mdash; social media</li>
          <li>&mdash; search engine optimization (SEO)</li>
        </ul>
        <div class="button__container flex-c--center">
          <button class="btn rounded center"><a href="../work/growth-marketing">Learn more</button></a>
        </div>
      </div>
    </div>
    <div>
      <img src="./images/couple-selfie-sq.jpg" width="400px" alt="young couple taking selfie"/ >
    </div>
  </article>
</section>
<section class="panel">
  <article class="flex-c">
    <div class="container flex-c--center">
      <div class="panel__content">
        <h4 class="center">fundraising</h4>
        <p class="">We help you win donations, grants and contracts with thoughtful asks. We advise, facilitate relationships, navigate difficult competitions and write proposals.</p>
        <ul class="hidden">
          <li>&mdash; opportunity advising</li>
          <li>&mdash; donor / funder relations</li>
          <li>&mdash; need assessments</li>
          <li>&mdash; proposals</li>
          <li>&mdash; small business grants (SBIR)</li>
        </ul>
        <div class="button__container flex-c--center">
          <button class="btn rounded shadow"><a href="../work/fundraising">Learn more</a></button>
        </div>
      </div>
    </div>
    <div>
      <img src="./images/office.jpg" width="400px" alt="people in a conference room"/ >
    </div>
  </article>
</section>
<section class="testimonials panel flex-c flex-c--center">
  <div class="testimonial-headline flex-c--center">
    <p>Testimonials</p>
  </div>
  <blockquote class="testimonial">
    <p class="fine-print">Marketing / Media</p>
    <p class="hidden">Dave recognized our needs and...maximized our media coverage. His strategic writing and thinking amplified our voice and extended our reach.</p>
    <figcaption class="flex-c--center">
      <div>
        <p>Shira Goodman, Executive Director</p>
        <p>CeaseFirePA</p>
      </div>
    </figcaption>
  </blockquote>
  <blockquote class="testimonial">
    <p class="fine-print">Fundraising</p>
    <p class="hidden">Caroline excels in all aspects of grant writing, from putting pen to paper, working with clients and overall time management. I look forward to my continued work with her.</p>
    <figcaption class="flex-c--center">
      <div>
        <p>Darci Granda, Managing Director</p>
        <p>McAllister &amp; Quinn</p>
      </div>
    </figcaption>
  </blockquote>
</section>
<section class="container">
  <figure class="flex-c">
    <div class="">
      <img src="../images/jeff-grant-headshot-crop.jpg" width="500px" alt="Jeff Grant, videographer and YouTuber">
       <figcaption class="flex-c--col inner">
        <p>Videographer and YouTuber, Jeff Grant</p>
      </figcaption>
    </div>
    <div class="flex-c--col">
        <div class="inner">
          <p class="fine-print">Case Stories</p>
          <h4>Storytelling for the mobile generation</h4>
          <p>We tapped our network of YouTube influencers to create family-friendly content for an online driver's education brand.</p>
          <a class="classy-link" href="../projects/social-media-influencer">Read the story</a>
        </div>
      <div class="button__container flex-c--center">
        <button class="btn rounded">
          <a href="../projects">Browse our case stories</a>
      </button>
    </div>
</figure>
</section>

<!-- End main content -->




