<!-- Begin main section -->
<div class="home page__wrap">
  <section class="beneifts">
    <h2>Here's what audience awareness can do for you.</h2>
    <div class="grid-container benefits__grid">
      <div class="grid__item--b1 benefit"></div>
        <p class="">Interactions that maintain one-on-one feel.</p>
      </div>
      <div class="grid__item--r1 result">
        <p class="r1">Exponential rise in ROI</p>
      </div>
      <div class="grid__item--b2 benefit"></div>
        <p class="">Tell unique stories of what you know and do.</p>
      </div>
      <div class="grid__item--r2 result">
        <p class="r1">More trust, greater retention.</p>
      </div>
      <div class="grid__item--b3 benefit"></div>
        <p class="">Prove to be a reliable and friendly resource.</p>
      </div>
      <div class="grid__item--r3 result">
        <p class="r1">Greater trust, more word-of-mouth shares and more sales.</p>
      </div>
    </div>

    <div class="">
      <img src="./images/ad-edit.jpg"  alt="woman and dinosaur" />
    </div>
  </div>
</section>
<section class="services grid-container">
    <div class="s-card grid-item 1of6 hidden">
      <h4>Strategy</h4>
      <img src="icon-1" alt="icon1">
    </div>
    <div class="s-card grid-item 2of6 hidden">
      <h4>Design</h4>
      <img src="icon-2" alt="icon2">
    </div>
    <div class="s-card grid-item 3of6 hidden">
      <h4>Copy</h4>
      <img src="icon-3" alt="icon3">
    </div>
        <div class="s-card flex-container grid-item 4of6 toggle-content">
      <h4>Content Marketing</h4>
      <img src="https://via.placeholder.com/250" alt="icon4">
    </div>
    <div class="s-card grid-item 5of6 hidden">
      <h4>SEO</h4>
      <img src="icon-5" alt="icon5">
    </div>
  </section>
    <section class="pros">
    <div class="card-container">
    <figure class="card first">
        <p>Case 1</p>
    </figure>
    <figure class="card second">
      <p>Case 2.</p>
      </figure>
      <figure class="card third">
        <h6>Case 3.</h6>
        <p>lorum ipsum whatsoever. i don't care.</p>
    </figure>
    <figure class="card last">
      <h6>Case 4</h6>
      </figure>
    </div> <!-- close card container -->
  </section>
<section class="contact">
  <h2>Get in touch.</h2>
  <form method="POST" action="https://formspree.io/caroline@fuelcopy.com">
  <input type="email" name="email" placeholder="Your email">
  <textarea name="message" placeholder="Test Message"></textarea>
  <button type="submit">Send Test</button>
</form>
</section>
</div>
<!-- End main -->




