  <section class="benefits">
    <div class="grid-container">
      <h2 class="b0">Be the friendly face with a solution for those seeking help.</h2>
      <figure class="benefit b1">
        <h4>Put One Person First. Reach and Delight More.</h6>
      <p>Rather than one size fits all, we'll showcase benefits attuned to different audiences. So, they'll feel like your message is meant exclusively for them.</p>
        <p class=""><b>We Help You Talk About Yourself -- in the right way.</p>
        <p class="">Your company runs on sweat and heart. We'll let your prospects know you. Then, buy from you.</p>
      </figure>
      <figure class="benefit b2">
        <p class="">Gain Social Proof - a key to conversions.</p>
         <p class="">Greater trust, more word-of-mouth shares and more sales.</p>
      </figure>
      <figure class="benefit b3">
        <p class="">Prove to be a reliable and friendly resource.</p>
         <p class="">Give freely of your expertise and insights. You'll become top-of-mind when it's time to buy.</p>
      </figure>
    </div>
</section>
<section class="services grid-container">
    <div class="s-card grid-item first hidden">
      <h4>Strategy</h4>
      <img src="https://loremflickr.com/150/150" alt="icon1" />
    </div>
    <div class="s-card grid-item second hidden">
      <h4>Design</h4>
      <img src="https://loremflickr.com/150/150" alt="icon2" />
    </div>
    <div class="s-card grid-item third hidden">
      <h4>Copy</h4>
      <img src="https://loremflickr.com/150/150" alt="icon3">
    </div>
    <div class="s-card grid-item fourth hidden">
      <h4>Content Marketing</h4>
      <img src="https://loremflickr.com/150/150" alt="icon4">
    </div>
  </section>
  <section class="feature grid-container">
    <figure class="feature-img">
      <img src="../images/grant-red-shirt.jpg">
    </figure>
    <div class="feature-fill">  
    </div>
    <div class="feature-text">
      <h4>Insert Punchy Headline Here!</h4>
      <p>Don't know what I'm going to write, but let me do that here. YouTuber Jeff Grant geeks out on technology, cameras and being awesome.</p>
    </div>
  </section>
<section class="callout">
  
  
</section>
</div>
<!-- End main -->




