<section class="hero">
<div class="text-container">
  <div class="text-transform-container">
   <!-- todo <h1 class="loud"><span class="text-intro"></span>Help them <br>find you, <br>know you, <br><span class= "highlight">trust you.</span></h1> -->
    <h1 class=""><span class="text-intro"></span>Steep costs,<br>long hours,<br>overwhelm,<br><span class= "highlight">not necessary.</span></h1>
  </div>
  <h4 class>Fuel Copy grows revenue by amplifying your strengths. And we work in the real world -- tight timelines and budgets.</h4>
  <div class="flex-container-col flex-center">
    <p>Profit from a free, practical consultation</p>
    <button class="btn rounded large"><a href="../contact"><p>Get in touch</p></a></button>
  </div>
</div>
<div class="slide-in-right image-container">
  <img class="slide-in-right mobile-hide" src="./images/undraw_add_content.svg" />
</div>
</section>
<section class="services">
  <div class="title-box">
    <h2>What can we do for you?</h2>
  </div>
  <div class="grid-container card-container fluid full">
    <figure class="card hidden">
      <p class="fine-print">Tactical advising</p>
      <h4>Get insights on success &amp; how to get there.</h4>
      <figcaption>Get pragmatic plans and opportunities. </figcaption>
    </figure>
    <figure class="card hidden">
      <p class="fine-print">Carve out a corner online. Gain and retain.</p>
      <h4>Attract and engage more visitors.</h4>
      <figcaption>From lead generation to growth.</figcaption>
    </figure>
    <figure class="card hidden">
    <p class="fine-print">Copywriting &amp; content</p>
      <h4>Convey messages above the crowd</h4>
      <figcaption>Share the right message to the right person with copy and content.</figcaption>
    </figure>
     <figure class="card hidden">
      <p class="fine-print">Grants &amp; contracts.</p>
      <h4>Win at public competitions for contracts and grants.</h4>
      <figcaption>Proposals to get you SBIR grants and contracts.</figcaption>
    </figure>
  </div>
  </section>
  <section class="flex-container">
    <figure class="feature-img">
      <img src="../images/grant-red-crop.jpg">
    </figure>
    <div class="feature-text">
      <h4>How Video Changed Everything!</h4>
      <p>Don't know what I'm going to write, but let me do that here. YouTuber Jeff Grant geeks out on technology, cameras and being awesome.</p>
      <p>Insights by videographer and YouTuber, Jeff Grant.</p>
      <button class="btn outline fine-print"><a href="../projects">Read our success stories.</a></button>
    </div>
  </section> 
</div>
<!-- End main content -->




