<section class="hero bg">
  <div class="">
   <!-- todo <h1 class="loud"><span class="text-intro"></span>Help them <br>find you, <br>know you, <br><span class= "highlight">trust you.</span></h1> -->
    <div class="hero__inner">
      <h1 class="">Find<br>know<br>trust<br><span class="accent">&amp; <span class="">love</span> you</h1>
      <h4>We showcase your value with strategy, copy and design.</h4>
      <div class="flex-c--col flex-c--center inner">
        <p class="larger center">Profit from a free, practical consultation</p>
        <button class="btn primary rounded large"><a href="../contact">Get in touch</a></button>
      </div>
    </div>
  </div>
</section>
<section class="benefits">
  <div class="banner">
    <div class="banner__inner center">
      <h2>We help innovators and brands market and fundraise for critical projects.</h2>
      <div class="vertical-line">
      </div>
    </div> 
  </div> 
  <div class="flex-c">
    <div class="width-tune inner--s">
      <p class="text-as-background">Benefits</p>
    </div>
    <article class="hidden inner--s">
      <h6>Get meaningful results</h6>
      <p>Your goals define the work. And we shape the "how" to get the precise results you want.</p>
      <h6>Grow from methods you can sustain.</h6>
      <p>Build the foundations of a winning marketing program, which grows with you. Attract, gain and retain more prospects.</p>
      <h6>Multiply success by leveraging connections.</h6>
      <p>Give yourself to others and they'll bring themselves to you. Gain more mutually-satisfying relationships.</p>
    </article>
  </div>
</section>
<section>
  <div class="banner--light">
    <div class="banner__inner left">
      <p class="fine-print">How we help</p>
      <p>We'll help you raise revenue with a process that's right for you. And you'll have access to insights and tools that increase your chances for success.</p>
    </div>
  </div>
  <article class="panel">
    <h4 class="center">marketing</h4>
    <p class="center">Grow your online presence and widen your influence. Attract, engage and inspire action.</p>
  <div class="flex-c--center">
    <ul class="hidden">
      <li>&mdash; lead generation</li>
      <li>&mdash; content marketing</li>
      <li>&mdash; media relations</li>
      <li>&mdash; social media</li>
      <li>&mdash; search engine optimization (SEO)</li>
    </ul>
  </div>
      <div class="flex-c--center">
        <button class="btn primary rounded large shadow center"><a href="../work">More on marketing</a></button>
      </div>
  </article>

  <article class="panel">
    <h4 class="center">fundraising</h4>
    <p class="center">Win at public competitions for contracts and grants. Fuel has 20 years experience in helping clients compete for state and federal awards.</p>
    <div class="container-temp flex-c--center">
      <ul class="hidden">
        <li>&mdash; Advising on opportunities &amp; RFPs</li>
        <li>&mdash; Small business funding (e.g., SBIR)</li>
        <li>&mdash; Public contract bids</li>
        <li>&mdash; Grant proposals</li>
      </ul>
  </div>
  <div class="flex-c--center">
    <button class="btn large rounded shadow"><a href="../work">More on fundraising</a></button>
  </div>
</article>
<section class="flex-c">
  <figure class="flex-item">
    <div class="container__image">
      <img src="../images/grant-red-crop.jpg" alt="Jeff Grant, videographer and YouTuber">
    </div>
  </figure>
  <div class="flex-item">
    <figcaption class="flex-c--col container__inner--text">
      <h4>How Video Changed Everything!</h4>
      <p>Don't know what I'm going to write, but let me do that here. YouTuber Jeff Grant geeks out on technology, cameras and being awesome.</p>
      <p>Insights by videographer and YouTuber, Jeff Grant.</p>
      <div class="container__btn--multi">
        <button class="btn outline fine-print"><a href="../projects">Read our success stories.</a></button>
      </div>
  </figcaption>
</section> 
<!-- End main content -->




