<!-- Begin main section -->
<main class="home page__wrap">
<section class="hero">
  <div class="">
    <h1>Your Story, Front Page.</h1>
    <h4>Attract opportunities with thoughtful copy and design.</h4>
  </div>
  <article class="right-panel">
    <div class="container-cta">
      <div class="btn cta" <a href="../portfolio">Browse Our Work</a></div>
    </div>
  </article>
</section>
</div>
<!-- End main -->



