<section class="hero">
    <div class="hero__text-container">
      <div class="small-text-column">
        <p class="space-tight">Help them</p>
      </div>
      <div class="text-display-container flex-i">
        <h1><span class="indent">find</span><span>,</span><br> 
        <span class="indent">know</span><span>,</span><br>
        <span class="indent">trust</span><span>,</span><br>
        <span class="indent">&amp; love</span> you.</h1>
        <div class="">
          <div class="flex-c--col flex-c--center cta-container">
          <p class="larger inner">We imagine and create strategic communications.</p>
          <p class="center no-margin">Profit from a free, practical consultation.</p>
          <button class="btn rounded large"><a href="../contact">Get in touch</a></button>
        </div>
      </div>
    </div>
</section>
<section class="banner flex-c--center inner">
  <div class="center">
    <h2 class="">We help health and technology brands grow.</h2>
    <div class="icons flex-c">
      <div class="icon__container">
        <p class="center">Digital marketing</p>
        <div class="flex-c--center">
          <img src="../images/phone-icon.svg" width="64px" />
        </div>
      </div>
      <div class="icon__container">
        <p class="center">Fundraising</p>
         <div class="flex-c--center">
          <img src="../images/tree-icon.svg" width="64px" />
        </div>
      </div>
    </div>
    <div class="vertical-line">
    </div>
  </div> 
</section>
<section class="benefits flex-c panel theme--dark">
  <div class="container--vertical-text">
    <p class="text-rotated theme--dark">benefits</p>
  </div>
  <div class="benefits-container grid-c--2x2 inner--l">
      <figure class="flex-c--col inner">
        <div class="header__container">
           <h6>Get meaningful results</h6>
        </div>
        <div class="content-container--s">
          <div class="content__text hidden">
            <p>Access strategies that move toward greater goals.</p>
          </div>
        </div>
      </figure>
      <figure class="inner">
        <div class="header__container">
          <h6>Grow with methods you can sustain</h6>
        </div>
        <div class="content-container--s">
          <div class="content__text hidden">
            <p>Avoid cycles of boom/bust because of stop-and-start campaigns. 
          </div>
      </figure>
      <figure class="inner">
        <div class="header__container">
          <h6>Focus on the big picture</h6>
        </div>
        <div class="content-container--s">
          <div class="content__text hidden">
             <p>Your vision and goals define the work. Then, we maneuver the "how" to get the results you want. </p>
          </div>
      </figure>
      <figure class="inner">
        <div class="header__container">
          <h6>Access useful networks</h6>
        </div>
        <div class="content-container--s">
          <div class="content__text hidden">
             <p>Our relationships generate invention and results. We bring networks built over decades.</p>
          </div>
      </figure>
  </div>
</section>
<section class="margin-top flex-c">
  <div class="p-wrapper">
    <div class="p-container">
      <div class="background">
        <img class="bg__image" src="./images/couple-selfie-sq.jpg" width="600px" height="" alt="young couple taking selfie"/ >
      </div>
      <div class="foreground">
        <h1 class=''>marketing</h1>
      </div>
    </div>
  </div>
</div>
  <div class="container flex-c--center">
      <div class="panel__content">
        <p>Grow your online presence and widen your influence. Attract, engage and motivate your visitors to act.</p>
        <ul class="hidden">
          <li>&mdash; lead generation</li>
          <li>&mdash; content marketing</li>
          <li>&mdash; media relations</li>
          <li>&mdash; social media</li>
          <li>&mdash; search engine optimization (SEO)</li>
        </ul>
        <div class="button__container flex-c--center">
          <button class="btn rounded center"><a href="../work/growth-marketing">Learn more</button></a>
        </div>
      </div>
    </div>
</section>

    <div class="container flex-c--center">
      <div class="panel__content">
        <p>Grow your online presence and widen your influence. Attract, engage and motivate your visitors to act.</p>
        <ul class="hidden">
          <li>&mdash; lead generation</li>
          <li>&mdash; content marketing</li>
          <li>&mdash; media relations</li>
          <li>&mdash; social media</li>
          <li>&mdash; search engine optimization (SEO)</li>
        </ul>
        <div class="button__container flex-c--center">
          <button class="btn rounded center"><a href="../work/growth-marketing">Learn more</button></a>
        </div>
      </div>
    </div>
  </article>
</section>
  


<section class="panel">
  <article class="flex-c">
    <div class="container flex-c--center">
      <div class="panel__content">
        <h4 class="center">fundraising</h4>
        <p class="">We help you win donations, grants and contracts with thoughtful asks. We advise, facilitate relationships, navigate difficult competitions and write proposals.</p>
        <ul class="hidden">
          <li>&mdash; opportunity advising</li>
          <li>&mdash; donor / funder relations</li>
          <li>&mdash; need assessments</li>
          <li>&mdash; proposals</li>
          <li>&mdash; small business grants (SBIR)</li>
        </ul>
        <div class="button__container flex-c--center">
          <button class="btn rounded shadow"><a href="../work/fundraising">Learn more</a></button>
        </div>
      </div>
    </div>
    <div>
      <img src="./images/office.jpg" width="400px" alt="people in a conference room"/ >
    </div>
  </article>
</section>
<section class="testimonials panel flex-c flex-c--center">
  <div class="testimonial-headline flex-c--center">
    <p>Testimonials</p>
  </div>
  <blockquote class="testimonial">
    <p class="fine-print">Marketing / Media</p>
    <p class="hidden">Dave recognized our needs and...maximized our media coverage. His strategic writing and thinking amplified our voice and extended our reach.</p>
    <figcaption class="flex-c--center">
      <div>
        <p>Shira Goodman, Executive Director</p>
        <p>CeaseFirePA</p>
      </div>
    </figcaption>
  </blockquote>
  <blockquote class="testimonial">
    <p class="fine-print">Fundraising</p>
    <p class="hidden">Caroline excels in all aspects of grant writing, from putting pen to paper, working with clients and overall time management. I look forward to my continued work with her.</p>
    <figcaption class="flex-c--center">
      <div>
        <p>Darci Granda, Managing Director</p>
        <p>McAllister &amp; Quinn</p>
      </div>
    </figcaption>
  </blockquote>
</section>
<section class="container">
  <figure class="flex-c">
    <div class="">
      <img src="../images/jeff-grant-headshot-crop.jpg" width="500px" alt="Jeff Grant, videographer and YouTuber">
       <figcaption class="flex-c--col inner">
        <p>Videographer and YouTuber, Jeff Grant</p>
      </figcaption>
    </div>
    <div class="flex-c--col">
        <div class="inner">
          <p class="fine-print">Case Stories</p>
          <h4>Storytelling for the mobile generation</h4>
          <p>We tapped our network of YouTube influencers to create family-friendly content for an online driver's education brand.</p>
          <a class="classy-link" href="../projects/social-media-influencer">Read the story</a>
        </div>
      <div class="button__container flex-c--center">
        <button class="btn rounded">
          <a href="../projects">Browse our case stories</a>
      </button>
    </div>
</figure>
</section>

<!-- End main content -->




