<section class="dynamic"></section>
    <h1>{{title}}</h1>
    <p>Look somethin {{title}}</p>
</section>
<section class="intro">
    <h1>Nothing is changing 304</h1>

    <p>An awesome paragraph Projects</p>   
</section>
<section>
    <h1>WTF is going on? change me??</h1>
</section>

<ul class="client_list">
<p>Client: </p>{{#each client}}</p>
<li>{{this}}</li>
{{/each}}
</ul>


