<section class="flex-wrap home-hero">
<div class="text-container">
  <div class="text-transform-container">
    <h1 class="loud"><span class="text-intro"></span>Help them <br>find you, <br>know you, <br><span class= "highlight">trust you.</span></h1>
  </div>
  <h4>Attract revenue and new funding with expert support.</h4>
  <div class="flex flex-center container-cta">
    <button class=""><a href="../contact"><p>Schedule free consult.</p></a></button>
  </div>
</div>
<div class="slide-in-right image-container">
  <img class="slide-in-right mobile-hide" src="./images/undraw_add_content.svg" />
</div>
</section>
<section class="benefits">
  <div class="title-bar">  
    <h2>Meet cute. Personable digital.</h2>      
  </div>  
</section>
<section class="services">
  <div class="title-box">
    <h2>What can we do for you?</h2>
  </div>
  <div class="card-container grid-container-fluid">
    <figure class="card hidden">
      <p class="fine-print">Tactical advising</p>
      <h4>Get insights on success &amp; how to get there.</h4>
      <figcaption>Get pragmatic plans and opportunities. </figcaption>
    </figure>
    <figure class="card hidden">
      <p class="fine-print">Carve out a corner online. Gain and retain.</p>
      <h4>Attract and engage more visitors.</h4>
      <figcaption>From lead generation to growth.</figcaption>
    </figure>
    <figure class="card hidden">
    <p class="fine-print">Copywriting &amp; content</p>
      <h4>Convey messages above the crowd</h4>
      <figcaption>Share the right message to the right person with copy and content.</figcaption>
    </figure>
     <figure class="card hidden">
      <p class="fine-print">Grants &amp; contracts.</p>
      <h4>Win at public competitions for contracts and grants.</h4>
      <figcaption>Proposals to get you SBIR grants and contracts.</figcaption>
    </figure>
  </div>
  </section>
  <section class="feature grid-container">
    <figure class="feature-img">
      <img src="../images/grant-red-shirt.jpg">
    </figure>
    <div class="feature-fill">  
    </div>
    <div class="feature-text">
      <h4>How Video Changed Everything!</h4>
      <p>Don't know what I'm going to write, but let me do that here. YouTuber Jeff Grant geeks out on technology, cameras and being awesome.</p>
      <p>Insights by videographer and YouTuber, Jeff Grant.</p>
      <button class="btn subtle">Read our success stories.</button>
    </div>
  </section> 
</div>
<!-- End main content -->




