<section class="flex-wrap">
<div class="text-container">
  <div class="text-transform-container">
    <h1 class="loud"><span class="text-intro"></span>Help them <br>find you, <br>know you, <br><span class= "highlight">trust you.</span></h1>
  </div>
  <h4>Attract revenue and new funding with expert support.</h4>
  <div class="flex flex-center container-cta">
    <button class="btn rounded"><a href="../contact"><p>Schedule free consult.</p></a></button>
  </div>
</div>
<div class="slide-in-right image-container">
  <img class="slide-in-right mobile-hide" src="./images/undraw_add_content.svg" />
</div>
</section>
<section class="benefits">
  <div class="title-bar">  
    <h2>Meet cute. Personable digital.</h2>      
  </div>  
</section>
<section class="services">
  <div class="title-box">
    <h2>What we do best.</h2>
  </div>
  <div class="card-container grid-container-fluid">
    <figure class="card grid-item-1 hidden">
      <h6>Strategy</h6>
      <img src="https://loremflickr.com/150/150" alt="icon1" />
      <figcaption>Insider advice, pragmatic plans and research to achieve your goals.</figcaption>
    </figure>
    <figure class="card grid-item-2 hidden">
      <h6>Website &amp; Content Design</h6>
      <img src="https://loremflickr.com/150/150" alt="icon2" />
      <figcaption>Style and substance to engage and convert.</figcaption>
    </figure>
    <figure class="card grid-item-3 hidden">
      <h6>Copy</h6>
      <img src="https://loremflickr.com/150/150" alt="icon3">
      <figcaption>Share the right message to the right person with copy and content.</figcaption>
    </figure>
    <figure class="card grid-item-4 hidden">
      <h6>Content Marketing</h6>
      <img src="https://loremflickr.com/150/150" alt="icon4">
      <figcaption>For inbound campaigns, blogs, whitepapers, etc.</figcaption>
    </figure>
     <figure class="card grid-item-5 hidden">
      <h6>Proposals</h6>
      <img src="https://loremflickr.com/150/150" alt="icon3">
      <figcaption>Get more contracts from companies or the government with proposals that sell.</figcaption>
    </figure>
    <figure class="card grid-item-6 hidden">
      <h6>Campaigns</h6>
      <img src="https://loremflickr.com/150/150" alt="icon4">
      <figcaption>Remove???</figcaption>
    </figure>
  </div>
  </section>
  <section class="feature grid-container">
    <figure class="feature-img">
      <img src="../images/grant-red-shirt.jpg">
    </figure>
    <div class="feature-fill">  
    </div>
    <div class="feature-text">
      <h4>Insert Punchy Headline Here!</h4>
      <p>Don't know what I'm going to write, but let me do that here. YouTuber Jeff Grant geeks out on technology, cameras and being awesome.</p>
      <p>Another sentence to reinforce things.</p>
      <button class="default">Read our work stories.</button>
    </div>
  </section>
<section class="callout">
</section>
</div>
<!-- End main content -->




