<section class="hero">
  <div class="">
    <div class="hero__text-container">
      <div class="small-text-column">
        <p>Help them</p>
      </div>
      <div class="text-display-container flex-i">
        <h1><span class="indent">find</span><span>,</span><br> 
        <span class="indent">know</span><span>,</span><br>
        <span class="indent">trust</span><span>,</span><br>
        <span class="indent">&amp; love</span> you.</h1>
        <div class="">
          <div class="flex-c--col flex-c--center inner cta-container">
          <p class="center">Profit from a free, practical consultation.</p>
          <button class="btn rounded large attention"><a href="../contact">Get in touch</a></button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="banner flex-c--center">
  <div class="banner__inner center ">
    <h2 class="serif center room">We help you engage audiences with sophisticated digital communications crafted to raise funds and market your ventures. The results: <span class="underline">happiness</span> for them, <span class="underline">success</span> for you.</h2>
    <div class="vertical-line">
    </div>
  </div> 
</section>
<section class="benefits">
  <div class="flex-c">
    <div class="width-tune inner--s">
      <p class="text-as-background"> benefits</p>
    </div>
    <article>
      <figure class="flex-c">
        <div class="header__container flex-c--center">
          <div class="">
            <h6>Get meaningful results</h6>
          </div>
        </div>
        <div class="content-container">
          <div class="content__text hidden">
            <p>Build the foundations of a winning marketing program, which grows with you. Your goals define the work. And we calibrate the "how" to get the results you want. </p>
          </div>
        </div>
      </figure>
      <figure class="flex-c">
        <div class="header__container flex-c--center">
          <h6>Grow with methods you can sustain</h6>
        </div>
        <div class="content-container">
          <div class="content__text hidden">
            <p>Avoid cycles of boom/bust with continual marketing, at the most minimal cost in time and price. 
            <p>Attract, gain and retain more prospects.</p>
          </div>
      </figure>
      <figure class="flex-c">
        <div class="header__container flex-c--center">
          <h6>Multiply success by leveraging connections</h6>
        </div>
        <div class="content-container">
          <div class="content__text hidden">
             <p>Give yourself to others and they'll bring themselves to you. Gain more mutually-satisfying relationships.</p>
          </div>
      </figure>
    </article>
  </div>
</section>
<section class="banner">
  <div class="">
    <div class="width-tune inner--s">
      <p class="text-as-background">how we help</p>
    </div>
    <div class="flex-c--center">
       <p class="fancy-text">We'll help you raise revenue with a process that's right for you. And you'll have access to insights and tools that increase your chances for success.</p>
    </div>
  </div>
</section>
<section class="panel">
  <article class="flex-c">
    <div class="panel__container flex-c--center">
      <div class="panel__content">
        <h4 class="center">marketing</h4>
        <p>Grow your online presence and widen your influence. Attract, engage and inspire action.</p>
        <ul class="hidden">
          <li>&mdash; lead generation</li>
          <li>&mdash; content marketing</li>
          <li>&mdash; media relations</li>
          <li>&mdash; social media</li>
          <li>&mdash; search engine optimization (SEO)</li>
        </ul>
        <div class="">
          <a href="../work/growth-marketing" /><button class="btn rounded">Learn more</button></a>
        </div>
      </div>
    </div>
    <div>
      <img src="./images/couple-selfie-sq.jpg" width="500px" alt="young couple taking selfie"/ >
    </div>
  </article>
</section>
<section class="panel">
  <article class="flex-c">
    <div class="panel__container flex-c--center">
      <div class="panel__content">
        <h4 class="center">fundraising</h4>
        <p class="">Win at public competitions for contracts and grants. Fuel has 20 years experience in helping clients compete for state and federal awards.</p>
        <ul class="hidden">
          <li>&mdash; Advising on opportunities &amp; RFPs</li>
          <li>&mdash; Small business funding (e.g., SBIR)</li>
          <li>&mdash; Public contract bids</li>
          <li>&mdash; Grant proposals</li>
        </ul>
        <div class="button__container">
          <button class="btn large rounded shadow"><a href="../work/proposal-writing">Learn more</a></button>
        </div>
      </div>
    </div>
    <div>
      <img src="./images/office.jpg" width="500px" alt="people in a conference room"/ >
    </div>
  </article>
</section>
<section class="testimonials flex-c flex-c--center">
  <blockquote class="testimonial">
    <p class="fine-print">Marketing / Media</p>
    <p class="hidden">Dave recognized our needs and...maximized our media coverage. His strategic writing and thinking amplified our voice and extended our reach.</p>
    <figcaption class="flex-c--center">
      <div>
        <p>Shira Goodman, Executive Director</p>
        <p>CeaseFirePA</p>
      </div>
    </figcaption>
  </blockquote>
  <blockquote class="testimonial">
    <p class="fine-print">Fundraising</p>
    <p class="hidden">Caroline excels in all aspects of grant writing, from putting pen to paper, working with clients and overall time management. I look forward to my continued work with her.</p>
    <figcaption class="flex-c--center">
      <div>
        <p>Darci Granda, Managing Director</p>
        <p>McAllister &amp; Quinn</p>
      </div>
    </figcaption>
  </blockquote>
</section>
<section>
  <figure class="flex-c">
    <div class="">
      <img src="../images/jeff-grant-headshot-crop.jpg" width="500px" alt="Jeff Grant, videographer and YouTuber">
       <figcaption class="flex-c--col inner">
        <p>Videographer and YouTuber, Jeff Grant</p>
      </figcaption>
    </div>
    <div class="flex-c--col">
        <div class="inner width-75">
          <h4>How to reach the younger generation</h4>
          <p>We created family-friendly, educational content for a driver's ed company. We tapped our network and interviewed YouTube influencers. The result: the brand's new influencer approach connected better with young adults and their parents. </p>
        </div>
      <button class="btn outline width-75 fine-print">
        <a href="../projects">Read our success stories.</a>
      </button>
    </div>
</figure>
</section>

<!-- End main content -->




