<!-- Begin main section -->
<div class="home page__wrap">
  <section class="pros">
      <h2>Your vision. Made real.</h2>
      <h4>We'll turn your vision into an online showcase of your evolving company or brand. So, you can grow your reputation and reach.</h4>
    <div class="card-container">
    <figure class="card">
        <i class="fas fa-hand-holding-heart"></i>
        <h6>Where Mind Meets Heart</h6>
        <p>We'll help you learn who knows you and what they're doing and saying.</p>
    </figure>
    <figure class="card">
      <i class="fas fa-hand-holding-heart"></i>
      <h6>We Meld Heart and Mind</h6>
      <p>We'll help you learn who knows you and what they're doing and saying.</p>
      </figure>
      <figure class="card">
        <i class="fas fa-hand-holding-heart"></i>
        <h6>We Meld Heart and Mind</h6>
        <p>We'll help you learn who knows you and what they're doing and saying.</p>
    </figure>
    <figure class="card">
      <i class="fas fa-hand-holding-heart"></i>
      <h6>We Meld Heart and Mind</h6>
      <p>We'll help you learn who knows you and what they're doing and saying.</p>
      </figure>
    </div> <!-- close card container -->
  </section>
  <section class="samples grid-container">
    <div class="grid__item top-left">
      <h2>See how we have highlighted interesting stories of leadership and innovation.</h2>
    </div>
    <div class="grid__item animated-img top-right">
      <img class="fade-in-element hidden" src="./images/colgate.jpg">
    </div>
    <div class="grid__item animated-img bottom-left">
      <img class="fade-in-element hidden" src="./images/colgate.jpg">
    </div>
    <div class="grid__item animated-img bottom-right">
      <img class="fade-in-element hidden" src="./images/colgate.jpg">
    </div>
</section>
<section class="contact">

</section>
</div>
<!-- End main -->




