<!-- Begin main section -->
<main class="home page__wrap">
  <section class="pros">
      <h2>You're Original</h2>
      <h4>We help you articulate a vision. And then showcase your evolving company or brand. So, you can grow your reputation and reach.</h4>
    <div class="card-container">
    <figure class="card">
        <i class="fas fa-hand-holding-heart"></i>
        <h6>Where Mind Meets Heart</h6>
        <p>We'll help you learn who knows you and what they're doing and saying.</p>
    </figure>
    <figure class="card">
      <i class="fas fa-hand-holding-heart"></i>
      <h6>We Meld Heart and Mind</h6>
      <p>We'll help you learn who knows you and what they're doing and saying.</p>
      </figure>
      <figure class="card">
        <i class="fas fa-hand-holding-heart"></i>
        <h6>We Meld Heart and Mind</h6>
        <p>We'll help you learn who knows you and what they're doing and saying.</p>
    </figure>
    <figure class="card">
      <i class="fas fa-hand-holding-heart"></i>
      <h6>We Meld Heart and Mind</h6>
      <p>We'll help you learn who knows you and what they're doing and saying.</p>
      </figure>
    </div> <!-- close card container -->
  </section>
  <section class="samples">

</section>
<section class="contact">

</section>
</main>
<!-- End main -->




