<div id="caseJeffGrant" class="wrapper"></div> 
    <div class="">
        <p>Why are YouTubers revered by their fans? What makes a YouTube channel a success? And how have the profile of vloggers become influencers and media stars on par with TV starts, in the eyes of their fans. Fuel has work with Jeff Grant to offer everyday advice to teens and young adults based on his life as a videographer, geer geek, new dad and YouTuber.</p>
        <p>Jeff turned the camera on himself in 2009, launching JeffGrantMedia on YouTube. His channel evolved in sync YouTube community as well as his busy personal and professional life. During that era, pioneers of YouTube filmed skits, newsy segments, lifestyle tips or sketch comedy with their friends. </p>
        <p>Over the past decade, Jeff has seen the YouTube streams outside Scanton, the city made famous by Michael Scott, Jim and Pam, and their fictional colleagues in The Office (US version).</p>
        <p>YouTube influencers like Jeff have the attention of teens who imagine gaining notice what they love best: joking with friends, gaming or showing off their humor, style or special skill. </p>
        <p>How can you be a social media influencer? Whether you're a brand, small company, or a rising star, it takes dedication and hard work.</p>
        <p>Jeff Grant did a vlog daily challenge for a year. He made it! But he doesn't advise others to follow suit.  Such a feat involved shooting, editing, posting and networking every single day.</p>
        <p>Care about your audience</p>
        <p>Who inspires you to create?</p>
        <p>What about sponsorship? Who do you partner with.</p>
        <p>#realuserreview</p>
    </div>
    <figure>
        <img src="../images/jeff-grant-on-location.jpg" height="400px" width="600px" alt="Videographer Jeff Grant on location">
        <figcaption>
            <p>{{ caption }}</p>
            <p>{{ credit }}</p>
        </figcaption>
    </figure>
</div>

