<div id="caseJeffGrant" class="wrapper"></div> 
    <figure>
        <img src="../images/jeff-grant-on-location.jpg" height="400px" width="600px" alt="Videographer Jeff Grant on location">
        <figcaption>
            <p>{{ caption }}</p>
            <p>{{ credit }}</p>
        </figcaption>
    </figure>
</div>

