<section class="hero">
    <div class="hero__inner">
        <p class="page-title"><span class="highlight">{{ shortTitle }}</span></p>
        <h1>Lead Generation</h1>
        <h4>We'll help you generate interest in your product or service.</h4>
       <!-- <ul class="flex-c space-between tag-container">
            {{#each tag}}
            <li class="flex-item btn small rounded outline">{{this}}</li>
            {{/each}}
        </ul> -->
    </div>
</section>
<header class="subnav visible-on-large">
    <div class="flex-c--col hero__inner">
    <ul class="flex-c flex-c--space-between label-row">
      <a href="#service-landers"><li class="label center lead">Landing pages</li></a>
      <a href="#service-email"><li class="label center fund">Email</li></a>
      <a href="#service-white-papers"><li class="label center lead darker">White papers</li></a>
      <a href="#service-social"><li class="label center lead lighter">Social media</li></a>
    </ul>
  </div>
</header>
<section>
<div class="inner">
    <h2>Benefits</h2>
    <p>Gain better leads with content tailored to the desired audience.</p>
    <p>Profit from a team with experience writing on technical topics tailored for CTOs, IT directors, physicians and other high-level professionals.</p>
    <p>Work processes that are repeatable and can be handed off to in-house teams.</p>
</div>
</section>
<section>
    <div class="inner">
        <h2>How we help</h2>
        <p>We help you identify the avenues for leads and weigh the pros and cons of various approaches.</p>
        <p>We translate your brief into your desired content such as white paper, landing page or blog post.</p>
        <p>We adapt or change course, as needed. We use data to replicate what works and pivot on what doesn't.</p>
    </div>
</section>
<section>
    <div class="inner">
    <h2>What we offer</h2>
        <article id="service-landers">
            <h3>Landing pages</h3>
            <p>We offer landing pages with custom design and compelling copy.</p>
        </article>
          <article id="service-email">
            <h3>Email</h3>
            <p>Email remains a powerhouse for lead generation and interesting subscribers in buying your product or service. We can design and write your emails using your preferred vendor.</p>
        </article>
        <article id="service-white-papers">
            <h3>White papers</h3>
            <p>Using a "thought leadership" approach, we design and write long-form content that offers unique, authoritative insights. The goal is to help decision-makers decide on you for larger purhases, such as enterprise software.</p>
        </article>
        <article id="service-social">
            <h3>Social media</h3>
            <p>We create social media content that propel lead generation campaigns. Social media can amplify campaigns.</p>
        </article>
    </div>
</section>
<section>
    <div class="inner">
        <h2>Our track record &amp; qualifications</h2>
        <p>We've had the honor to work with entrepreneurs, sales directors, startups, agencies and large companies to help with growth campaigns.</p>
        <p>We're most known for the ability to understand and communicate technical information to audiences.</p>
    </div>
</section>
<section>
    <div class="inner">
        <h2>Our process</h2>
        <p>We begin with a free consultation to discuss your campaign and learn more about you.</p>
        <p>During a discovery process, we understand your brand, audience and lead generation goals.</p>
        <p>Then, we develop a strategy and brief based on the input of key members of your team. We assign work to specialists to ensure the best design and copy quality.</p>
        <p>We break the work in segments, so you can review our work and we can improve work without wasted effort.</p>
    </div>
</section>
<section class="project flex-c--center">
  <div class="flex-i">
    <h2>Case Study</h2>
    <a href="../projects/websites"><p>Lead generating websites</p>
  <a href="../projects/websites"></a>
    <img src="./images/fibonacci-red.svg" alt="fibonacci spiral"/>
  </a>
</div>
</section>
<div class="callout__wrap">
    {{> callout-work}}
</div>


