<header>
    
</header>
<main class="grid__item grid__item--main" id="lead-gen">
    <div class="text-container">
        <p>A leading cybersecurity company hired Fuel Copy to write a white paper to strengthen its market position. While the brand is an industry leader with 1,000+ employees in the US, China, India and Europe, the niche is highly competitive. Similar companies are vying for a share of an estimated global market of over $120B.</p>
    </div>
    <div class="text-container">
        <h3>Challenge</h3>
        <p>Companies fear breaches similar to those at  Equifax, Paypal, Netflix, Twitter and countless others. Despite real threats, Security Administrators face complex purchasing decisions. Adopting new enterprise software technology requires burdensome and costly  infrastructure changes.</p>
    </div>
    <figure>
        <img src="" alt="">
        <figcaption>

        </figcaption>
    </figure>
    <div class="text-container text-continer__primary">
        <h3>Solution</h3>   
        <p>The company asked for an unassailable rationale for adoption of their software solutions. And their unique value proposition was certainly compelling. Their software can halt intrusions before they become catastrophes.</p>
        <p>Taking direction from the company’s marketing department, we researched current data and trends in cybersecurity. Then, we created buyer personas to ensure to content met success.</p>
        <p>Drawing inspiration from respected and popular tech sources (e.g., Ars Technica), we wrote highly technical information in a interesting, clear way.</p>
    </div>
    <figure>
        <img src="/images/business.jpg" alt="">
        <figcaption>
            
        </figcaption>
    </figure>
    <div class="text-container">
        <h3>Results</h3>
        <p>The resulting white paper gave an overview of probable security threats and described how the company’s unique approach is more effective and offer a superior return on investment. As the call to action, the company offers effective solutions that are less expensive and burdensome to deploy.</p>
    </div>

