<section class="hero">
  <h1>Online into the world.</h1>
  <article class="headline">
    <p>Need inspiration for a content campaign? See our work.</p>
    <a href="#projects">Projects</a>
  </article>
</section>
<section class="panel blue">
    <h2>Always evolving, so you get ahead.</h2>
    <p>You imagine and we create. As we create, you'll discover new opportunities. And then, we'll make the best use of new information and ideas.</p> 
</section>
<section class="panel pink">
    <h2>Mind the long game while getting it done today.</h2>
    <div class="icon-container">
        <figure>
            <img src="/images/relation.svg" height="200" width="200" alt="relations icon">
        </figure>
        <figure>
            <img src="/images/strategy.svg" height="200" width="200" alt="strategy icon">
        </figure>
        <figure>
            <img src="/images/web.svg" height="200" width="200" alt="web icon">
        </figure>
    </div> 
</section>
<section class="breweries" id="breweries">
    <ul>
      <li>
        <figure>
          <!-- Photo by Quentin Dr on Unsplash -->
          <img src="https://images.unsplash.com/photo-1471421298428-1513ab720a8e" alt="Several hands holding beer glasses">
          <figcaption><h3>Billions upon billions</h3></figcaption>
        </figure>
        <p>
          Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
        </p>
        <a href="#">Visit Website</a>
      </li>
      <li>
        <figure>
          <!-- Photo by Drew Farwell on Unsplash -->
          <img src="https://images.unsplash.com/photo-1513309914637-65c20a5962e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80" alt="Several friends doing a toast">
          <figcaption><h3>Drake Equation</h3></figcaption>
        </figure>
        <p>
          Another world citizens of distant epochs from which we spring descended from astronomers Orion's sword shores of the cosmic ocean.
        </p>
        <a href="#">Visit Website</a>
      </li>
      <li>
        <figure>
          <!-- Photo by Rawpixel on Unsplash -->
          <img src="https://images.unsplash.com/photo-1535359056830-d4badde79747?ixlib=rb-1.2.1&auto=format&fit=crop&w=3402&q=80" alt="Three different glasses of beer">
          <figcaption><h3>Vast cosmic arena</h3></figcaption>
        </figure>
        <p>
          Galaxies the ash of stellar alchemy prime number science inconspicuous motes of rock and gas brain is the seed of intelligence.
        </p>
        <a href="#">Visit Website</a>
      </li>
    </ul>
  </section>



