<div class="hero--tiny flex-c--col centered">
   <div class="">
        <h1 class="center">{{title}}</h1>
    </div> 
</div>
<div class="layout--post">
<div class="flex centered">
    <div class="layout--post-text">
        <h6><a class="link-visible" href="../about/caroline-leopold">{{author}}</a></h6>
        <h6>{{date}}</h6>
        {{{body}}}
    </div>
</div>
</div>
