<section class= "samples__container">
    <figure class="overlay sample__item--1">
      <a href="#"><img class="image" src ="/images/storefront.jpg" class="sample__img" alt="Colgate web page" />
      <div class="normal">
        <figcaption class="text">Health Brands</figcaption>
      </div>
      <div class="hover"></div>
      <div class="text">Lorum ipsum</div>
    </a>
    </figure>
    
  
    <figure class="overlay featured sample__item--2">
      <img src ="/images/storefront-b.jpg" class="sample__img" alt="Philadelphia skyline in black and white" />
      <figcaption class="title">Lifestyle</figcaption>
      <div class="overlay"></div>
        <div class="button"><a href="#">See Story</a>
      </div>
    </figure>
     
     
     <figure class="overlay featured sample__item--3">
      <a href="#"><img src ="/images/el-trains.jpg" class="sample__img" alt="Elevated trains"></a>
    </figure>

    
    <figure class="sample sample__item--4">
      <img src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22942_hires.jpg" alt="Juno's Latest Flyby of Jupiter Captures Two Massive Storms">
    </figure>
    
    <figure class="sample sample__item--5">
      <a href="./projects/lead-generation"><img src="/images/cyber-security.jpg" alt="lock"/>
    </figure>

  </section>

<!-- <img src ="/images/colgate.png" class="sample__img" alt="Colgate web page"> -->
    




