<section id="" class="">
  <p>Here's our work.</p>
        <a href="#projects">Projects</a>
    </div>  
</section>
<section class= "grid-samples">
    <figure class="sample sample__item--1">
      <img src ="/images/colgate.png" class="sample__img" alt="Colgate web page">
    </figure>
     <figure class="sample sample__item--2">
      <img src ="/images/storefront.jpg" class="sample__img" alt="Colgate web page">
    </figure>
     <figure class="sample sample__item--3">
      <img src ="/images/phila-bw.jpg" class="sample__img" alt="Philadelphia skyline in black and white">
    </figure>
     <figure class="sample sample__item--4">
      <img src ="/images/el-trains.jpg" class="sample__img" alt="Elevated trains">
    </figure>
     <figure class="sample sample__item--5">
      <img src ="/images/relation.svg" class="sample__img" alt="">
    </figure>
     <figure class="sample sample__item--6">
      <img src ="/images/phone-post.jpg" class="sample__img" alt="cellphone">
    </figure>
</section>




