<section class="hero">
  <div class="inner">
    <p class="fine-print">Case Study</p>
    <h1>Mass Shootings, No More</h1>
    <h4>Here's how our PR expert brought the media spotlight to a massive gun violence prevention rally in Pennsylvania.</h4>
  </div>
</section>
<section class="">
  <div class="flex-c justify-between case-container">
    <div class="case-container__main">
      <p class="fine-print">Background</p>
     <p>Pennsylvania not-for-profit CeaseFirePA aims to end the epidemic of gun violence across the Commonwealth and the country through education, coalition building, and advocacy. </p> 
     <p>They organized a rally to take a stand against gun violence, which would become one of the largest assemblies in Pennsylvania's Capitol in Harrisburg. Media relations expert, Dave Scholnick, developed a strategy to attract media attention to this historic event.</p>
  </div>
  <aside>
    {{>case-meta}} 
  </aside>
</div>
</section>

<section class="flex-c case-container">
  <div class="case-container__main">
    <p class="fine-print">Challenge</p>
    <p>CeaseFirePA saw an opportunity to mount a powerful action in support of legislation to reduce gun violence.</p>
    <p> If hundreds turned up in Harrisburg, CeaseFirePA would get the attention  of politicians, but to really  make an impact, they needed to communicate with voters across the Commonwealth.</p>
    <p>CeaseFirePA didn't have the staff and resources to deploy media representatives across Pennsylvania. But, they needed a strategy beyond press releases and newspaper editorials, which wouldn't reach smaller media markets.</p>
  </div>
  <aside class="case-container__aside flex-c--center">
    <div class="">
      <p class="center"></p>
      <p class="center">36,000 Americans die from gun violence &mdash; largely suicide &mdash; each year </p>
      <div class="social-container flex-c--center">
        <img src="../images/flowers.svg" width="64px" />
      </div>
    </div>
  </aside>
</section>

<section class="flex-c case-container">
  <div class="case-container__main">
      <p class="fine-print">Solution</p>
      <p>CeaseFirePA hired media Dave Scholnick, communications expert, to help attract broad press coverage and penetrate hyper-local media markets. </p>
      <p>Dave worked with CeaseFirePA executive director, Shira Goodman, to craft a strategy to generate hometown stories. Dave pitched the idea that bus pickups across Pennsylvania could attract local media for this major event.</p>
      <p> Dave and CeaseFirePA tapped relationships with reporters to ensure the story landed in the right hands. And Dave's idea of training bus drivers as media liaisons was an ingenious press relations strategy. Dave coordinated media at the bus stops and trained bus drivers.</p>
    </div>
  <aside class="case-container__aside flex-c--center">
    <div class="banner content-sidebar">
        <blockquote>“Dave recognized our needs and...maximized our media coverage. His strategic writing and thinking amplified our voice and extended our reach. It moved our agenda forward. &mdash; Shira Goodman, Executive Director, Cease Fire PA”</blockquote>
    </div>
    <img src="../images/harrisburg.jpg" height="" width="" alt="CeaseFirePA gun violence prevention rally in Harrisburg">
  </aside>
</section>

<section class="flex-c case-container">

    <div class="banner content-sidebar">
        <blockquote>“Dave recognized our needs and...maximized our media coverage. His strategic writing and thinking amplified our voice and extended our reach. It moved our agenda forward. &mdash; Shira Goodman, Executive Director, Cease Fire PA”</blockquote>
    </div>
    <img src="../images/harrisburg.jpg" height="" width="" alt="Cease Fire PA rally in Harrisburg">
    <figcaption>
        <p>TODO (name of speaker) and caption</p>
        <p>Photo: Courtesy of TODO</p>
    </figcaption>
</div>
    </div>
  </div>
     <div class="main-content">
       <div class="main-content__inner">
        <p class="fine-print">Results</p>
        <p>
            Results may include numbers who came to rally and the names, numbers and links to press/ media mentions.
        </p>
      </div>
    </div>
</section>
<section class="next-project theme--pool flex-c">
  <div class="inner--l flex-c--col flex-c--center link-style">
    <p>See Next Project</p>
    <p class="link-text-large"><a  href="../projects/founder-stories">Content Marketing</a></p>
  </div>
    <div class="img-link">
      <a href="../projects/founder-stories"><img class="grayscale" src="../images/boats-wide.jpg" width="600"  /></a>
   </div>
</section>
{{> svg}}






