<section class="hero">
  <div class="inner">
    <p class="fine-print">Case Study</p>
    <h1>Mass Shootings, No More</h1>
    <h4>Here's how our PR expert brought the media spotlight to a massive gun violence prevention rally in Pennsylvania.</h4>
  </div>
</section>

<section class="grid__wrap--case-story inner-l stripes">

  <article class="grid-summary-p">
    <div class="case-container__text">
      <p class="fine-print">Background</p>
      <p>Pennsylvania not-for-profit CeaseFirePA aims to end the epidemic of gun violence. They organized a rally to support legisltaion. The action would become one of the largest assemblies at Pennsylvania's Capitol. Media relations expert, Dave Scholnick, developed a strategy to attract more media attention to this historic event.</p>
     </div>
    </article>
  <aside class="grid-meta-p">
    {{>case-meta}} 
  </aside>

 <article class="grid-challenge-p">
    <div>
    <p class="fine-print">Challenge</p>
    <p>CeaseFirePA saw an opportunity to mount a powerful action in support of legislation to reduce gun violence.</p>
    <p> If hundreds turned up in Harrisburg, CeaseFirePA would get the attention  of politicians, but to  make a real impact, they needed to communicate with voters across the Commonwealth.</p>
    <p>CeaseFirePA didn't have the staff and resources to deploy media representatives across Pennsylvania. But, they needed a strategy beyond press releases and newspaper editorials, which wouldn't reach smaller media markets.</p>
  </div>
  </article>
  <aside class="grid-image-p">
   <img src="../images/harrisburg.jpg" height="" width="" alt="CeaseFirePA gun violence prevention rally in Harrisburg">
   </aside>

 


<article class="grid-solution-p">
      <p class="fine-print">Solution</p>
      <p>CeaseFirePA hired media Dave Scholnick, communications expert, to help attract broad press coverage and penetrate hyper-local media markets. </p>
      <p>Dave worked with CeaseFirePA executive director, Shira Goodman, to craft a strategy to generate hometown stories. Dave pitched the idea that bus pickups across Pennsylvania could attract local media for this landmark event.</p>
      <p> Dave and CeaseFirePA tapped relationships with reporters to ensure the story landed in the right hands. And Dave's idea of training bus drivers as media liaisons was an ingenious press relations strategy. Dave coordinated media at the bus stops and trained bus drivers.</p>
    </article>

      <article class="grid-quote">
        <blockquote class="theme--dark"><p class="center">“Dave recognized our needs and...maximized our media coverage. His strategic writing and thinking amplified our voice and extended our reach. It moved our agenda forward." &mdash; Shira Goodman, Executive Director, Cease Fire PA</p></blockquote>
      </article>


  </div>
   
  </section>



<section class="next-project theme--pool flex-c">
  <div class="inner--l flex-c--col flex-c--center link-style">
    <p>See Next Project</p>
    <p class="link-text-large"><a  href="../projects/founder-stories">Content Marketing</a></p>
  </div>
    <div class="img-link">
      <a href="../projects/founder-stories"><img class="grayscale" src="../images/boats-wide.jpg" width="600"  /></a>
   </div>
</section>
{{> svg}}






