<section class="hero">
    <div class="text-container">
        <h1>{{title}}</h1>
        <h4>{{summary}}</h4>
        <ul data-type="pr-tags">
            {{#each tag}}
            <li>{{this}}</li>
            {{/each}}
        </ul> 
    </div>
</section>
<section class="case-study">
    <div class="center text-block">
        <div class="headline">
        <p>Every year in America, some 36,000 people are killed by guns and 100,000 more are injured.<span>*</span> CeaseFirePA united violence survivors and community members to take a stand against gun violence. That action became the largest assembly on Pennsylvania's state capitol in history.</p>
        <p class=""><span>*</span>Source: Everytown</p>
        </div>
            <figure class="column hero-image">
                <img class=""src="../images/overhead.jpg" alt= "Protest against gun violence in Harrisburg, PA">
                <figcaption></figcaption>
            </figure>
        </div>
    </div>
    <div class="main-side-container flex-container">
        <div class="main-content">
            <p class=fine-print>Challenge</p>
            <p>
                Consumed with politics and logistics, the staff just didn’t have the bandwidth to take advantage of the media opportunities the rally presented. This event was big. But to get outlets outside Harrisburg to cover it would take hard work and creative thinking.
            </p>
            <p class="fine-print">Solution</p> 
            <p>Dave Scholnick worked with Executive Director Shira Goodman to craft a strategy to pitch hometown stories in communities where activists would board buses. Combined with traditional tactics, including op-eds, a strong press release, and old-fashioned relationship building, the strategy succeeded in earning headlines across the state.</p>
        </div>
        <aside>
            <p>“Dave recognized our needs and...maximized our media coverage. His strategic writing and thinking amplified our voice and extended our reach. It moved our agenda forward.”</p>
        </aside>
    </div>
<figure>
    <img src="../images/harrisburg.jpg" height="" width="" alt="Videographer Jeff Grant on location">
    <figcaption>
        <p>TODO (name of speaker) and caption</p>
        <p>Photo: Courtesy of TODO</p>
    </figcaption>
</figure>
     <div class="main-content">
        <p class=fine-print>Results</p>
        <p>
            Results may include numbers who came to rally and the names, numbers and links to press/ media mentions.
        </p>
    </div>
</section>




