<section class="hero">
    <div class="">
        <h1>{{title}}</h1>
        <h4>{{summary}}</h4>
        <ul data-type="pr-tags">
            {{#each tag}}
            <li>{{this}}</li>
            {{/each}}
        </ul> 
    </div>
</section>
    <div class="">
        <p>Every day in America, 100 people are killed with guns. In Pennsylvania, about 1,500 lives are lost each year.</p>
        <p>With these life-and-death stakes looming, CeaseFirePA planned a gun violence prevention rally, which became the largest in Pennsylvania's history.</p>
        <figure class="column hero-image">
            <img class=""src="../images/overhead.jpg" alt= "Protest against gun violence in Harrisburg, PA">
            <figcaption>Photo: Courtesy of TODO</figcaption>
        </figure>
    </div>
</div>
<figure>
    <img src="../images/harrisburg.jpg" height="400px" width="600px" alt="Videographer Jeff Grant on location">
    <figcaption>
        <p>TODO (name of speaker) and caption</p>
        <p>Photo: Courtesy of TODO</p>
    </figcaption>
</figure>


