<section class="hero--short">
  <div class="inner">
    <p class="fine-print">Case Study</p>
    <h1>Mass Shootings, No More</h1>
    <h4>Here's how our PR expert brought the media spotlight to a massive gun violence prevention rally in Pennsylvania.</h4>
  </div>
</section>
<section class="">
  <div class="flex-c justify-between case-container">
    <div class="case-container__main">
      <p class="fine-print">Summary</p>
      <p class="">With critical gun control legislation on the table, a fearless not-for-profit, CeaseFirePA mounted an unprecedented rally inside the Pennsylvania State Capitol.</p> 
      <p>Media expert, Dave Scholnick, catalyzed a press strategy to bring coverage to Harrisburg, a smaller media market, to the rest of the state and the nation.</p>
  </div>
  <aside>
    {{>case-meta}} 
  </aside>
</div>
</section>

<section class="case-study">
  <div class="callout">
    <div class="inner">
          <h4>In America, 100 people die by guns every day.<span>*</span></h4>
      <p class="">Every year in America, some 36,000 people are killed by guns and 100,000 more are injured.<span>*</span> CeaseFirePA united violence survivors and community members to take a stand against gun violence. That action became the largest assembly on Pennsylvania's state capitol in history.</p>
      <p class=""><span>*</span>Source: Everytown</p>
    </div>
  </div>
</section>

<section class="flex-c case-container">
  <div class="case-container__main">
    <p class="fine-print">Challenge</p>
    <p>Consumed with politics and logistics, the staff just didn’t have the bandwidth to take advantage of the media opportunities the rally presented. This event was big. But to get outlets outside Harrisburg to cover it would take hard work and creative thinking.
    </p>
  </div>
  <aside class="case-container__aside flex-c--center">
    <div class="">
      <p class="center"></p>
      <p class="center">36,000 Americans die from gun violence &mdash; largely suicide &mdash; each year </p>
      <div class="social-container flex-c--center">
        <img src="../images/flowers.svg" width="64px" />
      </div>
    </div>
  </aside>
</section>

      <p class="fine-print">Solution</p> 
      <p>Dave Scholnick worked with Executive Director Shira Goodman to craft a strategy to pitch hometown stories in communities where activists would board buses. Combined with traditional tactics, including op-eds, a strong press release, and old-fashioned relationship building, the strategy succeeded in earning headlines across the state.</p>
    </div>
    <div class="banner content-sidebar">
        <blockquote>“Dave recognized our needs and...maximized our media coverage. His strategic writing and thinking amplified our voice and extended our reach. It moved our agenda forward. &mdash; Shira Goodman, Executive Director, Cease Fire PA”</blockquote>
    </div>
    <img src="../images/harrisburg.jpg" height="" width="" alt="Cease Fire PA rally in Harrisburg">
    <figcaption>
        <p>TODO (name of speaker) and caption</p>
        <p>Photo: Courtesy of TODO</p>
    </figcaption>
</div>
    </div>
  </div>
     <div class="main-content">
       <div class="main-content__inner">
        <p class="fine-print">Results</p>
        <p>
            Results may include numbers who came to rally and the names, numbers and links to press/ media mentions.
        </p>
      </div>
    </div>
</section>
<section class="next-project flex-c--center">
    <p class="inner spaced">See Next Project</p>
    <a class="large-link flex-c--center" href="../projects/founder-stories">
      <p class="link-text-large">Content Marketing</p></a>
    <div class="img-display">
      <a href="../projects/founder-stories"><img class="grayscale" src="../images/landing-page.svg" width="300px" />
    </div>
  </a>
</section>
{{> svg}}






