<section class="hero">
  <div class="inner">
    <p class="fine-print">Case Story</p>
    <h1>A Show of Strength</h1>
    <h4>Here's how our PR expert brought the media spotlight to a massive gun violence prevention rally in Pennsylvania.</h4>
  </div>
</section>

<section class="grid__wrap--case-story inner-l stripes">

  <article class="grid-summary-p">
    <div class="case-container__text">
      <p class="fine-print">Background</p>
      <p>Pennsylvania not-for-profit CeaseFirePA aims to end the epidemic of gun violence, claiming more than 1,500 lives each year in the Commonwealth.</p> 
      <p>The small staff was organizing what was to become the biggest gun violence prevention rally ever in Pennsylvania, an event that was sure to get noticed by elected officials. But to get the change they sought, CeaseFirePA also needed to grab the attention of people in contested districts. People who vote. Therefore, they hired Dave Scholnick, a media expert to help with PR. </p>
     </div>
    </article>
  <aside class="grid-meta-p">
    {{>case-meta}} 
  </aside>

 <article class="grid-challenge-p">
    <div>
    <p class="fine-print">Challenge</p>
    <p>CeaseFirePA saw an opportunity to mount a massive action in support of legislation to reduce gun violence. But that alone wouldn’t draw statewide media coverage to a demonstration in Harrisburg, PA. </p>
    <p> If hundreds turned up in Harrisburg, CeaseFirePA would get the attention  of politicians, but to  make a real impact, they needed to communicate with voters across the Commonwealth.</p>
    <p>However, CeaseFirePA didn't have the staff and resources to deploy a media strategy across the state. And the turnout projections kept growing, which meant CeaseFirePA's staff was stretched thin.</p>
  </div>
  </article>
  <aside class="grid-image-p">
   <img src="../images/harrisburg.jpg" height="" width="" alt="CeaseFirePA gun violence prevention rally in Harrisburg">
   </aside>

<article class="grid-solution-p">
      <p class="fine-print">Solution</p>
      <p>CeaseFirePA hired media and communications expert, Dave Scholnick, communications expert, to help attract broad press coverage and penetrate hyper-local media markets. </p>
      <p>Dave worked with Executive Director Shira Goodman to craft a strategy to garner media attention in big markets hometown stories in key suburbs. They submitted multiple op-eds to big and medium newspapers and leveraged relationships to ensure the story landed in the right hands.</p>
      <p>Next, Dave pitched several of the bus pickups as their own stories to a deep list of large and local news outlets. He distributed talking points to designated volunteer coordinators on each bus and issued targeted local media advisories with logistical details.</p>
    </article>

      <article class="grid-quote-p">
        <blockquote class="theme--dark center larger">“Dave recognized our needs and...maximized our media coverage. His strategic writing and thinking amplified our voice and extended our reach. It moved our agenda forward."
        <div class="flex-c--center">
          <p>&mdash; Shira Goodman, Executive Director, CeaseFirePA</p>
        </div>
        </blockquote> 
      </article>
  

      <article class="grid-results-p">
      <p class="fine-print">Results</p>
      <p>Pennsylvanians witnessed dramatic reports on television and radio in the state’s three biggest media markets. Readers woke up to stories in major metropolitan daily papers and small town weeklies across the state.</p>
      <p><span class="color--pool"><a class="color--pool" href="https://twitter.com/hashtag/everyguneverysale">#EveryGunEverySale</a> trended on Twitter during the rally.</p>
      <p>One reporter in a key Philadelphia suburb covered the bus pickup and then rode with activists to Harrisburg for a front-page story in the <a class="wordlink" href="../https://www.delcotimes.com/news/background-check-battle-arrives-at-the-capitol/article_2a2d439e-54c3-5d27-8d2c-38522b865209.html"<i>Delaware County Daily Times</i></p></a>.
      <p>The media push generated coverage across channels to a combined circulation, viewership, and listenership of more than 1.6 million Pennsylvanians.</p>
    </article>
    <aside class="grid-img-2">
      <img src="../images/overhead-min.jpg" alt = "overhead view of Harrisburg rally" />
      
    </aside>


  </div>
   
  </section>



<section class="next-project theme--pool flex-c">
  <div class="inner--l flex-c--col flex-c--center link-style">
    <p>See Next Project</p>
    <p class="link-text-large"><a  href="../projects/founder-stories">Content Marketing</a></p>
  </div>
    <div class="img-link">
      <a href="../projects/founder-stories"><img class="grayscale" src="../images/boats-wide.jpg" width="600" alt="boats"  /></a>
   </div>
</section>
{{> svg}}






