<div id="" class="wrapper"></div> 
    <header class="flexbox-container hero short">
        <div class="text-container"></div>
                <div class="case-data">
                    <h2>{{title}}</h2>
                    <ul class="">
                        {{#each tag}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul> 
                </div>
        </div>
            <p>Why are YouTubers revered by their fans? What makes a YouTube channel a success? And how have the profile of vloggers become influencers and media stars on par with TV starts, in the eyes of their fans. Fuel has work with Jeff Grant to offer everyday advice to teens and young adults based on his life as a videographer, geer geek, new dad and YouTuber.</p>
        </div>
    </header>
        <div class="row flexbox-container">
            <div class="column">
                <p>Jeff turned the camera on himself in 2009, launching JeffGrantMedia on YouTube. His channel evolved in sync YouTube community as well as his busy personal and professional life. During that era, pioneers of YouTube filmed skits, newsy segments, lifestyle tips or sketch comedy with their friends. </p>
                <p>Over the past decade, Jeff has seen the YouTube streams outside Scanton, the city made famous by Michael Scott, Jim and Pam, and their fictional colleagues in The Office (US version).</p>
                <p>YouTube influencers like Jeff have the attention of teens who imagine gaining notice what they love best: joking with friends, gaming or showing off their humor, style or special skill. </p>
            </div>
            <figure class="column hero-image">
                <!-- <img class=""src="../images/grant-red-shirt.jpg" alt= "Jeff Grant, videographer" / -->
                <figcaption>Photo: RMM</figcaption>
            </figure>
        </div>
           
    <p>161 words
        In Spring 2016, CeaseFirePA was planning Pennsylvania’s biggest gun violence prevention rally ever. Top legislators and gun violence survivors were scheduled to speak, and 11 buses were booked to carry activists from around the country. 
The Challenge: Consumed with politics and logistics, the staff just didn’t have the bandwidth to take advantage of the media opportunities the rally presented. This event was big. But to get outlets outside Harrisburg to cover it would take hard work and creative thinking.

The Solution: Dave Scholnick worked with Executive Director Shira Goodman to craft a strategy to pitch hometown stories in communities where activists would board buses. Combined with traditional tactics, including op-eds, a strong press release, and old-fashioned relationship building, the strategy succeeded in earning headlines across the state. 

“Dave recognized our needs and helped us develop a plan that maximized our media coverage,” Shira said. “His strategic writing and thinking amplified our voice and extended our reach. It moved our agenda forward.”


278 words

Each day in America, 100 people are killed with guns. Pennsylvania’s share is close to 1,500 per year. With these life-and-death stakes looming, CeaseFirePA planned the biggest gun violence prevention rally in Pennsylvania history in the state’s capital, Harrisburg.

Top legislators were scheduled to speak; 11 buses were booked to bring activists from around the state. Executive director Shira Goodman and her staff were consumed with politics and logistics. There was no bandwidth to execute the communications work needed for an event like this. 

Shira asked Dave Scholnick what it would take to get press coverage across the state for an rally that took place in a small media market. With all the work and all the people giving up their day to be there, she couldn’t afford to waste the opportunity.

In addition to submitting a series of op-eds, Dave suggested targeting local media in communities where activists would board buses. He tailored nine individual advisories and created a talking points memo for bus captains who might speak to reporters.

The strategy worked both conceptually and practically. It spotlighted a set of hometown stories that wouldn’t compete against the big event. Pennsylvanians witnessed dramatic reports on television and radio in the state’s three biggest media markets. Readers woke up to stories in major metropolitan daily papers and small town weeklies across the state. One suburban reporter boarded the bus and rode with activists to the rally for a cover story on the trip.

“Dave recognized our needs and helped us develop a plan that maximized our media coverage,” Shira said. “His strategic writing and thinking amplified our voice and extended our reach. It moved our agenda forward.”</p>

        
    </div>
    <figure>
        <img src="../images/jeff-grant-on-location.jpg" height="400px" width="600px" alt="Videographer Jeff Grant on location">
        <figcaption>
            <p>{{ caption }}</p>
            <p>{{ credit }}</p>
        </figcaption>
    </figure>
</div>

