<section class="dynamic"></section>
    <h1>{{title}}</h1>
    <p>Look something's dynamic {{title}}</p>
</section>
<section class="intro">
    <h1>A Lorem Ipsum Header 1</h1>
    <p>An awesome paragraph</p>   
</section>

{{#if error}}
    <p>Error getting dynamic content.</p>
{{else}}
  <p>Here are the products</p>
{{/if}}

<ul>
    <li></li>
</ul>