<div id="projects" class="projects-wrapper">
<section class="hero">
<div class="hero__inner">
    <h1>We help brands tell their story in interesting and innovative ways. Draw inspiration from their successes!</h1>
  </div>
</section>

<p class="fine-print center">featured projects</p>

 <article class="project-card case-study__jg flex-c hidden">
      <div class="flex-c">
        <div class="text-margin inner">
          <p class="fine-print">influencer marketing / social media</p>
          <h4>How To Befriend the YouTube Generation</h4>
          <p>Fuel pitched a way to reach "Generation Z" -- by connecting a brand with influencers young people could understand. A true win-win effort.</p>
          <div class="btn-container flex-c flex-c--center">
          <button class="btn night primary fine-print flex-item-half"><a href="../projects/social-media-influencer">Read the story</a></button>
        </div>
        </div>
      </div>
      <figure class="panel-img">
          <a href="../projects/social-media-influencer">
            <img class="grayscale image__content" src="../images/grant-sit-tight.jpg" alt="Videographer Jeff Grant">
          </a>
        <figcaption>Videographer &amp; YouTuber Jeff Grant</figcaption>
      </figure>
    </article>

    <article class="project-card flex-c hidden">
      <div class="flex-c--center">
        <div class="text-margin inner">
          <p class="fine-print">earned media / pr</p>
          <h4>Mass Action To End Mass Shootings</h4>
          <p>How a press campaign brought a historic gun violence action to the national stage.</p>
          <div class="btn-container flex-c flex-c--center">
          <button class="btn outline fine-print flex-item-half"><a href="../projects/press-campaign">Read the story</a></button>
        </div>
        </div>
      </div>
      <figure class="panel-img">
        <a href="../projects/press-campaign"><img src="../images/harrisburg-tight.jpg" alt="Rally against gun violence Harrisburg at Pennsylvania State Capitol"></a>
        <figcaption>Advocates and community members in Pennsylvania's state capitol</figcaption>
      </figure>
    </article>

  <article class="flex-c hidden">
      <div class="flex-c--center">
        <div class="text-margin inner">
          <p class="fine-print">content marketing / SEO</p>
          <h4>Founder stories stir imagination, grow traffic</h4>
          <p>A travel startup invited dozens of companies to tell founder stories.</p>
        <div class="btn-container flex-c flex-c--center"> 
          <button class="btn outline fine-print flex-item-half"><a href="../projects/founder-stories">Read the story</a></button>
        </div>
        </div>
      </div>
      <figure class="panel-img">
        <img src="../images/rex.jpg" alt="airplane wing">
        <figcaption></figcaption>
      </figure>
    </article>
  
   <article class="flex-c hidden">
      <div class="flex-c--center">
        <div class="text-margin inner">
          <p class="fine-print">Web design</p>
          <h4>Digital onboarding made easier</h4>
          <p>Fuel helps bootstrapped companies get a web presence faster. And for a lower cost.</p>
        <div class="btn-container flex-c flex-c--center"> 
          <button class="btn outline fine-print flex-item-half"><a href="../projects/web-design">Read the story</a></button>
        </div>
        </div>
      </div>
      <figure class="panel-img">
        <img src="../images/desktop.svg" alt="desktop computer">
        <figcaption></figcaption>
      </figure>
    </article>

   <article class="flex-c hidden">
      <div class="flex-c--center">
        <div class="text-margin inner">
          <p class="fine-print">Funding comms</p>
          <h4>SBIR grants consulting</h4>
          <p>How we helped biotech startups get R&D funding</p>
         <div class="btn-container flex-c flex-c--center"></div>
          <button class="btn outline fine-print flex-item-half"><a href="../projects/web-design">Read the story</a></button>
        </div>
        </div>
      </div>
      <figure class="panel-img">
        <img src="../images/biotech-tight.jpg" alt="desktop computer">
        <figcaption></figcaption>
      </figure>
    </article>
    </section>


