<div id="projects" class="projects-wrapper">
<section class="hero">
<div class="text-container">
  <div class="text-transform-container">
    <p class="page-title"><span class="highlight">{{ shortTitle }}</span></p>
    <h1>We help brands tell their story in interesting and innovative ways. Draw inspiration from their successes!</h1>
  </div>
</div>
</section>
<section class="services grid-container">
  <div class="title-box">
    <h2>Lessons learned and friendships forged.</h2>
  </div>
  <div class="card-container grid-container-fluid">
    <figure class="card grid-item-1 hidden">
      <h6>Strategy</h6>
      <img src="https://loremflickr.com/150/150" alt="icon1" />
      <figcaption>Insider advice, pragmatic plans and research to achieve your goals.</figcaption>
    </figure>
    <figure class="card grid-item-2 hidden">
      <h6>Website &amp; Content Design</h6>
      <img src="https://loremflickr.com/150/150" alt="icon2" />
      <figcaption>Style and substance to engage and convert.</figcaption>
    </figure>
    <figure class="card grid-item-3 hidden">
      <h6>Copy</h6>
      <img src="https://loremflickr.com/150/150" alt="icon3">
      <figcaption>Share the right message to the right person with copy and content.</figcaption>
    </figure>
    <figure class="card grid-item-4 hidden">
      <h6>Content Marketing</h6>
      <img src="https://loremflickr.com/150/150" alt="icon4">
      <figcaption>For inbound campaigns, blogs, whitepapers, etc.</figcaption>
    </figure>
     <figure class="card grid-item-5 hidden">
      <h6>Proposals</h6>
      <img src="https://loremflickr.com/150/150" alt="icon3">
      <figcaption>Get more contracts from companies or the government with proposals that sell.</figcaption>
    </figure>
    <figure class="card grid-item-6 hidden">
      <h6>Campaigns</h6>
      <img src="https://loremflickr.com/150/150" alt="icon4">
      <figcaption>Remove???</figcaption>
    </figure>
  </div>
  </section>
  <section class="grid-container card-container fluid full">
    <figure class="card hidden">
      <p class="fine-print">social media</p>
      <h4>How To Make Friends With YouTube</h4>
      <img src="../images/grant-sit-camera.jpg" alt="Videographer Jeff Grant">
      <figcaption>Get pragmatic plans and opportunities. </figcaption>
    </figure>
    <figure class="card hidden">
      <p class="fine-print">Carve out a corner online. Gain and retain.</p>
      <img src="https://loremflickr.com/400/400" alt="icon4">
      <h4>Attract and engage more visitors.</h4>
      <figcaption>From lead generation to growth.</figcaption>
    </figure>
    <figure class="card hidden">
    <p class="fine-print">Copywriting &amp; content</p>
    <img src="https://loremflickr.com/400/400" alt="icon4">
      <h4>Convey messages above the crowd</h4>
      <figcaption>Share the right message to the right person with copy and content.</figcaption>
    </figure>
     <figure class="card hidden">
      <p class="fine-print">Grants &amp; contracts.</p>
      <h4>Win at public competitions for contracts and grants.</h4>
      <img src="https://loremflickr.com/400/400" alt="icon4">
      <figcaption>Proposals to get you SBIR grants and contracts.</figcaption>
    </figure>
  </section>
<div class="container-cta">
        <button class="btn"><a href="../contact">Let's talk shop.</a></button>
    </div>
 