<div id="projects" class="projects-wrapper">
  <section class="hero-short">
    <div class="hero__inner">
      <h1>We help brands share themselves in real and appealing ways. Draw inspiration from their successes!</h1>
    </div>
  </section>
  <section class="grid-c__fluid--xl">
    <article class="flex-c--col">
        <figure class="project case-study__jg ">
          <a href="../projects/social-media-influencer">  
          <figcaption class="project--overlay project--meta content--details fadeIn-bottom ">
            <h4 class="narrow">How To Befriend the YouTube Generation</h4>
            <p class="fine-print">influencer marketing</p> 
            <p class="fine-print">social media</p>
          </figcaption>
          <img class="img--filter image__content" src="../images/grant-sit-tight.jpg" alt="Videographer Jeff Grant">
          </a>
      </figure>
  </article>

  <article>
      <figure class="project">
        <a href="../projects/press-campaign">
          <img class="grayscale image__content" src="../images/harrisburg-tight.jpg" alt="Rally to prevent gun violence in Harrisburg at Pennsylvania State Capitol">
          <figcaption class="project--meta project--overlay">
          <p class="fine-print">earned media / pr</p>
          <h4>Mass Action To End Mass Shootings</h4>
        </figcaption>
        </a>
      </figure>
      <figure class="project">
      <a href="../projects/founder-stories">
        <img class="grayscale image__content" src="../images/pool-plane.jpg" alt="airplane shadow on beach">
        <figcaption class="project--meta project--overlay">
        <p class="fine-print">content marketing / SEO</p>
        <h4>Founder stories stir imagination, grow traffic</h4>
      </figcaption>
      </a>
    </figure>
  </article>
  <article class="flex-c-col">
      <figure class="project">
        <a href="../projects/websites">
          <img class="grayscale image__content" src="../images/desktop.svg" alt="desktop computer">
          <figcaption class="project--meta project--overlay">
            <p class="fine-print">Web design</p>
            <h4>Digital onboarding made easier</h4>
        </figcaption>
        </a>
      </figure>
      <figure class="project">
        <a href="../projects/sbir-grants">
          <img class="grayscale image__content" src="../images/biotech-tight.jpg" alt="abstract painting">
          <figcaption class="project--meta project--overlay">
            <p class="fine-print">Funding comms</p>
            <h4>SBIR grants consulting</h4>
          </figcaption>
        </a>
      </figure>
      <figure class="project">
      <a href="../projects/founder-stories">
        <img class="grayscale image__content" src="../images/rex.jpg" alt="airplane wing">
        <figcaption class="project--meta project--overlay">
        <p class="fine-print">content marketing / SEO</p>
        <h4>Founder stories stir imagination, grow traffic</h4>
      </figcaption>
      </a>
    </figure>
  </article>
  </section>
</div> <!-- end content wrap -->


