<section class="hero">
   <div class="text-container">
    <h1>We help brands tell their story in interesting and innovative ways. Draw inspiration from their successes!</h1>
    <div class="container-cta">
        <button class="btn" <a href="../contact">Let's talk shop.</a></button>
    </div>
</div>
</section>
<section class="services grid-container">
    <div class="s-card grid-item two-6">
      <h4>Bigger than Hollywood--YouTubers and their Fans [Influencer marketing]</h4>
      <img src="" alt="icon1" />
    </div>
    <div class="container-cta">
        <button class="btn" <a href="../projects/jeff-grant-technology-influencer">Learn more.</a></button>
    </div>
    </div>
  
    <div class="s-card grid-item two-6">
      <h4>Design</h4>
      <img src="#" alt="icon2" />
    </div>
    <div class="s-card grid-item three-6">
      <h4>Copy</h4>
      <img src="https://loremflickr.com/900/400" alt="icon3">
    </div>
    <div class="s-card grid-item four-6">
      <h4>Content Marketing</h4>
      <img src="https://loremflickr.com/900/400" alt="icon4">
    </div>
  </section>
 