<div id="projects" class="projects-wrapper">
<section class="hero">
<div class="text-container">
  <div class="text-transform-container">
    <p class="page-title"><span class="highlight">{{ shortTitle }}</span></p>
    <h1>We help brands tell their story in interesting and innovative ways. Draw inspiration from their successes!</h1>
  </div>
</div>
</section>
<p class="fine-print">featured projects</p>
 <section class="grid-container fullscreen">
    <article class="flex-container hidden">
      <div class="flex-center">
        <div>
          <p class="fine-print">social media</p>
          <h4>How To Befriend the YouTube Generation</h4>
          <p>Fuel pitched a way to reach "Generation Z" -- by connecting a brand with an influencer young people could understand. A true win-win effort.</p>
          <button "class=btn"><a href="../projects/social-media-influencer">Read the story</a></button>
        </div>
      </div>
      <figure class="img-container">
        <a href="../projects/social-media-influencer"><img src="../images/grant-sit-camera.jpg" alt="Videographer Jeff Grant"></a>
        <figcaption>Jeff Grant, videographer and YouTuber</figcaption>
      </figure>
    </article>

    <article class="flex-container hidden">
      <div class="rlex-center">
        <div>
          <p class="fine-print">public relations</p>
          <h4>To End Mass Shootings Takes Mass Action</h4>
          <p>How a press campaign brought a historic gun violence action to the national stage.</p>
          <button "class=btn"><a href="../projects/press-campaign">Read the story</a></button>
        </div>
      </div>
      <figure class="panel-img">
        <a href="../projects/press-campaign"><img src="../images/harrisburg.jpg" alt="Rally against gun violence Harrisburg at Pennsylvania State Capitol"></a>
        <figcaption>Advocates and community members in Pennsylvania's state capitol</figcaption>
      </figure>
    </article>

  <article class="flex-container hidden">
      <div class="flex-center">
        <div>
          <p class="fine-print">content marketing / SEO</p>
          <h4>Founder stories stir imagination, grow traffic</h4>
          <p>A travel startup invited dozens of companies to tell founder stories.</p>
          <button "class=btn"><a href="../projects/social-media-influencer">Read the story</a></button>
        </div>
      </div>
      <figure class="panel-img">
        <img src="../images/rex.jpg" alt="airplane wing">
        <figcaption></figcaption>
      </figure>
    </article>
  
   <article class="flex-container hidden">
      <div class="flex-center">
        <div>
          <p class="fine-print">Web design</p>
          <h4>Digital onboarding made easier</h4>
          <p>Fuel helps bootstrapped companies get a web presence faster. And for a lower cost.</p>
          <button "class=btn"><a href="../projects/web-design">Read the story</a></button>
        </div>
      </div>
      <figure class="panel-img">
        <img src="../images/desktop.svg" alt="desktop computer">
        <figcaption></figcaption>
      </figure>
    </article>

   <article class="flex-container hidden">
      <div class="flex-center">
        <div>
          <p class="fine-print">Funding comms</p>
          <h4>SBIR grants consulting</h4>
          <p>How we helped biotech startups get R&D funding</p>
          <button "class=btn"><a href="../projects/web-design">Read the story</a></button>
        </div>
      </div>
      <figure class="panel-img">
        <img src="../images/biotech.png" alt="desktop computer">
        <figcaption></figcaption>
      </figure>
    </article>


