<div id="projects" class="projects-wrapper">
<section class="hero">
<div class="text-container">
  <div class="text-transform-container">
    <p class="page-title"><span class="highlight">{{ shortTitle }}</span></p>
    <h1>We help brands tell their story in interesting and innovative ways. Draw inspiration from their successes!</h1>
  </div>
</div>
</section>

<p class="fine-print">featured projects</p>
 <section class="grid-container fullscreen">
    <figure class="flex-container hidden">
      <div class="panel">
        <div>
          <p class="fine-print">social media</p>
          <h4>How To Make Friends With YouTube</h4>
          <p>Fuel pitched a way to reach "Generation Z" -- by connecting an influencer with a message young people could understand. A true win-win effort.</p>
        </div>
      </div>
      <div class="panel-img">
        <a href="../projects/social-media-influencer"><img src="../images/grant-sit-camera.jpg" alt="Videographer Jeff Grant"></a>
        <figcaption>Jeff Grant, videographer and YouTuber</figcaption>
      </div>
    </figure>


    <figure class="flex-container hidden">
      <div class="panel">
        <div>
          <p class="fine-print">public relations</p>
          <h4>To End Mass Shootings Takes Mass Action</h4>
          <p>How a press campaign brought a historic gun violence action to the national stage.</p>
        </div>
      </div>
      <div class="panel-img">
        <a href="../projects/press-campaign"><img src="../images/harrisburg.jpg" alt="Rally against gun violence Harrisburg at Pennsylvania State Capitol"></a>
        <figcaption>Advocates and community members in Pennsylvania's state capitol</figcaption>
      </div>
    </figure>

    <figure class="card hidden">
    <p class="fine-print">Copywriting &amp; content</p>
    <img src="../images/rex.jpg" alt="airplane wing">
      <h4>Convey messages above the crowd</h4>
      <figcaption>Share the right message to the right person with copy and content.</figcaption>
    </figure>
     <figure class="card hidden">
      <p class="fine-print">Grants &amp; contracts.</p>
      <h4>Win at public competitions for contracts and grants.</h4>
      <img src="../images/track.jpg" alt="icon4">
      <figcaption>Proposals to get you SBIR grants and contracts.</figcaption>
    </figure>
  </section>


  <section class="grid-container card-container fluid full-col">
    <figure class="card hidden">
      <p class="fine-print">social media</p>
      <h4>How To Make Friends With YouTube</h4>
      <a href="../projects/social-media-influencer"><img src="../images/grant-sit-camera.jpg" alt="Videographer Jeff Grant"></a>
      <figcaption>Get pragmatic plans and opportunities. </figcaption>
    </figure>
    <figure class="card hidden">
      <p class="fine-print">Carve out a corner online. Gain and retain.</p>
      <a href="../projects/press-campaign"><img src="../images/harrisburg.jpg" alt="Rally against gun violence Harrisburg at Pennsylvania State Capitol"></a>
      <h4>Attract and engage more visitors.</h4>
      <figcaption>From lead generation to growth.</figcaption>
    </figure>
    <figure class="card hidden">
    <p class="fine-print">Copywriting &amp; content</p>
    <img src="../images/rex.jpg" alt="airplane wing">
      <h4>Convey messages above the crowd</h4>
      <figcaption>Share the right message to the right person with copy and content.</figcaption>
    </figure>
     <figure class="card hidden">
      <p class="fine-print">Grants &amp; contracts.</p>
      <h4>Win at public competitions for contracts and grants.</h4>
      <img src="../images/track.jpg" alt="icon4">
      <figcaption>Proposals to get you SBIR grants and contracts.</figcaption>
    </figure>
  </section>
<div class="container-cta">
        <button class="btn"><a href="../contact">Let's talk shop.</a></button>
    </div>
 