<section class="dynamic"></section>
    <h1>{{title}}</h1>
    <p>Look something's dynamic {{title}}</p>
</section>
<section class="intro">
    <h1>This is Portfolio Projects</h1>

    <p>An awesome paragraph Projects</p>   
</section>
<ul class="client_list">
{{#each client}}
<li>{{this}}</li>
{{/each}}
</ul>



<form action="/projects" method="POST">
  <input type="text" placeholder="client" name="client">
  <input type="text" placeholder="product" name="product">
  <input type="text" placeholder="url" name="url">
  <button type="submit">Submit</button>
</form>