<div id="projects" class="projects-wrapper">
<section class="hero-short">
<div class="hero__inner">
    <h1>We help brands share themselves in real and appealing ways. Draw inspiration from their successes!</h1>
  </div>
</section>
<div class="inner">
<section class="projects-container flex-c">
  <div class="flex-c-col temp-margin">
    <figure class="project case-study__jg ">
      <a href="../projects/social-media-influencer">
        <img class="grayscale image__content" src="../images/grant-sit-tight.jpg" alt="Videographer Jeff Grant">
        <figcaption class="project--meta project--overlay">
        <p class="fine-print">influencer marketing / social media</p>
        <h4>How To Befriend the YouTube Generation</h4>
      </figcaption>
      </a>
    </figure>
    <figure class="project">
      <a href="../projects/press-campaign">
        <img class="grayscale image__content" src="../images/harrisburg-tight.jpg" alt="Rally to prevent gun violence in Harrisburg at Pennsylvania State Capitol">
        <figcaption class="project--meta project--overlay">
        <p class="fine-print">earned media / pr</p>
        <h4>Mass Action To End Mass Shootings</h4>
      </figcaption>
      </a>
    </figure>
    <figure class="project">
    <a href="../projects/founder-stories">
      <img class="grayscale image__content" src="../images/rex.jpg" alt="airplane wing">
      <figcaption class="project--meta project--overlay">
      <p class="fine-print">content marketing / SEO</p>
      <h4>Founder stories stir imagination, grow traffic</h4>
    </figcaption>
    </a>
  </figure>  
</div>
 <div class="flex-c-col">
    <figure class="project">
      <a href="../projects/web-design">
        <img class="grayscale image__content" src="../images/desktop.svg" alt="desktop computer">
        <figcaption class="project--meta project--overlay">
          <p class="fine-print">Web design</p>
          <h4>Digital onboarding made easier</h4>
      </figcaption>
      </a>
    </figure>
    <figure class="project">
      <a href="../projects/sbir-grants">
        <img class="grayscale image__content" src="../images/biotech-tight.jpg" alt="abstract painting">
        <figcaption class="project--meta project--overlay">
          <p class="fine-print">Funding comms</p>
          <h4>SBIR grants consulting</h4>
        </figcaption>
      </a>
    </figure>
    <figure class="project">
    <a href="../projects/founder-stories">
      <img class="grayscale image__content" src="../images/rex.jpg" alt="airplane wing">
      <figcaption class="project--meta project--overlay">
      <p class="fine-print">content marketing / SEO</p>
      <h4>Founder stories stir imagination, grow traffic</h4>
    </figcaption>
    </a>
  </figure>
</div>
</section>
</div> <!-- end content wrap -->


