<section class="hero">
    <div class="hero__inner-container">
    <p class="page-title"><span class="highlight">{{ shortTitle }}</span></p>
        <h1>Proposal Writing</h1>
        <h2>We help organizations successfully compete for grants and contracts. We've helped secure $50M for forward-thinking visionaries who founded projects that sustain health, hope and happinesss.</h2>
        <!--
        <ul class="flex-c space-between tag-container">
            {{#each tag}}
            <li class="flex-item btn small rounded outline">{{this}}</li>
            {{/each}}
        </ul> -->
    
    </div>
</section>
<section>
    <div class="flex-c--col hero__inner-container">
    <ul class="flex-c flex-c--space-between label-row">
      <li class="label center fund">Advising</li>
      <li class="label center fund light">Opportunity research</li>
      <li class="label center fund darker">Contract procurement<br>proposals</li>
      <li class="label center fund lighter">Small biz (SBIR)<br>proposal writing</bf></li>
      <li class="label center fund">Federal grant writing</li>
    </ul>
  </div>
</section>
<section>
    <h2>Benefits of grants and contracts</h2>
    <p>Public agencies reward companies and not-for-profits for solving important problems in cost-effective ways.</p>
    <ul>
        <li>Spare lives and end the opioid crisis</li>
        <li>New ways to diagnose cancer earlier</li>
        <li>Technology to discover new drugs and end global pandemics</li>
        <li>Help parents access health care for their kids.</li>
        <li>Mobile phone apps to encourage healthy lifestyle choices.</li>
    </ul>
</section>
<div class="callout__wrap">
    {{> callout-work}}
</div>