{{>team-hero}}
{{>svg-top}}

  <section class="flex-c--center inner--l">
    <div class="">
    <div class="bio-meta">
      <h2>Rich Garella</h2>
      <h4>Editor in Chief</h4>
      <p><a class="underline" href="{{linkedin}}">LinkedIn profile</a></p>
    </div>
    <div class="inner--l container__text">
        <p>Rich is a communications consultant and sometime journalist who has worked with Fuel since its founding, editing medical and technical documents, writing marketing pieces and giving a final polish to anything we produce. 
        <p>His interests include health care policy, election integrity and environmental and social justice issues. He has edited materials ranging from grant applications to academic dissertations to long-form journalism, always looking for ways to make every piece of writing as efficient and compelling as it can possibly be.</p>
        <p>Rich built an impressive record of success due to technical skill, a singular focus on the end goal and an ability to fill virtually any needed role.</p>
      </div>
    </div>
    <div class="brag-container flex-c--column">
      <div class="brag-text-container">
        <div class="brag-text">
          <h6 class="">Bragging Rights</h6>
          <i class="fal fa-award"></i>
        </div>
      </div>
      <ul class="hidden brag-bullets flex-c--center">
        <div>
        <li>As Communications Director, Rich helped progressive candidate Larry Krasner win election as District Attorney of Philadelphia. The race garnered wide coverage in <i>The New York Times</i>, <i>The Atlantic</i>, <i>The Los Angeles Times</i>, <i>The Philadelphia Inquirer</i>, <i>The Huffington Post</i>, and <i>Business Insider</i>.</li>
        <li>Produced a documentary, <i>Who Killed Chea Vichea</i>, that won Peabody Prize in 2011.</li>
        </div>
      </ul>
    </div>
</section>



