<section class="hero">
  <div class="hero__text-container flex-c--center">
    <div class="hero__text">
      <p class="fine-print">Meet the Team</p>
      <h1 class="huge large-print text-outline">Rich</h1>
    </div>
    <div class="image-container">
        <img src="../images/rich-garella.jpg" alt="Rich Garella" />
    </div>  
  </div>
</section>
<section class="flex-c">
  <div class="container--vertical-text">
    <p class="text-rotated">anchorman</p>
  </div>
  <div class="inner--l">
        <h4>Rich Garella</h4>
        <h6>Editor in Chief</h6>
        <p>Rich is a communications consultant and sometime journalist who has worked with Fuel since its founding, editing medical and technical documents, writing marketing pieces and giving a final polish to anything we produce. His interests include health care policy, election integrity and environmental and social justice issues. He has edited materials ranging from grant applications to academic dissertations to long-form journalism, always looking for ways to make every piece of writing as efficient and compelling as it can possibly be.</p>
        <p>Rich built an impressive record of success due to technical skill, singular focus on the end goal and ability to fill virtually any needed role.</p>
        <ul class="hidden">
            <li>As Communications Director, Rich helped progressive candidate Larry Krasner win election as District Attorney of Philadelphia. The race garnered wide coverage in The New York Times, The Atlantic, The Los Angeles Times, The Philadelphia Inquirer, HuffPost, and Business Insider.</li>
            <li>Produced a documentary, Who Killed Chea Vichea, that won Peabody Prize in 2011.</li>
        </ul> 
      </div>
    <div>
    <h6>Social</h6>
    <a href="{{linkedin}}"><i class="fab fa-linkedin"></i></a>
  </div>
</section>



