<section class="project flex-c--center">
  <div class="flex-i">
    <h2>Next Project</h2>
    <a href="../projects/social-media-influencer"><p>YouTube Influencer</p>
  <a href="../projects/social-media-influencer"></a>
    <img src="./images/grant-sit-tight.jpg" alt="laptop and cell phone"/>
  </a>
</div>
</section>