
<section class="hero theme--blue">
  <div class="hero__text-container flex-c--center">
    <div class="hero__text">
    <div class="fine-print">Case Study</div>
    <h1>Funding without dilution: Small business innovation research grants</h1>
    <h4>How we help tech and biotech companies win funding to bring their innovations to market</h4>
  </div>
</section>

<section class="grid-c--2x4 grid--center grid-w stripes inner--l">
    <div class="grid-item">
      <h6 class="fine-print">Summary</h6>
        <p>Billions in grant money fund promising ventures that offer novel ways to improve life, health and well-being.</p> 
        <p>While grants promise non-dilutive funding for small companies, these competitions are onerous, technocratic and consume resources.</p> 
        <p>Fuel has 20 years of grant success and makes the process easier by decoding the regulations, offering insider advice on what works and developing proposal elements.</p>
    </div>
    <aside>
      <div class="flex-c--center">
      {{>case-meta}} 
      </div>
    </aside>

  <div class="grid-item">
    <div class="inner">
      <h6 class="fine-print">Challenge</h6>
      <p>Note: To protect our client's privacy, this story had identifying details removed.</p>
      <p>A medical device company consulted with us on applying for a small business grant. They partnered with a university lab who had published promising research in their product area (dental device).</p>
      <p>The company wanted to develop a minimally-invasive procedure, so orthodontic patients may avoid painful and costly surgery.</p>
      <p>While the company had been profitable for years, they had no small business innovation research (SBIR) experience. And they expressed concerns that the application would consume their time and attention.</p>
    </div> 
  </div>
  <aside class="grid-item">
    <div class="">
       <p class="center outline white">SBIR/STTR success rates hover around 16% to 18%.</p> 
    </div>
  </aside>

  <div class="grid-item">
    <h6 class="fine-print">Solution</h6>   
    <p>During discovery, we identified the strengths of the partners. The company has been profitable for several years and had a novel approach to a serious orthodontic problem. The lab was productive with several publications in the subject area.</p>
    <p>We advised they apply for a small business technology transfer (STTR) grant because NIH reviewers would trust the university lab to carry out the research. The company was principal investigator and the lab was co-investigator.</p>
    <p>We helped the team discuss the proposed project with a NIH program officer.</p>
    <p>With only 10 weeks to deadline, Fuel assembled a team to take on key tasks, such as the research strategy and budget.</p>      
  </div>
  <div class="grid-item">
      <h6>Strategies</h6>
      <ul>
        <li>Strategy</li>
        <li>Opportunity research</li>
        <li>Project development</li>
        <li>Proposal writing</li>
        <li>Revise and resubmit support</li>
      </ul>
  </div>

  <div class="grid-item">
    <h6 class="fine-print">Results</h6>
    <p>The team won funding on the second try, which is an excellent result. The initial proposal scored well, but not high enough to meet the payline (cutoff for funding).</p>
    <p>The team discussed reapplying with their program officer who interpreted the review scores and comments. Fuel helped the team revise the proposal using review comments as a guide.</p>
    <p>The funding supported research for a minimally-invasive device to help orthodontic patients avoid painful and costly surgery.</p>
  </div>
    <div class="grid-item ">
      <div class="inner--l">
    <p class="fine-print">Winning tips</p>
    <ul>
          <li>Project should meet a greater good (i.e., be useful to others)</li>
         <li>Funds are for R&amp;D, not commercialization.</li>
         <li>Partnerships help fill in skill gaps.</li>
         <li>Evidence of research productivity (publications) is important.</li>
         <li>Reapplying is more than fine. Most principal investigators apply 2, 3 or more times.</li>
    </ul>
  </div>
</div>
</section>

<section class="next-project theme--red flex-c">
      <div class="inner--l flex-c--col flex-c--center">
        <p>See Next Project</p>
      <p class="link-text-large"><a href="../projects/social-media-influencer">Social Media Influencer</a></p>
    </div>
    <div class="img-display">
      <a href="../projects/social-media-influencer"><img class="grayscale" src="../images/jeff-grant-sq.jpg" width="" /></a>
  </div>
</section>
{{> svg}}
