<section class="hero">
  <div class="hero__inner">
    <h1>Growth without dilution: Small business innovation research grants</h1>
    <h4>How Fuel helped tech and biotech companies win funding to bring their innovations to market</h4>
  </div>
</section>
<section>
  <div class="inner">
    <div class="flex-c">
      <div class="case-meta">
        <h6 class="fine-print">Client</h6>
        <p>Various companies</p>
      </div>
      <div class="case-meta">
        <ul>
          <li><h6 class="fine-print">Team</h6></li>  
          <li><p>Caroline Leopold</p></li>
          <li><p>Rich Garella</p></li>
          <li><p>Dana Henry</p></li>
          <li><p>Ed Apffel</p></li>
        </ul>
      </div>
       <ul class="case-meta flex-c--col">
      {{#each tag}}
      <li><p>{{this}} / </p></li>
      {{/each}}
    </ul> 
  </div>
  </div>
</section>
<section class="case-study">
  <div class="callout">
    <div class="inner">
      <p>We help companies compete for more than $3 billion in small business innovation research grants (SBIR &amp; STTR). These non-dilutive funding sources underwrite research and development necessary to bring innovations to market.</p>
    </div>
  </div>
</section>
<section class="banner">
  <blockquote>“Grant writing testimonial. &mdash; Darci Granda, Executive Director, Cease Fire PA”  
  </blockquote>
  <img src="../images/getty-place.jpg" class="" />
</section>
<section>
  <div class="main-content flex-c">
    <div class="main-content__inner">
      <p class="fine-print">Challenge</p>
      <p>A web development agency requested our health marketing expertise to consult with a client.  The client hired the firm to build an ecommerce website to sell products targeted to marketing pros employed by pharmaceutical companies. The design firm asked us to help their client think through key marketing and presentation questions.</p>
      <p>The client had entrepreneurial experience, but was a newcomer to the pharma industry. He was unsure about how to reach healthcare marketers. If he couldn’t attract them, then business wouldn’t succeed.</p>
      <p>Another challenge was the client owned a small firm -- smaller than the companies that make up his target audience. That’s not necessarily an insurmountable problem, but the company needed to devote resources to cultivating prospective customers.</p>     
      <p class="fine-print">Solution</p>   
      <p>At the start of our relationship, we talked to the client about his target audience -- marketing managers in pharma companies. We helped him think about the sales cycle and what matters to his target market.</p> 
      <p>During these initial talks, we shared insights such as: the importance of a product-market fit and selling to pharma can be complex because there are many decision makers. The discussions of larger business questions helped the client refine his goals for the ecommerce site.</p> 
      <p>Next, Fuel developed the website content strategy. We mapped how the copy and content pieces buttressed the value proposition in a way that would appeal to health marketers.</p> 
      <p>We also shared research about how best to present information that’s clear and distinct from competitors.</p>
      <p>Finally, we wrote a website that tied the company’s products with what’s important to healthcare marketers. The website copy invited visitors to browse and buy branding products. And the blog posts reinforced the authority and expertise of the company.</p>      
    </div>
     <div class="main-content">
       <div class="main-content__inner">      
        <p class="fine-print">Results</p>
        <p>Fuel wrote all the copy and content for the website, which showed visitors how they could benefit from easy-to-buy and use branding products. By emphasizing benefits over features, the website was able to connect on what mattered to prospective buyers.</p>
        <p>In addition, Fuel created a content strategy and initial blogs to enable the company to create a dialogue with its audience. Content marketing made the company more relatable by sharing insights about healthcare branding.</p>
      </div>
    </div>
</section>
<section class="project flex-c--center">
  <div class="flex-i">
    <h2>Next Project</h2>
    <a href="../projects/sbir-grants"><p>Reward Expert</p></a>
  </div>
  <a href="../projects/sbir-grants">
    <img src="./images/biotech-tight.jpg" alt="abstract art"/>
  </a>
</div>
</section>