<section class="hero--short">
  <div class="inner">
    <p class="fine-print">Case Study</p>
    <h1>Social Media, Mighty Influence</h1>
    <h4>We found YouTube influencers to help a brand connect with "Generation Z."</h4>
    <div class="flex-c--center">
      <img src="../images/youtube.svg") width="64px" height="64px" alt="youtube play button logo" />
    </div>
  </div>
</section>
<section>
<div class="grid__wrap--case-story inner--l">
  <div class="grid-summary">
    <p class="fine-print">Summary</p>
    <p>Fuel finds talented influencers who bring charisma, expertise and a <span class="bold">following</span> to team with brands.</p>
    <p>Aceable, makers of a popular <a href="https://apps.apple.com/us/app/aceable-driving-school-app/id766014676">driver's school app</a>, asked for pitches for a content campaigns, focused on the dangers of driving while texting or distracted driving. Trustworthy content engage their base &mdash; learners and new drivers.</p>
    <p>We pitched the concept of interviewing YouTube influencers who can reach teen and young adult audiences better.</p>
  </div>
  <aside class="grid-meta">
    {{>case-meta}} 
  </aside>

  <div class="grid-challenge-s">
    <p class="fine-print">Challenge</p>
    <p>Aceable aimed to grow revenue from online driver's education available on desktop and a mobile. Their strategy was to use content marketing to increase engagement on some websites they own, including DriversEd.com and IDriveSafely.</p>  
    <p>The campaign's key audiences included teens, new drivers, young adults (ages 15 - 24).</p>
  </div>
  <aside class="grid-fact-sm">
      <p class="center">96% of young adults in the US watch YouTube.</p>
      <div class="social-container flex-c--center">
        <img src="../images/youtube.svg" width="48px" />
      </div>
  </aside>

  <div class="grid-solution-s">
    <p class="fine-print">Solution</p>
    <p>Fuel pitched the concept of interviewing YouTube influencers who have sway with younger, Gen-Z audiences. We selected influencers in Fuel's network who are relatable to young people but also their parents.</p> 
    <p>Our editorial style and content strategy was to create interviews that don't just repeat key safety messages, but also give a glimpse in the lives of these interesting and successful adults.</p> 
  </div>
  <div class="grid-strategy-s">
    <div>
      <h6>Strategies</h6>
      <ul class="indent">
        <li>Influencer outreach</li>
        <li>Pitches</li>
        <li>Interviews and follow-up</li>
        <li>Content creation</li>
        <li>Promotion</li>
      </ul>
    </div>
  </div>

    <div class="grid-spotlight-s case-container">
      <h4>Talk selfies &amp; safety</h4>
       <p>Fuel asked videographer Jeff Grant to discuss selfie safety and distracted driving on <a href="https://driversed.com/trending/youtuber-shares-tips-safe-selfies">Driversed.com</a>. He's been making videos, at his job and on YouTube. He's a relatable person using a camera to tell stories about his life and passions.</p>
       <p>As a YouTube content creator, tech nerd, tattoo enthusiast and new Dad, Jeff Grant is a relatable role model.</p>
       <p>Jeff gave an insider view on how social media stars get awe inspiring shots without risking their lives. Rather than being preachy, the content is practical.</p> 
       <a href="https://driversed.com/trending/youtuber-shares-tips-safe-selfies"><p>Read the article</p></a> 
    </div>
    <figure class="grid-img-s">
      <div class="img__display">
        <div class="img__images flex-c--column">
          <img class="front" src="../images/jeff-grant.jpg" alt= "videographer Jeff Grant with camera">
          <img class="top is-visible-on-large" src="../images/jeff-grant-drone.jpg" alt= "videographer Jeff Grant with camera">
          <img class="side is-visible-on-large" src="../images/jeff-grant-fly.jpg" alt= "videographer Jeff Grant with camera">
          <figcaption class="img__caption">
            <p>Jeff Grant, videographer and YouTuber</p>
          </figcaption>
          
        </div>
        
      </div>
    </figure>

  <figure class="grid-img2-s">
    <div>
    <img src="./images/kaynen-brown.jpg" width="400px" alt= "ER nurse and YouTuber Kaynen Brown">
    <figcaption>
      <p>Kaynen Brown, BSN, RN</p>
    </figcaption>
    </div>
  </figure>
  <div class="grid-spotlight2-s">
    <h4>Accounts from the frontline</h4>
      <p>Kaynen Brown, an emergency department nurse, to gave an frontline view of the devastation of teen accidents for<a href="https://www.idrivesafely.com/defensive-driving/trending/teen-accidents-view-emergency-room">&nbsp;IDriveSafely.com</a>. 
      <p>As part of the content strategy, Aceable asked for content to tie into AAA's message that summer is the "100 Deadliest Days.</p>
      <p>Brown is more than an expert, he's a relatable role model. He is candid about his nursing career and sometimes a tough day inspires a video.</p>
      <p>Brown founded the ER Forum channel in 2016 and it's had a meteoric rise. His videos have gotten over 500,000 views and is a leader in nursing content.</p><a href="https://www.idrivesafely.com/defensive-driving/trending/teen-accidents-view-emergency-room"><p>Read the article.</p></a>. 

  </div>

  <div class="grid-results-s">
    <p class="fine-print">Results</p>
    <p>Aceable published content to forge new and deeper connections among teens, young adults and parents. Our idea of working with influencers and experts was adopted in Aceable's content strategy.</p>  
    <p>The influencers we worked with were satisfied with their forays outside video and saw value in their voluntary contributions in return for exposure with a national brand. Further, Fuel's relationships with influencers on this project yielded new ideas and opportunities.</p> 
    <p>Here at Fuel, we are passionate about connecting social media influencers and brands.</p>
  </div>
  <div class="grid-see-work">
  </div>

</div>
</section>

<section class="next-project flex-c--center">
    <p class="inner spaced">See Next Project</p>
    <a class="large-link flex-c--center " href="../projects/press-campaign">
      <p class="link-text-large">Media Campaign</p></a>
    <div class="img-display">
      <a href="../projects/press-campaign"><img class="grayscale" src="../images/overhead.jpg" width="300px" />
    </div>
  </a>
</section>

