<section class="hero--short">
  <div class="inner">
    <p class="fine-print">Case Study</p>
    <h1>Hidden Health Threat</h1>
    <h4>How we helped a not-for-profit create a social marketing strategy to alert women of a serious bleeding disorder.</h4>
  </div>
</section>

<section class="grid-c--2x4">
    <div class="grid-item item-1 inner--l">
      <p class="fine-print">Summary</p>
      <p>We helped not-for-profit National Hemophilia Foundation (NHF) develop a social marketing approach to help college-aged women seek testing for von Willebrand disease (VWD), the most common inherited bleeding disorder. </p>
      <p>Social marketing applies traditional marketing to influence behavior for public benefit. In this case, NHF sought to increase the number of women seeking testing through social media campaigns and outreach to university health clinics.</p>
      <p>We helped NHF develop campaigns and write a persuasive grant proposal, resulting in a $2.3 million award from the Centers for Disease Control and Prevention (CDC).</p>
    </div>
    <aside class="case-meta-container grid-item-color item-2 flex-c--center">
      {{>case-meta}} 
    </aside>

  <div class="grid-item item-3 inner--l">
    <p class="fine-print">Challenge</p>
    <p>NHF needed expert help to present a plan, objectives and strategies with a high likelihood of reaching younger women.</p> 
    <p>NHF needed expertise in designing large-scale online, print and social networking campaigns that demonstrate results. </p>
    <p>A particularly difficult challenge is many women don't recognize heavy menstrual bleeding &mdash; a hallmark symptom of von Willebrand disease &mdash; as a problem. Therefore, NHF was tasked with raising awareness and offer ways to seek help.</p>
  </div>
      <div class="grid-item item-4 flex-c--center">
        <div>
      <p>Activities</p>
      <ul>
        <li>Social marketing design</li>
        <li>Literature review</li>
        <li>Research exemplary programs</li>
        <li>Logic model</li>
        <li>Evaluation plan</li>
      </ul>
      </div>
    </div>

  <div class="grid-item item-5 inner--l">
    <p class="fine-print">Solution</p>   
    <p>NHF's strong reputation and national programs served as the foundation for our work. We helped them tailor outreach with women and health providers, who evaluate symptoms.</p>
    <p>We researched examples of social marketing campaigns, which had strong evidence. And we adapted those strategies to reach measurable goals.</p> 
    <p>Next, we incorporated the strategies into proposal narrative, logic model and evaluation strategy. Due to the complexity of the project, we created tables that mapped each goal, strategy, measurement method and long-term outcome.</p> 
    <p>Finally, we worked with NHF to hone the logic to align with the CDC's priorities.</p>      
  </div>  
   <aside class="grid-item item-6">
    <img src="../images/better-you-know.png" />
    <figcaption>Website to raise awareness about bleeding disorders</figcaption>
  </aside>

  <div class="grid-item item-7 inner--l">
    <p class="fine-print">Results</p>
    <p>NHF launched new health campaigns with a $2.3 million grant from the CDC.</p>
    <p>The CDC publicly supported NHF as a partner in its work to diagnose and treat VWD.</p>
  </div>
</section>

<section class="next-project-container flex-c--center">
    <a class="flex-c--center" href="../projects">
      <p class="link-text-large"><span>See Next Project:</span>SBIR Grant Consulting</p>
    <div class="img-display">
      <img class="grayscale" src="../images/perelman-center.jpg" />
    </div>
  </a>
</section>
