<section class="hero ">
  <div class="inner">
    <p class="fine-print">Case Study</p>
    <h1>Social Media, Mighty Influence</h1>
    <h4>We found YouTube influencers to help a brand connect with "Generation Z."</h4>
  </div>
</section>
<section class="">
  <div class="flex-c justify-between case-container">
    <div class="inner">
      <p class="fine-print">Background</p>
      <p>Fuel finds talented influencers who bring charisma, expertise and a large following to team with brands.</p>
      <p>Aceable, makers of a popular <a href="https://apps.apple.com/us/app/aceable-driving-school-app/id766014676">driver's school app</a>, asked for pitches for content campaigns, focused on the dangers of driving while texting or distracted driving. Trustworthy content engage their base &mdash; learners and new drivers.</p>
      <p>We pitched the concept of interviewing YouTube influencers who can reach teen and young adult audiences better.</p>
  </div>
  <aside>
    <div class="flex-c--col case-meta">
      {{>case-meta}} 
    </div>
  </aside>
</div>
</section>

<div class="banner flex-c--center">

</div>

<section class="flex-c">
  <div class="case-container">
    <p class="fine-print">Challenge</p>
    <p>Aceable aimed to grow revenue from online driver's education available on desktop and a mobile. Their strategy was to use content marketing to increase engagement on some websites they own, including DriversEd.com and IDriveSafely.</p>  
    <p>The campaign's key audiences included teens, new drivers, young adults (ages 15 - 24).</p>
  </div>
  <aside class="case-container--tease flex-c--center">
    <div class="">
      <p class="larger">Most (96%) young adults in the US watch YouTube.</p>
      <div class="social-container flex-c--center">
        <img src="../images/youtube.png" />
      </div>
    </div>
  </aside>
</section>

<section class="spotlight">
  <div class="flex-c">
    <div class="container--vertical-text">
      <div class="text-rotated">
        <p>spotlight</p>
      </div>
    </div>
    <div class="case-container">
      <h4>Up One's Selfie Game, Safely</h4>
       <p>Fuel asked videographer Jeff Grant to discuss selfie safety and distracted driving on <a href="https://driversed.com/trending/youtuber-shares-tips-safe-selfies">driversed.com</a>. He's been making videos, at his job and on YouTube. He's a relatable person using a camera to tell stories about his life and passions.</p>
       <p>As a YouTube content creator, tech nerd, tattoo enthusiast and new Dad, Jeff Grant is a relatable role model.</p>
       <p>Jeff gave an insider view on how social media stars get awe inspiring shots without risking their lives. Rather than being preachy, the content is practical.</p>  
    </div>
    <figure>
      <img src="../images/jeff-grant.jpg" alt= "videographer Jeff Grant with camera">
      <figcaption>
        <p>Jeff Grant with video camera</p>
      </figcaption>
    </figure>
  </div>
</section>

<section class="flex-c">
  <div class="case-container">
    <p class="fine-print">Solution</p>
    <p>Fuel pitched the concept of interviewing YouTube influencers who have sway with younger, Gen-Z audiences. We selected influencers in Fuel's network who are relatable to young people but also their parents.</p> 
    <p>Our editorial style and content strategy was to create interviews that don't just repeat key safety messages, but also give a glimpse in the lives of these interesting and successful adults.</p> 
  </div>
  <div class="flex-c-center">
    <div class="case-container--list">
      <p>Strategies</p>
      <ul>
        <li>Influencer outreach</li>
        <li>Pitches</li>
        <li>Interviews and follow-up</li>
        <li>Content creation</li>
        <li>Promotion</li>
      </ul>
    </div>
  </div>
</section>

<section class="spotlight">
  <div class="flex-c">
    <div class="container--vertical-text">
      <div class="text-rotated">
        <p>spotlight</p>
      </div>
    </div>
    <div class="case-container">
      <figure>
        <img src="./images/kaynen-brown.jpg" alt= "ER nurse and YouTuber Kaynen Brown">
        <figcaption>
          <p>Kaynen Brown, BSN, RN</p>
        </figcaption>
      </figure>
    </div>
    <div class="case-container">
      <h4>Accounts from the frontline</h4>
       <p>Kaynen Brown, an emergency department nurse, to gave an frontline view of the devastation of teen accidents for<a href="https://www.idrivesafely.com/defensive-driving/trending/teen-accidents-view-emergency-room">&nbsp;IDriveSafely.com</a>. 
       <p>As part of the content strategy, Aceable asked for content to tie into AAA's message that summer is the "100 Deadliest Days.</p>
       <p>Brown is more than an expert, he's a relatable role model. He is candid about his nursing career and sometimes a tough day inspires a video.</p>
       <p>Brown founded the ER Forum channel in 2016 and it's had a meteoric rise. His videos have gotten over 500,000 views and is a leader in nursing content.</p>
    </div>
  </div>
</section>

<section class="case-container flex-c">
  <div class="">
    <p class="fine-print">Results</p>
    <p>Aceable published content to forge new and deeper connections among teens, young adults and parents. Our idea of working with influencers and experts was adopted in Aceable's content strategy.</p>  
    <p>The influencers we worked with were satisfied with their forays outside video and saw value in their voluntary contributions in return for exposure with a national brand. Further, Fuel's relationships with influencers on this project yielded new ideas and opportunities.</p> 
    <p>Here at Fuel, we are passionate about connecting social media influencers and brands.</p>
  </div>
  <div class="content__results--list">
    <p>Strategies</p>
    <ul>
      <li>Influencer outreach</li>
      <li>Pitches</li>
      <li>Interviews and follow-up</li>
      <li>Content creation</li>
      <li>Promotion</li>
    </ul>
  </div>
</section>

<section class="next-project-container flex-c--center">
    <a class="flex-c--center" href="../projects">
      <p class="link-text-large"><span>See Next Project:</span> PR campaigns</p>
    <div class="img-display">
      <img class="grayscale" src="./images/crowd-thumb.jpg" />
    </div>
  </a>
</section>
