<section class="hero-short">
  <div class="inner">
    <p class="fine-print">Case Study</p>
    <h1>Mighty Influence, Small Screens</h1>
    <h4>We partnered with YouTube influencers to help a company connect with "Gen Z."</h4>
  </div>
</section>

<a href="https://driversed.com/trending/youtuber-shares-tips-safe-selfies">See article</a>

<section class="block-spacer main-content--summary">
  <article class="summary-container">
    <div class="">
      <div class="flex-c justify-between">
        <following class="summary-text inner">
          <p>Fuel recruits talented influencers who bring charisma, expertise and a large following to team with brands.</p>
          <p>Videographer Jeff Grant turned the camera on himself in 2009, launching JeffGrantMedia on YouTube. His channel evolved with the growing YouTube community as well as his busy personal and professional life. During that era, pioneers of YouTube filmed skits, newsy segments, lifestyle tips or sketch comedy with their friends.</p>
          <p>Results: Aceable shared a message young people could understand and parents loved. On the other side, the brand gave influencers access to their community outside of social media.</p>
      </div>
      <aside>
        <div class="flex-c--col case-meta">
          {{>case-meta}} 
        </div>
      </aside>
    </div>
  </article>
</section>

<div class="banner flex-c--center">
  <p class="">Over 1 billion users watch YouTube every day, amounting to 1/3 of the internet, says Google. Younger users, dubbed "Gen Z," are turning to YouTube more than traditional media. Here at Fuel, we're great at connecting with video influencers because we're actually fans.</p>
</div>

<figure class="column hero-image">
  <img class=""src="../images/grant-sit-camera.jpg" alt= "Videographer Jeff Grant with camera">
  <figcaption></figcaption>
</figure>


<section>
<div class="iframe-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/avLbaq42iyI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</section>


<!-- https://developers.google.com/youtube/iframe_api_reference#Getting_Started -->


<!-- <div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/avLbaq42iyI?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&t=0m10s&playlist=avLbaq42iyI&mute=1" frameborder="0" allowfullscreen></iframe>
    </div>
  </div> -->

<!--
<div id="vidtop-content">
<div class="vid-info">
	  <h1>YouTube Fullscreen Background Demo</h1>
	  <p>The International Space Station orbits the Earth every 92 minutes, with its crew seeing a sunrise 15 times a day. It exists as a scientific, educational, and engineering platform in low orbit, 330 to 435 kilometres above the Earth.
     <p>Original timelapse by Riccardo Rossi (ISAA), used under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License. Raw photos courtesy of http://eol.jsc.nasa.gov/
	 <a href="/500/Use-YouTube-Videos-as-Fullscreen-Web-Page-Backgrounds">Full article</a>
  </div>
</div>

-->

<!-- vids gP2UGhKcTj0&t (3:30 to 4:03 [210 to 243] avLbaq42iyI, lJ-zybAX_dM, woeu_KxQRSc, gP2UGhKcTj0&t=457s -->



<figure class="images-container flex-c">
    <div>
        <img src="../images/grant-look-drone.jpg" height="" width="" alt="Videographer Jeff Grant on location">
    </div>
    <div>
        <img src="../images/grant-fly-drone.jpg" height="" width="" alt="Videographer Jeff Grant on location">
    </div>
</figure>
<div class="main-content">
    <p>
        How Companies Can Connect With Influencers
    </p>
    <p>
       Larger companies will look at smaller channels because they have a bigger spend and get a reach.

Jeff partnered with Jeff Lim, founder of Greenroom136 a maker of unique backpacks and urban gear. Greenroom136 has built a large following in the U.S. due to social media.

"I pitched Patrick the idea filming an honest review on my YouTube. As a true backpack addict, I'd be honest and enthusiastic. And he liked it."
    </p>
    <p>
        "People like negative reviews. The highest-viewed video on my channel was a negative review of a popular and expensive camera bag." 

The review generated controversy and that led to views as well as comments criticizing the video. Fans of the backpack wrote comments on the video. 

Highest viewed video on my channel 66,000 reviews - a popular backpack - expensive. Macbook of camera bags. A status symbol. They have $2,000 to spend to do email (He is a Macbook pro user because video edidting).
    </p>
</div>
</section>
<section class="next-project-wrap">
  {{> next-proj}}
</section>


            
            
            
          