<section class="hero-short">
  <div class="inner">
    <p class="fine-print">Case Study</p>
    <h1>Mighty Influence, Small Screens</h1>
    <h4>We partnered with YouTube influencers to help a company connect with "Gen Z."</h4>
  </div>
</section>
<section class="block-spacer main-content--summary">
  <article class="summary-container">
    <div class="">
      <div class="flex-c justify-between">
        <div class="summary-text inner">
          <p>Fuel recruits talented influencers who bring charisma, expertise and a large following to team with brands.</p>
          <p>Aceable, makers of a popular <a href="https://apps.apple.com/us/app/aceable-driving-school-app/id766014676">driver's school app</a>, asked for pitches for their content campaign, focused on distracted driving.</p>
          <p>We pitched the concept of interviewing YouTube influencers who can reach teen and young adult audiences better.</p>
          <p>Results: Aceable raised brand awareness with safety messages shared by family-friendly influencers. This life-preserving education was respected by both young people and their parents. On the other side, the brand gave influencers access to their community outside of social media.</p>
      </div>
      <aside>
        <div class="flex-c--col case-meta">
          {{>case-meta}} 
        </div>
      </aside>
    </div>
  </article>
</section>

<div class="banner flex-c--center">
  <div class="banner__inner">
    <p class="">Over 1 billion users watch YouTube every day, amounting to 1/3 of the internet, says Google. Younger users, dubbed "Gen Z," watch YouTube more than traditional media.</p>
    <p>Here at Fuel, we are passionate about connecting social media influencers and brands.</p>
  </div>
</div>

<section class="block-spacer main-content--spotlight">
  <article class="flex-c">
    <div class="width-tune">
      <div class="text-as-background">
        <p>spotlight</p>
      </div>
    </div>
    <div class="case__content-container">
      <h4>Up One's Selfie Game, Safely</h4>
       <p>Fuel asked videographer Jeff Grant to discuss selfie safety and distracted driving on <a href="https://driversed.com/trending/youtuber-shares-tips-safe-selfies">driversed.com</a>. He's been making videos, at his job and on YouTube. He's a relatable person using a camera to tell stories about his life and passions.</p>
       <p>As a YouTube content creator, tech nerd, tattoo enthusiast and new Dad, Jeff Grant is a relatable role model.</p>
       <p>Jeff gave an insider view on how social media stars get awe inspiring shots without risking their lives. Rather than being preachy, the content is practical.</p>  
    </div>
    <figure>
      <img src="../images/grant-sit-camera.jpg" alt= "videographer Jeff Grant with camera">
      <figcaption>
        <p>Jeff Grant with video camera</p>
      </figcaption>
    </figure>
  </article>
</section>

<section class="block-spacer main-content--spotlight">
  <article class="flex-c">
    <div class="width-tune">
      <div class="text-as-background">
        <p>spotlight</p>
      </div>
    </div>
    <div class="case__content-container">
      <h4>Accounts from the frontline</h4>
       <p>Fuel asked Kaynen Brown, an emergency department nurse, to give   <a href="https://driversed.com/trending/youtuber-shares-tips-safe-selfies">driversed.com</a>. He's been making videos, at his job and on YouTube. He's a relatable person using a camera to tell stories about his life and passions.</p>
       <p>As a YouTube content creator, tech nerd, tattoo enthusiast and new Dad, Jeff Grant is a relatable role model.</p>
       <p>Jeff gave an insider view on how social media stars get awe inspiring shots without risking their lives. Rather than being preachy, the content is practical.</p>  
    </div>
    <figure>
      <img src="./images/kaynen-brown.jpg" alt= "ER nurse and YouTuber Kaynen Brown">
      <figcaption>
        <p>Kaynen Brown, BSN, RN</p>
      </figcaption>
    </figure>
  </article>
</section>


<section class="next-project-wrap">
  {{> next-proj}}
</section>


            
            
            
          