<section class="hero-short">
  <div class="hero__inner">
    <div class="text-transform-container">
      <h1>We're talented people who do what it takes to get the job done.</h1>
    </div>
  </div>
</section>
<section>
    <div class="inner centering">        
        <h2>We do stuff in this h2</h2>
        <p>We're doers with exceptional skill in communications strategy, design and execution. Largely, we work behind the scenes to ensure health, technology and community change projects get the following and financial support they deserve.</p>
    </div>    
</section>

<section>

  <article class="flex-c">
    <div class="inner">
      <h4>Caroline Leopold</h4>
      <h6>Founder &amp; Creative Director</h6>
       <p>Caroline connects clients, creatives and influential people &mdash; for extraordinary results.</p>
      <p>She makes practical contributions to growth through web design, copywriting and proposal writing.</p>
      <p>Caroline Leopold founded Fuel Copy to write strategic communications for clients in the healthcare, medical and technology industries. Caroline's curiosity about science led to a career as a medical and marketing writer on projects at every stage of the pipeline -- from preclinical research to public health. As a nationally-recognized grant writer and reviewer, Caroline brings 20 years of experience to give clients the best chance to win funding. She is a sought-after marketing writer with work appearing on news and brand websites, including Benefiber, Colgate, Business Insider, MedCity News and Medical News Today. Caroline has a master's degree from University of Illinois at Chicago, pursuing research on HIV prevention and health promotion.</p>
      <ul>
          <li>Won $28 million in grant funding for health and science projects.</li>
          <li>Wrote 500+ news and marketing features found on dozens of websites.</li>
          <li>Mentored and coached over 250 entrepreneurs and researchers.</li>
      </ul> 
    </div>
    <div class="">
      <img class="content-image" src="../images/caroline-wall.jpg" alt="Caroline Leopold"/>
    </div>
  </article>    
  
  <article class="flex-c">
    <div class="inner">
        <h4>Rich Garella</h4>
        <h6>Editor in Chief</h6>
        <p>Rich Garella is a communications consultant and sometime journalist who has worked with Fuel since its founding, editing medical and technical documents, writing marketing pieces and giving a final polish to anything we produce. His many interests include health care policy, election integrity and environmental and social justice issues. He has edited materials ranging from grant applications to academic dissertations to long-form journalism, always looking for ways to make every piece of writing as efficient and compelling as it can possibly be.</p>
        <ul>
            <li>As Communications Director, Rich helped progressive candidate Larry Krasner win election as District Attorney of Philadelphia. The race garnered wide coverage in The New York Times, The Atlantic, The Los Angeles Times, The Philadelphia Inquirer, HuffPost, and Business Insider.</li>
            <li>Produced a documentary that won Peabody Prize in 2011. Who Killed Chea Vichea? investigated the murder of a popular labor leader and why two men were wrongfully jailed for the crime.</li>
        </ul> 
      </div>
      <div class="">
        <img class="content-image" src="../images/rich-garella.jpg" alt="Rich Garella"/>
      </div>
    </article>

    <article class="flex-c">
      <div class="inner">
        <h4>Dana Henry </h4>
        <h6>Director of Content Strategy</h6>
        <p>Dana Henry is a journalist and content marketer for tech and health companies. Throughout her writing career, Dana has covered a range of high tech innovations including cancer treatment, gene therapy, virtual reality hardware, enterprise software, internet of things (IOT), and materials engineering. She specializes in communicating end-use technology to target personas, including HR, managers, and C-level employees. She has over four years experience leading content strategy for a growing business and has consulted with startup founders and Fortune 500s on targeted, actionable content that helps drive sales.</p>
      </div>
       <div class="">
          <img class="content-image" src="../images/dana-1.jpg" alt="Dana Henry"/>
      </div>
    </article>
     
     <article class="flex-c">
       <div class="inner">
        <h4>Dave Scholnick</h4>
        <h6>Communications Strategy &amp; Public Relations</h6>
        <p>Need a bio here</p>
        <ul>
            <li>Accomplishment</li>
            <li>Accomplishment</li>
        </ul>
      </div>
      <div class="">
        <img class="content-image" src="../images/scholnick-headshot-edit.jpg" alt="David Scholnick"/>
      </div> 
    </article>

    <article class="flex-c">
      <div class="inner">
        <h4>Ed Apffel</h4>
        <h6>Senior Advisor</h6>
        <h6>Technical &amp; Financial Communications</h6>
        <p>Ed Apffel is a marketing and communications consultant who has written for a wide variety of businesses and organizations in the financial, continuing education, transportation, high-tech and non-profit sectors. He has decades of experience in various marketing communications roles and, for the past 15 years, has operated as a freelance writer under the moniker ENA Consulting. He excels at making complex topics comprehensible and relatable for general audiences. Ed holds a bachelor’s degree in history from the University of Virginia and an MBA from the University of Texas at Austin.</p>
        <ul>
            <li>Has written over 750,000 words of investment analysis, ad copy, trade articles and grant proposals</li>
            <li>Part of a communications team that produced award-winning marketing and branding work for the Fortune 500 transportation company, Con-way (acquired by XPO Logistics).</li>
        </ul>
      </div>
      <div class="">
        <img class="content-image" src="../images/ed-apffel-edit.jpg" width="" />
      </div> 
    </article>

     <article class="flex-c">
       <div class="inner">
        <h4>Darcie Goodwin</h4>
        <h6>Marketing Consultant</h6>
        <p>Darcie Goodwin works as a marketing and communications consultant for clients including FedEx Express Asia Pacific, Think Global and Kudzukian. Her previous experience includes serving as Communications Manager for FedEx Express in China and traveling the globe with ORBIS International, where she handled media relations and communications. She has also held positions at the Oklahoma Department of Commerce; the Taipei YMCA; and, with former US Congressman Buddy MacKay.</p>
        <p>Darcie earned her BA in Economics and Political Science from Drew University and an MBA in International Management from Thunderbird School of Global Management. She is proficient in Mandarin Chinese.</p>
        <ul>
            <li>More than 20 years experience handling communications in countries including the U.S., China, Germany, India and Peru.</li>
            <li>Works with both Fortune 500 and start up businesses.</li>
        </ul> 
      </div>
      <div class="">
        <img class="content-image" src="../images/darcie-goodwin-edit.jpg" alt="Darcie Goodwin" />
      </div> 
    </article>

    <article class="flex-c">
      <div class="inner">
        <h4>Francesca Lo Basso</h4>
        <h6>Copywriter &amp; Content Writer</h6>
        <p>Francesca Lo Basso is a strategist and writer who has more than 10 years of experience helping nonprofits and businesses develop and execute results-driven communications plans. From web copy to press releases and everything in between, she is adept at internalizing company position statements and brand identities to create content that is true to her client’s brand and vision.</p>
      <ul>
        <li>Silver medalist for the Alpine Fellowship Writing Prize, 2018.</li>
        <li>Creative writing professor and lecturer in Philadelphia and, formerly, in London, UK.</li>
    </ul>
    </div>
      <div class="temp-height">
        <img class="content-image" src="../images/scholnick-headshot-edit.jpg" alt="Francesca Lo Basso"/>
      </div>
</article>


</section>
