<section class="hero--fluid">
  <div class="inner">
    <div class="offset">
      <h1>Write something please</h1>
    </div>
  </div>
</section>
<section>
    <div class="inner centering">        
        <h2>We're a lot like you</h2>
        <p>Our passion is to ensure health, technology and change projects get the following and financial support they deserve.</p>
    </div>    
</section>

<section class="grid--team-bios">
    <div class="member-container theme--dark">
      <div class="theme--dark">
      <h4>Caroline Leopold</h4>
      <h6>Founder</h6>
      <p class="fine-print">People Person</p>
      </div>
      <div class="">
       <p>Caroline connects executives, creatives and technical experts to achieve extraordinary results. She also makes practical contributions to projects through web design, copywriting and grant proposal writing.</p>
      <p>Caroline brings 20 years of experience showcasing the value of health, technology and community projects. Caroline's rare blend of technical and creative talents enable her to imagine and execute possibilities, so clients can achieve ahead of the competition.</p>
      </div>
      <ul class="menu-reveal theme--dark">
        <li>Fundraising yield of $28 million.</li>
        <li>Created 500+ features on brand and news sites: Benefiber, Colgate, Business Insider, MedCity News and Medical News Today.</li>
        <li>Coached over 250 entrepreneurs and researchers.</li>
      </ul>
    </div>
    <div class="">
      <img class="team-image" src="../images/caroline-leopold.jpg" alt="Caroline Leopold"/>
    </div>
    <div class="inner--l">
        <h4>Rich Garella</h4>
        <h6>Editor in Chief</h6>
        <p>Rich is a communications consultant and sometime journalist who has worked with Fuel since its founding, editing medical and technical documents, writing marketing pieces and giving a final polish to anything we produce. His interests include health care policy, election integrity and environmental and social justice issues. He has edited materials ranging from grant applications to academic dissertations to long-form journalism, always looking for ways to make every piece of writing as efficient and compelling as it can possibly be.</p>
        <p>Rich built an impressive record of success due to technical skill, singular focus on the end goal and ability to fill virtually any needed role.</p>
        <ul class="hidden">
            <li>As Communications Director, Rich helped progressive candidate Larry Krasner win election as District Attorney of Philadelphia. The race garnered wide coverage in The New York Times, The Atlantic, The Los Angeles Times, The Philadelphia Inquirer, HuffPost, and Business Insider.</li>
            <li>Produced a documentary, Who Killed Chea Vichea, that won Peabody Prize in 2011.</li>
        </ul> 
      </div>
      <div class="">
        <img class="team-image" src="../images/rich-garella.jpg" alt="Rich Garella"/>
      </div>

      <div class="inner">
        <h4>Dana Henry </h4>
        <h6>Director of Content Strategy</h6>
        <p>Dana Henry is a journalist and content marketer for tech and health companies. Throughout her writing career, Dana has covered a range of high tech innovations including cancer treatment, gene therapy, virtual reality hardware, enterprise software, internet of things (IOT), and materials engineering. She specializes in communicating end-use technology to target personas, including HR, managers, and C-level executives. She has experience leading content strategy for a growing business and has consulted with startup founders and Fortune 500s on targeted, actionable content that helps drive sales.</p>
      </div>
       <div class="">
          <img class="team-image" src="../images/dana-henry.jpg" alt="Dana Henry"/>
      </div>
       <div class="inner">
        <h4>Dave Scholnick</h4>
        <h6>Communications Strategy &amp; Public Relations</h6>
        <p>Dave brings leadership, experience and fresh perspectives to campaigns. As communications director for not-for-profits and issue campaigns, Dave brings a wide variety of connections to get important work done.</p>
      
      </div>
  
      <div class="">
        <img class="team-image" src="../images/dave-scholnick-headshot.jpg" alt="David Scholnick"/>
         <ul>
            <li>Accomplishment</li>
            <li>Accomplishment</li>
        </ul>
      </div> 

      <div class="inner">
        <h4>Ed Apffel</h4>
        <h6>Senior Advisor</h6>
        <h6>Technical &amp; Financial Communications</h6>
        <p>Ed Apffel is a marketing and communications consultant who has written for a wide variety of businesses and organizations in the financial, continuing education, transportation, high-tech and non-profit sectors. He has decades of experience in various marketing communications roles and, for the past 15 years, has operated as a freelance writer under the moniker ENA Consulting. He excels at making complex topics comprehensible and relatable for general audiences. Ed holds a bachelor’s degree in history from the University of Virginia and an MBA from the University of Texas at Austin.</p> 
        <ul>
            <li>Has written over 750,000 words of investment analysis, ad copy, trade articles and grant proposals</li>
            <li>Part of a communications team that produced award-winning marketing and branding work for the Fortune 500 transportation company, Con-way (acquired by XPO Logistics).</li>
        </ul>

      </div>
      <div class="">
        <img class="team-image" src="../images/ed-apffel-edit.jpg" width="" alt="Ed Apffel" />
         
      </div> 
 
       <div class="inner">
        <h4>Darcie Goodwin</h4>
        <h6>Marketing Consultant</h6>
        <p>Darcie Goodwin works as a marketing and communications consultant for clients including FedEx Express Asia Pacific, Think Global and Kudzukian. Her previous experience includes serving as Communications Manager for FedEx Express in China and traveling the globe with ORBIS International, where she handled media relations and communications. She has also held positions at the Oklahoma Department of Commerce; the Taipei YMCA; and, with former US Congressman Buddy MacKay.</p>
        <p>Darcie earned her BA in Economics and Political Science from Drew University and an MBA in International Management from Thunderbird School of Global Management. She is proficient in Mandarin Chinese.</p>
      </div>
      <div class="">
        <img class="team-image" src="../images/darcie-goodwin-edit.jpg" alt="Darcie Goodwin" />
          <ul>
            <li>More than 20 years experience handling communications in countries including the U.S., China, Germany, India and Peru.</li>
            <li>Works with both Fortune 500 and start up businesses.</li>
        </ul> 
      </div> 
  </div>

</section>
{{> svg}}
