<section class="project flex-c--center">
  <div class="flex-i">
    <h2>Next Project</h2>
    <a href="../projects/sbir-grants"><p>SBIR grants</p>
  <a href="../projects/sbir-grants"></a>
    <img src="./images/biotech-tight.jpg" alt="laptop and cell phone"/>
  </a>
</div>
</section>