<section class="hero--short">
  <div class="inner">
    <div class="fine-print">Case Story</div>
    <h1>'Your Money Or Your Life'</h1>
    <h4>How we helped health companies establish authority websites that prospects trust (and search engines reward).</h4>
  </div>
</section>
<section class="flex-c">
    <div class="grid-item inner--l">
      <p class="fine-print">Summary</p>
      <p>Fuel's niche is to help entrepreneurs gain traction with 'minimal but effective' marketing.</p>
      <p>We often work with medical or health companies whose sites fall in a category Google calls, "Your Money Or Your Life." Such websites can affect health, wealth and happiness and Google rewards sites they deem as authoritative.</p>
      <p>We have created landing pages, websites and content designed to grow reach, attract leads and create avenues for dialogue and trust.</p>
    </div>
    <aside>
      {{>case-meta}} 
    </aside>
</section>
<section class="flex-c">
  <div class="inner--l">
    <p class="fine-print">Content &amp; SEO &mdash; Colgate</p>
    <p>Companies want to help visitors get answers to health questions and find useful services or products.</p>
    <p>The main challenge is first understanding the needs or questions that prospects have. Then, we can help create websites, copy, content and an SEO strategy, which moves people from awareness to decision.</p>
    <p>We've worked with major brands who have high-performing websites. One such brand is Colgate and we produced SEO content for them.</p>
    <p>Colgate wanted to foster organic reach and engagement with useful information, friendly lifestyle advice and Colgate product suggestions.  </p>  
    <p><a class="wordlink" href="https://www.colgate.com/en-us/oral-health/conditions/tooth-sensitivity/why-are-my-teeth-sensitive-is-it-related-to-age-1214">Authority content article</a></p>
    <p><a class="wordlink" href="https://www.colgate.com/en-us/oral-health/conditions/bad-breath/how-to-help-bad-breath-go-away-under-stress-0415">Relatable content article</a></p>
  </div>
    <aside class="inner--l flex-c--col flex-c--center">
    <div class="">
      <h6 class="">Success markers for medical/health websites:</h6>
      <ul>
        <li><p>&mdash; Security &amp; privacy protection is in the forefront.</p></li>
        <li><p>&mdash; Site uses expertise, authority and trust (EAT) signals.</p></li>
        <li><p>&mdash; Site excels in performance such as speed and usability.</p></li>
        <li><p>&mdash; Content is unique, timely, compelling and accurate.</p></li>
      </ul>
      <div class="flex-c--center">
        <img src="../images/google-logo.svg" width="56px" alt="Google logo" />
      </div>
    </div>
  </aside>
  </section>

<!--
    <aside class="inner--l flex-c--col flex-c--center">
    <div class="">
      <h6 class="">Success markers for medical/health websites:</h6>
      <ul>
        <li>Security &amp; privacy protection is in the forefront.</li>
        <li>Site uses expertise, authority and trust (EAT) signals.</li>
        <li>Site excels in performance such as speed and usability.</li>
        <li>Content is unique, timely, compelling and accurate.</li>
      </ul>
      <div class="flex-c--center">
        <img src="../images/google-logo.svg" width="56px" alt="Google logo" />
      </div>
    </div>
  </aside>
  </section> -->

<section class="flex-c">
  <div class="inner--l">
    <p class="fine-print">Design &amp; Strategy &mdash; New Company</p>  
    <p>Most people turn to the Internet for information and health options. While there's opportunity, there is also competition.</p>
    <p>An entrepreneur trying to pivot into healthcare asked Fuel for strategy and design planning for an ecommerce website. The audience were decision-makers in mid-size to large health marketing departments.</p> 
    <p>We help the client understand the pain points of busy marketers and made site suggestions, which would bring satisfaction to visitors. The client brought the strategy and design suggestions to a web development agency.</p>  
  </div>  
 <div class="grid-item inner">
      <h6>Strategies to create winning websites</h6>
      <ul>
        <li>Ensure your unique brand identity informs design.</li>
        <li>Research the target audience. Get feedback from them early in the process.</li>
        <li>Development, design and content inform each other. If one area is weak, the rest suffer.</li>
        <li>Consider regulatory requirements early on to save time, money and sanity.</li>
        <li>A website that delivers on its promise to help visitors is better than a flashy, vapid site.</li>
      </ul>
    </div>
  </section>

<section class="flex-c">
  <div class="grid-item inner--l">
    <p class="fine-print">Copy that Converts &mdash; Inventive Clinical Solutions</p>
    <p>A new company wanted to sell a shoulder mobility device through their website and Amazon.</p>
    <p>The founders wanted to use longform copywriting on a landing page to discuss "frozen shoulder," a painful condition and how their product, the Shoulder Roller, could help. This physical therapy aid is useful to patients and their physical therapists.</p>
    <p>One of Fuel's copywriters, <a class="wordlink" href="../about/dana-henry">Dana Henry</a>, who has a specialty in science and health, developed several versions of a landing page. </p> 
    <p>The strongest aspect of the copy was a clear explanation of benefits and how the product is superior to other products.</p>
    <a class="wordlink" href="https://www.shoulderroller.com/">Shoulder Roller home page</a>
  </div>
</section>

<section class="next-project theme--pool flex-c">
  <div class="inner--l flex-c--col flex-c--center">
    <p>Next Project</p>
    <p class="link-text-large"><a  href="../projects/sbir-grants">SBIR Grant Consulting</a></p>
  </div>
    <div class="img-display">
      <a href="../projects/press-campaign"><img class="grayscale" src="../images/perelman-center.jpg" width="350px" alt="Perelman Center at University of Pennsylania" /></a>
   </div>
</section>
{{> svg}}
