<section class="hero--short">
  <div class="inner">
    <div class="fine-print">Case Story</div>
    <h1>'Your Money Or Your Life'</h1>
    <h4>How we helped health companies establish authority websites that prospects trust (and search engines reward).</h4>
  </div>
</section>
<section class="flex-c">
    <div class="grid-item inner--l">
      <p class="fine-print">Summary</p>
      <p>Fuel's niche is to help entrepreneurs gain traction with 'minimal but effective' marketing.</p>
      <p>We often work with medical or health companies whose sites fall in a category Google calls, "Your Money Or Your Life." Such websites can affect health, wealth and happiness and Google rewards sites they deem as authoritative.</p>
      <p>We have helped create landing pages and websites designed to grow reach, attract leads and create avenues for dialogue and trust.</p>
    </div>
    <aside>
      {{>case-meta}} 
    </aside>
</section>
<section class="flex-c">
  <div class="inner--l">
    <p class="fine-print">Challenge</p>
    <p>When we work with health companies, they bring us similar questions. How to explain complex health solutions without glossing over the technical, but not alienate prospects with medical jargon?</p>
    <p>The main challenge is understanding the needs or questions that prospects have. Then, we can help create websites, copy, content and an SEO strategy, which moves people from awareness to decision.</p>
  </div>
    <aside class="inner--l flex-c--col flex-c--center">
    <div class="">
      <p class="center">Key considerations for medical/health websites include:
      <ul>
        <li>Security &amp; privacy protection is in the forefront.</li>
        <li>Site uses expertise, authority and trust (EAT) signals.</li>
        <li>Site excels in performance such as speed and usability.</li>
        <li>Content is unique, timely, compelling and accurate.</li>
      </ul>
      <div class="flex-c--center">
        <img src="../images/google-logo.svg" width="56px" alt="Google logo" />
      </div>
    </div>
  </aside>
  </section>

<section class="flex-c">
  <div class="inner--l">
    <p class="fine-print">Solution</p>    
    <p>Our clients foster health and wellness by creating relationships. Often these relations start with giving &mdash; an inspiring post, clear information about a health problem or access to a clinical trial.</p>  
    <p>Fuel helps in ways to foster giving that leads to trust. We've designed landing pages and microsites that contain articles, list articles, interviews and user-generated content.</p>      
  </div>  
 <div class="grid-item inner">
      <p>Strategies</p>
      <ul>
        <li>Advising</li>
        <li>Websites or landing pages</li>
        <li>Copywriting</li>
        <li>Content marketing</li>
        <li>Search enging optimization</li>
      </ul>
    </div>
  </section>

<section class="flex-c">
  <div class="grid-item inner">
    <p class="fine-print">Results</p>
    <p>Fuel wrote all the copy and content for the website, which showed visitors how they could benefit from easy-to-buy and use branding products. By emphasizing benefits over features, the website was able to connect on what mattered to prospective buyers.</p>
    <p>In addition, Fuel created a content strategy and initial blogs to enable the company to create a dialogue with its audience. Content marketing made the company more relatable by sharing insights about healthcare branding.</p>
  </div>
  <aside class="inner--l">
    <a href="https://www.shoulderroller.com/about-us-3/"><img src="../images/shoulder-roller-sm.png" width="" alt="partial web page" />
    <figcaption class="center">Shoulder Roller's 'About Us' section</figcaption>
    </a>
  </aside>
</section>

<section class="next-project theme--pool flex-c">
  <div class="inner--l flex-c--col flex-c--center">
    <p>Next Project</p>
    <p class="link-text-large"><a  href="../projects/sbir-grants">SBIR Grant Consulting</a></p>
  </div>
    <div class="img-display">
      <a href="../projects/press-campaign"><img class="grayscale" src="../images/perelman-center.jpg" width="350px" alt="Perelman Center at University of Pennsylania" /></a>
   </div>
</section>
{{> svg}}
