<section class="hero--short">
  <div class="inner">
    <h1>'Your Money Or Your Life'</h1>
    <h4>How we helped health companies establish authority websites that prospects trust (and search engines reward).</h4>
  </div>
</section>
<section class="">
  <div class="flex-c justify-between case-container">
    <div class="case-container__main">
      <p class="fine-print">Summary</p>
      <p>Fuel's niche is to help entrepreneurs gain traction with 'minimal but effective' marketing.</p>
      <p>We often work with medical or healthcare companies who fall in a category Googles calls, "Your Money Or Your Life." These companies are held to a higher standard because the stakes for consumers are high. Thus, success depends on a web presence that's useful and authoritative. </p>
      <p>We have helped create landing pages and websites designed to grow reach, attract leads and create avenues for dialogue and trust.</p>
    </div>
    <aside>
      {{>case-meta}} 
    </aside>
  </div>
</section>

<section class="flex-c case-container">
  <div class="case-container__main">
    <p class="fine-print">Challenge</p>
    <p></p>
    <p>When we work with health companies, they bring us similar questions. How to explain complex health solutions without glossing over the technical, but not alienate prospects with medical jargon?</p>
    <p>We have distilled the main challenge as understanding the needs that prospects have. And how do they browse online assets to move from awareness to decision.</p>
  </div>
    <aside class="case-container__aside flex-c--center">
    <div class="">
      <p class="center">We focus on the why before we decide how to build a website.</p>
    </div>
  </aside>
</section>

<section class="flex-c case-container">
  <div class="case-container__main">
    <p class="fine-print">Solution</p>   
    <p>At the start of our relationship, we talked to the client about his target audience -- marketing managers in pharma companies. We helped him think about the sales cycle and what matters to his target market.</p> 
    <p>During these initial talks, we shared insights such as: the importance of a product-market fit and selling to pharma can be complex because there are many decision makers. The discussions of larger business questions helped the client refine his goals for the ecommerce site.</p> 
    <p>Next, Fuel developed the website content strategy. We mapped how the copy and content pieces buttressed the value proposition in a way that would appeal to health marketers.</p> 
    <p>We also shared research about how best to present information that’s clear and distinct from competitors.</p>
    <p>Finally, we wrote a website that tied the company’s products with what’s important to healthcare marketers. The website copy invited visitors to browse and buy branding products. And the blog posts reinforced the authority and expertise of the company.</p>      
  </div>  
  <div class="flex-c-center">
    <div class="case-container__aside">
      <p>Strategies</p>
      <ul>
        <li>Influencer outreach</li>
        <li>Pitches</li>
        <li>Interviews and follow-up</li>
        <li>Content creation</li>
        <li>Promotion</li>
      </ul>
    </div>
  </div>
</section>
<section>

</section>

<section class="flex-c case-container">
  <div class="case-container__main">
    <p class="fine-print">Results</p>
    <p>Fuel wrote all the copy and content for the website, which showed visitors how they could benefit from easy-to-buy and use branding products. By emphasizing benefits over features, the website was able to connect on what mattered to prospective buyers.</p>
    <p>In addition, Fuel created a content strategy and initial blogs to enable the company to create a dialogue with its audience. Content marketing made the company more relatable by sharing insights about healthcare branding.</p>
  </div>
</section>

<section class="next-project-container flex-c--center">
    <a class="flex-c--center" href="../projects">
      <p class="link-text-large"><span>See Next Project:</span>SBIR Grant Consulting</p>
    <div class="img-display">
      <img class="grayscale" src="../images/perelman-center.jpg" />
    </div>
  </a>
</section>
