<canvas id="canvas"></canvas>
<section class="hero">
<div class="hero__inner-container">
  <div class="text-transform-container">
    <p class="page-title"><span class="highlight">{{ shortTitle }}</span></p>
    <h1>We bring our expertise to get you there. And we're with you the entire way.</h1>
  </div>
  <div class="flex-c--col hero__inner-container">
    <ul class="flex-c flex-c--space-between label-row">
      <li class="label center hidden grow">Growth</li>
      <li class="label center hidden lead">Leads</li>
      <li class="label center hidden fund">Funding</li>
    </ul>
  </div>
</section>
 <div class="bottom-border">
  </div>
<section class="services inner-container">
  <div class="title-box">
    <h2>How we help.</h2>
  </div>
  <article class="flex-c--col ">
    <div class="main-content read">
      <h2>Growth Marketing</h2>
      <p>Clients hire us to uncover ways audiences can make better decisions from a series of smaller acts.</p> 
      <p>Learn, subscribe, buy and advocate.</p>
      <p>We're known for making the technical tangible. We generally work in high-stakes sectors: healthcare, technology, enterprise software (to name a few). Therefore, we take accuracy, factual representation and clear communication seriously.</p>
      <p>Build your presence online, leading to more reach and revenue.</p>
    </div>
    <div class="flex-c--center">
      <ul class="grid-c fluid-xsmall no-gap service-container">
        <li class="card center">
          <p>Content<br>Marketing</p>
          <i class="fas fa-th"></i>
        </li>
        <li class="card center">
          <p>Influencer<br>marketing</p>
          <i class="fab fa-instagram"></i>
        </li>
        <li class="card center">
          <p>Media<br>Relations</p>
          <i class="fas fa-camera-retro"></i>
        </li>
        <li class="card center">
          <p>Search engine optimization</p>
          <i class="fab fa-google"></i>
        </li>
      </ul>
      </div>
    </div>
  </article>
  <div class="btn outline large">
    <a href="../work/growth-marketing">Learn more about marketing services</a>
  </div>
<article class="flex-c--col">
    <div class="main-content read">
      <h2>Lead Generation</h2>
      <p>We help you create experiences to interest prospects into exploring what you offer. We draw from research and audience insights to create informed, sensitive messages that win hearts and minds. </p>
      <p>Our goal: move people along the journey from discovery to decision.</p>
    </div>
    <div class="flex-c--center">
      <ul class="grid-c fluid-xsmall no-gap service-container">
        <li class="card center">
          <p>Landing pages</p>
          <i class="fas fa-laptop-code"></i>
        </li>
        <li class="card center">
          <p>White papers</p>
          <i class="fas fa-file-download"></i>
        </li>
        <li class="card center">
          <p>Email</p>
          <i class="fab fa-replyd"></i>
        </li>
        <li class="card center">
          <p>Social media</p>
          <i class="far fa-heart"></i>
        </li>
      </ul>
      </div>
    </div>
  </article>
  <div class="btn outline large">
    <a href="../work/lead-generation">Learn more about lead generation</a>
  </div>
<article class="flex-c--col">
    <div class="main-content read">
      <h2>Grant &amp; Contract Proposals</h2>
      <p>Money in the form of grants and contracts fuel research and development, new projects and support critical services. Grant funding carries fewer restrictions and is a source of non-dilutive income.</p>
      <p>Our goal: Increase chances of grants and contracts by executing proposal efforts efficiently.</p>
    </div>
    <div class="flex-c--center">
      <ul class="grid-c fluid-xsmall no-gap service-container">
        <li class="card center">
          <p>Advising</p>
          <i class="far fa-comment-dots"></i>
        </li>
        <li class="card center">
          <p>SBIR <br>grants</p>
          <i class="far fa-money-bill-alt"></i>
        </li>
        <li class="card center">
          <p>Contract<br> bids</p>
          <i class="fas fa-file-signature"></i>
        </li>
        <li class="card center">
          <p>Nonprofits</p>
          <i class="fas fa-heart"></i>
        </li>
      </ul>
      </div>
    </div>
  </article>
  <div class="btn outline large">
    <a href="../work/proposal-writing">Learn about funding proposals</a>
  </div>
</section>

   