<div id="work" class="work-wrapper">
<section class="hero">
   <div class="text-container">
    <h1>We bring our expertise to get you there. And we're with you the entire way.</h1>
    <div class="container-cta">
        <button class="btn" <a href="../contact">Tell us your dream.</a></button>
    </div>
</div>
</section>
<section class="featured grid-container-fluid card-container">
    <div class="card grid-item one-6 hidden">
      <h4>Strategy</h4>
      <img src="./images/colgate-couple.png" alt="icon1" />
    </div>
    <div class="card grid-item two-6 hidden">
      <h4>Design</h4>
      <img src="https://loremflickr.com/900/400" alt="icon2" />
    </div>
    <div class="card grid-item three-6 hidden">
      <h4>Copy</h4>
      <img src="https://loremflickr.com/900/400" alt="icon3">
    </div>
    <div class="card grid-item four-6 hidden">
      <h4>Content Marketing</h4>
      <img src="https://loremflickr.com/900/400" alt="icon4">
    </div>
     <div class="card grid-item four-6 hidden">
      <h4>Investor &amp; Grant Proposals</h4>
      <img src="https://loremflickr.com/900/400" alt="icon4">
    </div>
  </section>
  <section class="callout">
  <h2>Ready to discuss your project?</h2>
  
</section>
</div>