<section class="hero">
<div class="text-container">
  <div class="text-transform-container">
    <p class="page-title"><span class="highlight">{{ shortTitle }}</span></p>
    <h1>We bring our expertise to get you there. And we're with you the entire way.</h1>
  </div>
  <div class="flex-container-col text-container">
    <h4 class="center">What do you want?</h4>
    <ul class="flex-container label-row flex-center">
      <li class="label center hidden">Advising</li>
      <li class="label center hidden">Leads</li>
      <li class="label center hidden">Funding</li>
      <li class="label center hidden">Growth</li>
    </ul>
  </div>
</section>
<section class="services">
  <div class="title-box">
    <h2>How we help.</h2>
  </div>
  <div class="grid-container fluid full card-wrap">
    <article class="card hidden">
      <h6 class="center">Advising</h6>
      <figcaption>Insider advice, pragmatic plans and research to achieve your goals. Add a bunch of words, blah . blah blah.</figcaption>
      <ul class="label-container flex-container card-wrap">
        <li>Content strategy</li>
        <li>Website audit &amp; action plan</li>
        <li>Funding research</li>
      </ul> 
    </article>
    <article class="card hidden">
      <h6 class="center">Lead Generation</h6>
      <figcaption>Insider advice, pragmatic plans and research to achieve your goals. Add a bunch of words, blah . blah blah.</figcaption>
      <ul class="label-container flex-container card-wrap">
        <li>Landing pages</li>
        <li>White papers</li>
        <li>Influencer marketing</li>
      </ul> 
    </article>
    <article class="card hidden">
        <h6 class="center">Growth Marketing</h6>
        <figcaption>Build your presence online, leading to more reach and revenue.</figcaption>
        <ul class="label-container flex-container card-wrap">
          <li>Website design &amp; Copywriting</li>
          <li>Content marketing</li>
          <li>Influencer marketing</li>
          <li>Search engine optimization (SEO)</li>
      </ul> 
    </article>
    <article class="card hidden">
      <h6 class="center">Fundraising / Grants</h6>
      <figcaption>Compete for contracts and non-dilutive grants.</figcaption>
      <ul class="label-container flex-container">
        <li>Opportunity research</li>
        <li>SBIR grant writing</li>
        <li>Public and private contract support/li>
        <li>Proposal writing)</li>
      </ul> 
    </article>
  </div>
  </section>
  <section class="feature grid-container">
    <figure class="feature-img">
      <img src="../images/grant-red-shirt.jpg">
    </figure>
    <div class="feature-fill">  
    </div>
    <div class="feature-text">
      <h4>How Video Changed Everything!</h4>
      <p>Don't know what I'm going to write, but let me do that here. YouTuber Jeff Grant geeks out on technology, cameras and being awesome.</p>
      <p>Insights by videographer and YouTuber, Jeff Grant.</p>
      <button class="btn">Read our success stories.</button>
    </div>
  </section>
<section class="callout">
</section>
</div>
<!-- End main content -->






</div>