/// Our work page ///

<section class="hero">
   <div class="text-container">
    <h1>For multi-level projects that need diplomacy, technical acumen and enthusiasm, c</h1>
    <div class="container-cta">
        <div class="btn cta" <a href="../contact">Let's talk shop.</a></div>
    </div>
</div>
</section>
<section class="services grid-container">
    <div class="s-card grid-item one-6 hidden">
      <h4>Strategy</h4>
      <img src="https://loremflickr.com/900/400" alt="icon1" />
    </div>
    <div class="s-card grid-item two-6 hidden">
      <h4>Design</h4>
      <img src="https://loremflickr.com/900/400" alt="icon2" />
    </div>
    <div class="s-card grid-item three-6 hidden">
      <h4>Copy</h4>
      <img src="https://loremflickr.com/900/400" alt="icon3">
    </div>
    <div class="s-card grid-item four-6 hidden">
      <h4>Content Marketing</h4>
      <img src="https://loremflickr.com/900/400" alt="icon4">
    </div>
  </section>
  <section class="callout">
  <h2>Ready to discuss your project?</h2>
  
</section>