<section class="hero">
   <div class="text-container">
    <h1>For multi-level projects that need diplomacy, technical acumen and enthusiasm, c</h1>
    <div class="container-cta">
        <div class="btn cta" <a href="../contact">Let's talk shop.</a></div>
  </div>
</div>