h1 {
font-size: 2em;
-webkit-text-stroke: 1px black;
color: $cherry;
text-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;

}

body.home .hero {
    background: skyblue url("../images/grant-red-crop.jpg") no-repeat center right fixed; 
}

.shape {
    border-radius: 30% 70% 58% 42% / 30% 37% 63% 70%;
    background-color: $pool;
    }

.shape.alt {
    border-radius: 30% 70% 17% 83% / 30% 78% 22% 70%;
 
}

.shape > * {
    padding: 2em;
}

.bg-dot {

    background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
    background-size: $dot-space $dot-space;

}
