@import "./partials/base";

body {
    margin: 0;
    padding: 0; }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Source Serif Pro", Times, "Times New Roman", serif; }
  
  p, ul, li, a {
    font-family: "Source Sans Pro", Verdana, Helvetica, Arial, sans-serif; }
  
  ::-webkit-resizer
  .flex-container {
    display: flex; }
  
  main {
    background-color: $teal;
  }
  
  footer flex-container {
    display: flex;
    flex-direction: column; }
  
  .intro {
    width: 100vw;
    background-color: #999; }
  
  footer {
    width: 100%; }
  
  footer a {
    color: orange; }
  
  footer a:hover {
    color: black; }
  
  footer a:visited {
    color: $aqua; }

    .demo {
      height: 25vh;
      background-color: yellow;
    }
  