@font-face {
  font-family: "Inter";
  src: url("./fonts/inter3.5/inter-web/Inter-Bold.woff"); }

/* Size and space */
/* for padding and margins */
/* Layouts */
/* Color Scheme */
/* dark blue */
.text-light {
  color: #9ca4ca; }

/* gray-d */
/* pool */
/* indigo */
/* indigo lite */
/* grape */
/* lighten($indigo, 5%); */
/* button adjusted colors*/
.btn .shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

/* Typography */
/* min-width breakpoints*/
/* 
xs, extra-small: 0px or larger
sm, small: 600px or larger
md, medium: 960px or larger
lg, large: 1280px or larger
xl, extra-large: 1920px or larger

*/
.margin-top, .margin-top--md {
  margin-top: var(--space-md); }

.margin-top--sm {
  margin-top: var(--space-sm); }

.margin-top--lg {
  margin-top: var(--space-lg); }

.margin-top--xl {
  margin-top: var(--space-xl); }

.margin-top--xxl {
  margin-top: var(--space-xxl); }

.margin-bottom, .margin-bottom--md {
  margin-bottom: var(--space-md); }

.margin-bottom--sm {
  margin-bottom: var(--space-sm); }

.margin-bottom--lg {
  margin-bottom: var(--space-lg); }

.margin-bottom--xl {
  margin-bottom: var(--space-xl); }

.margin-bottom--xxl {
  margin-bottom: var(--space-xxl); }

.page-title {
  display: inline;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: .25em;
  color: #141414; }

@media (min-width: 599px) {
  article {
    width: 650px;
    margin-left: auto;
    margin-right: auto; }
  figure {
    width: 650px;
    margin-left: auto;
    margin-right: auto; } }

/* new styles to do move */
/*
.row {
  @include flex;
}

*/
/* Hero */
.hero {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center; }

.hero__inner {
  padding: 0 .5em; }

.home .hero {
  background-color: #141414;
  color: white; }

.home .hero .bg {
  background: url("../images/fibonacci-white.svg") no-repeat; }

.home .hero h1 {
  font-size: 2.5em;
  line-height: 1em; }

@media screen and (min-width: 599px) {
  .hero {
    flex-direction: column;
    align-items: center; }
  .hero > * {
    /* margin-left: 1em; */ }
  .hero > .hero__inner {
    width: 70%; }
  h1 {
    font-size: 2.8em; } }

/* Full-width banners */
.banner {
  width: 100%;
  background-color: transparent; }

.banner__inner {
  padding: 2em 2em 0; }

.banner--light, section--light {
  background-color: #efefef;
  color: #141414; }

.banner--deep, section--deep {
  background-color: #242943; }

.container__inner--text {
  padding: .5em; }

.tag-container {
  padding: 1em .5em;
  margin: 1em 0;
  border-left: 2px solid #23e3c9; }

.tag-container li {
  max-width: 20vw;
  line-height: 1.5em; }

.container--bg {
  margin: 0 auto;
  width: 25%;
  height: 25%;
  border-radius: 65% 35% 50% 50% / 50% 35% 65% 50%;
  background: #3a43a5;
  background: linear-gradient(45deg, #3a43a5 23%, #7b54ca 68%, #232d99 99%); }

.container--bg i {
  font-size: 2em;
  padding: 1em 0; }

.project {
  max-width: 100%;
  margin-top: 4em; }

.inner {
  padding: 1em;
  /* default padding */ }

.inner--xs {
  padding: .25em; }

.inner--s {
  padding: .50em; }

.inner--l {
  padding: 2em; }

.inner > * {
  margin-bottom: 2em; }

/* 
.inner > * {
  margin-bottom: 1em;
}

*/
@media screen and (min-width: 900px) {
  .inner {
    padding: 2em; }
  .inner > * {
    margin-bottom: 2em; } }

@media screen and (min-width: 900px) {
  .inner {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em; } }

/* Cards */
figure.card {
  height: 50vh; }

figure.card:first-child {
  /* background-color: #070E16; */
  /* background: lightblue url("../images/grant-sit-camera.jpg") no-repeat fixed center; */ }

figure.card:nth-child(2) {
  /* background-color: $charcoal; */
  /* background: lightblue url("../images/grant-sit-camera.jpg") no-repeat fixed center; */ }

.circle {
  border-radius: 50%; }

.container-temp {
  max-width: 100%;
  overflow: hidden; }

.bold {
  font-weight: bold; }

.larger {
  font-size: 1.25em; }

.xlarge {
  font-size: 2em; }

/* Flexbox */
.flex, .flex-c {
  display: flex; }

.flex, .flex-c > * {
  flex: 1; }

.flex-item, .flex-i {
  flex: 1; }

.flex-i--double, .flex-i--2 {
  flex: 2; }

.flex-c--col {
  display: flex;
  flex-direction: column; }

.flex-c--row {
  flex-direction: row; }

.flex-c--center {
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center center; }

.flex-item-half {
  max-width: 50%; }

.flex-c--space-between {
  justify-content: space-between; }

.flex-c--wrap {
  flex-direction: wrap; }

@media only screen and (max-width: 599px) {
  .flex-c {
    flex-direction: column; } }

/* Grid */
.grid-wrapper {
  display: grid;
  max-height: 100vh;
  grid-gap: 1em;
  grid-template-areas: "menu" "title-wrap" "main" "footer"; }

@media (min-width: 599px) {
  .grid-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "title-wrap title-wrap" "main main" "footer footer"; } }

.grid-c {
  display: grid; }

.stretch {
  display: grid;
  justify-items: stretch; }

.grid-c__fluid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); }

.grid-c__fluid--l {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); }

.grid-c__fluid--m {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }

.grid-c__fluid--s {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); }

.grid-c__fluid-xs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); }

.gap {
  grid-gap: 1em; }

.gap-2 {
  grid-gap: 2em; }

.gap-4 {
  grid-gap: 4em; }

.no-gap {
  grid-gap: 0; }

/* home page grid - todo */
.icon-grid__fixed--2x2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 1em;
  height: 50vh; }

.icon-grid li {
  height: 25vh;
  font-size: 1em;
  letter-spacing: .5px; }

.icon-grid li:nth-child(2n) {
  border-left: .5px dotted #fff; }

.icon-grid li:nth-child(3) {
  border-top: .5px dotted #fff; }

.icon-grid li:nth-child(4) {
  border-top: .5px dotted #fff; }

/* team grid */
.gallery__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f5f4f4; }

.gallery__container--grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(6, 200px);
  grid-auto-flow: dense; }

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background: url("../images/head-shots-bad/leopold-glasses.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter; }
  .item:nth-of-type(2) {
    background-image: url("../images/head-shots-bad/dana-1.jpg"); }
  .item:nth-of-type(3) {
    background-image: url("./images/head-shots-bad/darcie-goodwin.jpg"); }
  .item:nth-of-type(4) {
    background-image: url("https://images.unsplash.com/photo-1464652149449-f3b8538144aa?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out; }
  .item:hover {
    transform: scale(1.05); }
    .item:hover:after {
      opacity: 0; }
  .item--medium {
    grid-row-end: span 2; }
  .item--large {
    grid-row-end: span 3; }
  .item--full {
    grid-column-end: auto; }
    @media screen and (min-width: 768px) {
      .item--full {
        grid-column: 1/-1;
        grid-row-end: span 2; } }
  .item__details {
    position: relative;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: #fff;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #828282; }
    .item__details:before {
      content: counter(item-counter);
      font-weight: bold;
      font-size: 1.1rem;
      padding-right: 0.5em;
      color: #444; }

/* end todo */
.fullscreen {
  grid-template-columns: 1fr;
  grid-gap: 0;
  height: 100vh; }

.pad-1 {
  padding: 1em; }

.pad-2 {
  padding: 2em; }

.two-x-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0;
  justify-content: center;
  min-height: 100%; }

/* Image gallery grid -- About page */
@media (min-width: 599px) {
  .grid-c__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 900px) {
  .grid-c__columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  figure:nth-child(3), .enlarge-2 {
    grid-row: span 2; }
  figure:nth-child(4) {
    grid-column: span 2;
    grid-row: span 2; } }

/* Alignment */
.center {
  justify-self: center;
  justify-content: center;
  align-items: center; }

.center > * {
  text-align: center;
  align-self: center; }

.centered {
  max-width: 50%; }

.fullscreen {
  height: 100vh; }

.halfscreen {
  height: 50vh; }

.spaced {
  justify-content: space-between; }

@media screen and (min-width: 599px) {
  .centering {
    width: 80%;
    text-align: center;
    font-size: 1.25em; } }

.title-box {
  padding: 0 1em;
  margin: 1em 0; }

/* subnav grid */
.sub-nav .grid-c {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0; }

.grid__page--12x12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 0;
  justify-content: center;
  min-height: 100%; }

/* Container components */
.cards {
  display: flex; }

.card {
  padding: .5em;
  border-radius: 2px;
  overflow: hidden;
  margin: 1rem;
  transition: all 0.5s ease; }

.card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

/* .card--border {
    border-radius: 53% 47% 45% 55% / 67% 62% 38% 33%;    
    background: rgb(58,74,165);
    background: linear-gradient(90deg, rgba(58,74,165,1) 30%, rgba(84,101,202,1) 74%);
  }

  */
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.work > article {
  height: 100vh; }

/* Portfolio / Projects Grid */
/* Alignment */
.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.fine-print {
  text-transform: uppercase;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: .2em; }

.fine-print a, .fine-print a:visited {
  color: #5fd6e5; }

.reverse {
  color: white;
  background-color: #141414;
  padding: .5em; }

.text-margin > * {
  margin-bottom: 1em; }

/*
.main-content {
    padding: 1em 2em;
  }
  
  .main-content h2 {
      margin-bottom: 1em;  
  }

.main-content p {
    font-family: $serif;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1em;
  }

  */
.vertical-line {
  margin: 2em 0;
  height: 50px;
  background: linear-gradient(#141414, #141414) no-repeat center/1px 100%; }

/* Navigation */
/* https://www.w3schools.com/code/tryit.asp?filename=G6913M8THUXM */
/* old nav */
nav {
  width: 100%;
  background-color: transparent;
  text-align: center;
  margin: 0 auto;
  height: 3em;
  position: fixed;
  background-color: #efefef; }

/* applied after scroll height reached 
  
  .fixed-nav nav {
    position: fixed;
    top:0;
    z-index: 1;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  }

  */
.navigation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%; }

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  justify-content: flex-end;
  align-items: center;
  height: 3em; }

nav ul li {
  justify-self: flex-end;
  padding: 0 1em; }

.logo {
  padding-left: 1em;
  margin-top: -10px; }

nav li {
  color: #000;
  display: block;
  float: left;
  padding: 1em;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s; }

nav li a {
  color: black;
  /* over-ridden todo fix  */ }

nav li:hover {
  cursor: pointer; }

.main-nav {
  display: flex;
  align-content: center;
  position: relative; }

.main-nav > li {
  align-items: center; }

.main-nav > .btn-small {
  background-color: #242943; }

.main-nav > button > a {
  color: white; }

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: white;
  /* white fallback color */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: left;
  background-color: rgba(255, 255, 255, 0.95);
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */ }

/* The navigation links inside the overlay */
.overlay a {
  padding: .5em;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: #5465ca;
  border-bottom: solid 1px #efefef;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
  transition-timing-function: ease-in-out; }

.overlay a:visited {
  color: #5465ca; }

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1; }

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

.hamburger {
  font-size: 1.4em; }

/* Service styles */
.sub-nav {
  width: 100%; }

.sub-nav li {
  height: 20vh; }

@media screen and (599px) {
  li {
    width: 50%; } }

.sub-nav li a {
  color: white; }

.sub-nav li:first-child {
  background-color: #3a4aa5; }

.sub-nav li:nth-child(2) {
  background-color: #5061c2; }

.sub-nav li:nth-child(3) {
  background-color: #2d397f; }

.sub-nav li:nth-child(4) {
  background-color: #5061c2; }

.sub-nav li:nth-child(5) {
  background-color: #2d397f; }

.sub-nav li:nth-child(6) {
  background-color: #3a4aa5; }

.inactive {
  background-color: #424A51;
  color: white; }

/* Case study page layout  */
.grant-case-study .text-block {
  background-color: black;
  color: white;
  line-height: 1.25em; }

.case-study .headline {
  height: 33vh; }

.headline span {
  font-weight: bold;
  font-size: 1.4em;
  color: #f77a99; }

.tag-list li {
  display: inline;
  font-size: .75em;
  text-transform: uppercase;
  padding: .5em .5em;
  border: solid 1px #242943;
  border-radius: 8px;
  background-color: #242943;
  margin-left: 2px; }

.grid__item--header > h2 {
  text-align: center;
  color: #424A51; }

.grid__item--main {
  grid-area: main;
  grid-column: 1 / 5;
  grid-row: 2 / 4; }

.grid__item--footer {
  grid-area: footer;
  grid-column: 1 / 5;
  grid-row: 4 / 5; }

.case-header > * {
  margin-bottom: 2em; }

.case-header h1 {
  text-align: center; }

.case-header ul {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.case-header li {
  margin-right: 1em;
  padding: 25em;
  border: solid 1px #424A51; }

.case-header > li
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; }

.narrative {
  width: 50%; }

.main-content {
  background-color: white; }

.grant-case-study .hero {
  background: #efefef url("../images/grant-sit-tight.jpg") no-repeat center right; }

.grant-case-study footer {
  background-color: white; }

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0; }

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media screen and (max-width: 599px) {
  .mobile-hide {
    display: none; } }

@media only screen and (max-width: 599px) {
  section, figure, .flex-c {
    flex-direction: column; } }

/* Temp margin fix - todo delete */
/* * {
  border: 1px solid red;
} */
*, *:before, *:after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  width: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; todo */
  font-family: "DM Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 16px;
  color: #141414;
  overflow-x: hidden; }

@media screen and (min-width: 599px) {
  body {
    font-size: 18px; } }

main {
  display: block;
  /* min-height: calc(100vh - 50px); */ }

h2 {
  font-family: "Noto Serif JP", Georgia, "Times New Roman", Times, serif;
  letter-spacing: .5px;
  margin-bottom: .5em; }

h3, h4, h5, h6 {
  font-family: "DM Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  letter-spacing: .5px; }

h1 {
  margin: 0.67em 0;
  font-family: "DM Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 2em;
  letter-spacing: .25px;
  line-height: 1.4em; }

h2 {
  font-size: 1.75em;
  line-height: 1.4em; }

h3, h4 {
  font-size: 1.5em;
  line-height: 1.3em; }

h5, h6 {
  font-size: 1.25em;
  line-height: 1.3em; }

.serif {
  font-family: "Noto Serif JP", Georgia, "Times New Roman", Times, serif; }

.sans {
  font-family: "DM Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif; }

p {
  font-family: "DM Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: .75em; }

ul, li {
  list-style-type: none; }

li:hover {
  cursor: pointer; }

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
  /* IE 10 */ }

a {
  text-decoration: none;
  color: #5465ca;
  background-color: transparent;
  /* IE 10 */ }

a:visited {
  /* color: darken($link, 20%); todo */ }

b,
strong {
  font-weight: bolder;
  /* Chrome, Edge, Safari */ }

small {
  font-size: 87.5%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

hr {
  transform: rotate(90deg);
  width: 50px;
  color: #141414; }

/* Buttons */
.btn {
  padding: .25em .75em;
  margin-top: .5em;
  margin-bottom: .5em;
  text-align: center; }

.outline {
  border: solid 2px #242943;
  background-color: transparent; }

.small {
  padding: .25em; }

.large {
  padding: .75em 1.5em; }

.rounded {
  border-radius: 2.5em; }

.btn .shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.btn a, .btn a:visited {
  color: #141414;
  text-transform: uppercase;
  font-weight: bold; }

.btn .primary {
  display: inline-block;
  background: #242943;
  color: white; }
  .btn .primary:hover {
    background: #121522;
    transition: 400ms;
    transition-timing-function: ease-in-out; }

.btn:hover p {
  color: white; }

figure {
  margin: 0;
  padding: 0; }

figcaption p {
  /* font-family: $sans; */
  font-size: .875em;
  line-height: 1em; }

/* Contact Form */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  /* Firefox, Safari */ }

button,
input {
  /* IE, Edge */
  overflow: visible; }

button,
select {
  /* Edge, Firefox, IE */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  /* Firefox reset*/ }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

button .default {
  background-color: #666;
  /* test button todo */ }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* IE 10 box sizing*/
  padding: 0;
  /* IE 10 */ }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* Visibility with JS */
.toggle-content {
  display: none; }

.toggle-content.is-visible {
  display: block; }

@media screen and (max-width: 599px) {
  .visible-on-large {
    display: none; } }

.light {
  background-color: #efefef;
  color: #141414; }

.projects {
  background-color: transparent; }

.projects figure {
  height: 50vh; }

.project-card {
  margin-bottom: 2em; }

.error {
  background-color: #242943;
  color: #9ca4ca; }

.accent {
  color: #23e3c9; }

.highlight {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, #52adf7 0%); }

a.highlight {
  background: #efefef; }

/* padding */
article > h6 {
  padding: 1em 0; }

/* Home page styles */
.benefits .card {
  height: 60vh;
  max-width: 70ch; }

.text-as-background {
  margin-bottom: 0; }

@media screen and (min-width: 599px) {
  .text-as-background {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    position: relative;
    top: 10px;
    left: 50px;
    background-color: #23e3c9;
    color: rgba(0, 0, 0, 0.2);
    font-family: "DM Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    z-index: -1;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    /* text-shadow:
       3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000; */
    letter-spacing: 3px; } }

.width-tune {
  max-width: 250px; }

/* Background video */
* {
  box-sizing: border-box; }

.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99; }

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }

#vidtop-content {
  top: 0;
  color: #fff; }

.vid-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif; }

.vid-info h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.2; }

.vid-info a {
  display: block;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  transition: .6s background;
  border-bottom: none;
  margin: 1rem auto;
  text-align: center; }

@media (min-aspect-ratio: 16 / 9) {
  .video-foreground {
    height: 300%;
    top: -100%; } }

@media (max-aspect-ratio: 16 / 9) {
  .video-foreground {
    width: 300%;
    left: -100%; } }

@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: .5rem; }
  .vid-info h1 {
    margin-bottom: .2rem; } }

@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none; } }

/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7); }
  to {
    opacity: 1; } }

.fade-in-element {
  animation: fade-in 1.4s; }

.hidden {
  opacity: 0;
  will-change: opacity; }

/* Slide in right */
@-webkit-keyframes slide-in-right {
  from {
    margin-right: -100%; }
  to {
    margin-right: 25%; } }

@keyframes slide-in-right {
  from {
    margin-right: -100%; }
  to {
    margin-right: 25%; } }

/* Slide in right not working 

  .slide-in-right-FIXME {
  -webkit-animation: slide-in-right 3s alternate ease-in-out; 
  animation: slide-in-right 3s alternate ease-in-out;
}

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  */
/* Footer */
footer {
  position: absolute;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: #efefef; }

.emph {
  font-weight: bolder; }

.social-links > a:visited {
  color: #32293b; }

.copyright {
  width: 100vw;
  text-align: center;
  font-size: .875em;
  padding: 1em 0;
  background-color: #c02e53; }

section.benefit {
  height: 100vh; }

article.panel {
  height: 75vh;
  margin-bottom: 1rem;
  margin-top: 5em; }

article.panel > * {
  margin-bottom: 2rem; }

.feature {
  height: 80vh;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  grid-gap: 0;
  align-items: stretch;
  background-color: #efefef; }

@media only screen and (max-width: 599px) {
  section {
    flex-direction: column; } }

.feature-text {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1; }

.feature-img {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  width: auto;
  height: 50vh;
  border-style: none; }

.callout {
  max-height: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #242943;
  color: Sbg-text-color-light; }

/* Animate */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7); }
  to {
    opacity: 1; } }

.fade-in-element {
  animation: fade-in 1.4s; }

.hidden {
  opacity: 0; }

/* About */
.about {
  min-height: 100%;
  height: 100%; }

.team-wrap {
  height: 120vh; }

.about > .grid-c {
  min-height: 100%;
  padding-top: 2em;
  grid-template-columns: 1fr;
  align-items: center; }

.team, .grid-c__fixed--c3r3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2em 1em; }

.member {
  height: 25vh; }

/* Work page and sub-pages */
.growth-marketing .hero {
  background-image: url("../images/people.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten; }

.card-wrap > * {
  margin-bottom: 2em; }

.card > * {
  margin-bottom: .5em; }

.label-row {
  margin-top: 2em; }

.label-row li {
  padding: 2em; }

.lead {
  background-color: #ff5947; }

.fund {
  background-color: #c02e53; }

.grow {
  background-color: #3a4aa5;
  color: white; }

.grow.darker {
  background-color: #2d397f; }

.grow.dark {
  background-color: #1f285a; }

.grow.lighter {
  background-color: #5061c2; }

.grow.light {
  background-color: #7683cf; }

.lead {
  background-color: #ff5947;
  color: white; }

.lead.darker {
  background-color: #ff2b14; }

.lead.dark {
  background-color: #e01600; }

.lead.lighter {
  background-color: #ff877a; }

.lead.light {
  background-color: #ffb5ad; }

.fund {
  background-color: #c02e53;
  color: white; }

.fund.darker {
  background-color: #972441; }

.fund.dark {
  background-color: #6e1a2f; }

.lead.lighter {
  background-color: #ff877a; }

.lead.light {
  background-color: #ffb5ad; }

.icon-container {
  display: flex;
  flex-wrap: wrap; }

.icon__container {
  padding: 1em 0; }

i.circle {
  flex: 0 1;
  background-color: #141414;
  border-radius: 50%;
  padding: .75em;
  color: white;
  font-size: 1em;
  max-width: 25vw; }

.growth-marketing > .card {
  width: 100%;
  height: 100%; }

.bottom-border {
  bottom: 0;
  width: 100%;
  border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;
  height: 10vh;
  background-color: #3a4aa5; }

/* Case stories */
/* Contact page */
.contact {
  margin-bottom: 2em; }

.contact .hero {
  background-color: #c2c8e9;
  color: #c02e53; }

.contact h1 {
  letter-spacing: -1px; }

.contact > .hero {
  background-color: #3a4aa5; }

.contact > .hero__inner {
  padding-bottom: 1em; }

.contact__container {
  text-align: center;
  padding-top: 4em; }
  .contact__container a {
    color: #141414; }

.mail-link {
  padding-bottom: 1.5em; }

.mail-link a, .tel-link a {
  font-size: 1.8em; }

/* Form updated */
form {
  /* Just to center the form on the page */
  margin: 0 auto;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em; }

form div + div {
  margin-top: 1em; }

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: right; }

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;
  /* To harmonize the look & feel of text field border */
  border: 1px solid #999; }

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000; }

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;
  /* To give enough room to type some text */
  height: 5em; }

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px;
  /* same size as the label elements */ }

/* 

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
/*
  margin-left: .5em;
}

*/
/* Projects Overview */
.sample > .flex-item {
  height: 60vw; }

/* flicker https://codepen.io/mandymichael/pen/aJLYVz */
/* prefers-reduced-motion */
/* 404 Error Page */
.wrap-error-text {
  height: 75vh; }

.wrap-error-text p {
  font-size: 1.25em; }

/*# sourceMappingURL=style.css.map */