/* Size and spacing */
/* padding and margins */
/* max-width */
/* $space-base-unit: 1em; /* for padding and margins 

$space-base-xxs:  calc(0.25 * var(--space-unit));
$space-base-xs:   calc(0.5 * var(--space-unit));
$space-base-sm:   calc(0.75 * var(--space-unit));
$space-base-md:   calc(1.25 * var(--space-unit));
$space-base-lg:   calc(2 * var(--space-unit));
$space-base-xl:   calc(3.25 * var(--space-unit));
$space-base-xxl:  calc(5.25 * var(--space-unit));

/* Grid Layouts */
/* Color Scheme */
/* 
$black: rgba(0, 0, 0, 1) !default; 
$white: rgba(255, 255, 255, 1) !default;
$red: #ff0000;

*/
/* dark blue */
/* RGB */
/* night */
/* light red */
/* 

body { 
  background: color(background);
  color: color(text);
  text-align: center;
}

h1 { color: color(primary, base); }
strong { color: color(secondary, light); }
a { color: color(secondary, light); 

*/
.text-light {
  color: #9ca4ca; }

/* gray-d */
/* pool */
/* indigo */
/* indigo lite */
/* grape */
/* Gradients */
/* $hero: linear-gradient(45deg,#fff 70%, rgb(82, 173, 247) 0%); */
/* 
$hero: linear-gradient(45deg,rgb(15, 15, 15) 60%, rgb(58, 74, 166) 0%,);

*/
/* lighten($indigo, 5%); */
/* button adjusted colors*/
.btn .shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

/* Typography */
/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; todo */
/* min-width breakpoints*/
/* 
xs, extra-small: 0px or larger
sm, small: 600px or larger
md, medium: 960px or larger
lg, large: 1280px or larger
xl, extra-large: 1920px or larger

*/
/* Main Primary color */
/* Test color schemes */
.btn-green {
  background: #2ecc71; }
  .btn-green:hover {
    background: #26ab5f;
    transition: all 0.3s ease; }
  .btn-green:active {
    background: #176437; }

.btn-blue {
  background: #3498db; }
  .btn-blue:hover {
    background: #2383c4;
    transition: all 0.3s ease; }
  .btn-blue:active {
    background: #16527a; }

.btn-yellow {
  background: #f1c40f; }
  .btn-yellow:hover {
    background: #cba50c;
    transition: all 0.3s ease; }
  .btn-yellow:active {
    background: #796307; }

.btn-red {
  background: #e74c3c; }
  .btn-red:hover {
    background: #df2e1b;
    transition: all 0.3s ease; }
  .btn-red:active {
    background: #921e12; }

.page-title {
  display: inline;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: .25em;
  color: #141414; }

/* utility classes */
.inner {
  padding: 1em; }

/* Full-width containers */
.container {
  padding: 1em; }
  @media (min-width: 600px) {
    .container {
      padding: 2em; } }

.banner {
  width: 100%;
  background-color: transparent;
  margin-bottom: 4em; }

.banner__inner {
  padding: 3em 0;
  max-width: 768px; }

@media (min-width: 900px) {
  padding: 2em 2em 0; }

.banner--light, section--light {
  background-color: #efefef;
  color: #141414; }

.banner--deep, section--deep {
  background-color: #242943; }

.case__content-container {
  max-width: 60ch;
  padding: 1em 2em; }

.case__content-container h4 {
  padding-bottom: 2em 1em 4em; }

.container__inner--text {
  padding: .5em; }

.container--bg {
  margin: 0 auto;
  width: 25%;
  height: 25%;
  border-radius: 65% 35% 50% 50% / 50% 35% 65% 50%;
  background: #3a43a5;
  background: linear-gradient(45deg, #3a43a5 23%, #7b54ca 68%, #232d99 99%); }

.container--bg i {
  font-size: 2em;
  padding: 1em 0; }

/* Cards */
figure.card {
  height: 50vh; }

figure.card:first-child {
  /* background-color: #070E16; */
  /* background: lightblue url("../images/grant-sit-camera.jpg") no-repeat fixed center; */ }

figure.card:nth-child(2) {
  /* background-color: $charcoal; */
  /* background: lightblue url("../images/grant-sit-camera.jpg") no-repeat fixed center; */ }

.circle {
  border-radius: 50%; }

.bold {
  font-weight: bold; }

.larger {
  font-size: 1.25em; }

.xlarge {
  font-size: 2em; }

/* Flexbox */
.flex, .flex-c {
  display: flex; }

.flex, .flex-c > * {
  flex: 1; }

.flex-item, .flex-i {
  flex: 1; }

.flex-i--double, .flex-i--2 {
  flex: 2; }

.flex-c--col {
  display: flex;
  flex-direction: column; }

.flex-c--row {
  flex-direction: row; }

.width-50 {
  width: 50%; }

.width-75 {
  width: 75%; }

.flex-c--center {
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center center; }
  @media (max-width: 599px) {
    .flex-c--center {
      flex-direction: column; } }

.flex-item-half {
  max-width: 80%; }

.flex-c--space-between {
  justify-content: space-between; }

.flex-c--wrap {
  flex-direction: wrap; }

@media (max-width: 599px) {
  .flex-c {
    flex-direction: column; } }

/* Grid */
/* services page grid with left gutter */
.grid-c--gutter {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 1.5em; }

.grid-i-gutter {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2; }

.grid-i-1 {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2; }

.grid-i-2 {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2; }

.grid-i-3 {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2; }

/*

.grid-wrapper {
    display: grid;
    min-height: 100vh;
    grid-gap: 1em;
    grid-template-areas:
        "menu"
        "title-wrap"
        "main"
        "footer";
}

@include mobile{
    .grid-wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "header header"
        "title-wrap title-wrap"
        "main main"
        "footer footer";
    }
}

*/
.grid-c {
  display: -ms-grid;
  display: grid; }

.stretch {
  display: grid;
  justify-items: stretch; }

.grid-c--1x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .5em; }

.grid-c__fluid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); }

.grid-c__fluid--xl {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); }

.grid-c__fluid--l {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1em; }

.grid-c__fluid--m {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }

.grid-c__fluid--s {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); }

.grid-c__fluid-xs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); }

.gap {
  grid-gap: 1em; }

.gap-2 {
  grid-gap: 2em; }

.gap-4 {
  grid-gap: 4em; }

.no-gap {
  grid-gap: 0; }

/* home page grid - todo */
.icon-grid__fixed--2x2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 1em;
  height: 50vh; }

.icon-grid li {
  height: 25vh;
  font-size: 1em;
  letter-spacing: .5px; }

.icon-grid li:nth-child(2n) {
  border-left: .5px dotted #fff; }

.icon-grid li:nth-child(3) {
  border-top: .5px dotted #fff; }

.icon-grid li:nth-child(4) {
  border-top: .5px dotted #fff; }

/* team grid */
.gallery__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f5f4f4; }

.gallery__container--grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(6, 200px);
  grid-auto-flow: dense; }

.item--disabled {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background: url("../images/head-shots-bad/leopold-glasses.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter; }
  .item--disabled:nth-of-type(2) {
    background-image: url("../images/head-shots-bad/dana-1.jpg"); }
  .item--disabled:nth-of-type(3) {
    background-image: url("./images/head-shots-bad/darcie-goodwin.jpg"); }
  .item--disabled:nth-of-type(4) {
    background-image: url("https://images.unsplash.com/photo-1464652149449-f3b8538144aa?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item--disabled:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out; }
  .item--disabled:hover {
    transform: scale(1.05); }
    .item--disabled:hover:after {
      opacity: 0; }
  .item--disabled--medium {
    grid-row-end: span 2; }
  .item--disabled--large {
    grid-row-end: span 3; }
  .item--disabled--full {
    grid-column-end: auto; }
    @media (min-width: 900px) {
      .item--disabled--full {
        grid-column: 1/-1;
        grid-row-end: span 2; } }
  .item--disabled__details {
    position: relative;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: #fff;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #828282; }
    .item--disabled__details:before {
      content: counter(item-counter);
      font-weight: bold;
      font-size: 1.1rem;
      padding-right: 0.5em;
      color: #444; }

/* end todo */
.two-x-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0;
  justify-content: center;
  min-height: 100%; }

/* Image gallery grid -- About page */
@media (max-width: 599px) {
  .grid-c__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 600px) {
  .grid-c__columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  figure:nth-child(3), .enlarge-2 {
    grid-row: span 2; }
  figure:nth-child(4) {
    grid-column: span 2;
    grid-row: span 2; } }

/* Alignment */
.centered {
  display: flex;
  justify-content: center;
  align-items: center; }

.space-between {
  display: flex;
  justify-content: space-between; }

.halfscreen {
  height: 50vh; }

.title-box {
  padding: 0 1em;
  margin: 1em 0; }

.subnav {
  padding: 2em 0; }

.grid__page--12x12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 0;
  justify-content: center;
  min-height: 100%; }

/* Container components */
.cards {
  display: flex; }

.card {
  padding: .5em;
  border-radius: 2px;
  overflow: hidden;
  margin: 1rem;
  transition: all 0.5s ease; }

.card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

/* .card--border {
    border-radius: 53% 47% 45% 55% / 67% 62% 38% 33%;    
    background: rgb(58,74,165);
    background: linear-gradient(90deg, rgba(58,74,165,1) 30%, rgba(84,101,202,1) 74%);
  }

  */
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.work > article {
  height: 100vh; }

/* Portfolio / Projects Grid */
/* Alignment */
.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.fine-print {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: .0625em;
  margin-bottom: 1em; }

.text-outline {
  color: white;
  text-shadow: -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.large-print {
  text-transform: uppercase; }

.text-margin > * {
  margin-bottom: 1em; }

.main-content {
  flex: 2; }

.main-content__inner {
  padding: 1em 2em; }

.main-content p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 1em; }

.content-sidebar {
  background-color: #141414;
  color: white; }

blockquote {
  font-family: "Noto Serif JP", Georgia, "Times New Roman", Times, serif;
  line-height: 1.8em;
  padding: 2em 3em; }

.vertical-line {
  margin: 2em 0;
  height: 50px;
  background: linear-gradient(#141414, #141414) no-repeat center/1px 100%; }

.img--filter {
  -webkit-filter: grayscale(100%);
  filter: grayscale(0%); }

.img--filter:hover {
  -webkit-filter: grayscale(100%) blur(2px);
  filter: grayscale(100%) blur(2px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.aspect-ratio--16x9 {
  padding: 56.25% 0 0 0; }

/* 
.zoom-in-out img {
  transition: .6s ease-in-out;
}

.zoom-in-out:hover {
  transform: scale(1.15);
}

*/
/* Navigation */
/* https://www.w3schools.com/code/tryit.asp?filename=G6913M8THUXM */
/* old nav */
nav {
  width: 100%;
  background-color: transparent;
  text-align: center;
  margin: 0 auto;
  height: 2.6em;
  position: fixed;
  background-color: #efefef;
  z-index: 10; }

/* applied after scroll height reached 
  
  .fixed-nav nav {
    position: fixed;
    top:0;
    z-index: 1;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  }

  */
.navigation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;
  z-index: 90; }

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  justify-content: flex-end;
  align-items: center;
  height: 3em; }

nav ul li {
  justify-self: flex-end;
  padding: 0 1em; }

.logo {
  padding-left: 1em;
  margin-top: -10px; }

nav li {
  color: #000;
  display: block;
  float: left;
  padding: 1em;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s; }

nav li a {
  color: black;
  /* over-ridden todo fix  */ }

nav li:hover {
  cursor: pointer; }

.main-nav {
  display: flex;
  align-content: center;
  position: relative; }

.main-nav > li {
  align-items: center; }

.main-nav > .btn-small {
  background-color: #242943; }

.main-nav > button > a {
  color: white; }

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: white;
  /* white fallback color */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: left;
  background-color: rgba(255, 255, 255, 0.95);
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */ }

/* The navigation links inside the overlay */
.overlay a {
  padding: .5em;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: #3a4aa5;
  border-bottom: solid 1px #efefef;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
  transition-timing-function: ease-in-out; }

.overlay a:visited {
  color: #3a4aa5; }

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #c2c8e9;
  background-color: #3a4aa5; }

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

.hamburger {
  font-size: 1.4em; }

/* Service styles */
/* Other projects section */
.more-projects {
  background-color: #141414; }

.more-projects h2 {
  color: white; }

.more-projects--container {
  padding: 2em; }

.img-sizer {
  max-width: 500px;
  margin-right: 1em; }

.fancy-text, .fancy-text-block p {
  font-family: "Noto Serif JP", Georgia, "Times New Roman", Times, serif;
  font-size: 1.15em;
  line-height: 1.6em;
  font-weight: bold; }

.focus-text-block {
  margin-bottom: 2em; }

.inactive {
  background-color: #424A51;
  color: white; }

.justify-between {
  justify-content: space-between; }

.case-client {
  padding: 1.5em 0 1em; }

aside {
  flex: 0 0 33%; }

.case-meta-container > * {
  padding-bottom: 1em; }

.case-meta {
  padding: 1em 1.25em;
  background-color: #141414;
  color: white; }

.case-inner > * {
  padding: 0 0 1em; }

.founder-case-study .case-meta span {
  color: #57b8ff;
  font-size: 1.15em;
  font-weight: bold; }

.theme-cherry span .theme-cherry .element {
  color: #c02e53; }

.theme-cherry span .theme-cherry .other-element {
  background: #d4584d; }

.content-container {
  max-width: 540px; }

.flex-c--space-between {
  display: flex;
  justify-content: space-between; }

.fine-print .no-margin {
  margin: 0; }

.tag-list li {
  padding-bottom: .75em;
  text-indent: .75em; }

.twitter-wrap {
  background-color: #57b8ff;
  max-width: 375px; }

.summary-text {
  max-width: 768px;
  padding: 1em 4em; }

/* Case study page layout  */
.grant-case-study .text-block {
  background-color: black;
  color: white;
  line-height: 1.25em; }

.case-study .banner {
  background-color: #141414;
  color: white; }

.flex-c--wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 1em; }

.tag-container > tag {
  margin: 1em; }

.tag-item {
  margin-bottom: 1em; }

.tag-container {
  padding: 1em; }

.tag-container li {
  line-height: 1.4em; }

.twitter-wrap {
  z-index: -1; }

/*
<img class=""src="../images/overhead.jpg" alt= "Protest against gun violence in Harrisburg, PA">
    <figcaption></figcaption>

    */
.tag-item {
  display: inline;
  font-size: .875em;
  text-transform: uppercase;
  padding: .25em;
  margin: 0 1em 1rem;
  border: solid 1px #242943;
  border-radius: 4px;
  background-color: white; }

.case-meta p {
  font-size: 1.25em;
  margin: 0; }

.grid__item--header > h2 {
  text-align: center;
  color: #424A51; }

.grid__item--main {
  grid-area: main;
  grid-column: 1 / 5;
  grid-row: 2 / 4; }

.grid__item--footer {
  grid-area: footer;
  grid-column: 1 / 5;
  grid-row: 4 / 5; }

.case-header > * {
  margin-bottom: 2em; }

.case-header h1 {
  text-align: center; }

.case-header ul {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.case-header li {
  margin-right: 1em;
  padding: 25em;
  border: solid 1px #424A51; }

/* Next project component */
/* Page template styles */
/* Jeff Grant, Influencer */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; }

.narrative {
  width: 50%; }

.grant-case-study .hero {
  background: #efefef url("../images/grant-sit-tight.jpg") no-repeat center right; }

.grant-case-study footer {
  background-color: white; }

.video-wrap {
  position: relative;
  width: 100%;
  margin-top: 2em;
  padding-bottom: 56.25%;
  height: 0; }

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Helper classes */
.caps {
  text-transform: uppercase; }

/* Width styles */
.column-1 {
  width: 100%; }

.column-2 {
  width: 50%; }

.column-3 {
  width: 33.3%; }

.column-4 {
  width: 25%; }

.column-3-of-4 {
  width: 75%; }

.column-2-of-3 {
  width: 66.67%; }

/** HER0 ***/
.hero {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center; }
  @media (max-width: 599px) {
    .hero {
      flex-direction: column;
      align-items: center; } }

.hero-short {
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center; }

.hero h1, .hero-short h1 {
  max-width: 768px; }
  @media (min-width: 600px) {
    .hero h1, .hero-short h1 {
      font-size: 2.6em; } }

.home h1 {
  font-size: 2.4em; }
  @media (min-width: 600px) {
    .home h1 {
      font-size: 4em; } }

.hero__text-container {
  display: flex; }
  @media (max-width: 599px) {
    .hero__text-container {
      flex-direction: column; } }
  @media (min-width: 600px) {
    .hero__text-container {
      margin-left: -200px; } }

.small-text-column {
  width: 250px; }

.small-text-column p {
  font-size: 1.75em;
  margin-top: 100px; }

.cta-container {
  padding-top: 1em;
  margin-top: 2em; }

.img__container--center {
  position: relative;
  margin: 0 auto;
  width: 75%; }

.press-case-study .hero-short {
  background-color: #c02e53; }

.grants__main .hero {
  background-color: transparent;
  background: url("../images/chicago-skyline.jpg"); }

@media (max-width: 599px) {
  .growth-marketing .hero {
    padding-top: 120px; } }

.contact .hero {
  width: 100%; }

@media (max-width: 599px) {
  .mobile-hide {
    display: none; } }

@media (max-width: 599px) {
  .visible-on-larger {
    display: none; } }

@media (max-width: 599px) {
  section, figure, .flex-c {
    flex-direction: column; } }

/* 

 * {
  border: 1px solid red;
 }

 */
*, *:before, *:after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  width: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

body {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 16px;
  color: #141414;
  /* overflow-x: hidden; */ }

@media (min-width: 600px) {
  body {
    font-size: 18px; } }

main {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.25;
  max-width: 45ch; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

@media (min-width: 600px) {
  h1.huge {
    font-size: 4em; } }

h2 {
  font-size: 1.75em;
  margin: 0.67em 0; }

h2.serif {
  font-size: 1.4em;
  margin: 0.67em 0; }

h3, h4 {
  font-size: 1.5em; }

h5, h6 {
  font-size: 1.25em; }

.serif {
  font-family: "Noto Serif JP", Georgia, "Times New Roman", Times, serif; }

.sans {
  font-family: "DM Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif; }

p {
  font-family: "DM Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: .75em;
  max-width: 768px; }

ul, li {
  list-style-type: none; }

li:hover {
  cursor: pointer; }

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
  /* IE 10 */ }

a {
  text-decoration: none;
  color: #23e3c9;
  background-color: transparent;
  /* IE 10 */ }

a:visited, a:hover {
  color: #128e7d; }

b,
strong {
  font-weight: bolder;
  /* Chrome, Edge, Safari */ }

small {
  font-size: 87.5%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

hr {
  width: 50px;
  color: #141414; }

hr.vertical-line {
  transform: rotate(90deg);
  /* vertical line */
  width: 50px;
  color: #141414; }

/* Buttons */
.btn {
  padding: .25em .75em;
  margin: .5em 0;
  text-align: center; }

.outline {
  border: solid 2px #242943;
  background-color: transparent; }

.outline a {
  color: #141414; }

.small {
  padding: .25em; }

.large {
  padding: .75em 1.5em; }

.rounded {
  border-radius: 2.5em; }

.attention {
  background-color: #51d8d3; }

.bg-primary {
  background-color: #c1666b; }

.bg-secondary {
  background-color: #3a4aa5; }

.white {
  color: white; }

.black {
  color: #141414; }

.primary {
  color: #c1666b; }

.btn .shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.btn a, .btn a:visited {
  text-transform: uppercase;
  font-weight: bold; }

.btn.night {
  display: inline-block;
  background: #242943; }
  .btn.night:hover {
    background: #121522;
    transition: 400ms;
    transition-timing-function: ease-in-out;
    cursor: pointer; }

.btn.night a {
  color: white; }

figure {
  margin: 0;
  padding: 0; }

figcaption, figcaption p {
  line-height: 1em;
  max-width: 45ch; }

/* Contact Form */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  /* Firefox, Safari */ }

button,
input {
  /* IE, Edge */
  overflow: visible; }

button,
select {
  /* Edge, Firefox, IE */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  /* Firefox reset*/ }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

button .default {
  background-color: #666;
  /* test button todo */ }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* IE 10 box sizing*/
  padding: 0;
  /* IE 10 */ }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* Visibility with JS */
.toggle-content {
  display: none; }

.toggle-content.is-visible {
  display: block; }

@media (max-width: 900px) {
  .visible-on-large {
    display: none; } }

.pool-bg {
  color: #141414;
  background-color: #bde3ff; }

.bg-night {
  color: white;
  background-color: #242943; }

.flex-end {
  justify-content: flex-end; }

.border-bottom {
  border-bottom: 1px #57b8ff solid; }

.width-half {
  width: 50%; }

/* themes */
/* 
.theme-grape {
  @include theme(theme-grape, )
} */
.light {
  background-color: #efefef;
  color: #141414; }

/* helper classes */
.anchor a {
  position: absolute;
  left: 0px; }

.anchor:before {
  display: block;
  content: " ";
  margin-top: -120px;
  height: 120px;
  visibility: hidden;
  pointer-events: none; }

.margin-gap {
  margin-bottom: 1em; }

@media (max-width: 599px) {
  .mobile-hide {
    display: none; } }

.reset {
  padding: 0;
  margin: 0; }

.shoutout {
  height: 60vh;
  margin-top: 4em; }

.shoutout h2 {
  max-width: 768px; }

.container--vertical-text {
  max-width: 100px; }

@media (max-width: 599px) {
  .text-rotated {
    display: none; } }

@media (min-width: 600px) {
  .text-rotated {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    position: relative;
    top: 100px;
    left: 1.5em;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.2);
    font-family: "DM Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    border-left: 2px solid #23e3c9;
    z-index: -1;
    color: #141414;
    /* -webkit-text-fill-color: white; // Will override color (regardless of order)
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; */
    /* text-shadow:
       3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000; */
    letter-spacing: 3px; } }

.text-column {
  max-width: 768px;
  margin: 0 auto;
  padding: 2em; }

.underline {
  border-bottom: 2px #23e3c9 solid; }

.projects-grid {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem; }

/* 
.projects-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12) 1fr;
  grid-gap: 1em;
  grid-gap: 1.5em 1em;
  justify-items: center;
  align-items: end;
  justify-content: center;
  // place-items: align items justify-items  //
}

*/
.projects {
  background-color: #141414; }
  .projects h1 {
    color: white;
    max-width: 768px; }

.projects article {
  display: flex;
  flex-direction: column; }

.project {
  width: 100%;
  position: relative;
  margin-bottom: 2em; }

.project--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0; }

.project--details > * {
  padding-bottom: .5em; }

/*

.project--overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);
  transition: .4s ease-in-out;
  opacity: 1;
}

*/
.project--overlay:hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  transition: .4s ease-in-out;
  opacity: 1; }

.content--details {
  padding: 1.5em 0 1em .5em; }

.content--details p {
  padding: 1em 0 .5em; }

.narrow {
  width: 10ch; }

.content-details h4, .content-details p {
  padding-bottom: 1em; }

.project a {
  color: white; }

/* 404 error page */
.error {
  background-color: #c02e53;
  color: white;
  height: 100vh; }

.error > .img-container {
  padding-top: 100px;
  max-width: 768px; }

.error img {
  display: block;
  margin: auto;
  padding: 2em 0;
  width: 50%; }

.error h1 {
  font-size: 3em; }

.error img {
  margin: 0 auto; }

.error p {
  font-size: 1.25em; }

a.underline {
  font-size: 1.25em;
  text-decoration: underline; }

.top-pad {
  padding-top: 4em; }

.highlight {
  background: linear-gradient(180deg, white 80%, #52adf7 0%); }

/* padding */
article > h6 {
  padding: 1em 0; }

/* Home page styles */
/* Background video */
* {
  box-sizing: border-box; }

.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99; }

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }

#vidtop-content {
  top: 0;
  color: #fff; }

.vid-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif; }

.vid-info h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.2; }

.vid-info a {
  display: block;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  transition: .6s background;
  border-bottom: none;
  margin: 1rem auto;
  text-align: center; }

@media (min-aspect-ratio: 16 / 9) {
  .video-foreground {
    height: 300%;
    top: -100%; } }

@media (max-aspect-ratio: 16 / 9) {
  .video-foreground {
    width: 300%;
    left: -100%; } }

@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: .5rem; }
  .vid-info h1 {
    margin-bottom: .2rem; } }

@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none; } }

/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7); }
  to {
    opacity: 1; } }

.fade-in-element {
  animation: fade-in 1.4s; }

.hidden {
  opacity: 0;
  will-change: opacity; }

/* Slide in right */
@-webkit-keyframes slide-in-right {
  from {
    margin-right: -100%; }
  to {
    margin-right: 25%; } }

@keyframes slide-in-right {
  from {
    margin-right: -100%; }
  to {
    margin-right: 25%; } }

/* Slide in right not working 

  .slide-in-right-FIXME {
  -webkit-animation: slide-in-right 3s alternate ease-in-out; 
  animation: slide-in-right 3s alternate ease-in-out;
}

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  */
/* Footer */
footer {
  position: relative; }

footer p,
footer a, footer a:visited {
  color: white;
  font-size: 1.4em; }

footer .banner {
  position: absolute;
  background-color: #141414;
  text-align: center;
  bottom: 0; }

footer .banner span {
  color: white; }

.copyright {
  padding: 1em 0;
  font-size: 1em;
  text-align: center;
  background-color: #32293b;
  color: white; }

.social-links {
  display: inline-block;
  flex-direction: row;
  padding-top: 2em; }

.social-links li {
  width: 100px; }

.social-links li a {
  font-size: 2em; }

.header__container {
  max-width: 60ch;
  /*  background: url("../images/test-bg.png") no-repeat center;
  background-position: contain; */ }

/* .panel {
  height: 80vh;
} */
.panel__list li {
  padding-bottom: .5em; }

.panel li {
  text-indent: .75em;
  line-height: 1em;
  margin: 0 0 .5em; }

.panel {
  margin-bottom: 1rem;
  margin-top: 1em; }

.panel > * {
  margin-bottom: 1rem; }

.panel__content {
  max-width: 500px; }

.panel__content h4, .panel__content p {
  padding: 1em 0; }

.button__container {
  padding: 2em 0; }

.feature {
  height: 80vh;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  grid-gap: 0;
  align-items: stretch;
  background-color: #efefef; }

.feature-text {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1; }

.feature-img {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  width: auto;
  height: 50vh;
  border-style: none; }

.testimonials {
  height: 75vh;
  background-color: #242943;
  color: white; }

.testimonials .fine-print {
  color: #23e3c9;
  margin-bottom: 1em; }

.callout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%; }

.callout .fullscreen {
  height: 100vh; }

.callout .inner {
  padding: 1em; }

@media (min-width: 600px) {
  .callout .inner {
    padding: 2em; } }

.callout p {
  font-size: 1.25em;
  font-family: "Noto Serif JP", Georgia, "Times New Roman", Times, serif;
  line-height: 1.8; }

/* Animate */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7); }
  to {
    opacity: 1; } }

.fade-in-element {
  animation: fade-in 1.4s; }

.hidden {
  opacity: 0; }

/* About page */
.about {
  min-height: 100%;
  height: 100%; }

.masonry {
  margin: 1.5em auto;
  max-width: 100%;
  column-gap: 1.5em;
  height: 100%; }

/* masonry images */
.m-item {
  background: white;
  padding: 1em;
  margin: 0 0 1.5em; }

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 3; } }

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 2; } }

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 1; } }

/* masonry tiles hover overlay */
/*

h4, p {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

*/
/* Revisit later */
/* 
.m-container {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.m-container .m-overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
top: auto;
bottom: 0;
padding: 1em;
height: 4.75em;
background: #79FAC4;
color: #3c4a50;
-webkit-transition: -webkit-transform 0.35s;
transition: transform 0.35s;
-webkit-transform: translate3d(0,100%,0);
transform: translate3d(0,100%,0);
visibility: hidden;

}

.m-container img {
  display: block;
  position: relative;
-webkit-transition: -webkit-transform 0.35s;
transition: transform 0.35s;
}

.m-container:hover img {
-webkit-transform: translate3d(0,-10%,0);
transform: translate3d(0,-10%,0);
}

.m-container p {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  float: left;
  margin: 0px;
  display: inline-block;
}



.m-container {
  position: relative;
}

.m-overlay {
  opacity: 0;
  position: absolute;
}

.m-overlay:hover {
  opacity: 1;
}

*/
.about figcaption {
  text-align: center; }

.about figcaption p {
  font-size: 1em; }

.about figcaption p:first-child {
  margin-top: .5em; }

.about a {
  color: #141414; }

/* Work page and sub-pages */
.card-wrap > * {
  margin-bottom: 2em; }

.card > * {
  margin-bottom: .5em; }

.primary {
  background-color: #242943;
  color: white; }

.secondary {
  background-color: #32293b;
  color: white; }

.icon__container {
  margin-top: 2em; }

.icon__container li {
  padding: 1em 0; }

i.circle {
  flex: 0 1;
  background-color: #141414;
  border-radius: 50%;
  padding: .75em;
  color: white;
  font-size: 1em;
  max-width: 25vw; }

.growth-marketing > .card {
  width: 100%;
  height: 100%; }

.bottom-border {
  bottom: 0;
  width: 100%;
  border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;
  height: 10vh;
  background-color: #3a4aa5; }

/* Case stories */
/* Contact page */
.contact {
  margin-bottom: 2em; }

.contact--details {
  height: 100vh; }

.contact__container {
  text-align: center;
  padding-top: 4em; }
  .contact__container a {
    color: #141414; }

.contact-image {
  height: 70vh;
  background: url("../images/bok.jpg") no-repeat center bottom; }

.mail-link {
  padding-bottom: 1.5em; }

.mail-link a, .tel-link a {
  font-size: 1.25em; }

/* Form updated */
form {
  /* Just to center the form on the page */
  margin: 0 auto;
  /* To see the outline of the form */
  padding: 1em; }

form div + div {
  margin-top: 1em; }

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: right; }

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;
  /* To harmonize the look & feel of text field border */
  border: 1px solid #999; }

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000; }

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;
  /* To give enough room to type some text */
  height: 5em; }

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px;
  /* same size as the label elements */ }

/* 

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
/*
  margin-left: .5em;
}

*/
/* Growth marketing service page */
.service__container {
  margin-top: 3em; }

.service__container h4 {
  font-family: "Noto Serif JP", Georgia, "Times New Roman", Times, serif; }

.submenu a {
  color: #141414; }

.submenu-item {
  border: 4px solid #141414;
  padding: 2em 0; }

.submenu-item:hover {
  background-color: #c02e53;
  transition: .3s ease-in-out; }

/* todo */
.service__story {
  align-items: flex-end; }

/* Projects Overview */
.sample > .flex-item {
  height: 60vw; }

/* 404 Error Page */
.wrap-error-text {
  height: 75vh; }

.wrap-error-text p {
  font-size: 1.25em; }

/*# sourceMappingURL=style.css.map */