@font-face {
  font-family: "Inter";
  src: url("./fonts/inter3.5/inter-web/Inter-Bold.woff");
}

@import "./partials/base";

/// SITE STYLES  ///

/* Hero */

.hero {
  height: 100vh;
  display: grid;
  align-items: center;
}

.hero > h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
  }

.hero > .text-container {
  padding: 0 1em;
}

.btn {
  margin-top: auto;
  margin-bottom: 0;
  text-align: center;
  padding: .25em 1.5em;
  border: 1.5px solid $indigo;
  background-color: transparent;
  border-radius: 2.5em; 
}

.btn:hover {
  background-color: $indigo;
  transition: 400ms;
  transition-timing-function: ease-in-out;
  color: #fff; 
}

.cta > p {
  font-size: .875em;
  text-transform: uppercase;
}

.home-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}
  @media screen and (max-width: $mobile-max) {
    .hero {
      flex-direction: column;
    }
  }

  /* Animations */

  // fade in

  @keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
  }
  
  .fade-in-element {
    animation: fade-in 1.4s;
  }
  
  .hidden {
    opacity: 0;
  }

  /* Slide in right */

  @-webkit-keyframes slide-in-right {
    from { margin-right: -100%;    }
    to   { margin-right: 25%; }
}

@keyframes slide-in-right {
  from { margin-right: -100%;    }
  to   { margin-right: 25%; }
}

  /* Slide in right not working 

  .slide-in-right-FIXME {
  -webkit-animation: slide-in-right 3s alternate ease-in-out; 
  animation: slide-in-right 3s alternate ease-in-out;
}

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  */

.container-cta {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

/* Footer */

footer {
  width: 100vw;
  height: 50px;
  margin-top: -50px;
  background-color: $charcoal;
  padding: 1rem;
  font-size: .875em;
  line-height: 1.15em;
}

/// Page Styles ///

// Home page //

.home {
  width: 100%;
}

// Benefits section //

.benefits {
  height: 120vh;
  background-color: #dedede; 
}

.title-bar > h2 {
  text-align: center;
  justify-content: center;
}

.benefits > .grid-container {
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows: repeat(2, 350px); */
  grid-gap: 2em 1em;
}

.b1 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
  align-self: left;
}

.b2 {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  align-self: center;
}

.b3 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  align-self: center;
}

.services.grid-container {
  height: 120vh;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-gap: 0 0;
  align-items: stretch;
}

.s-card {
  height: 60vh;
 /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/* 
.s-card > h4,
.s-card >  img {
  padding-left: 1em;
}

*/

.s-card.grid-item {
  justify-self: center;
  align-self: center;
  overflow: hidden;
}

.first {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.second {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.third {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.fourth {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.callout {
  display: flex;
  flex-direction: column; 
  align-items: left;
  height: 60vh;
}


.feature {
  height: 100vh;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
  grid-gap: 0;
  align-items: stretch;
  background-color: $primary;
}

.feature-text {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.feature-img {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}


/* Animate cards */

@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}

.fade-in-element {
animation: fade-in 1.4s;
}

.hidden {
  opacity: 0;
}

/* About */

.about > .grid-container {
  height: 100vh;
  padding-top: 2em;
  grid-template-columns: 1fr;
  align-items: center;
}

.about > h1 {

}

.team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2em 1em;
}

.member {
  height: 25vh;

}

.t-1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  align-self: center;
}

.t-2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  align-self: center;
}

.t-3 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  align-self: center;
}

.t-4 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
  align-self: center;
}

.t-5 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  align-self: center;
}

.t-6 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  align-self: center;
}

.t-7 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  align-self: center;
}

.t-8 {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
  align-self: center;
}

/* Contact page */

.contact {
  height: 100vh;
  padding-bottom: 0;
}

.callout-l {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  
}

form {
  display: grid;
  padding: 1em;
  margin: 2rem auto 0 auto;
  max-width: 300px;
  padding: 1em;
}
form input {
  background: #fff;
  border: 1px solid #9c9c9c;
}
form button {
  background: lightgrey;
  padding: 0.7em;
  width: 100%;
  border: 0;
}
form button:hover {
  background: gold;
}

label {
  padding: 0.5em 0.5em 0.5em 0;
}

input {
  padding: 0.7em;
  margin-bottom: 0.5rem;
}
input:focus {
  outline: 3px solid gold;
}

@media (min-width: 400px) {
  form {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  label {
    text-align: right;
    grid-column: 1 / 2;
  }

  input,
  button {
    grid-column: 2 / 3;
  }
}


/* Projects Overview */

.sample > .flex-item {
  height: 60vw;
}






