@font-face {
  font-family: "Inter";
  src: url("./fonts/inter3.5/inter-web/Inter-Bold.woff");
}

@import "./partials/base";

/// SITE STYLES - move to base TODO  ///

/* Projects pages */

.projects {
  background-color: transparent;
}

.projects figure {
  height: 50vh;
}

/* 
.projects .panel-img:first-child {
  background-color: $charcoal;
}

.projects figure:nth-child(2n) {
  background-color: $eggplant-lt;
}

*/


.panel {
  display: flex;
  align-items: center; /* center container */
  justify-content: center;
}

.panel > * {
  max-width: 50%;
}

.panel h4 {
  margin-bottom: 1em;
}

.fullscreen > * {
  margin-bottom: 2em;
}

figure.card {
  height: 50vh;
}

figure.card:first-child {
  /* background-color: #070E16; */
  /* background: lightblue url("../images/grant-sit-camera.jpg") no-repeat fixed center; */ 
}

figure.card:nth-child(2) {
  /* background-color: $charcoal; */
  /* background: lightblue url("../images/grant-sit-camera.jpg") no-repeat fixed center; */ 
}

.panel-left {
  padding-left: 2
}

.error {
  background-color: yellow;
}

/* Hero */

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.home .hero {
  background-color: $black;
  color: white;
}

.accent {
  color: white;
}

.highlight {
  background: $highlight;
}


.hero.bg {
  /* background-image: linear-gradient(to bottom, white, $cherry-lt); */

}

.hero h1 {
 
}

div#myDiv {
  -ms-transform: skewY(20deg); /* IE 9 */
  -webkit-transform: skewY(20deg); /* Safari prior 9.0 */
  transform: skewY(20deg); /* Standard syntax */
}


.hero > .text-container {
  height: 100%;
  width: 100%;
  margin-top: 80px;
}

@media screen and (min-width: $mobile) {
  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    .hero > * {
      /* margin-left: 1em; */
    }
    .hero > .text-container {
      width: 50%;
    }
  h1 {
    font-size: 2.8em; 
  }
}

.hero.short {
  height: 75vh;
  margin-top: 50px;
  background-color: #efefef;
}

/* .hero .bg {
  background: url("../images/fibonacci-white.svg") no-repeat;
}
*/

.cta > p {
  font-size: .875em;
  text-transform: uppercase;
}

.inner-container {
  padding: 1em;
}

.inner-container > * {
  margin-bottom: 1em;
}

/* Home page styles */

.home .title-box {
  padding: 0;
  width: 100%;
  margin-bottom: 2em;
  height: 25vh;
  background-color: $cerise;
  color: white;
}

.home article {
  height: 100vh;
}

.home article > * {
  padding: 0 0 1em;
}

.icon-grid {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 1em;
  height: 50vh;
}
.icon-grid li {
  height: 25vh;
  color: white;
}

.icon-grid li:first-child {
  background-color: red;
}

.icon-grid li:nth-child(2) {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #ffffff 74%);

}

.icon-grid li:nth-child(3) {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

.icon-grid li:nth-child(4) {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
}



/* Background video */

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

  /* Animations */

  // fade in

  @keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
  }
  
  .fade-in-element {
    animation: fade-in 1.4s;
  }
  
  .hidden {
    opacity: 0;
  }

  /* Slide in right */

  @-webkit-keyframes slide-in-right {
    from { margin-right: -100%;    }
    to   { margin-right: 25%; }
}

@keyframes slide-in-right {
  from { margin-right: -100%;    }
  to   { margin-right: 25%; }
}

  /* Slide in right not working 

  .slide-in-right-FIXME {
  -webkit-animation: slide-in-right 3s alternate ease-in-out; 
  animation: slide-in-right 3s alternate ease-in-out;
}

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  */



/* Footer */

footer {
  position: absolute;
  height: 20vh;
}


.emph {
  font-weight: bolder;
}

.social-links > a:visited {
  color: $deep;
}

.copyright {
  text-align: center;
  font-size: .875em;
  padding-top: 1em;
}

/// Page Styles ///



// Home page //

.feature {
  height: 80vh;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  grid-gap: 0;
  align-items: stretch;
  background-color: #efefef;
}

@media only screen and (max-width: 599px) {
  section {
    flex-direction: column; 
  }
}

.feature-text {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  padding: 1em;
}

.feature-text > * {
  margin-bottom: 1em;
}


.feature-img {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  width: auto;
  height: 50vh;
  border-style: none;
}   

.callout {
  max-height: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background: $bg-orange; 
}

/* Animate */

@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}

.fade-in-element {
animation: fade-in 1.4s;
}

.hidden {
  opacity: 0;
}

/* About */


.about {
  min-height: 100%;
  height: 100%;
  padding-bottom: 300px /*FIXME hacky */
}

.team-wrap {
  height: 120vh;
}

.about > .grid-container {
  min-height: 100%;
  padding-top: 2em;
  grid-template-columns: 1fr;
  align-items: center;
}

.about > h1 {

}

.team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2em 1em;
}

.member {
  height: 25vh;

}



/* Work page */

.services > article {
  height: 100vh;
 background: url("../images/laptop.jpg") no-repeat center;
 background-size: contain;
}

.card-wrap > * {
  margin-bottom: 2em;
}

.card > * {
  margin-bottom: .5em;
}

.label-row {
  margin-top: 2em;
}

.label-row li {
  padding: 2em;
}

.lead {
  background-color: $lead;
}

.fund {
  background-color: $fund;
}

.grow {
  background-color: $grow;
}

.icon-container li {
}

/* Case stories */

/* Contact page */

.contact {
  margin-bottom: 2em;
}

.callout-l {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  
}

.callout-l > * {
  align-items: center;
}


/* Form updated */

form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

/* 

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */ /*
  margin-left: .5em;
}

*/


/* Projects Overview */

.sample > .flex-item {
  height: 60vw;
}


/* flicker https://codepen.io/mandymichael/pen/aJLYVz */

/* prefers-reduced-motion */

/* 404 Error Page */


.wrap-error-text {
  height: 75vh;  
}

.wrap-error-text p {
  font-size: 1.25em;
}
