/* As hex codes */
.color-primary-0 {
  color: #345994; }

/* Main Primary color */
.color-primary-1 {
  color: #7A97C5; }

.color-primary-2 {
  color: #4E70A6; }

.color-primary-3 {
  color: #1D4481; }

/* blue */
.color-primary-4 {
  color: #0F3166; }

.color-secondary-1-0 {
  color: #4A3A9B; }

/* Main Secondary color (1) */
.color-secondary-1-1 {
  color: #8C80CA; }

.color-secondary-1-2 {
  color: #6455AE; }

.color-secondary-1-3 {
  color: #332287; }

.color-secondary-1-4 {
  color: #22136B; }

.color-secondary-2-0 {
  color: #298E7D; }

/* Main Secondary color (2) */
.color-secondary-2-1 {
  color: #70C0B3; }

.color-secondary-2-2 {
  color: #429F8F; }

.color-secondary-2-3 {
  color: #127B6A; }

.color-secondary-2-4 {
  color: #066253; }

.primary {
  color: #0F3166; }

/* Size and spacing */
/* padding and margins */
/* max-width */
/* Grid Layouts */
/* Color Scheme */
/* bright green $accent: rgb(165, 248, 244); */
/* dark blue */
/* Gradients */
/* button adjusted colors*/
.btn .shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

/* Typography */
/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; todo */
/* Container width and spacing */
.line {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 5s linear forwards; }

.outline {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 5s linear forwards; }

.tree {
  fill: #000;
  stroke: #000;
  stroke-width: 2px;
  stroke-dasharray: 2000;
  stroke-linejoin: round;
  animation: dash 5s linear forwards; }

/* Animate */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7); }
  to {
    opacity: 1; } }

.fade-in-element {
  animation: fade-in 1.4s; }

.hidden {
  opacity: 0; }

#heart {
  animation: pop1 3s ease infinite;
  animation: ghost 3s ease-in-out;
  animation-iteration-count: 3; }

@keyframes dash {
  from {
    stroke-dashoffset: 3000; }
  to {
    stroke-dashoffset: 0; } }

@keyframes pop {
  0% {
    transform: scale(1);
    transform-origin: 50%; }
  10% {
    transform: scale(1.1);
    transform-origin: 50%; }
  20% {
    transform: scale(1.1);
    transform-origin: 50%; }
  30% {
    transform: scale(1.1);
    transform-origin: 50%; }
  40% {
    transform: scale(1);
    transform-origin: 50%; }
  50% {
    transform: scale(1);
    transform-origin: 50%; }
  100% {
    transform: scale(1);
    transform-origin: 50%; } }

@keyframes pop1 {
  0% {
    transform: scale(1);
    transform-origin: 50%; }
  10% {
    transform: scale(1);
    transform-origin: 50%; }
  20% {
    transform: scale(1);
    transform-origin: 50%;
    opacity: 1; }
  30% {
    transform: scale(1);
    transform-origin: 50%; }
  40% {
    transform: scale(1);
    transform-origin: 50%; }
  50% {
    transform: scale(1.05);
    transform-origin: 50%; }
  60% {
    transform: scale(1.05);
    transform-origin: 50%; }
  70% {
    transform: scale(1.05);
    transform-origin: 50%; }
  80% {
    transform: scale(1);
    transform-origin: 50%; }
  90% {
    transform: scale(1);
    transform-origin: 50%; }
  100% {
    transform: scale(1);
    transform-origin: 50%; } }

@keyframes ghost {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

#circle-icon {
  z-index: 1;
  text-align: center;
  position: absolute;
  width: 200px;
  padding-top: 10px; }

#arc {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: draw 1s infinite ease-in-out 4ms forwards; }

@keyframes draw {
  from {
    stroke-dashoffset: 200; }
  to {
    stroke-dashoffset: 0; } }

.squiggle {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: draw 2000ms infinite ease-in-out 4ms forwards;
  animation-delay: 1200ms; }

@keyframes draw {
  from {
    stroke-dashoffset: 200; }
  to {
    stroke-dashoffset: 0; } }

.circle-background {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: show 1400ms ease-in-out 4ms forwards; }

@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px; }
  75% {
    opacity: 0.5;
    top: 0px; }
  100% {
    opacity: 1; } }

li:nth-child(1) {
  animation-delay: 1s; }

li:nth-child(2) {
  animation-delay: 2s; }

li:nth-child(3) {
  animation-delay: 3s; }

li:nth-child(4) {
  animation-delay: 4s; }

/* Slide in right not working 

  .slide-in-right-FIXME {
  -webkit-animation: slide-in-right 3s alternate ease-in-out; 
  animation: slide-in-right 3s alternate ease-in-out;
}

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% 
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  */
/* Slide in right */
@-webkit-keyframes slide-in-right {
  from {
    margin-right: -100%; }
  to {
    margin-right: 25%; } }

@keyframes slide-in-right {
  from {
    margin-right: -100%; }
  to {
    margin-right: 25%; } }

/* Testimonial slideshow */
/* 
  https://codepen.io/CheeStudio/pen/vYBmEVy
  
  https://codepen.io/tudorsuhan/pen/yJwvNo */
.testimonial-slider {
  background-color: #232324; }
  @media (min-width: 600px) {
    .testimonial-slider {
      padding: 6em 2em; } }

.slide-title {
  margin-bottom: 1em;
  text-transform: uppercase;
  text-align: center; }

p {
  font-size: 1.1em;
  line-height: 1.3em; }

.slide-wrap {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  transition: 300ms;
  background-color: #efefef;
  margin-top: 2em; }

.slideshow {
  position: relative;
  z-index: 10; }

.slide-entry {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  padding: 2em 10%;
  transition: 300ms; }
  .slide-entry.active {
    opacity: 1;
    visibility: visible; }

.slide-entry .indent {
  text-indent: .5em; }

.slide-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 50%;
  transform: translateY(-60%);
  width: 100%;
  list-style: none;
  padding: 0;
  z-index: 0; }
  .slide-nav li {
    cursor: pointer;
    color: #ecdddd;
    font-size: 64px; }
    @media (max-width: 599px) {
      .slide-nav li {
        font-size: 1.5em; } }

#prev-slide {
  margin-left: -50px; }
  @media (max-width: 599px) {
    #prev-slide {
      margin-left: 0px; } }

#next-slide {
  margin-right: -50px; }
  @media (max-width: 599px) {
    #next-slide {
      margin-right: 0px; } }

.line1, .line2, .line3, .line4 {
  stroke-dasharray: 2300;
  stroke-dashoffset: 2300;
  animation: dash 5s linear forwards; }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

/* Responsive Video Embeds
  ========================================================= */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; }

.mySlides {
  display: none;
  height: 400px;
  border: solid 1px black; }

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #222428;
  font-weight: bold;
  font-size: 30px;
  transition: .6s ease;
  border-radius: 0 3px 3px 0; }

.next {
  right: -50px;
  border-radius: 3px 3px 3px 3px; }

.prev {
  left: -50px;
  border-radius: 3px 3px 3px 3px; }

.prev:hover,
.next:hover {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.8); }

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #222428; }

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease; }

.active,
.dot:hover {
  background-color: #717171; }

.theme--dark {
  color: white;
  background: #232324; }

.white {
  color: white; }

.color-red {
  color: #FA526F; }

.theme--gray-light {
  background-color: #efefef; }

.theme--cerise {
  color: white;
  background-color: #f9395a; }

.theme--red {
  background-color: #FA526F;
  color: white; }

.theme--orange {
  background-color: #f1a053;
  color: #141414; }

.theme--indigo {
  background-color: #3a4aa5;
  color: white; }

.theme--night {
  background-color: #242943;
  color: white; }

.theme--orange {
  background-color: orange;
  color: #141414; }

.theme--cs-press .case-meta__client {
  color: #f1a053; }

.theme--cs-founder .case-meta__client {
  color: #57b8ff; }

/* Background */
.stripes {
  background-image: linear-gradient(90deg, #f0e7e8 0.5%, #fff 0.5%, #fff 50%, #f0e7e8 50%, #f0e7e8 50.5%, #fff 50.5%, #fff 100%);
  background-size: 202.00px 202.00px; }

.theme__gradient--red {
  background: linear-gradient(to right bottom, #FA526F 60%, #fb6b84 40%); }

.theme__gradient--red-light {
  background: linear-gradient(to right bottom, #FA526F 60%, #fdb5c2 40%); }

.theme__gradient--orange {
  background: linear-gradient(to right bottom, #f1a053 60%, #f3ad6b 40%); }

.theme__gradient--pool {
  background: linear-gradient(to right bottom, #57b8ff 60%, #bde3ff 40%); }

.theme__gradient--pool-light {
  background: linear-gradient(to right bottom, #bde3ff 60%, #d7eeff 40%); }

.theme__gradient--red-white {
  background: linear-gradient(90deg, white 50%, #ff5947 50%); }

.theme--cherry {
  background-color: #FA526F;
  color: white; }

.theme--pool {
  background-color: #57b8ff; }

.theme--light {
  background-color: #efefef;
  color: #141414; }

.theme--blue {
  background-color: #3f70c0;
  color: white; }

.pin-stripe {
  background: linear-gradient(to right bottom, #292d38 50%, #212531 50%);
  padding-bottom: 6em;
  margin-bottom: -120px; }

/* 
.theme-grape {
  @include theme(theme-grape, )
} */
.light {
  background-color: #efefef;
  color: #141414; }

/* .team-gallery {
    background: linear-gradient(to right bottom, #292d38 50%, #212531 50%);
  }
  */
.team-gallery-old {
  background: #e04b09;
  background: linear-gradient(90deg, #e04b09 0%, #f26f34 34%, #f26f34 50%, #e35211 74%, #e04b09 75%); }

.page-title {
  display: inline;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: .25em;
  color: #141414; }

.margin-move {
  margin-bottom: -150px; }
  @media (max-width: 599px) {
    .margin-move {
      margin-bottom: -50px; } }

/* utility classes */
.inner {
  padding: 1em; }

.inner--l {
  padding: 2em; }
  @media (max-width: 599px) {
    .inner--l {
      padding: 1em; } }

.inner--xl-5 {
  padding: 5em; }

.inner--xl {
  padding: 4em; }

/* header and footer svg design */
@media (max-width: 599px) {
  .wave-up {
    margin-bottom: -10px; } }

@media (min-width: 600px) {
  .wave-up {
    margin-bottom: -50px; } }

.wave, .wave-footer {
  fill: #232324; }

@media (max-width: 599px) {
  .place-adjust {
    padding-top: 100px; } }

.container {
  padding: 1em; }
  @media (min-width: 600px) {
    .container {
      padding: 2em; } }

.container--contained {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1em; }

.container__text {
  max-width: 600px; }
  @media (min-width: 600px) {
    .container__text {
      padding: 0em 3em;
      margin-bottom: 2em; } }

.content-image img {
  width: 80%;
  overflow: auto;
  /*position: -webkit-sticky;
  position: sticky;
  top: 0; */ }

@media (min-width: 600px) {
  .container__wrap {
    max-width: 1100px;
    margin: 0 auto; } }

.fullscreen {
  height: 100vh; }

.banner {
  width: 100%;
  background-color: transparent; }
  @media (min-width: 600px) {
    .banner {
      padding: 4em 0; } }

.banner__inner {
  padding: 3em .5em;
  max-width: 768px; }

.banner__title {
  padding: 2em; }

.icon__container p {
  padding-top: 1em; }

@media (min-width: 900px) {
  padding: 2em 2em 0; }

.banner--light, section--light {
  background-color: #efefef;
  color: #141414; }

.banner--deep, section--deep {
  background-color: #c1666b; }

.content-container--l {
  max-width: 1000px; }

.content-container--s {
  max-width: 540px; }

.container__inner--text {
  padding: .5em; }

/* Cards */
.container__card {
  display: flex;
  flex-direction: column; }

.container__caption {
  background-color: #e2e2e2;
  text-align: center;
  padding: .5em 0; }

.circle {
  border-radius: 50%; }

.bold {
  font-weight: bold; }

.larger {
  font-size: 1.5em; }

.xlarge {
  font-size: 2em; }

/* Flexbox */
.flex, .flex-c {
  display: flex; }

.flex, .flex-c > * {
  flex: 1; }

.flex-item, .flex-i {
  flex: 1; }

.flex-i--double, .flex-i--2 {
  flex: 2; }

.flex-c--col {
  display: flex;
  flex-direction: column; }

.flex-c--row {
  flex-direction: row; }

.width-50 {
  width: 50%; }

.width-75 {
  width: 75%; }

.flex-c--center {
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center center; }
  @media (max-width: 599px) {
    .flex-c--center {
      flex-direction: column; } }

.flex-item-half {
  max-width: 80%; }

.flex-c--space-between {
  justify-content: space-between; }

.justify-between {
  justify-content: space-between; }

.flex-c--wrap {
  flex-direction: wrap; }

@media (max-width: 599px) {
  .flex-c {
    flex-direction: column; } }

/* Grid */
/* services page grid with left gutter */
.grid--center {
  align-items: center;
  justify-items: center;
  /* adjusted */ }

.grid-c--gutter {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 1.5em; }

.grid-i-gutter {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2; }

.grid-i-1 {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2; }

.grid-i-2 {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2; }

.grid-i-3 {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2; }

.grid-c {
  display: -ms-grid;
  display: grid; }

/*
.grid-c--1x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .5em;
}
*/
/* home page benefits */
.grid-c--2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 2em; }
  @media (max-width: 599px) {
    .grid-c--2x2 {
      /* change to 1 column grid */
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0; } }

/* fundraising page grid */
.grid-c--2x3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(100px, 300px));
  grid-gap: 2em; }
  @media (max-width: 599px) {
    .grid-c--2x3 {
      /* change to 1 column grid */
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: minmax(250px, 400px);
      grid-gap: 0; } }

.offers {
  max-width: 1000px; }

@media (min-width: 600px) {
  .offers article {
    padding: 3em; } }

/* social media marketing case study */
.grid-c--2x4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, minmax(300px, 500px));
  grid-gap: 4em 1em; }
  @media (max-width: 599px) {
    .grid-c--2x4 {
      /* change to 1 column grid */
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0; } }

/* sbir case study */
.image-centered {
  margin: 0 auto; }

.grid-item-1 {
  background-color: #efefef; }

.grid-item-3 {
  background-color: #f1a053; }

.grid-item-4 {
  background-color: #efefef; }

.grid-item-6 {
  padding-top: 4em; }

.justify-center {
  justify-items: center; }

a > figcaption {
  text-decoration: none; }

.top-margin {
  padding-top: 1.5em; }

/* About image gallery */
.team-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em; }
  @media (max-width: 599px) {
    .team-grid {
      display: flex;
      flex-direction: column; }
      .team-grid img {
        width: 300px; } }

@media (min-width: 600px) {
  .team-grid {
    grid-gap: 4em; } }

.team-item {
  padding: 2em; }

@media (min-width: 600px) {
  .team-1, .team-3, .team-5 {
    margin-top: 100px; } }

/* team bios */
.bio-wrap {
  max-width: 768px;
  margin: 0 auto; }

.brag-container, .bio-container {
  padding: 2em; }

.bio-container {
  padding: 2em; }

.brag-container {
  display: flex;
  width: 50%;
  margin-left: 2em;
  padding: 2em;
  background-color: #efefef; }
  @media (max-width: 599px) {
    .brag-container {
      margin-left: 0; } }

.brag-bullets {
  padding: 1em; }

.brag-text {
  padding: 0; }

.brag-text-container {
  padding: 0 1em;
  border-left: 2px #fc466b solid; }

.brag-container i {
  font-size: 2em;
  padding-bottom: 1em; }

.brag-bullets i {
  color: black;
  font-size: 1em; }

.brag-container h2 {
  color: #ff5947; }

.brag-container li {
  line-height: 1.4em; }

.list-container {
  padding: 2em 4em 2em; }

.fa-linkedin {
  font-size: 1.2em;
  padding-left: 2em;
  padding-bottom: 1em;
  color: #141414; }

.grid-c__fluid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }

.grid-c__fluid--xl {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); }

.grid-c__fluid--l {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1em; }

.grid-c__fluid--m {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }

.grid-c__fluid--s {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); }

.grid-c__fluid-xs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); }

.grid-c__gutter {
  display: grid;
  grid-template-columns: 100px 1fr 1fr; }

.gap {
  grid-gap: 1em; }

.gap-2 {
  grid-gap: 2em; }

.gap-3 {
  grid-gap: 3em; }

.gap-4 {
  grid-gap: 4em; }

.no-gap {
  grid-gap: 0; }

/* home page grid - todo */
.icon-grid__fixed--2x2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 1em;
  height: 50vh; }

.icon-grid li {
  height: 25vh;
  font-size: 1em;
  letter-spacing: .5px; }

.icon-grid li:nth-child(2n) {
  border-left: .5px dotted #fff; }

.icon-grid li:nth-child(3) {
  border-top: .5px dotted #fff; }

.icon-grid li:nth-child(4) {
  border-top: .5px dotted #fff; }

/* team grid */
.gallery__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f5f4f4; }

.gallery__container--grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(6, 200px);
  grid-auto-flow: dense; }

.item--disabled {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background: url("../images/head-shots-bad/leopold-glasses.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter; }
  .item--disabled:nth-of-type(2) {
    background-image: url("../images/head-shots-bad/dana-1.jpg"); }
  .item--disabled:nth-of-type(3) {
    background-image: url("./images/head-shots-bad/darcie-goodwin.jpg"); }
  .item--disabled:nth-of-type(4) {
    background-image: url("https://images.unsplash.com/photo-1464652149449-f3b8538144aa?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); }
  .item--disabled:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out; }
  .item--disabled:hover {
    transform: scale(1.05); }
    .item--disabled:hover:after {
      opacity: 0; }
  .item--disabled--medium {
    grid-row-end: span 2; }
  .item--disabled--large {
    grid-row-end: span 3; }
  .item--disabled--full {
    grid-column-end: auto; }
    @media (min-width: 900px) {
      .item--disabled--full {
        grid-column: 1/-1;
        grid-row-end: span 2; } }
  .item--disabled__details {
    position: relative;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: #fff;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #828282; }
    .item--disabled__details:before {
      content: counter(item-counter);
      font-weight: bold;
      font-size: 1.1rem;
      padding-right: 0.5em;
      color: #444; }

/* end todo */
/* Alignment */
.centered {
  display: flex;
  justify-content: center;
  align-items: center; }

.space-between {
  display: flex;
  justify-content: space-between; }

.halfscreen {
  height: 50vh; }

.title-box {
  padding: 0 1em;
  margin: 1em 0; }

.subnav {
  padding: 2em 0; }

.grid__page--12x12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 0;
  justify-content: center;
  min-height: 100%; }

@media (min-width: 600px) {
  .grid__wrap--case-story {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 2em 1.25em;
    padding-top: 3em; } }

@media (max-width: 599px) {
  .grid__wrap--case-story > * {
    grid-column: [col-start]/span 12; } }

/* team bios */
@media (min-width: 600px) {
  .grid--team-bios {
    display: grid;
    grid-template-columns: repeat(2, [col-start] 1fr);
    grid-template-rows: repeat(6, 600px);
    grid-gap: 1.5em 1em;
    justify-content: center;
    min-height: 100%; } }

@media (max-width: 599px) {
  .grid--team-bios > * {
    grid-column: [col-start]/span 12; } }

.team-image {
  max-height: 500px; }

/* global grid items */
.grid-summary {
  grid-column: 2 / span 5;
  grid-row: 1 / span 3; }

.grid-meta {
  grid-column: 8 / span 5;
  grid-row: 1 / span 3; }

.grid-challenge {
  grid-column: 2 / span 4;
  grid-row: 6 / span 3; }

/* founder stories grid */
.grid-challenge-f {
  grid-column: 2 / span 4;
  grid-row: 6 / span 3; }

.grid-image {
  grid-column: 7 / span 4;
  grid-row: 6 / span 3; }

.grid-tweet {
  grid-column: 9 / span 4;
  grid-row: 6 / span 3; }

.grid-spotlight {
  grid-column: 1 / span 5;
  grid-row: 10 / span 4; }

.grid-rio-image {
  grid-column: 6 / span 7;
  grid-row: 10 / span 5; }

.grid-solution {
  grid-column: 2 / span 4;
  grid-row: 15 / span 4; }

.grid-strategy {
  grid-column: 7 / span 4;
  grid-row: 15 / span 4;
  padding-top: 2em; }

.grid-results {
  grid-column: 2 / span 5;
  grid-row: 19 / span 4;
  padding-bottom: 2em; }

.grid-team {
  grid-column: 9 / span 4;
  grid-row: 19 / span 4; }

/* social media influencer */
.grid-fact-sm {
  background-color: white;
  padding: 4em 2em 0;
  grid-column: 8 / span 5;
  grid-row: 5 / span 3; }

.grid-solution-sm {
  grid-column: 2 / span 5;
  grid-row: 10 / span 3; }

.grid-strategy-sm {
  grid-column: 8 / span 5;
  grid-row: 10 / span 4;
  padding: 4em; }

.grid-spotlight-sm {
  grid-column: 1 / span 5;
  grid-row: 15 / span 2; }

.card-rounded {
  border-radius: 5%; }

.grid-img-s {
  grid-column: 6 / span 6;
  grid-row: 15 / span 3; }

.grid-spotlight2-s {
  grid-column: 2 / span 4;
  grid-row: 19 / span 3; }

.grid-img2-s {
  grid-column: 8 / span 6;
  grid-row: 19 / span 4; }

.grid-results-s {
  grid-column: 4 / span 4;
  grid-row: 23 / span 3; }

/* social media marketing */
.grid-challenge-s {
  grid-column: 2 / span 5;
  grid-row: 6 / span 3; }

.grid-fact-s {
  background-color: #efefef;
  grid-column: 2/ span 3;
  grid-row: 6 / span 3; }

.grid-solution-s {
  grid-column: 1 / span 5;
  grid-row: 10 / span 3; }

.grid-strategy-s {
  grid-column: 8 / span 3;
  grid-row: 10 / span 3; }

.grid-spotlight-s {
  grid-column: 1 / span 4;
  grid-row: 15 / span 3; }

.grid-img-s {
  grid-column: 6 / span 6;
  grid-row: 15 / span 3; }

.grid-spotlight2-s {
  grid-column: 2 / span 4;
  grid-row: 19 / span 3; }

.grid-img2-s {
  grid-column: 7 / span 6;
  grid-row: 19 / span 4; }

.grid-results-s {
  grid-column: 1 / span 5;
  grid-row: 23 / span 3; }

/* Submenu */
.submenu__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(75px, auto) 1fr;
  grid-gap: .5em; }

@media (max-width: 599px) {
  .is-visible-on-large {
    display: none; } }

.submenu a {
  color: #141414; }

.submenu-item {
  border: 4px solid #141414;
  padding: 2em 0; }

.submenu-item:hover {
  background-color: #FA526F;
  transition: .3s ease-in-out; }

/* Container components */
.cards {
  display: flex; }

.card {
  padding: .5em;
  border-radius: 2px;
  overflow: hidden;
  margin: 1rem;
  transition: all 0.5s ease; }

.card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

/* .card--border {
    border-radius: 53% 47% 45% 55% / 67% 62% 38% 33%;    
    background: rgb(58,74,165);
    background: linear-gradient(90deg, rgba(58,74,165,1) 30%, rgba(84,101,202,1) 74%);
  }

  */
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.work > article {
  height: 100vh; }

/* Portfolio / Projects Grid */
/* Alignment */
.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.fine-print {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: .0625em;
  margin-bottom: 1em; }

.norm-text {
  font-size: 1em; }

.small {
  font-size: .5em; }

.text-outline {
  color: white;
  text-shadow: -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.large-print {
  text-transform: uppercase; }

.text-margin > * {
  margin-bottom: 1em; }

.main-content {
  flex: 2; }

.main-content__inner {
  padding: 1em 2em; }

.main-content p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 1em; }

.content-sidebar {
  background-color: #141414;
  color: white; }

blockquote {
  font-family: "Noto Serif JP", Georgia, "Times New Roman", Times, serif;
  line-height: 1.8em;
  padding: 2em 3em; }

.vertical-line {
  margin: 5em 0 0;
  height: 40px;
  background: linear-gradient(#141414, #141414) no-repeat center/1px 100%; }

.vertical-line--dark {
  margin: 5em 0 0;
  height: 40px;
  background: linear-gradient(white, white) no-repeat center/1px 100%; }

.img--filter {
  -webkit-filter: grayscale(100%);
  filter: grayscale(0%); }

.img--filter:hover {
  -webkit-filter: grayscale(100%) blur(2px);
  filter: grayscale(100%) blur(2px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.aspect-ratio--16x9 {
  padding: 56.25% 0 0 0; }

.zoom-in-out {
  transition: transform 1s; }

.zoom-in-out:hover {
  transform: scale(1.01); }

.img-display {
  max-width: 400px; }

/* Navigation */
/* https://www.w3schools.com/code/tryit.asp?filename=G6913M8THUXM */
nav {
  width: 100%;
  text-align: center;
  background-color: transparent;
  margin: 0 auto;
  z-index: 10; }

nav li, nav p {
  margin-bottom: 0; }

nav button {
  height: 56px; }

/* .navbar {
    height: 3em;
  }
*/
.projects nav, .cs-sbir nav {
  background-color: #232324;
  color: white; }
  .projects nav .hamburger, .cs-sbir nav .hamburger {
    color: white; }
    .projects nav .hamburger .logo, .cs-sbir nav .hamburger .logo {
      color: #FA526F; }

.cs-sbir nav {
  background-color: #325a9a;
  color: white; }
  .cs-sbir nav .hamburger {
    color: white; }
    .cs-sbir nav .hamburger .logo {
      color: #FA526F; }

.projects nav li a, .cs-sbir nav li a {
  color: white; }

.projects .hamburger {
  color: white; }

.nav-link {
  position: relative; }

.nav-link:after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #141414;
  transition: width .2s ease;
  -webkit-transition: width .2s ease; }

.nav-link:hover:after {
  width: 100%;
  left: 0;
  background: #141414; }

/* applied after scroll height reached 
  
  .fixed-nav nav {
    position: fixed;
    top:0;
    z-index: 1;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  }

  */
.navigation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;
  z-index: 90; }

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  justify-content: flex-end;
  align-items: center; }

nav ul li {
  justify-self: flex-end;
  padding: 0 1em; }

.logo {
  height: 40px;
  padding: .5em;
  margin-top: -10px; }

.hamburger {
  font-size: 24px;
  padding: .5em 1em; }

.contact-text {
  font-size: 1.5em;
  margin: 0; }

.btn--menu {
  all: unset;
  height: 40px;
  background-color: #c682f9;
  padding: .5em;
  text-align: center;
  letter-spacing: .02em; }

nav li {
  color: #000;
  display: block;
  float: left;
  padding: 1em;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s; }

nav li a {
  color: black;
  /* over-ridden todo fix  */ }

.nav-link {
  color: white; }

.logo-link {
  color: #FA526F; }

nav li:hover {
  cursor: pointer; }

.main-nav {
  display: flex;
  align-content: center;
  position: relative; }

.main-nav > li {
  align-items: center; }

.main-nav > .btn-small {
  background-color: #c1666b; }

.main-nav > button > a {
  color: white; }

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: white;
  /* white fallback color */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: left;
  background-color: rgba(255, 255, 255, 0.95);
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */ }

/* The navigation links inside the overlay */
.overlay a {
  padding: .5em;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: #3a4aa5;
  border-bottom: solid 1px #efefef;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
  transition-timing-function: ease-in-out; }

.overlay a:visited {
  color: #3a4aa5; }

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #c2c8e9;
  background-color: #3a4aa5; }

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }

/* Service styles */
.case-container h4 {
  padding-bottom: .5em; }

.case-container__main {
  flex: 2 1 auto;
  padding: 1em; }
  @media (min-width: 600px) {
    .case-container__main {
      padding: 2em 6em; } }

.case-container__text {
  max-width: 50ch; }

.press-case-study aside {
  background-color: #f1a053;
  padding: 2em; }

.case__content-container {
  max-width: 60ch;
  padding: 1em 2em; }

.case__content-container h4 {
  padding-bottom: 2em; }

.spotlight {
  display: flex;
  padding: 1em; }
  @media (min-width: 600px) {
    .spotlight {
      padding: 4em; } }

.case-container--tease {
  padding: 2em;
  background-color: #141414;
  color: white; }

.social-container {
  margin: 0 auto; }

/* Results and other projects section */
.case-container--list {
  width: 50%;
  margin: 0 auto; }

.content__results--story, .content__results--list {
  margin: 0 auto;
  background-color: #f1a053;
  max-width: 500px; }

.fancy-text, .fancy-text-block p {
  font-family: "Noto Serif JP", Georgia, "Times New Roman", Times, serif;
  font-size: 1.15em;
  line-height: 1.6em;
  font-weight: bold; }

.focus-text-block {
  margin-bottom: 2em; }

.inactive {
  background-color: #232324;
  color: white; }

aside {
  flex: 1 0 400px; }

.case-meta {
  background-color: #141414;
  color: white;
  padding: 5vw;
  max-width: 500px; }

.case-inner > * {
  padding: 0 0 1em; }

.founder-case-study .case-meta span {
  color: #57b8ff;
  font-size: 1.15em;
  font-weight: bold; }

.theme-cherry span .theme-cherry .element {
  color: #cf5372; }

.theme-cherry span .theme-cherry .other-element {
  background: #da837b; }

.flex-c--space-between {
  display: flex;
  justify-content: space-between; }

.flex-c--justify-center {
  justify-items: center; }

.fine-print .no-margin {
  margin: 0; }

.tag-list {
  margin-top: 1em; }

.tag-list li {
  padding-bottom: .75em;
  text-indent: .75em; }

.twitter-tweet {
  border: 8px #57b8ff solid; }

.summary-text {
  max-width: 768px;
  padding: 1em 4em; }

/* Case study page layout  */
.grant-case-study .text-block {
  background-color: black;
  color: white;
  line-height: 1.25em; }

.case-study .banner {
  background-color: #141414;
  color: white; }

.flex-c--wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 1em; }

.tag-container > tag {
  margin: 1em; }

.tag-item {
  margin-bottom: 1em; }

.tag-container {
  padding: 1em; }

.tag-container li {
  line-height: 1.4em; }

.twitter-wrap {
  z-index: -1; }

/*
<img class=""src="../images/overhead.jpg" alt= "Protest against gun violence in Harrisburg, PA">
    <figcaption></figcaption>

    */
.tag-item {
  display: inline;
  font-size: .875em;
  text-transform: uppercase;
  padding: .25em;
  margin: 0 1em 1rem;
  border: solid 1px #c1666b;
  border-radius: 4px;
  background-color: white; }

.case-meta p {
  font-size: 1.25em;
  margin: 0; }

.grid__item--header > h2 {
  text-align: center;
  color: #232324; }

.grid__item--main {
  grid-area: main;
  grid-column: 1 / 5;
  grid-row: 2 / 4; }

.grid__item--footer {
  grid-area: footer;
  grid-column: 1 / 5;
  grid-row: 4 / 5; }

.case-header > * {
  margin-bottom: 2em; }

.case-header h1 {
  text-align: center; }

.case-header ul {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.case-header li {
  margin-right: 1em;
  padding: 25em;
  border: solid 1px #232324; }

/* Next project component */
/* Page template styles */
/* Jeff Grant, Influencer */
.img__display {
  position: relative;
  height: 800px;
  width: 800px; }
  @media (max-width: 599px) {
    .img__display {
      width: 100vw;
      height: auto; } }

@media (min-width: 600px) {
  .img__images .front {
    position: absolute;
    top: 100px;
    height: 500px;
    width: 400px;
    transition: transform 1s;
    z-index: 4; } }

@media (min-width: 600px) {
  .img__images .side {
    position: absolute;
    left: 350px;
    bottom: 100px;
    right: 0;
    height: 400px;
    width: 320px;
    transition: transform .8s;
    z-index: 5; } }

.side:hover, .top:hover, .front:hover {
  z-index: 6 !important;
  transform: scale(1.02); }

@media (min-width: 600px) {
  .img__images .top {
    position: absolute;
    top: 0px;
    right: 100px;
    height: 400px;
    width: 320px;
    transition: transform 1s;
    z-index: 2; } }
  @media (min-width: 600px) and (max-width: 599px) {
    .img__images .top .img__images img .top {
      display: none; } }

@media (min-width: 600px) {
  .img__caption {
    position: absolute;
    bottom: 100;
    left: 0; } }

.narrative {
  width: 50%; }

/* 
.video-wrap {
  position: relative;
  width: 100%;
  margin-top: 2em;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

*/
/* Next project case study footer */
.next-project {
  height: 100vh;
  padding: 4em 0 8em;
  background-color: gra #f1a053;
  justify-content: space-between; }
  @media (min-width: 600px) {
    .next-project {
      margin-bottom: -150px; } }
  @media (max-width: 599px) {
    .next-project {
      margin-bottom: -50px; } }

.next-project > .spaced {
  margin-right: 1em; }

.next-project a, .next-project a:visited {
  position: relative;
  text-decoration: none; }

.link-style a:hover {
  color: white; }

.link-style a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.link-style a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.link-text-large {
  font-size: 2em; }
  @media (max-width: 599px) {
    .link-text-large {
      font-size: 1.5em; } }

@media (min-width: 600px) {
  .grayscale {
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */ } }

@media (min-width: 600px) {
  .grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out; } }

/* Helper classes */
/* positioning */
.anchor a {
  position: absolute;
  left: 0px; }

.anchor:before {
  display: block;
  content: " ";
  margin-top: -120px;
  height: 120px;
  visibility: hidden;
  pointer-events: none; }

.caps {
  text-transform: uppercase; }

.circle {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block; }

.highlight {
  background: linear-gradient(180deg, white 80%, #52adf7 0%); }

img.center {
  margin: 0 auto; }

@media (max-width: 599px) {
  .mobile-hide {
    display: none; } }

@media (min-width: 600px) {
  .is-visible-mobile {
    display: none; } }

.reset {
  padding: 0;
  margin: 0; }

.shoutout {
  margin-top: 4em; }

.shoutout h2 {
  max-width: 768px; }

.spacer-top {
  padding-top: 2em; }

.place-left {
  margin-left: -100px; }

/* Vertical text */
@media (max-width: 599px) {
  .text-rotated {
    display: none; } }

@media (min-width: 600px) {
  .text-rotated {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    position: relative;
    /* top: 100px; */
    /* left: .5em; */
    background-color: transparent;
    font-family: "DM Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    border-left: 2px solid #c682f9;
    position: -webkit-sticky;
    position: sticky;
    top: 5px;
    /* -webkit-text-fill-color: white; // Will override color (regardless of order)
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; */
    /* text-shadow:
       3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000; */
    letter-spacing: 2px; } }

.text-rotated--dark {
  color: white; }

.flex-end {
  justify-content: flex-end; }

.border-bottom {
  border-bottom: 1px #57b8ff solid; }

/* Width styles */
.column-1 {
  width: 100%; }

.column-2 {
  width: 50%; }

.column-3 {
  width: 33.3%; }

.column-4 {
  width: 25%; }

.column-3-of-4 {
  width: 75%; }

.column-2-of-3 {
  width: 66.67%; }

.width-half {
  width: 50%; }

/** HER0 ***/
.hero {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%; }
  @media (max-width: 599px) {
    .hero {
      flex-direction: column;
      align-items: center; } }

.hero--short {
  display: flex;
  height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: center; }

.hero--fluid {
  display: flex;
  margin-top: 200px;
  width: 100%;
  justify-content: center;
  align-items: center; }

.hero__text-container {
  margin-top: 2em;
  padding: 2em;
  flex: 1 1 40%; }

.hero__cta-container {
  flex: 2 1 60%;
  padding-right: 4em; }
  @media (max-width: 599px) {
    .hero__cta-container {
      padding: 0; } }

@media (max-width: 599px) {
  .hero__img {
    max-width: 300px; } }

@media (min-width: 600px) {
  .hero__text {
    width: 50%; } }

.small-text-column {
  width: 250px;
  margin-top: 2em; }

.small-text-column p {
  font-size: 1.25em; }
  @media (min-width: 600px) {
    .small-text-column p {
      font-size: 1.5em; } }

@media (min-width: 600px) {
  .cta {
    padding-top: 2em;
    margin-bottom: -100px; } }

.home .hero {
  background-color: #232324;
  height: 90vh; }

.home h1 {
  background: #fc466b;
  background: radial-gradient(circle, #3f5efb 0%, #fc466b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

/* .home h1 {
  letter-spacing: .04em;
  color: lighten($coal, 50%);
  margin: 0;
} */
.home .hero p, .home .hero h2 {
  color: white; }

.hero__text--team {
  background-color: white;
  padding: 2em;
  height: 50vh; }

/* .hero.team {
    background: rgb(11,10,10);
    background: linear-gradient(0deg, rgba(11,10,10,1) 0%, rgba(15,14,14,1) 50%, rgba(255,255,255,1) 50%);
  } */
.color--white {
  color: white; }
  @media (max-width: 599px) {
    .color--white {
      color: #141414; } }

.hero.team {
  background: #0b0a0a;
  background: linear-gradient(0deg, #232324 0%, #232324 51%, white 51%); }

.growth-marketing .hero {
  background-color: #f1a053; }
  @media (max-width: 599px) {
    .growth-marketing .hero {
      margin-top: 4em; } }

.contact .hero {
  width: 100%; }

.cs-founder .hero {
  background: #57b8ff url("../images/helicopter.svg") no-repeat;
  background-size: 64px 64px;
  background-position: 60% 30%; }

.cs-press .hero {
  background: #FA526F url("../images/ammo.svg") no-repeat;
  background-size: 64px 64px;
  background-position: 40% 80%; }

.grant-case-study .hero, .grant-case-study .hero--short {
  color: white;
  background: #282828; }

.about .hero {
  background-color: #32395e;
  color: #9ca4ca;
  margin-top: -2px; }

.grants .hero {
  background-color: #3a4aa5; }

.growth-marketing .hero h1, .growth-marketing .hero p {
  color: white; }

/* Styled links */
a {
  text-decoration: underline; }

nav a {
  text-decoration: none; }

/* Buttons */
.btn {
  all: unset;
  background-color: #c682f9;
  padding: .75em 1.25em;
  margin: .5em 0;
  text-align: center;
  letter-spacing: .02em; }
  .btn:hover {
    background: lightenn(#c682f9, 5%);
    transition: 400ms;
    transition-timing-function: ease-in-out;
    cursor: pointer; }

.btn a, .btn:visited, .btn:hover {
  color: #141414;
  text-decoration: none; }

.outline {
  border: solid 2px #232324;
  background-color: transparent; }

.outline.white {
  border: solid 2px white;
  background-color: #232324;
  padding: 1em 1.25em; }

.small {
  padding: .50em 1em; }

.large {
  padding: .75em 1.75em;
  font-size: 1.25em; }

.rounded {
  border-radius: 2.5em; }

.white {
  color: white; }

.black {
  color: #141414; }

.shadow {
  /* -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2); }

.btn.night {
  display: inline-block;
  background: #c1666b; }
  .btn.night:hover {
    background: #ae464c;
    transition: 400ms;
    transition-timing-function: ease-in-out;
    cursor: pointer; }

.btn.night a {
  color: white; }

.wordlink {
  font-weight: bold;
  text-decoration: underline;
  color: #ff5947; }

@media (max-width: 599px) {
  .mobile-hide {
    display: none; } }

@media (max-width: 599px) {
  .visible-on-larger {
    display: none; } }

@media (max-width: 599px) {
  section, figure, .flex-c {
    flex-direction: column; } }

/* * {
  border: 1px solid red;
 } */
*, *:before, *:after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  width: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

body {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 16px;
  color: #141414;
  overflow-y: scroll;
  /* overflow-x: hidden; */ }

@media (min-width: 600px) {
  body {
    font-size: 18px; } }

main {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.25;
  max-width: 45ch;
  margin: 0.67em 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }
  @media (min-width: 600px) {
    h1 {
      font-size: 2.25em; } }

@media (min-width: 600px) {
  h1.huge {
    font-size: 3em; } }

h2 {
  font-size: 1.5em;
  margin: 0.67em 0; }

h2.serif {
  font-size: 1.4em;
  line-height: 1.8em;
  margin: 0.67em 0; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em;
  margin: 0.67em 0; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

.serif {
  font-family: "Noto Serif JP", Georgia, "Times New Roman", Times, serif; }

.sans {
  font-family: "DM Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif; }

p {
  font-family: "DM Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: .75em; }

p {
  max-width: 768px; }

ul, li {
  list-style-type: none; }

li {
  font-size: 1em;
  line-height: 1.1em;
  margin-bottom: .5em; }

li:hover {
  cursor: pointer; }

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
  /* IE 10 */ }

a {
  text-decoration: none;
  color: #141414;
  background-color: transparent;
  /* IE 10 */ }

a:visited {
  color: #141414; }

b,
strong {
  font-weight: bolder;
  /* Chrome, Edge, Safari */ }

small {
  font-size: 87.5%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

hr {
  width: 50px;
  color: #141414; }

hr.vertical-line {
  transform: rotate(90deg);
  /* vertical line */
  width: 50px;
  color: #141414; }

figure {
  margin: 0;
  padding: 0; }

figcaption, figcaption p {
  line-height: 1em;
  max-width: 45ch; }

/* Contact Form */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  /* Firefox, Safari */ }

button,
input {
  /* IE, Edge */
  overflow: visible; }

button,
select {
  /* Edge, Firefox, IE */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  /* Firefox reset*/ }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* IE 10 box sizing*/
  padding: 0;
  /* IE 10 */ }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* Visibility with JS */
.toggle-content {
  display: none; }

.toggle-content.is-visible {
  display: block; }

@media (max-width: 599px) {
  .is-visible {
    display: none; } }

/* global styles */
.line-wrap {
  line-height: 1.6em; }

.home-icon {
  margin-top: 2em;
  width: 156px; }

/* layout */
.margin-top {
  margin-top: 3em; }

.floating {
  filter: drop-shadow(0px 14px 28px rgba(0, 0, 0, 0.3));
  -webkit-filter: drop-shadow(0px 14px 28px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(0px 14px 28px rgba(0, 0, 0, 0.3)); }

.shadow {
  -webkit-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.5); }

.shadow-hover:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 400ms ease-in-out; }

.floating {
  transform: translateZ(0px);
  animation: animateZ 2s infinite; }

@keyframes animateZ {
  from {
    transform: translateZ(0px); }
  to {
    transform: translateZ(4px); } }

/* Home page */
.benefits-container {
  margin: 0 0 0 3em; }

.benefit:after {
  content: "";
  display: block;
  width: 25%;
  padding-top: 1em;
  border-bottom: 2px solid #7683cf; }

.benefit {
  background-color: white;
  margin: 0 auto; }

.benefit i {
  font-size: 1.75em;
  color: #fc466b;
  margin: 0 auto; }

.benefit h6 {
  color: #3a4aa5; }

.bg-shape {
  border-radius: 0% 0% 27% 22% / 10% 10% 34% 10%;
  background-image: radial-gradient(circle 920px at 2.4% 5.2%, #f702d2 0%, #f9d300 99.7%); }

.container--vertical-text {
  max-width: 100px; }

.text--dark-theme {
  color: white; }

.text-column {
  max-width: 768px;
  margin: 0 auto;
  padding: 2em; }

.projects-grid {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem; }

/* 
.projects-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12) 1fr;
  grid-gap: 1em;
  grid-gap: 1.5em 1em;
  justify-items: center;
  align-items: end;
  justify-content: center;
  // place-items: align items justify-items  //
}

*/
.projects {
  background-color: #141414; }
  .projects h1 {
    color: white;
    max-width: 768px; }

.projects article {
  display: flex;
  flex-direction: column; }

.project {
  width: 100%;
  position: relative;
  margin-bottom: 2em; }

@media (min-width: 600px) {
  .project--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: black;
    opacity: 0; }
  .project--details > * {
    padding-bottom: .5em; } }

@media (min-width: 600px) {
  .project--overlay:hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(36, 41, 67, 0.9);
    transition: .4s ease-in-out;
    opacity: 1; }
  .content--details {
    padding: 5em 0 0 5em; }
  .content--details p {
    padding: 1em 0 2em; }
  .content-details h4, .content-details p {
    padding-bottom: 1em; } }

.project a {
  color: white; }

/* 404 error page */
.error {
  background-color: #FA526F;
  color: white;
  height: 100vh; }

.error > .img-container {
  padding-top: 100px;
  max-width: 768px; }

.error img {
  display: block;
  margin: auto;
  padding: 2em 0;
  width: 50%; }

.error h1 {
  font-size: 3em; }

.error img {
  margin: 0 auto; }

.error p {
  font-size: 1.25em; }

.underline {
  border-bottom: 1px #c682f9 solid; }

.top-pad {
  padding-top: 4em; }

/* padding */
article > h6 {
  padding: 1em 0; }

/* Background video */
* {
  box-sizing: border-box; }

.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99; }

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }

#vidtop-content {
  top: 0;
  color: #fff; }

.vid-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif; }

.vid-info h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.2; }

.vid-info a {
  display: block;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  transition: .6s background;
  border-bottom: none;
  margin: 1rem auto;
  text-align: center; }

@media (min-aspect-ratio: 16 / 9) {
  .video-foreground {
    height: 300%;
    top: -100%; } }

@media (max-aspect-ratio: 16 / 9) {
  .video-foreground {
    width: 300%;
    left: -100%; } }

@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: .5rem; }
  .vid-info h1 {
    margin-bottom: .2rem; } }

@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none; } }

/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7); }
  to {
    opacity: 1; } }

.fade-in-element {
  animation: fade-in 1.4s; }

.hidden {
  opacity: 0;
  will-change: opacity; }

/* Footer */
footer {
  position: relative;
  background-color: #232324;
  color: white; }

footer a, footer a:visited {
  position: relative;
  color: #949494;
  text-decoration: none; }

footer a:hover {
  color: white; }

footer a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FA526F;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

footer a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

footer .banner {
  position: absolute; }

footer .banner span {
  color: #141414; }

footer li {
  margin-bottom: .5em; }

.content-block {
  padding: 1.5em 0; }

.content__text {
  max-width: 300px; }

.copyright {
  padding: 1em 0;
  font-size: 1em;
  text-align: center;
  background-color: #1e1e1f;
  color: #a2a2a4; }

.social-links {
  display: flex;
  width: 100%;
  padding-top: 2em; }

.social-links li {
  width: 25%; }

.social-links li a {
  font-size: 1.25em; }

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  /*  background: url("../images/test-bg.png") no-repeat center;
  background-position: contain; */ }

.header__container i {
  padding: .5em 0; }

.header__container p {
  max-width: 60ch; }

/* .panel {
  height: 80vh;
} */
.panel__text {
  max-width: 600px;
  padding: 1em 1em 0; }

.image__container {
  position: relative;
  text-align: center; }

.panel__list li {
  padding-bottom: .5em; }

.panel li {
  text-indent: .75em;
  line-height: 1em;
  margin: 0 0 .5em; }

@media (min-width: 600px) {
  .panel {
    padding: 4em; } }

.panel__wrap.market {
  height: 100%;
  width: 100%; }

.panel__wrap.market:after {
  content: "";
  background-color: #fc466b;
  height: 50%;
  width: 50%; }

.panel.fund {
  background-color: #9dacf7; }

.panel__content {
  max-width: 500px; }

.panel__content h4, .panel__content p {
  padding: 1em 0; }

.button__container {
  padding: 2em 0; }
  @media (max-width: 599px) {
    .button__container {
      padding: 0 0 3em; } }

.testimonials {
  background-color: #efefef;
  color: #141414; }

.testimonials .fine-print {
  color: #FA526F;
  margin-bottom: 1em; }

.testimonial-headline {
  padding: 2em;
  font-size: 1.25em; }

.callout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%; }

/* About page */
.about {
  min-height: 100%;
  height: 100%; }

.about-intro {
  background-color: #efefef;
  padding: 4em 0; }

/*
.about-intro__wrap, .margin-adjust {
  margin-top: 100px;
  z-index: -10;
}

*/
.curve-red {
  z-index: 100;
  position: absolute; }

.about figcaption {
  text-align: center; }

.about figcaption p {
  font-size: 1em; }

.about figcaption p:first-child {
  margin-top: .5em; }

.about a {
  color: #141414; }

/* Work page and sub-pages */
.card-wrap > * {
  margin-bottom: 2em; }

.card > * {
  margin-bottom: .5em; }

.icons {
  padding: 2em 0;
  width: 768px; }

.icon__container {
  margin-top: 2em;
  padding: 2em; }

.icon__container li {
  padding: 1em 0; }

i.circle {
  flex: 0 1;
  background-color: #141414;
  border-radius: 50%;
  padding: .75em;
  color: white;
  font-size: 1em;
  max-width: 25vw; }

.bottom-border {
  bottom: 0;
  width: 100%;
  border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;
  height: 10vh;
  background-color: #3a4aa5; }

/* Case stories */
/* Contact page */
.contact {
  margin-bottom: 2em; }

.contact--details {
  height: 100vh; }

.contact__container {
  text-align: center;
  padding-top: 4em; }
  .contact__container a {
    color: #141414; }

.contact-image {
  height: 70vh;
  background: url("../images/bok.jpg") no-repeat center bottom; }

.mail-link {
  padding-bottom: 1.5em; }

.mail-link a, .tel-link a {
  font-size: 1.25em; }

/* Form updated */
form {
  /* Just to center the form on the page */
  margin: 0 auto;
  /* To see the outline of the form */
  padding: 1em; }

form div + div {
  margin-top: 1em; }

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: right; }

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;
  /* To harmonize the look & feel of text field border */
  border: 1px solid #999; }

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000; }

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;
  /* To give enough room to type some text */
  height: 5em; }

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px;
  /* same size as the label elements */ }

/* Projects Overview */
.sample > .flex-item {
  height: 60vw; }

/* 404 Error Page */
.wrap-error-text {
  height: 75vh; }

.wrap-error-text p {
  font-size: 1.25em; }

/*# sourceMappingURL=style.css.map */