@import "./partials/base";

/// HACK STYLES todo //

.light {
  background-color: $gray-light;
  color: $black;
}


  h4.anchor::before {
    display: block; 
    content: " "; 
    margin-top: -100px; 
    height: 100px; 
    visibility: hidden; 
    pointer-events: none;
  }

/// SITE STYLES - move to base TODO  ///

.projects__container {
  padding-top: 2em;
}

.case-study__jg {
  background-color: $black;
  color: $orange;
}


.temp-padding {
  padding: 1em 2em 0;
}

.project-card {
  padding: 2em;
  height: 90vh;
}

.cs__jg {
  background-color: $white;
 /*  background-color: lighten($pool, 20);
  color: darken($night, 80%); */
}

/* 
.cs__jg .btn a {
color: white;
}

*/



.error {
  background-color: $bg-color-primary-dark;
  color: $bg-text-color-light;
}

.accent {
  color: $accent;
}

.highlight {
  background: $highlight;
}

a.highlight {
  background: $gray-light;
}

/* padding */

article > h6 {
  padding: 1em 0;
}

/* Home page styles */

.benefits .card {
  height: 60vh;
  max-width: 70ch; 
}

.text-as-background {
  margin-bottom: 0;
}

@include mobile-plus {
.text-as-background {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  position: relative;
  top: 10px;
  left: 50px;
  background-color: transparent;
  color: rgba(0,0,0,0.2);
  font-family: $sans;
  font-size: 1.5em;
  font-weight: bold;
  border-left: 2px solid orange;
   //text-decoration: underline;
  z-index: -1;
  color: black;
 /* -webkit-text-fill-color: white; // Will override color (regardless of order)
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; */
  /* text-shadow:
       3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000; */
  letter-spacing: 3px;
}
  
}

.width-tune {
  max-width: 200px;
}

/* Background video */

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}

  /* Animations */

  // fade in

  @keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
  }
  
  .fade-in-element {
    animation: fade-in 1.4s;
  }
  
  .hidden {
    opacity: 0;
    will-change: opacity;
  }

  /* Slide in right */

  @-webkit-keyframes slide-in-right {
    from { margin-right: -100%;    }
    to   { margin-right: 25%; }
}

@keyframes slide-in-right {
  from { margin-right: -100%;    }
  to   { margin-right: 25%; }
}

  /* Slide in right not working 

  .slide-in-right-FIXME {
  -webkit-animation: slide-in-right 3s alternate ease-in-out; 
  animation: slide-in-right 3s alternate ease-in-out;
}

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  */



/* Footer */

footer {
  position: absolute;
  height: 95vh;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background: url("../images/south-philly-skyline-poster.jpg") no-repeat center bottom;
}

.footer-link {
  color: $cerise;
  font-size: 1.4em;
  line-height: 1.3;
  margin: 0;
}

.footer__wrap {
  padding: 0;
  margin: 0;
}

.container__inner {
  padding: 1em;
}

.container--text > * {
  padding-bottom: 1em;
}

.flex-c--row {
  display: flex;
  flex-direction: row;
}

.social-links {
  display: inline-block;
  flex-direction: row;
  padding-top: 2em;
}

.social-links li {
  width: 100px;
}

.social-links li a {
  font-size: 2em;
}

.social-links > a:visited {
  color: $deep;
}

.copyright {
  text-align: center;
  font-size: .875em;
  bottom: 0;
  padding: 1em 0;
  color: $indigo;
}



/// Page Styles ///

// Home page //

.header__container {
  max-width: 60ch;
  /*  background: url("../images/test-bg.png") no-repeat center;
  background-position: contain; */
} 

.panel__list li {

  padding-bottom: .5em;
  
}

.panel {
  margin-bottom: 1rem;
  margin-top: 1em;
}

.panel > * {
  margin-bottom: 1rem;
}

.panel__text {
  padding: 1em 2em 2em;
}

.panel__text h4, .panel__text p {
  padding: 1em 0;
}

.button__container {
  padding: 2em 0;
}

.feature {
  height: 80vh;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  grid-gap: 0;
  align-items: stretch;
  background-color: #efefef;
}

@include mobile {
  section {
    flex-direction: column; 
  }
}

.feature-text {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.feature-img {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  width: auto;
  height: 50vh;
  border-style: none;
}   

.meet-the-team {
  background-color: $white;
}

.meet-the-team {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

img.fit-container {
  object-fit: cover;
}




.callout {
  max-height: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background: $bg-color-primary-dark; 
  color: Sbg-text-color-light;
}

/* Animate */

@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}

.fade-in-element {
animation: fade-in 1.4s;
}

.hidden {
  opacity: 0;
}

/* About */

.about {
  min-height: 100%;
  height: 100%;
}

.team-wrap {
  height: 120vh;
}

.about > .grid-c {
  min-height: 100%;
  padding-top: 2em;
  grid-template-columns: 1fr;
  align-items: center;
}

.team, .grid-c__fixed--c3r3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2em 1em;
}

.member {
  height: 25vh;

}

.masonry {
  margin: 1.5em auto;
  max-width: 1024px;
  column-gap: 1.5em;
  height: 100%;
}

/* The Masonry Brick */
.m-item {
  background: #fff;
  padding: 1em;
  margin: 0 0 1.5em;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 1;
  }
}

/* masonry tiles hover overlay */

.m-container {
  position: relative;
  width: 100%;
}

.m-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .m-overlay {
  height: 100%;
}

/* 
h4, p {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

*/

.content-overlay:hover {
  background: 0, 0, 0, .8;

}


/* Work page and sub-pages */

.growth-marketing .hero {
  background-image: url('../images/people.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
}

.card-wrap > * {
  margin-bottom: 2em;
}

.card > * {
  margin-bottom: .5em;
}

.label-row {
  margin-top: 2em;
}

.label-row li {
  padding: 2em;
}

.lead {
  background-color: $lead;
}

.fund {
  background-color: $fund;
}

.grow {
  background-color: $grow;
  color: white;
}

.grow.darker {
  background-color: darken($grow, 10);
}

.grow.dark {
  background-color: darken($grow, 20)
}

.grow.lighter {
  background-color: lighten($grow, 10);
}

.grow.light {
  background-color: lighten($grow, 20);
}

.lead {
  background-color: $lead;
  color: white;
}

.lead.darker {
  background-color: darken($lead, 10);
}

.lead.dark {
  background-color: darken($lead, 20)
}

.lead.lighter {
  background-color: lighten($lead, 10);
}

.lead.light {
  background-color: lighten($lead, 20);
}

.fund {
  background-color: $fund;
  color: white;
}

.fund.darker {
  background-color: darken($fund, 10);
}

.fund.dark {
  background-color: darken($fund, 20)
}

.lead.lighter {
  background-color: lighten($lead, 10);
}

.lead.light {
  background-color: lighten($lead, 20);
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
}

.icon__container {
  padding: 1em 0;
}

i.circle {
  flex: 0 1;
  background-color: $black;
  border-radius: 50%;
  padding: .75em;
  color: white;
  font-size: 1em;
  max-width: 25vw;
}

.growth-marketing > .card {
  width: 100%;
  height: 100%;
}

.bottom-border {
  bottom: 0;
  width: 100%;
  border-radius: 100% 0% 100% 0% / 0% 0% 100% 100% ;
  height: 10vh;
  background-color: $indigo; 
}


/* Case stories */

/* Contact page */

.contact {
  margin-bottom: 2em;
}

.contact .hero {
  background-color: lighten($indigo, 40);
  color: $red;
}


.contact h1 {
  letter-spacing: -1px;
}

.contact > .hero {
  background-color: $indigo;
}

.contact > .hero__inner {
  padding-bottom: 1em;
}

.contact__container {
  text-align: center;
  padding-top: 4em;
  & a {
    color: $black;
  }
}

.mail-link {
  padding-bottom: 1.5em;
}

.mail-link a, .tel-link a {
  font-size: 1.8em;
}

/* Form updated */

form {
  /* Just to center the form on the page */
  margin: 0 auto;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 300px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text fields with their labels */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

/* 

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */ /*
  margin-left: .5em;
}

*/


/* Projects Overview */

.sample > .flex-item {
  height: 60vw;
}

/* 404 Error Page */


.wrap-error-text {
  height: 75vh;  
}

.wrap-error-text p {
  font-size: 1.25em;
}
