#circle-icon {
	z-index: 1;
	text-align: center;
	position: absolute;
	width: 200px;
	padding-top: 10px;
}

#arc {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: draw 1s infinite ease-in-out 4ms forwards;
  
}
 
@keyframes draw {
  from {
    stroke-dashoffset: 200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.squiggle {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: draw 2000ms infinite ease-in-out 4ms forwards;
  animation-delay: 1200ms;
}
 
@keyframes draw {
  from {
    stroke-dashoffset: 200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.circle-background {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: show 1400ms ease-in-out 4ms forwards;
 
}
 
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}