
.line {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 5s linear forwards;
  }

  .outline {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 5s linear forwards; 
  }

  .tree {
    fill: #000;
    stroke: #000;
    stroke-width: 2px;
    stroke-dasharray: 2000;
    stroke-linejoin: round;
    animation: dash 5s linear forwards; 
  }


/* Animate */

@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}

.fade-in-element {
animation: fade-in 1.4s;
}

.hidden {
  opacity: 0;
}

#text {
}

#heart {
  animation: pop1 3s ease infinite;
  animation: ghost 3s ease-in-out;
  animation-iteration-count: 3;
  // animation-delay: 5s;
}

@keyframes dash {
  from {
    stroke-dashoffset: 3000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes pop {
  0% {transform: scale(1); transform-origin: 50%;}
  10% {transform: scale(1.1); transform-origin: 50%;}
  20% {transform: scale(1.1); transform-origin: 50%;}
  30% {transform: scale(1.1); transform-origin: 50%;}
  40% {transform: scale(1); transform-origin: 50%;}
  50% {transform: scale(1); transform-origin: 50%;}

  100% {transform: scale(1); transform-origin: 50%;}

}

@keyframes pop1 {
  0% {transform: scale(1); transform-origin: 50%;}
  10% {transform: scale(1); transform-origin: 50%;}
  20% {transform: scale(1); transform-origin: 50%;
  opacity: 1;}
  30% {transform: scale(1); transform-origin: 50%;}
  40% {transform: scale(1); transform-origin: 50%;}
  50% {transform: scale(1.05); transform-origin: 50%;}
  60% {transform: scale(1.05); transform-origin: 50%;}
  70% {transform: scale(1.05); transform-origin: 50%;}
  80% {transform: scale(1); transform-origin: 50%;}
  90% {transform: scale(1); transform-origin: 50%;}
  100% {transform: scale(1); transform-origin: 50%;}


}

@keyframes ghost {
  0% {opacity: 0;}
  10% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 1;}


}

#circle-icon {
	z-index: 1;
	text-align: center;
	position: absolute;
	width: 200px;
	padding-top: 10px;
}

#arc {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: draw 1s infinite ease-in-out 4ms forwards;
  
}
 
@keyframes draw {
  from {
    stroke-dashoffset: 200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.squiggle {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: draw 2000ms infinite ease-in-out 4ms forwards;
  animation-delay: 1200ms;
}
 
@keyframes draw {
  from {
    stroke-dashoffset: 200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.circle-background {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: show 1400ms ease-in-out 4ms forwards;
 
}
 
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Keyframe animation
@-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      top: 100px;
    }
    75% {
      opacity: 0.5;
      top: 0px;
    }
    100% {
      opacity: 1;
    }
  }
  
    // Set delay per List Item

$total-items: 4;

@for $i from 1 through $total-items {
  li:nth-child(#{$i}) {
    animation-delay: 1s * $i;
  }
}

  /* Slide in right not working 

  .slide-in-right-FIXME {
  -webkit-animation: slide-in-right 3s alternate ease-in-out; 
  animation: slide-in-right 3s alternate ease-in-out;
}

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% 
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  */

    /* Slide in right */

    @-webkit-keyframes slide-in-right {
      from { margin-right: -100%;    }
      to   { margin-right: 25%; }
  }
  
  @keyframes slide-in-right {
    from { margin-right: -100%;    }
    to   { margin-right: 25%; }
  }

  /* Testimonial slideshow */
  
  /* 
  https://codepen.io/CheeStudio/pen/vYBmEVy
  
  https://codepen.io/tudorsuhan/pen/yJwvNo */ 

  .testimonial-slider {
    background-color: $coal;
    @include mobile-plus {
      padding: 6em 2em;
    }
  }

  .slide-title {
    margin-bottom: 1em;
    text-transform: uppercase;
    text-align: center;
  }
  
  p {
    font-size:1.1em;
    line-height:1.3em;
  }
  
  .slide-wrap {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    transition:300ms;
    background-color: $gray-light;
    margin-top: 2em;
    
  }
  
  .slideshow {
    position: relative;
    z-index: 10;
  }
  
  .slide-entry {
    position: absolute;
    top: 0;
    left: 0;
  right: 0;
    margin:0 auto;
    // text-align: center;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    padding: 2em 10%;
    transition:300ms;
  &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  .slide-entry .indent {
    text-indent: .5em;
  }
  
  .slide-nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 50%;
    transform: translateY(-60%);
    width: 100%;
    list-style: none;
    padding: 0;
    z-index: 0;
    li {
      cursor: pointer;
      color:rgb(236, 221, 221);
      font-size:64px;
      @include mobile {
        font-size: 1.5em;
      }
    }
  }
  
  #prev-slide {
    margin-left:-50px;
    @include mobile {
      margin-left: 0px;
    }
  }
  
  #next-slide {
    margin-right:-50px;
    @include mobile {
      margin-right: 0px;
    }
  }
  
  /* Responsive Video Embeds
  ========================================================= */
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  }
  
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
  height: 400px;
  border: solid 1px black;
     
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding-top: 12px;
  padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222428
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active,
.dot:hover {
    background-color: #717171
}