@import "normalize";
@import "variables";
@import "layout";
@import "case";

html {
  height: 100%;
  min-height: 100vh;
}

body {
    font-size: 16px;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font: 'Corben', cursive;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.5;
}

p {
  font-family: $sans;
}

h1 {  
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    width: 50ch;
}

ul, li {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: skyblue;
}

a:visited {
    color: rgb(23, 113, 173);
}

.btn { 
    background-color: $btnColor; 
}
.btn:hover { 
    background-color: lighten($btnColor, 20%); 
}

figcaption {
  
}

figcaption p {
  font-family: $sans;
  font-size: .875em;
  line-height: 1em;
}

/* Grid it up */

.grid-container {
  display: grid; 
}

/* Flexbox */

.flex-container {
  display: flex;
}

.flex-container > * {
  flex: 1;
}

@media only screen and ($mobile) {
  .flex-container {
    flex-direction: column;
  }
}

  /* projects styles home page */

  .projects {
    padding: 2rem;
  }
  
  .projects > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
  }
  
  .projects > ul > li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
  }
  
  .projects > ul > li > figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
  }
  
  .projects > ul > li > figure > img {
    width: 100%;
  }
  
  .projects > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
  }
  
  .projects > ul > li > figure > figcaption > h3 {
    color: white;
    padding: .75rem;
    font-size: 1.25rem;
  }
  
  .projects > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
  }
  
  .projects > ul > li > a {
    padding: .5rem 1rem;
    margin: .5rem;
  }

  
  

  






