@import "reset";
@import "variables";

$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

body {
    font-size: 16px;
}
p {
    font-size: 1rem;
    font-weight: bold;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: orangered;
}

a:visited {
    color: skyblue;
}

/* Media Queries  See: https://gist.github.com/hemantajax/5938709 */

@media only screen and (max-width: $breakpoint-mobile) {
    p {
        color: red;
    }
  
}


@media (max-width: $breakpoint-mobile) {

    a {
        font-size: 1rem;
    }
  
}

button {

}

footer {
    background-color: $charcoal;
    color: $orange;
    padding: 2em;
}


/* Grid */

.fl-container {
    display: flex;
    flex-direction: row;
}

.fl-column {
    flex: 0, 1, auto;
}

.container-center {
    text-align: center;
    
}









