@import "variables";
@import "mixins";
@import "layout-margin";
@import "layout";
@import "image";
@import "type";
@import "nav";
@import "case";
@import "media";

/* Temp margin fix - todo delete */

/* 

 * {
  border: 1px solid red;
 }

 */

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  
}

body {
    height: 100%;
    width: 100%;
    font-family: $sans;
    font-size: $font-size-base;
    color: $black;
    /* overflow-x: hidden; */
}

@include mobile-plus {
  body {
    font-size: 18px;
  }
}

main {
  display: block;
  /* min-height: calc(100vh - 50px); */
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
  line-height: 1.25;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


h2 {  
    font-size: 1.75em;
    margin: 0.67em 0;
}

h3, h4 {
    font-size: 1.5em;
}

h5, h6 {
    font-size: 1.25em;
}

.serif {
  font-family: $serif;
}

.sans {
  font-family: $sans;
}

p {
    font-family: $sans;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: .75em;
}

ul, li {
    list-style-type: none;
}

li:hover {
  cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-style: none; /* IE 10 */
}

a {
    text-decoration: none;
    color: $link;
    background-color: transparent; /* IE 10 */ 
}

a:visited, a:hover {  
  color: darken($link, 20%);
}

b,
strong {
  font-weight: bolder; /* Chrome, Edge, Safari */
}

small {
  font-size: 87.5%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

  hr {
    transform: rotate(90deg); /* vertical line */
    width: 50px;
    color: $black;
 }

 hr.horizontal {
   width: 50px;
   color: $black;
 }
/* Buttons */

.btn { 
    padding: .25em .75em;
    margin: .5em 0;
    text-align: center;
}


.outline {
  border: solid 2px $night;
  background-color: transparent;
}

.outline a {
  color: $black;
}

.small {
  padding: .25em;
}

.large {
  padding: .75em 1.5em;
}

.rounded {
  border-radius: 2.5em;
}

.attention {
  background-color: map-get($theme-colors, "accent");
}

.bg-primary {
  background-color: map-get($theme-colors, "primary");
}

.bg-secondary {
  background-color: map-get($theme-colors, "secondary");
}

.white {
  color: $white;
}

.black {
  color: $black;
}

.primary {
  color: map-get($theme-colors, "primary");
}

.btn .shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.btn a, .btn a:visited  {
  text-transform: uppercase;
  font-weight: bold;
}


.btn.night {
  display: inline-block;
  background: $primary;
  &:hover {
    background: darken($primary, 10%);
    transition: 400ms;
    transition-timing-function: ease-in-out; 
    cursor: pointer;
  }
}

.btn.night a {
  color: $white;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  
}

figcaption p {
  /* font-family: $sans; */
  font-size: .875em;
  line-height: 1em;
}

/* Contact Form */

button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; 
    font-size: 100%; 
    line-height: 1.15; 
    margin: 0; /* Firefox, Safari */
  }
  
  
  button,
  input { /* IE, Edge */
    overflow: visible;
  }
  
  button,
  select { /* Edge, Firefox, IE */
    text-transform: none;
  }
  
  button /*  iOS, Safari reset */,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; /* Firefox reset*/
  }


  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  button .default {
    background-color: #666; /* test button todo */
  }

  textarea /* IE 10+ */ {
    overflow: auto;
  } 

  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* IE 10 box sizing*/
    padding: 0; /* IE 10 */
  }

  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

  /* Visibility with JS */

  .toggle-content {
    display: none;
  }
  
  .toggle-content.is-visible {
    display: block;
  }

  @include laptop-max {
    .visible-on-large {
      display: none;
    } 
  }











