/// Portfolio Styles ///

.samples {
  padding: 1em; 
}

.samples__container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr));
    /* grid-template-rows: repeat(2, minmax(400px, 1fr)); */
    grid-gap: 1rem;
    grid-auto-flow: dense;
  }

  .samples > ul > li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
  }

  .samples > figure {
    max-height: 350px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;

  }

  .samples > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
  }
 
  figure img {
    object-fit: cover;
    max-width: 100%;
  }

/// Case Study Styles ///

/* Case study page layout  */

header, main {
  padding: 0;
}

.grid__container--page {
  display: grid;
  min-height: 100%;
  height: 100vh;
  grid-template-columns: 
    1fr 1fr 1fr .25fr; 
  grid-template-rows: 
    auto; 
  grid-template-areas: 
    "header header header header"
    "main main main main"
    "main main main main"
    "main main main main"
    "footer footer footer footer";
}

.grid__item {
  display: grid;
}
 
.grid__item--header {
  grid-area: header;
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.container__flex {
  display: flex;
}

.container__flex--column {
  display: flex;
  flex-direction: column;
}

.data__primary {
  justify-content: space-between;
  background-color: white;
}

.tag-list li {
  display: inline;
  font-size: .75em;
  text-transform: uppercase;
  padding: .5em .5em;
  border: solid 1px $primary;
  border-radius: 8px;
  background-color: $primary;
  margin-left: 2px;
}

.tag-list li:first-child {
 
}

.tag-list li:nth-child(2) {
}

.tag-list li:last-child {
}

.grid__item--header > h2 {
  text-align: center;
  color: $charcoal;
}
  .grid__item--main {
    grid-area: main;
    grid-column: 1 / 5;
    grid-row: 2 / 4;  
}

.grid__item--footer {
  grid-area: footer;
  grid-column: 1 / 5;
  grid-row: 4 / 5;  
}

/// Case Studies ///

.case-header > * {
  margin-bottom: 2em;
}
.case-header h1 {
  text-align: center;
}

.case-header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.case-header li {
  margin-right: 1em;
  padding: 25em;
  border: solid 1px $charcoal;
}

.case-header > li



/* Page template styles */

/* Jeff Grant, Influencer */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.narrative {
  width: 50%;
}









