/// Case Study & Service Page Styles ///
/* Service styles */

.sub-nav {
  width: 100%
}

.sub-nav li {
  height: 20vh;
}

@include mobile {
  .sub-nav li {
    width: 50%;
  }
}

.sub-nav li a {
  color: white;
}

.sub-nav li:first-child {
  background-color: $indigo;
}

.sub-nav li:nth-child(2) {
  background-color: lighten($indigo, 10%);
}
.sub-nav li:nth-child(3) {
  background-color: darken($indigo, 10%);
}

.sub-nav li:nth-child(4) {
  background-color: lighten($indigo, 10%);
}
.sub-nav li:nth-child(5) {
  background-color: darken($indigo, 10%);
}

.sub-nav li:nth-child(6) {
  background-color: $indigo;
}

.inactive {
  background-color: $charcoal;
  color: white;
}

/* Case study page layout  */

.grant-case-study .text-block {
background-color: black;
color: white;
line-height: 1.25em;
}

.case-study {
  background-color: $night;
  color: $white;
}

.flex-c--wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.tag-container > tag {
  margin: 1em;
}

.tag-item {
  margin-bottom: 1em;
}

.tag-container {
  padding: 1em;
}

.tag-container li {
  line-height: 1.4em;
}

.twitter-wrap {
  z-index: -1;
}

/*
<img class=""src="../images/overhead.jpg" alt= "Protest against gun violence in Harrisburg, PA">
    <figcaption></figcaption>

    */

.tag-item {
  display: inline;
  font-size: .875em;
  text-transform: uppercase;
  padding: .25em;
  margin: 0 1em 1rem;
  border: solid 1px $primary;
  border-radius: 4px;
  background-color: $white;
}

.case-meta p {
  font-size: 1.25em;
  margin: 0;
}

.tag-list li:first-child {
 
}

.tag-list li:nth-child(2) {
}

.tag-list li:last-child {
}

.grid__item--header > h2 {
  text-align: center;
  color: $charcoal;
}
  .grid__item--main {
    grid-area: main;
    grid-column: 1 / 5;
    grid-row: 2 / 4;  
}

.grid__item--footer {
  grid-area: footer;
  grid-column: 1 / 5;
  grid-row: 4 / 5;  
}

/// Case Studies ///

.case-header > * {
  margin-bottom: 2em;
}
.case-header h1 {
  text-align: center;
}

.case-header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.case-header li {
  margin-right: 1em;
  padding: 25em;
  border: solid 1px $charcoal;
}

/* Next project component */



/* Page template styles */

/* Jeff Grant, Influencer */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.narrative {
  width: 50%;
}

.grant-case-study .hero {
  background: $gray-light url("../images/grant-sit-tight.jpg") no-repeat center right;
}

.grant-case-study footer {
  background-color: white;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}




