/// Portfolio Styles ///
  
.samples {
    padding: 2rem;
  }

  .samples-container {
    display: grid;
    grid-template-columns: [first] 1fr [second] 1fr [third] 1fr;
    grid-template-rows: [one] 25% [two] 25% [three] 25% [four] 25%;
    height: 80vh;
  }
 
.samples-container > figure {
  height: 20vh;
}

  .samples-container > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;

  }

  .item > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(223, 63, 63, 0.7);
    width: 100%;
  }

  .item-1 {
    grid-column-start: first;
    grid-column-end: second;
    grid-row-start: one;
    grid-row-end: two;
    background-color: pink;
  }

  .item-2 {
    grid-column-start: second;
    grid-column-end: third;
    grid-row-start: one;
    grid-row-end: two;
    background-color: purple;
  }

  .item-3 {
    grid-column-start: third;
    grid-column-end: third;
    grid-row-start: one;
    grid-row-end: two;
    background-color: skyblue;
  }

  .item-4 {
    grid-column-start: first;
    grid-column-end: third;
    grid-row-start: twp;
    grid-row-end: three;
    background-color: blue;
  }
  
  .samples > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
  }
  
  .samples > ul > li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
  }
  
  .samples > ul > li > figure {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
  }
  
  .samples > ul > li > figure > img {
    width: 100%;
  }
  
  .samples > ul > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
  }
  
  .samples > ul > li > figure > figcaption > h3 {
    color: white;
    padding: .75rem;
    font-size: 1.25rem;
  }
  
  .samples > ul > li > p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem .75rem;
    color: #666666;
  }
  
  .samples > ul > li > a {
    padding: .5rem 1rem;
    margin: .5rem;
  }
  
/// Case Study Styles ///


/* Grid layout */

.grid__item {

}

.grid__item--header {
    grid-area: header;
  }

.grid__item--main {
    grid-area: main;
  }

  .grid__item--sidebar {
    grid-area: sidebar;
  }
 
  .grid-container__page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main main main"
      "main main main main"
      "main main main main";
  }

.grid__item--header {
    grid-area: header;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    background-color: $test-dark;
}

.main__container {
    padding-left: 2em;
    padding-right: 2em; 
}

.grid__item--main {
    display: grid;
    grid-area: main;
    grid-column: 1 / 5;
    grid-row: 3 / 5;  
}

.case__metadata {
    background-color: orange;
    font-family: $sans;
    padding-bottom: 1em;
    padding-left: 2em;
}


.case__metadata--tags li {
    display: inline;
    font-size: .875em;
    text-transform: uppercase;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: .5em;
}

/* Page styles */

h1, h2, h3, h4, h5, h6 {
    font-family: $sans;
}

p {
    font-family: $cursive;
}

.text-container {
    padding-top: 2em;
}

.text-container p {
    padding-top: 1em;
}

