.color-red {
    color: $cerise;
  }
  
  .theme--cherry {
    background-color: $cerise;
    color: lighten($cerise, 40%);
  }
  
  .theme--pool {
    background-color: $pool;
  }

/* 
.theme-grape {
  @include theme(theme-grape, )
} */

.light {
    background-color: $gray-light;
    color: $black;
  }
  