.theme--dark {
  color: $white;
  background: $coal;
}

.color-red {
    color: $cerise;
  }

  .theme--cerise {
    color: $white;
    background-color: darken($cerise, 5%);
  }

  .theme--red {
    background-color: $cerise;
    color: $white;
  }

  .theme--orange {
    background-color: $orange;
    color: $black;
  }

  .theme--indigo {
    background-color: $indigo;
    color: $white;
  }

  .theme--night {
    background-color: $night;
    color: $white;
  }
  
  
  .theme__gradient--red {
    background: linear-gradient(to right bottom, $cerise 60%, lighten($cerise, 5%) 40%);
  }
  
  .theme__gradient--orange {
    background: linear-gradient(to right bottom, $orange 60%, lighten($orange, 5%) 40%);
  }

  .theme__gradient--pool {
    background: linear-gradient(to right bottom, $pool 40%, lighten($pool, 10%) 60%);
  }

  .theme--cherry {
    background-color: $cerise;
    color: lighten($cerise, 40%);
  }
  
  .theme--pool {
    background-color: $pool;
  }

  .theme--light {
    background-color: $gray-light;
    color: $black;
  }

  .team-gallery {
    background: linear-gradient(to right bottom, #292d38 50%, #212531 50%);
  }

/* 
.theme-grape {
  @include theme(theme-grape, )
} */

.light {
    background-color: $gray-light;
    color: $black;
  }

  .team-gallery {
    background: linear-gradient(to right bottom, #292d38 50%, #212531 50%);
  }
  
  