.theme--dark {
  color: $white;
  background: $coal;
}

.color-red {
    color: $cerise;
  }

  .theme--cerise {
    color: $white;
    background-color: darken($cerise, 5%);
  }

  .theme--red {
    background-color: $cerise;
    color: $white;
  }

  .theme--orange {
    background-color: $orange;
    color: $black;
  }

  .theme--indigo {
    background-color: $indigo;
    color: $white;
  }

  .theme--night {
    background-color: $night;
    color: $white;
  }
  
  
  .theme__gradient--red {
    background: linear-gradient(to right bottom, $cerise 60%, lighten($cerise, 5%) 40%);
  }
  
  .theme__gradient--orange {
    background: linear-gradient(to right bottom, $orange 60%, lighten($orange, 5%) 40%);
  }

  .theme__gradient--pool {
    background: linear-gradient(to right bottom, $pool 40%, lighten($pool, 10%) 60%);
  }

  .theme--cherry {
    background-color: $cerise;
    color: lighten($cerise, 40%);
  }
  
  .theme--pool {
    background-color: $pool;
  }

  .theme--light {
    background-color: $gray-light;
    color: $black;
  }

  .team-gallery {
    background: linear-gradient(to right bottom, #292d38 50%, #212531 50%);
  }

/* 
.theme-grape {
  @include theme(theme-grape, )
} */

.light {
    background-color: $gray-light;
    color: $black;
  }

  .team-gallery {
    background: linear-gradient(to right bottom, #292d38 50%, #212531 50%);
  }

  /* .team-gallery {
    background: linear-gradient(to right bottom, #292d38 50%, #212531 50%);
  }
  */

.team-gallery {
  background: rgb(224,75,9);
  background: linear-gradient(90deg, rgba(224,75,9,0.7) 0%, rgba(242,111,52,0.7) 34%, rgba(242,111,52,0.7) 50%, rgba(227,82,17,0.7) 74%, rgba(224,75,9,0.7) 75%);

}


  .team-gallery-old {
    background: rgb(224,75,9);
    background: linear-gradient(90deg, rgba(224,75,9,1) 0%, rgba(242,111,52,1) 34%, rgba(242,111,52,1) 50%, rgba(227,82,17,1) 74%, rgba(224,75,9,1) 75%);

  }
 
  
  