/** HER0 ***/

.hero {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include mobile {
      flex-direction: column;
      align-items: center;
    } 
  }
  
  .hero--short {
    display: flex;
    height: 70vh;
    width: 100%;
    justify-content: center;
    align-items: center; 
  }

  .hero--fluid {
    display: flex;
    margin-top: 200px;
    width: 100%;
    justify-content: center;
    align-items: center; 
  }
  
  .hero h1, .hero--short h1 {
    @include mobile-plus {
      font-size: 2.25em;
    }
  }

  .hero__text-container {
    padding: 0 2em;
  }

  @include mobile {
    .hero__img {
      max-width: 300px;
    }
  }

  @include mobile-plus {
    .hero__text {
      width: 60%;
    }  
  }

  .small-text-column {
    width: 250px;
  }
  
  .small-text-column p {
    font-size: 1.25em;
    margin-top: 100px;
    @include mobile-plus {
      font-size: 1.5em;
    }
  }
  
  // hero custom home page // 
  
.home .hero {
  background-color: $black;
    color: lighten($black, 60%);
}

  .home h1 {
    font-size: 2.4em;
    margin: 0 0 .67em; 
    @include mobile-plus {
      font-size: 3em;
    }
  }

  .space-tight {
    margin-bottom: .25em;
  }

  .no-margin {
    margin: 0;
  }

  // special hero styles //

  .home .hero {

  }
  
  .press-case-study .hero--short {
   background-color: $cerise;
  }

  .founder-case-study .hero {
    background: url("../images/travel.svg");
  }
  
  .growth-marketing .hero {
    @include mobile {
      padding-top: 0;
    }    
  }

  .contact .hero {
    width: 100%;
  }
   
  .grant-case-study .hero, .grant-case-study .hero--short {
    color: $white;
    background: lighten($black, 8%);
  }

  