/** HER0 ***/

.hero {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include mobile {
      flex-direction: column;
      align-items: center;
    } 
  }
  
  .hero--short {
    display: flex;
    height: 70vh;
    width: 100%;
    justify-content: center;
    align-items: center; 
  }

  .hero--fluid {
    display: flex;
    margin-top: 200px;
    width: 100%;
    justify-content: center;
    align-items: center; 
  }
  
  .hero h1, .hero--short h1 {
    @include mobile-plus {
      font-size: 2.25em;
    }
  }

  @include mobile {
    .hero__image {
      max-width: 300px;
    }
  }

  @include mobile-plus {
    .hero__text {
      width: 60%;
    }  
  }

  .hero__text-container {
    display: flex;
    @include mobile {
      flex-direction: column;
    }
    @include mobile-plus {
      margin-left: -200px;
    }
  }

  .small-text-column {
    width: 250px;
  }
  
  .small-text-column p {
    font-size: 1.75em;
    margin-top: 100px;
  }
  
  // hero custom home page // 
  
  .offset {
    margin-top: -200px;
  }

  .home h1 {
    font-size: 2.4em; 
    @include mobile-plus {
      font-size: 4em;
    }
  }
  
  .about .hero {
    background-color: $cerise;
  }
  
  // special hero styles //
  
  .press-case-study .hero--short {
   background-color: $cerise;
  }
  
  .growth-marketing .hero {
    @include mobile {
      padding-top: 150px;
      height: 120vh;
    }    
  }

  .contact .hero {
    width: 100%;
  }
   
  .grant-case-study .hero, .grant-case-study .hero--short {
    color: $white;
    background: lighten($black, 8%);
  }

  