/** HER0 ***/

.hero {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include mobile {
      flex-direction: column;
      align-items: center;
    } 
  }
  
  .hero--short {
    display: flex;
    height: 70vh;
    width: 100%;
    justify-content: center;
    align-items: center; 
  }

  .hero--short-col {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
  }

  .hero--tiny {
    display: flex;
    height: 40vh;
    width: 100%;
    justify-content: center;
    align-items: center; 
    
  }

  .hero--fluid {
    display: flex;
    margin-top: 200px;
    width: 100%;
    justify-content: center;
    align-items: center; 
  }
  
  .hero__text-container {
    margin-top: 2em;
    padding: 2em 6em;
    flex: 1 1 40%;
    @include mobile {
     padding: 2em 1em;
    }
  }

  .hero__cta-container {
    flex: 2 1 60%;
    padding-right: 4em;
    @include mobile {
      padding: 0;
    }
  }

  @include mobile-plus {
    .hero__img {
      max-width: 300px;
    }
  }

  @include mobile-plus {
    .hero__text {
      width: 75%;
    }  
  }

  .small-text-column {
    width: 250px;
    margin-top: 2em;
  }
  
  .small-text-column p {
    font-size: 1.25em;
    @include mobile-plus {
      font-size: 1.5em;
    }
  }

  .cta {
    @include mobile-plus {
      padding-top: 2em;
      margin-bottom: -100px;
    }
   
  }
  
  // hero custom home page // 
  
.home .hero {
  background-color: $coal;
}

.home h1 {
background: #fc466b;
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
/* .home h1 {
  letter-spacing: .04em;
  color: lighten($coal, 50%);
  margin: 0;
} */

.home .hero p, .home .hero h2 {
  color: $white;
}



  // special hero styles //

  .hero__text--team {
    background-color: $white;
    padding: 2em;
    height: 50vh;
  }

  .color--white {
    color: $white;
    @include mobile {
      color: $black;
    }
  }

  .hero.team {
    background: rgb(11,10,10);
    background: linear-gradient(0deg, rgba(35, 35, 36,1) 0%, rgba(35, 35, 36,1) 51%, rgba(255,255,255,1) 51%);
  }
  
  /*
  .growth-marketing .hero {
    background: rgb(82,123,247);
    background: linear-gradient(45deg, rgba(82,123,247,1) 0%, rgba(131,167,255,1) 70%, rgba(101,139,255,1) 100%);
    @include mobile {
      margin-top: 4em;
    }    
  }

  */

  .growth-marketing .hero {
    background: #fc466b;
    background: linear-gradient(135deg, rgba(63,94,251,.8) 0%, rgba(252,70,107,.8) 100%);  
  }

  .contact .hero {
    width: 100%;
  }

  .cs-founder .hero {
    background: $pool url('../images/helicopter.svg') no-repeat;
    background-size: 64px 64px;
    background-position: 60% 30%;
  }

  .cs-press .hero {
    background: lighten($cerise, 4%) url('../images/ammo-noun.svg') no-repeat;
    background-size: 80px 80px;
    background-position: 40% 80%;
  }
   
  .grant-case-study .hero, .grant-case-study .hero--short {
    color: $white;
    background: lighten($black, 8%);
  }

  .cs-website .hero--short {
    background-color: lighten($night, 15%);
    color: lighten($night, 80%);
  }

  .about .hero {
    background-color: lighten($night, 15%);
    color: lighten($night, 60%);
    margin-top: -2px;
  }

  .about .hero .fine-print {
    color: $white;
  }

.grants .hero {
background: rgb(58,74,165);
background: linear-gradient(45deg, #6871dc 0%, #556cd6 20%, #4357ab 41%, #3248ad 72%, #6e59e0 100%);
}

.grants .hero h1 {
  color: lighten( rgb(58,74,165), 50%);
}

.grants .hero p {
  color: $white;
}


