

.img--filter {
  -webkit-filter: grayscale(100%);
  filter: grayscale(0%);
}

.img--filter:hover {
  -webkit-filter: grayscale(100%) blur(2px);
  filter: grayscale(100%) blur(2px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.aspect-ratio--16x9 {
  padding: 56.25% 0 0 0;
}


.zoom-in-out {
  // transition: .6s ease-in-out;
  transition: transform 1s;
}

.zoom-in-out:hover {
  transform: scale(1.05);
}


