/// Elements connected to Express ///

.page-title {
    display: inline;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: .25em;
    color: $black; 
  }

.margin-move {
  margin-bottom: -150px;
  @include mobile {
    margin-bottom: -50px;
  }
}
/* utility classes */ 

.inner {
  padding: $space-base;
}

.inner--l {
  padding: $space-l;
  @include mobile {
    padding: $space-base;
  }
}

.inner--xl-5 {
  padding: 5em;
}

.inner--xl {
  padding: $space-xl;
}

/// Containers /// 

/* Full-width containers */

.divider-hero {
  width: 100%;
  margin-top: 50px;
}

.divider {
  width: 100%;
  height: 30vh;
  margin-top: -100px;
}

@include mobile-plus {
.place-adjust {
  margin-top: -150px;
  padding-top: 250px;
}
}

@include mobile {
  .place-adjust {
    margin-top: -50px;
    padding-top: 100px;
  }
}

.container {
  @include padding
}

.container--contained {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1em;
}

.container__text {
  max-width: 600px;
  @include mobile-plus {
    padding: 1em 5em;
  }
}

.content-image { 
  width: 80%;
  height: 110vh; // experiment with this value, try changing to 110vh
  //min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
} 

.container__wrap {
  @include mobile-plus {
    max-width: 1100px;
    margin: 0 auto;
  }
}

.banner {
    width: 100%;
    background-color: transparent;
    @include mobile-plus {
      padding: 4em 0;
    }
}

.banner__inner {
  padding: 3em .5em;
  max-width: 768px;
}

.banner__title {
  padding: 2em;
}

.icon__container p {
  padding-top: 1em;
}
@include tablet-plus {
  padding: 2em 2em 0;
}

.banner, section {
    &--light {
        background-color: $gray-light;
        color: $black;
    }
    &--deep {
      background-color: $primary;
    }
}

.content-container {
  max-width: 768px;
}

.content-container--l {
  max-width: 1000px;
}

.content-container--s {
  max-width: 540px;
}

.container__inner--text {
    padding: .5em;
}

/* Cards */

.container__card {
  display: flex;
  flex-direction: column;
}

.container__caption {
  background-color: darken($gray-light, 5%);
  text-align: center;
  padding: .5em 0;
}

/// Shapes /// 

.circle {
    border-radius: 50%;
}

.bold {
    font-weight: bold;
}

.larger {
    font-size: 1.5em;
}

.xlarge {
    font-size: 2em;
}

  /* Flexbox */


.flex, .flex-c {
    display: flex;
  }
  
  .flex, .flex-c > * {
    flex: 1;
  }

  .flex-item, .flex-i {
      flex: 1;
  }

  .flex-i--double, .flex-i--2 {
      flex: 2;
  }
  
  .flex-c--col {
    display: flex;
    flex-direction: column;
}

.flex-c--row {
  flex-direction: row;
}

.width-50 {
  width: 50%
}
.width-75 {
  width: 75%;
}

.flex-c--center {
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center center;
    @include mobile {
      flex-direction: column;
    }
}

.flex-item-half {
  max-width: 80%;
}

.flex-c--space-between {
    justify-content: space-between;
}

.justify-between {
  justify-content: space-between;
}

.flex-c--wrap {
    flex-direction: wrap;
}
  
@include mobile {
    .flex-c {
      flex-direction: column;
    }
  }

/* Grid */

/* services page grid with left gutter */

.grid--center {
  align-items: center;
  justify-items: center; /* adjusted */
}

.grid-item {
}

.grid-c--gutter {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 1.5em;
}

.grid-i-gutter {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.grid-i-1 {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}

.grid-i-2 {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
}

.grid-i-3 {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
}

.grid-c {
  @include display-grid;
}



/*
.grid-c--1x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .5em;
}
*/

/* home page benefits */

.grid-c--2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  @include mobile {
    /* change to 1 column grid */
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }
}

/* fundraising page grid */ 

.grid-c--2x3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(100px, 300px));
  grid-gap: 2em;
  @include mobile {
    /* change to 1 column grid */
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(250px, 400px);
    grid-gap: 0;
  }
}

.offers {
  max-width: 1000px;
}

@include mobile-plus {
.offers article {
  padding: 3em;
}
}


/* social media marketing case study */ 
.grid-c--2x4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, minmax(300px, 500px));
  grid-gap: 4em 1em;
  @include mobile {
    /* change to 1 column grid */
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
  }
}

/* sbir case study */

.grid-item:first-child {
background-color: $pool;
padding: 3em;
}

.grid-item:nth-child(2) {
  padding: 4em;
  }

.grid-item:nth-child(3) {
  background-color: $gray-light;
  padding: 1em;
  }

.grid-item:nth-child(4) {
  background-color: $coal;
  color: $white;
  padding: 4em;
}

.grid-item:nth-child(5) {
  background-color: $cerise;
  padding: 2em;
}

.grid-item:nth-child(6) {
  background-color: $indigo;
  padding: 4em;
  }

.grid-item-color {
  background-color: $black;
  color: $cerise;
}

.grid-item-1 {
  background-color: $gray-light;
}

.grid-item-3 {
  background-color: lighten($cerise, 50%);
}
.grid-item-4 {
  background-color: $cerise;
}

.grid-item-6 {
  padding-top: 4em;
}
.justify-center {
  justify-items: center;
}

a > figcaption {
  text-decoration: none;
}

.top-margin {
  padding-top: 1.5em;
}


/* About image gallery */

.team-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  @include mobile {
    display: flex;
    flex-direction: column;
    & img {
      width: 300px;
    }
  }
}

@include mobile-plus {
  .team-grid {
    grid-gap: 4em;
  }
}

.team-item {
  width: 50vw;
  padding: 2em;
}

@include mobile-plus {
  .team-1, .team-3, .team-5 {
    margin-top: 100px;
  } 
}

/* team bios */

.bio-wrap {
  background: linear-gradient(90deg, $orange-red 10%, $white 10%);
}
.brag-container, .bio-container {
  padding: 2em;
 
}

.bio-container {
  padding: 2em;
}

.brag-container {
  margin-left: 2em;
  @include mobile {
    margin-left: 0;
  }
}

.brag-container h2 {
color: $orange-red;
}

.brag-container li {
  line-height: 1.4em; 
}

.list-container {
  padding: 2em 4em 2em;
}

.fa-linkedin {
  font-size: 1.2em;
  padding-left: 2em;
  padding-bottom: 1em;
  color: $black;
}

.grid-c__fluid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($minmax, 1fr));
  }

  .grid-c__fluid--xl {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($minmax-xl, 1fr));
  }

.grid-c__fluid--l {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($minmax-l, 1fr));
    grid-gap: 1em;
  }

.grid-c__fluid--m {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($minmax-m, 1fr));
}

.grid-c__fluid--s  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($minmax-s, 1fr));
}

.grid-c__fluid-xs  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($minmax-xs, 1fr));
}

.grid-c__gutter {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
}

.gap {
    grid-gap: 1em;
}

.gap-2 {
    grid-gap: 2em;
}

.gap-3 {
  grid-gap: 3em;
}


.gap-4 {
    grid-gap: 4em;
}

.no-gap {
    grid-gap: 0;
}

/* home page grid - todo */

.icon-grid__fixed--2x2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 1em;
    height: 50vh;
  }
  .icon-grid li {
    height: 25vh;
    font-size: 1em;
    letter-spacing: .5px;
  }
  
  .icon-grid li:nth-child(2n) {
    border-left: .5px dotted #fff;
  }
  
  .icon-grid li:nth-child(3) {
    border-top: .5px dotted #fff;
  }
  
  .icon-grid li:nth-child(4) {
    border-top: .5px dotted #fff;
  }

  /* team grid */

  .gallery__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: #f5f4f4;
  }

  .gallery__container--grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(6, 200px);
    grid-auto-flow: dense;
  }

  .item--disabled {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    background: #0c9a9a;
    color: #fff;
    grid-column-start: auto;
    grid-row-start: auto;
    color: #fff;
    background:  url('../images/head-shots-bad/leopold-glasses.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    counter-increment: item-counter;
    
    &:nth-of-type(2) {
      background-image: url('../images/head-shots-bad/dana-1.jpg');
    }
    
    &:nth-of-type(3) {
      background-image: url('./images/head-shots-bad/darcie-goodwin.jpg');
    }
    
    &:nth-of-type(4) {
      background-image: url('https://images.unsplash.com/photo-1464652149449-f3b8538144aa?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
    }
    
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.3;
      transition: opacity 0.3s ease-in-out;
    }
    
    &:hover {
      transform: scale(1.05);
      
      &:after {
        opacity: 0;
      }
    }
  
    &--medium {
      grid-row-end: span 2;
    }
  
    &--large {
      grid-row-end: span 3;
    }
  
    &--full {
      grid-column-end: auto;
  
      @include laptop {
        grid-column: 1/-1;
        grid-row-end: span 2;
      }
    }
    
    &__details {
      position: relative;
      z-index: 1;
      padding: 15px;
      color: #444;
      background: #fff;
      text-transform: lowercase;
      letter-spacing: 1px;
      color: #828282;
      
      &:before {
        content: counter(item-counter);
        font-weight: bold;
        font-size: 1.1rem;
        padding-right: 0.5em;
        color: #444;
      }
    }
  }

  /* end todo */
  
/* Alignment */ 

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.halfscreen {
    height: 50vh;
}

/// Headers ///

.title-box {
    padding: 0 1em;
    margin: 1em 0;
}

.subnav {
  padding: 2em 0;

}

.grid__page--12x12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 0;
    justify-content: center;
    min-height: 100%;
}

@include mobile-plus {
.grid__wrap--case-story {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 2em 1.25em;
  padding-top: 3em;
}
}

@include mobile {
  .grid__wrap--case-story > * {
    grid-column: [col-start] / span 12;
  }
}

/* team bios */

@include mobile-plus {
  .grid--team-bios {
    display: grid;
    grid-template-columns: repeat(2, [col-start] 1fr);
    grid-template-rows: repeat(6, 600px);
    grid-gap: 1.5em 1em;
    justify-content: center;
    min-height: 100%;
  }
}

@include mobile {
  .grid--team-bios > * {
  grid-column: [col-start] / span 12;
}
}

.team-image {
  max-height: 500px;
}

/* global grid items */

.grid-summary {
  grid-column: 2 / span 5;
  grid-row: 1 / span 3;
}

.grid-meta {
  grid-column: 8 / span 5;
  grid-row: 1 / span 3;
}

.grid-challenge {
  grid-column: 2 / span 4;
  grid-row: 6 / span 3;
}


/* founder stories grid */

.grid-challenge-f {
  grid-column: 2 / span 4;
  grid-row: 6 / span 3;
}

.grid-image {
  grid-column: 7 / span 4;
  grid-row: 6 / span 3;
}

.grid-tweet {
  grid-column: 9 / span 4;
  grid-row: 6 / span 3;
}

.grid-spotlight {
  grid-column: 1 / span 5;
  grid-row: 10 / span 4; 
}

.grid-rio-image {
  grid-column: 6 / span 7;
  grid-row: 10 / span 5; 
}

.grid-solution {
  grid-column: 2 / span 4;
  grid-row: 15 / span 4; 
}

.grid-strategy {
  grid-column: 7 / span 4;
  grid-row: 15 / span 4; 
  padding-top: 2em;
}

.grid-results {
  grid-column: 2 / span 5;
  grid-row: 19 / span 4; 
  padding-bottom: 2em;
}

.grid-team {
  grid-column: 9 / span 4;
  grid-row: 19 / span 4; 
}

/* social media influencer */

.grid-fact-sm {
  background-color: $white;
  padding: 4em 2em 0;
  grid-column: 8 / span 5;
  grid-row: 5 / span 3;
}

.grid-solution-sm {
  grid-column: 2 / span 5;
  grid-row: 10 / span 3;
}

.grid-strategy-sm {
  grid-column: 8 / span 5;
  grid-row: 10 / span 4;
  padding: 4em;
}

.grid-spotlight-sm {
  grid-column: 1 / span 5;
  grid-row: 15 / span 2;
}

.card-rounded {
  border-radius: 5%;
}

.grid-img-s {
  grid-column: 6 / span 6;
  grid-row: 15 / span 3;
}

.grid-spotlight2-s {
  grid-column: 2 / span 4;
  grid-row: 19 / span 3;
}

.grid-img2-s {
  grid-column: 8 / span 6;
  grid-row: 19 / span 4;
}

.grid-results-s {
  grid-column: 4 / span 4;
  grid-row: 23 / span 3;
}

/* social media marketing */ 

.grid-challenge-s {
  grid-column: 2 / span 5;
  grid-row: 6 / span 3;
}

.grid-fact-s {
  background-color: $gray-light;
  grid-column: 2/ span 3;
  grid-row: 6 / span 3;
}

.grid-solution-s {
  grid-column: 1 / span 5;
  grid-row: 10 / span 3;
}

.grid-strategy-s {
  grid-column: 8 / span 3;
  grid-row: 10 / span 3;
}

.grid-spotlight-s {
  grid-column: 1 / span 4;
  grid-row: 15 / span 3;
}

.grid-img-s {
  grid-column: 6 / span 6;
  grid-row: 15 / span 3;
}

.grid-spotlight2-s {
  grid-column: 2 / span 4;
  grid-row: 19 / span 3;
}

.grid-img2-s {
  grid-column: 7 / span 6;
  grid-row: 19 / span 4;
}

.grid-results-s {
  grid-column: 1 / span 5;
  grid-row: 23 / span 3;
}


/* Submenu */ 

.submenu__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(75px, auto) 1fr;
  grid-gap: .5em;
  }

.is-visible-on-large {
  @include mobile {
    display: none;
  }
}
.submenu a {
  color: $black;
}

.submenu-item {
  border: 4px solid $black;
  padding: 2em 0;
}

.submenu-item:hover {
  background-color: $cerise;
  transition: .3s ease-in-out;
}


/* Container components */

.cards {
    display: flex;
  }
    
  .card {
    padding: .5em;
    border-radius: 2px;
    overflow: hidden;
    margin: 1rem;
    transition: all 0.5s ease;
  }

  .card:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

 

  /* .card--border {
    border-radius: 53% 47% 45% 55% / 67% 62% 38% 33%;    
    background: rgb(58,74,165);
    background: linear-gradient(90deg, rgba(58,74,165,1) 30%, rgba(84,101,202,1) 74%);
  }

  */

  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }

  .work > article {
    height: 100vh;
  }


  /* Portfolio / Projects Grid */

  
  
/* Alignment */

.left {
    text-align: left;
  }
  
  .center {
    text-align: center;
  }
  
  .right {
    text-align: right;
  }
 
  .fine-print {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .0625em;
    margin-bottom: 1em;
  }

  .norm-text {
    font-size: 1em;
  }

  .small {
    font-size: .5em;
  }

  .text-outline {
    color: $white;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .large-print {
    text-transform: uppercase;
  }

  .text-margin > * {
      margin-bottom: 1em;
  }

  // Text heavy styles (for readability) //

  .main-content {
    flex: 2;
  }

.main-content__inner {
    padding: 1em 2em;
  }
  

.main-content p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1em;
  }

  .content-sidebar {
    background-color: $black;
    color: $white;
  }

  blockquote {
    font-family: $serif;
    line-height: 1.8em;
    padding: 2em 3em;
  }

  .vertical-line {
    margin: 5em 0 0;
    height: 40px;
    background: linear-gradient($black, $black) no-repeat center/1px 100%;
  }

  .vertical-line--dark {
    margin: 5em 0 0;
    height: 40px;
    background: linear-gradient($white, $white) no-repeat center/1px 100%;
  }

  