/// Elements connected to Express ///

.page-title {
    display: inline;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: .25em;
    color: $black; 
  }

.tag-container {
    padding: 1em 0;
    margin: 1em 0;
}
.tag-container li {
    max-width: 20vw;
}
/// Shapes /// 

.circle {
    border-radius: 50%;
}

.shape {
    border-radius: 30% 70% 58% 42% / 30% 37% 63% 70%;
    background-color: $indigo-lt;
    width: 100%;
    height: 100%;
    }
pxx
.shape.alt {
    border-radius: 30% 70% 17% 83% / 30% 78% 22% 70%;
 
}

.shape > * {
    padding: 2em;
}

.bg-dot {

    background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
    background-size: $dot-space $dot-space;

}

.bold {
    font-weight: bold;
}

.larger {
    font-size: 1.25em;
}

.xlarge {
    font-size: 2em;
}

  /* Flexbox */

.flex-container {
    display: flex;
  }
  
  .flex-container > * {
    flex: 1;
  }

  .flex-item {
      flex: 1;
  }
  
  .flex-container-wide {
    flex: 2;
  }

  .flex-container-row {
      display: flex;
      flex-direction: row;
  }
  
  @media only screen and ($mobile) {
    .flex-container {
      flex-direction: column;
    }
  }

  /// Grid and Flexbox ///

/* Grid full page layout */

.grid-wrapper {
    display: grid;
    max-height: 100vh;
    grid-gap: 1em;
    grid-template-areas:
        "menu"
        "title-wrap"
        "main"
        "footer";
}

@media (min-width: 599px) {
    .grid-wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "header header"
        "title-wrap title-wrap"
        "main main"
        "footer footer";
    }
}

.grid-container {
    display: grid;
}

.stretch {
    disply: grid;
    justify-items: stretch;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

.flex-col {
    flex-direction: column;
}

.flex-c-center, .flex-center {
    align-items: center;
    justify-content: center;
    place-items: center center;
    max-width: 100%;
}

.flex-spaced-b {
    justify-content: space-between;
}

.space-between {
    justify-content: space-between;
}

.grid-container-fluid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1em;
    padding: 1em; 
  }

.fluid-small {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.fluid-xsmall  {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.gap {
    grid-gap: 1em;
}

.gap-2 {
    grid-gap: 2em;
}

.gap-4 {
    grid-gap: 4em;
}

.no-gap {
    grid-gap: 0;
}

  .fullscreen {
    grid-template-columns: 1fr;
    grid-gap: 0;
    height: 100vh;
  }
  
  .pad-1 {
      padding: 1em; 
  }

  .pad-2 {
      padding: 2em;
  }

.two-x-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0;
    justify-content: center;
    min-height: 100%;
}


/* Alignment */ 

.center {
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.center > * {
    text-align: center;
    align-self: center;
}

.centered {
    max-width: 50%
}

.fullscreen {
    height: 100vh;
}

.halfscreen {
    height: 50vh;
}

.spaced {
    justify-content: space-between;
}

@media screen and (min-width: $mobile) {
    .centering {
        width: 80%;
        text-align: center;
        font-size: 1.25em;
    }
}
/// Headers ///

.title-box {
    padding: 0 1em;
    margin: 1em 0;
}

/* About page icons */ 

.icon-container {
    width: 50%;
}

.icon-container li:first-child {
    background-color: transparent;
}

.icon-container li:nth-child(2n) {
    background-color: transparent;
}

.icon-container li:nth-child(3) {
    background-color: $cherry;
}

.icon-container li:nth-child(5) {
    background-color: $indigo-lt;
    color: black;
}

.icon-container li:nth-child(4) {
    background-color: orange;
    color: black;
}

/* subnav grid */ 

.sub-nav .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0;
}

.sub-nav > li {
    
}

.grid__page--12x12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 0;
    justify-content: center;
    min-height: 100%;
}

/* Container components */

.card-container {
    display: grid;
  }
    
  .card {
    justify-self: center;
    overflow: hidden;
  }

  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }

  .work > article {
    height: 100vh;
  }


  /* Portfolio / Projects Grid */

  
  
/* Alignment */

.left {
    text-align: left;
  }
  
  .center {
    text-align: center;
  }
  
  .right {
    text-align: right;
  }
  
 
  .fine-print {
    text-transform: uppercase;
    font-size: .875em;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .reverse {
      color: white;
      background-color: $black;
      padding: .5em;
  }
  
  .text-margin > * {
      margin-bottom: 1em;
  }

  // Text heavy styles (for readability) //
  

.main-content {
    padding: 1em 2em;
  }
  
  .main-content h2 {
      margin-bottom: 1em;  
  }

.main-content p {
    font-family: $serif;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1em;
  }
  