/// Elements connected to Express ///

.page-title {
    display: inline;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: .25em;
    color: $black; 
  }

/* 
@include mobile {
  article {
    min-width: $large;
    margin-left: auto;
    margin-right: auto;
  }
  figure {
    min-width: $large;
    margin-left: auto;
    margin-right: auto;
  }
}

*/

/* new styles to do move */

/*
.row {
  @include flex;
}

*/

/* Hero */

.hero {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center; 
}

.hero h1 {
  line-height: 1.4;
  letter-spacing: .02em;
}

.hero__inner {
  padding: $space-l;
}

.home .hero {
  color: $white;
  background-color: darken($primary-dark, 1);
}

.home .hero h1 {
  line-height: 1.2em;
}

.home .hero--content {
  padding-top: 1em;
}

.cta-container {
  padding-top: 1em;
  margin-top: 2em;
}

.founder-case-study .hero {
  background: url('../images/travel1.svg');
}


.img__container--center {
  position: relative;
  margin: 0 auto;
  width: 75%;
}




.press-case-study .hero {
 background-color: $cerise;
}

@include mobile {
  .hero {
    flex-direction: column;
    align-items: center;
  }
}

@include mobile-plus {
  h1 {
    font-size: 2.5em;
  }
}

/// Containers /// 

/* Full-width banners */

.banner {
    width: 100%;
    background-color: transparent;
}

.banner__inner {
  padding: .75em .75em 0 ;
}

@include tablet-plus {
  padding: 2em 2em 0;
}

.banner, section {
    &--light {
        background-color: $gray-light;
        color: $black;
    }
    &--deep {
      background-color: $primary;
    }
}

.container__inner--text {
    padding: .5em;
}


.container--bg {
    margin: 0 auto;
    width: 25%;
    height: 25%;
    border-radius: 65% 35% 50% 50% / 50% 35% 65% 50%;
    background: rgb(58,67,165);
    background: linear-gradient(45deg, rgba(58,67,165,1) 23%, rgba(123,84,202,1) 68%, rgba(35,45,153,1) 99%);
    
}

.container--bg i {
    font-size: 2em;
    padding: 1em 0;
}

.inner {
  padding: 1em; /* default padding */

  @include mobile {
    padding: $space-s;
  }

  @include laptop {
    padding: $space-l;
  }
}

.inner > * {
  margin-bottom: .5em;
}

/* 
@include mobile-plus {
  .inner {
    padding: 1em 2em;
  }
  .inner > * {
    margin-bottom: .75em;
  }
}

@include mobile {
  .inner {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em;
  }
}

*/

/* Cards */

figure.card {
  height: 50vh;
}

figure.card:first-child {
  /* background-color: #070E16; */
  /* background: lightblue url("../images/grant-sit-camera.jpg") no-repeat fixed center; */ 
}

figure.card:nth-child(2) {
  /* background-color: $charcoal; */
  /* background: lightblue url("../images/grant-sit-camera.jpg") no-repeat fixed center; */ 
}

/// Shapes /// 

.circle {
    border-radius: 50%;
}

.bold {
    font-weight: bold;
}

.larger {
    font-size: 1.25em;
}

.xlarge {
    font-size: 2em;
}

  /* Flexbox */


.flex, .flex-c {
    display: flex;
  }
  
  .flex, .flex-c > * {
    flex: 1;
  }

  .flex-item, .flex-i {
      flex: 1;
  }

  .flex-i--double, .flex-i--2 {
      flex: 2;
  }
  
  .flex-c--col {
    display: flex;
    flex-direction: column;
}

.flex-c--row {
  flex-direction: row;
}

.flex-c--center {
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center center;
}

.flex-item-half {
  max-width: 80%;
}

.flex-c--space-between {
    justify-content: space-between;
}

.flex-c--wrap {
    flex-direction: wrap;
}
  
@include mobile {
    .flex-c {
      flex-direction: column;
    }
  }

/* Grid */

/* services page grid with left gutter */

.grid-c--gutter {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 1.5em;
}

.grid-i-gutter {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.grid-i-1 {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}

.grid-i-2 {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
}

.grid-i-3 {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
}




.grid-wrapper {
    display: grid;
    min-height: 100vh;
    grid-gap: 1em;
    grid-template-areas:
        "menu"
        "title-wrap"
        "main"
        "footer";
}

@include mobile{
    .grid-wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "header header"
        "title-wrap title-wrap"
        "main main"
        "footer footer";
    }
}

.grid-c {
  @include display-grid;
}

.stretch {
    display: grid;
    justify-items: stretch;
}

.grid-c--1x5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: .5em;
}

.grid-c__fluid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($minmax, 1fr));
  }

.grid-c__fluid--l {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($minmax-l, 1fr));
  }

.grid-c__fluid--m {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($minmax-m, 1fr));
}

.grid-c__fluid--s  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($minmax-s, 1fr));
}

.grid-c__fluid-xs  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($minmax-xs, 1fr));
}

.gap {
    grid-gap: 1em;
}

.gap-2 {
    grid-gap: 2em;
}

.gap-4 {
    grid-gap: 4em;
}

.no-gap {
    grid-gap: 0;
}

/* home page grid - todo */

.icon-grid__fixed--2x2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 1em;
    height: 50vh;
  }
  .icon-grid li {
    height: 25vh;
    font-size: 1em;
    letter-spacing: .5px;
  }
  
  .icon-grid li:nth-child(2n) {
    border-left: .5px dotted #fff;
  }
  
  .icon-grid li:nth-child(3) {
    border-top: .5px dotted #fff;
  }
  
  .icon-grid li:nth-child(4) {
    border-top: .5px dotted #fff;
  }

  /* team grid */

  .gallery__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: #f5f4f4;
  }

  .gallery__container--grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(6, 200px);
    grid-auto-flow: dense;
  }

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    background: #0c9a9a;
    color: #fff;
    grid-column-start: auto;
    grid-row-start: auto;
    color: #fff;
    background:  url('../images/head-shots-bad/leopold-glasses.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    counter-increment: item-counter;
    
    &:nth-of-type(2) {
      background-image: url('../images/head-shots-bad/dana-1.jpg');
    }
    
    &:nth-of-type(3) {
      background-image: url('./images/head-shots-bad/darcie-goodwin.jpg');
    }
    
    &:nth-of-type(4) {
      background-image: url('https://images.unsplash.com/photo-1464652149449-f3b8538144aa?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
    }
    
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.3;
      transition: opacity 0.3s ease-in-out;
    }
    
    &:hover {
      transform: scale(1.05);
      
      &:after {
        opacity: 0;
      }
    }
  
    &--medium {
      grid-row-end: span 2;
    }
  
    &--large {
      grid-row-end: span 3;
    }
  
    &--full {
      grid-column-end: auto;
  
      @include laptop {
        grid-column: 1/-1;
        grid-row-end: span 2;
      }
    }
    
    &__details {
      position: relative;
      z-index: 1;
      padding: 15px;
      color: #444;
      background: #fff;
      text-transform: lowercase;
      letter-spacing: 1px;
      color: #828282;
      
      &:before {
        content: counter(item-counter);
        font-weight: bold;
        font-size: 1.1rem;
        padding-right: 0.5em;
        color: #444;
      }
    }
  }

  /* end todo */
  

.two-x-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0;
    justify-content: center;
    min-height: 100%;
}


/* Image gallery grid -- About page */

@include mobile {
    .grid-c__columns {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @include mobile-plus {
    .grid-c__columns {
      display: grid;
      grid-template-columns: repeat(3, 1fr)
    }
    figure:nth-child(3), .enlarge-2 {
      grid-row: span 2;
    }
    figure:nth-child(4) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }


/* Alignment */ 

.center {
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.center > * {
    text-align: center;
    align-self: center;
}

.centered {
    max-width: 50%
}

.halfscreen {
    height: 50vh;
}

.spaced {
    justify-content: space-between;
}

/// Headers ///

.title-box {
    padding: 0 1em;
    margin: 1em 0;
}

.subnav {
  padding: 2em 0;

}

/* subnav grid */ 

/*

.sub-nav .grid-c {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0;
}

.sub-nav > li {
    
}

*/

.grid__page--12x12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 0;
    justify-content: center;
    min-height: 100%;
}

/* Container components */

.cards {
    display: flex;
  }
    
  .card {
    padding: .5em;
    border-radius: 2px;
    overflow: hidden;
    margin: 1rem;
    transition: all 0.5s ease;
  }

  .card:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

 

  /* .card--border {
    border-radius: 53% 47% 45% 55% / 67% 62% 38% 33%;    
    background: rgb(58,74,165);
    background: linear-gradient(90deg, rgba(58,74,165,1) 30%, rgba(84,101,202,1) 74%);
  }

  */

  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }

  .work > article {
    height: 100vh;
  }


  /* Portfolio / Projects Grid */

  
  
/* Alignment */

.left {
    text-align: left;
  }
  
  .center {
    text-align: center;
  }
  
  .right {
    text-align: right;
  }
 
  .fine-print {
    text-transform: uppercase;
    font-size: .875em;
    letter-spacing: .0625em;
    margin-bottom: 1em;
  }



  .text-margin > * {
      margin-bottom: 1em;
  }

  // Text heavy styles (for readability) //

  .main-content {
    flex: 2;
  }

.main-content__inner {
    padding: 1em 2em;
  }
  

.main-content p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1em;
  }

  .content-sidebar {
    background-color: $black;
    color: $white;
  }

  blockquote {
    font-family: $serif;
    line-height: 1.8em;
    padding: 2em 3em;
  }
  .vertical-line {
    margin: 2em 0;
    height: 50px;
    background: linear-gradient($black, $black) no-repeat center/1px 100%;
  }