@include mobile {
  .mobile-hide {
    display: none;
  }
}

@include mobile {
  .visible-on-larger {
    display: none;
  }
}


@include mobile {
  section, figure, .flex-c {
    flex-direction: column; 
  }
}


  