@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin padding {
  padding: 1em;
  @include mobile-plus {
    padding: 2em;
  }
}

@mixin width {
  max-width: 768px;
}

@mixin red {
  color: red;
}


@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

@mixin text-column {
  max-width: $max-width-base;
  margin: 0 auto;
  padding: $space-l;
}

@mixin mobile-plus {
  @media (min-width: 600px) { @content; }
}

@mixin link-color($static: $link-color, $hover : $link-hover-color) { 
  &, &:visited, &:active, &:visited:active { 
    color: $static; } 
    &:hover, &:visited:hover { 
      color: $hover; } 
    }

@mixin theme($name, $base-color) {
  .#{$name} {
    .span {
      color: $color;
    }
  }
}


@mixin theme($name, $color) {
  $primary: $color;
  $secondary: lighten(adjust-hue($color, 20), 10%);

  .#{$name} {
    .element {
      color: $primary;
    }

    .other-element {
      background: $secondary;
    }
  }
}

@mixin base-lighten($base-color) {
  color: $base-color;
  &:hover {
    background: lighten($base-color, 8%);
  }
}

@mixin mobile {
  @media (max-width: 599px) { @content; }
}
@mixin mobile-plus {
  @media (min-width: 600px) { @content; }
}
@mixin laptop {
  @media (min-width: 900px) { @content; }
}
@mixin desktop {
  @media (min-width: 1200px) { @content; }
}
@mixin largest-screen {
  @media (min-width: 1800px) { @content; }
}

@mixin laptop-max {
  @media (max-width: 900px) { @content; }
}


