@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

@mixin text-column {
  max-width: 768px;
  margin: 0 auto;
}

@mixin theme($name, $base-color) {
  .#{$name} {
    .element {
      color: $color;
    }
  }
}

@mixin theme($name, $color) {
  $primary: $color;
  $secondary: lighten(adjust-hue($color, 20), 10%);

  .#{$name} {
    .element {
      color: $primary;
    }

    .other-element {
      background: $secondary;
    }
  }
}

@mixin base-lighten($base-color) {
  color: $base-color;
  &:hover {
    background: lighten($base-color, 8%);
  }
}

@mixin mobile {
  @media (max-width: 599px) { @content; }
}
@mixin mobile-plus {
  @media (min-width: 600px) { @content; }
}
@mixin laptop {
  @media (min-width: 900px) { @content; }
}
@mixin desktop {
  @media (min-width: 1200px) { @content; }
}
@mixin largest-screen {
  @media (min-width: 1800px) { @content; }
}

@mixin laptop-max {
  @media (max-width: 900px) { @content; }
}

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}

.btn-green {
   @include button-bg(#2ecc71);
}

.btn-blue {
   @include button-bg(#3498db);
}

.btn-yellow{
   @include button-bg(#f1c40f);
}

.btn-red {
   @include button-bg(#e74c3c);
}

