@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

@mixin theme($name, $base-color) {
  .#{$name} {
    .element {
      color: $color;
    }
  }
}

@mixin base-lighten($base-color) {
  color: $base-color;
  &:hover {
    background: lighten($base-color, 8%);
  }
}

@mixin mobile {
  @media (max-width: 599px) { @content; }
}
@mixin mobile-plus {
  @media (min-width: 600px) { @content; }
}
@mixin laptop {
  @media (min-width: 900px) { @content; }
}
@mixin desktop {
  @media (min-width: 1200px) { @content; }
}
@mixin largest-screen {
  @media (min-width: 1800px) { @content; }
}

