/* Navigation */

/* https://www.w3schools.com/code/tryit.asp?filename=G6913M8THUXM */

nav {
    width: 100%;
    background-color: transparent;
    text-align: center;
    margin: 0 auto;
    height: 56px;
    z-index: 10;
    @include mobile-plus {
      height: 3em;
    }
  }

  .about nav {
    background-color: darken($cerise, 5%);
  }


  nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $accent;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  nav a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  
  /* applied after scroll height reached 
  
  .fixed-nav nav {
    position: fixed;
    top:0;
    z-index: 1;
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  }

  */
  
  .navigation {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
    width: 100%;
    z-index: 90;
  }
  
  nav ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding-left: 0;
      justify-content: flex-end;
      align-items: center;
  }

  nav ul li {
    justify-self: flex-end;
    padding: 0 1em;
  }

  .logo {
   height: 40px;
   padding: .5em;
   margin-top: -10px; 
  }

  .hamburger {
    font-size: 24px;
    padding: .5em 1em;
  }

  .contact-text {
    font-size: 1.5em;
    margin: 0;
  }

  .btn--menu {
    all:unset;
    background-color: $accent;
    padding: .5em;
    text-align: center;
    letter-spacing: .02em;
  }
  
  nav li {
      color: #000;
      display: block;
      float: left;
      padding: 1em;
      position: relative;
      text-decoration: none;
    transition-duration: 0.5s;
  }
    
  nav li a { 
    color: rgb(0, 0, 0); /* over-ridden todo fix  */
  }
  
  nav li:hover {
      cursor: pointer; }

  .main-nav {
    display: flex;
    align-content: center;
    position: relative;
  }

  .main-nav > li {
    align-items: center;
  }

  .main-nav > .btn-small {
    background-color: $primary;
  }

  .main-nav > button > a {
    color: white;
  }

  /* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(255, 255, 255); /* white fallback color */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: left;
  background-color: rgba(255, 255, 255, .95);
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */

  .overlay a {
    padding: .5em;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: $indigo;
    border-bottom: solid 1px $gray-light;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    transition-timing-function: ease-in-out;
}

.overlay a:visited {
  color: $indigo;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: lighten($indigo, 40%);
  background-color: $indigo;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

