/* Layouts */

$minmax: 250px;
$minmax-l: 400px;
$minmax-m: 200px;
$minmax-s: 150px;
$minmax-xs: 100px; 


/* Color Scheme */

$black-old: rgba(0,0,0,0.8);
$black: #141414;
$link-x:  rgba(72, 82, 84, 1); /* gray-d */

$white: rgb(255, 255, 255);

// $primary: #242943; /* night */
$primary: #373F51; /* deep */
$primary-light: rgba(87, 184, 255, 1); /* pool */
$deep: #32293b; /* grape */
$link-bright: rgba(87, 184, 255, 1); /* pool */
$link-vis: #3a4aa5; /* indigo */
$link: #5465ca; /* indigo lite */
$bg-pale: rgba(0,0,0,0.08);

$highlight: linear-gradient(180deg,rgba(255,255,255,0) 70%, rgb(82, 173, 247) 0%);
$bg-orange: rgba(249, 151, 59, .5);

$gold: #F2AA18;

/* button */ 
$btn-primary: #242943; /* night */

/* caroline palette fix */

$red: rgba(192, 46, 83, 1);
$gray-l: #efefef;

/* lisa palette test */

// $red: #F75B5E; 

$deep: #373F51;
$white: #F2F2F2;
// $gray-lt: #BDBDBD;
$accent: rgba(35, 227, 201, 1);

/* test primary color palette */


$cherry: rgb(247, 122, 153);
$cherry-lt: rgba(247, 137, 164, 1);
$cerise: rgba(192, 46, 83, 1);
$grape: #32293b;
$logo: #eb5b5f;

$night: #242943;
$night-lite: rgba(42, 47, 74, 1);
$night-lite-text: rgba(42, 47, 74, .6);

$eggplant: rgba(38, 36, 49, 1);
$eggplant-lt: rgb(121, 115, 155);
$indigo: rgba(58, 74, 165, 1);
$indigo-lt: rgb(196, 190, 255);

$aqua: rgb(170, 227, 228);
$pool: rgba(87, 184, 255, 1);

$white: rgb(222, 233, 240);
$black: #131517; /* not in use */
$charcoal: #424A51;
$slate: rgba(72, 82, 84, 1);

/* Coolors Exported Palette - coolors.co/3a4aa5-57b8ff-485254-f9973b-ff5947 */

/* RGB */
$indigo: rgba(58, 74, 165, 1);
$orange: rgba(249, 151, 59, 1);
$red: rgba(255, 89, 71, 1);

/* work category color scheme */

$lead: rgba(249, 151, 59, 1); 
$fund: rgba(255, 89, 71, 1); 
$grow: rgba(58, 74, 165, 1);

$red: #F75B5E;

/* lighten($indigo, 5%); */

/* backgrounds */

// Colors
$bg-color: rgba(168, 202, 253, .8);
$dot-color: rgba(204, 222, 247, .6);

// Dimensions
$dot-size: 1px;
$dot-space: 22px;


/* Typography */

// europa (g) gibson (t) 

$sans-tk: "din-2014-narrow", sans-serif;
$serif-tk: "clarendon-urw", serif;

$display: 'Montserrat', sans-serif;
$serif: 'Merriweather', Georgia, Times, serif;

$sans: Helvetica, 'Helvetica Neue', Arial, sans-serif;
$narrow: 'Roboto Condensed', 'Lato', Helvetica, 'Helvetica Neue', Arial, sans-serif;
$serif-old: 'Aleo', Georgia, 'Times New Roman', Times, serif;

@mixin mobile {
    @media (max-width: 599px) { @content; }
  }
  @mixin mobile-tablet {
    @media (min-width: 600px) { @content; }
  }
  @mixin tablet-plus {
    @media (min-width: 900px) { @content; }
  }
  @mixin desktop {
    @media (min-width: 1200px) { @content; }
  }
  @mixin desktop-plus {
    @media (min-width: 1800px) { @content; }
  }

/* min-width breakpoints*/
$mobile: 599px; 
$small: 599px;
$medium: 900px;
$large: 1025px;

$tablet: (min-width: 768px) and (max-width: 1024px);
$lap-desk: (min-width: 1025px) and (max-width: 1280px); 
$desktop-large: (min-width: 1281px)

/* 

background: rgb(58,74,165);
background: linear-gradient(90deg, rgba(58,74,165,1) 30%, rgba(84,101,202,1) 74%);


*/

/* 
xs, extra-small: 0px or larger
sm, small: 600px or larger
md, medium: 960px or larger
lg, large: 1280px or larger
xl, extra-large: 1920px or larger

*/

