$sky: skyblue;
$aqua: rgb(27, 203, 206);
$teal: #48AAA4;
$orange: #C07C5E;
$charcoal: #424A51;
$light: rgb(223, 231, 236);
$black: #131517;

$test-light: skyblue;
$test-dark: #424A51;
$sidebar: pink;

$sans-typekit: "din-2014-narrow", sans-serif;
$serif-tk: "clarendon-urw", serif;

$cursive: "Corben", cursive;
$serif: 'Noticia Text', serif;
$sans: 'Lato', sans-serif;

$serif-ggogle: "Source Serif Pro", Georgia, Times, "Times New Roman", serif;
$sans-google: "Source Sans Pro", Verdana, Helvetica, Arial, sans-serif;

$btnColor: pink;

$mobile: "max-width: 600px";