/* Size and spacing */

$font-size-base: 16px;
$font-size-large: 18px;

/* padding and margins */

$space: 1em;

$space-s: .5em;

/* $space-unit: 1em; /* for padding and margins 

$space-xxs:  calc(0.25 * var(--space-unit));
$space-xs:   calc(0.5 * var(--space-unit));
$space-sm:   calc(0.75 * var(--space-unit));
$space-md:   calc(1.25 * var(--space-unit));
$space-lg:   calc(2 * var(--space-unit));
$space-xl:   calc(3.25 * var(--space-unit));
$space-xxl:  calc(5.25 * var(--space-unit));



/* Layouts */

$minmax: 250px;
$minmax-l: 400px;
$minmax-m: 200px;
$minmax-s: 150px;
$minmax-xs: 100px; 

/* Color Scheme */

// defaults 
$black: rgba(0, 0, 0, 1) !default; 
$white: rgba(255, 255, 255, 1) !default;

// old brand colors 
$logo: #eb5b5f;

// base colors

$black: rgb(20, 20, 20);
$white: rgb(255, 255, 255);
$charcoal: #424A51;
$gray-light: rgb(239, 239, 239);

$indigo: #3a4aa5;
$red: rgb(192, 46, 83);

$cherry: rgb(247, 122, 153);
$cherry-lt: rgba(247, 137, 164, 1);
$cerise: #c02e53;

$orange-red: rgba(255, 89, 71, 1);
$orange: rgba(249, 151, 59, 1);

$pool:  rgb(87, 184, 255);
$aqua: rgb(95, 214, 229);
$aqua-green: rgb(35, 227, 201);

$eggplant: #32293b;
$grape: #32293b;

$blue: #3C4F76;

$night: #242943; /* dark blue */

// color scheme //

$base-color:          #413DA8;

$base-color-lightest: lighten($base-color, 20%);
$base-color-lighter:  lighten($base-color, 15%);
$base-color-light:    lighten($base-color, 10%);

$base-color-dark:     darken($base-color, 40%);
$base-color-darker:   darken($base-color, 50%);
$base-color-darkest:  darken($base-color, 60%);

$secondary-color: #30699C;

$secondary-color-lightest: lighten($base-color, 20%);
$secondary-color-lighter:  lighten($base-color, 15%);
$main-color-light:    lighten($base-color, 10%);

$main-color-dark:     darken($base-color, 40%);
$main-color-darker:   darken($base-color, 50%);
$main-color-darkest:  darken($base-color, 60%);

$tertiary-color: #2AA375;


@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// service category colors

$lead: $orange-red;
$fund: $red;
$grow: $indigo;

// element colors

$bg-color-primary-dark: $night;
$bg-text-color-light: lighten($bg-color-primary-dark, 50%);

.text-light {
  color: $bg-text-color-light;
}

$link-x:  rgba(72, 82, 84, 1); /* gray-d */
$link-bright: rgba(87, 184, 255, 1); /* pool */
$link-vis: #3a4aa5; /* indigo */
$link: #5465ca; /* indigo lite */


// $primary: #242943; /* night */
$primary: $night;
$primary-light: $pool;

$deep: $grape; /* grape */

$highlight: linear-gradient(180deg,rgb(58, 74, 166) 70%, rgb(82, 173, 247) 0%);

$highlight-alt: linear-gradient(145deg,#61d0fd 5%,#5ae3ab 95%);

$hero: linear-gradient( 45deg, rgba(231,69,54,0.82) 80%, rgba(58, 74, 166, 0.82) 20% );

/* $hero: linear-gradient(45deg,#fff 70%, rgb(82, 173, 247) 0%); */

/* 
$hero: linear-gradient(45deg,rgb(15, 15, 15) 60%, rgb(58, 74, 166) 0%,);

*/

/* lighten($indigo, 5%); */

/* button adjusted colors*/ 
$btn-primary: $night; 
$accent: $aqua-green;

.btn .shadow {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

// Dimensions
$dot-size: 1px;
$dot-space: 22px;


/* Typography */

// europa (g) gibson (t) 

$sans-tk: "din-2014-narrow", sans-serif;
$serif-tk: "clarendon-urw", serif;

$display: 'Montserrat', sans-serif;
// $serif: 'Merriweather', Georgia, Times, serif;

//$sans Chivo 

$sans: 'DM Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$serif: 'Noto Serif JP', Georgia, 'Times New Roman', Times, serif;


$narrow: 'Roboto Condensed', 'Lato', Helvetica, 'Helvetica Neue', Arial, sans-serif;
$serif-old: 'Aleo', Georgia, 'Times New Roman', Times, serif;

@mixin mobile {
    @media (max-width: 599px) { @content; }
  }
  @mixin mobile-plus {
    @media (min-width: 600px) { @content; }
  }
  @mixin tablet-plus {
    @media (min-width: 900px) { @content; }
  }
  @mixin desktop {
    @media (min-width: 1200px) { @content; }
  }
  @mixin desktop-plus {
    @media (min-width: 1800px) { @content; }
  }

/* min-width breakpoints*/

$bp-s: "(max-width: 599px)"; 
$bp-m: "(min-width: 600px)";
$bp-l: "(min-width: 1024px)";
$bp-xl: "min-width: 1025px)";

/* 
xs, extra-small: 0px or larger
sm, small: 600px or larger
md, medium: 960px or larger
lg, large: 1280px or larger
xl, extra-large: 1920px or larger

*/

// As hex codes //

$color-primary-0: #30699C;	/* Main Primary color */
$color-primary-1: #77A4CB;
$color-primary-2: #4C80AE;
$color-primary-3: #16558D;
$color-primary-4: #0C406E;

$color-secondary-1-0: #413DA8;	// Main Secondary color (1) */
$color-secondary-1-1: #8683D3;
$color-secondary-1-2: #5D59BA;
$color-secondary-1-3: #262299;
$color-secondary-1-4: #191577;

$color-secondary-2-0: #2AA375;	// Main Secondary color (2) */
$color-secondary-2-1: #73CFAD;
$color-secondary-2-2: #47B58B;
$color-secondary-2-3: #0E9461;
$color-secondary-2-4: #057349;


/* 

background-image: linear-gradient(to bottom, #413da8, #3b42a7, #3746a5, #334aa3, #314da0, #2e519f, #2c559e, #2c589d, #2a5d9d, #2b619d, #2d659d, #30699c);

*/