/// Elements connected to Express ///

.page-title {
    display: inline;
    background-color: skyblue;
    padding: .25em;
    color: white; 
  }

/// Headers ///

.title-box h2 {
    align-items: center;
    padding: 1em 0;
}

/// Grid and Flexbox ///

/* Grid full page layout */

.grid-container {
    display: grid;
}

.flex-container {
    display: flex;
}

.flex-container-col {
    flex-direction: column;
}

.grid__page--12x12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, ifr);
    grid-gap: 0;
    justify-content: center;
}

header.grid__item {
    grid-column: 1 / span 12;
    grid-row: 1 / 2;
}

main.grid__item {
    grid-column: 1 / span 12;
    grid-row: 2 / 12;

}

footer.grid_item {
    grid-column: 1 / span 12;
    grid-row: 12 / 13;    

}

/* Hero Layout */


/* Hero variations */

.lead {
    height: 25vh;
    padding: 2em;
}


