/// Grid and Flexbox ///

/* Grid full page layout */

.grid__page--12x12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, ifr);
    grid-gap: 0;
    justify-content: center;
}

header.grid__item {
    grid-column: 1 / span 12;
    grid-row: 1 / 2;
}

main.grid__item {
    grid-column: 1 / span 12;
    grid-row: 2 / 12;

}

footer.grid_item {
    grid-column: 1 / span 12;
    grid-row: 12 / 13;    

}


