/// Elements connected to Express ///

.page-title {
    display: inline;
    text-transform: uppercase;
    font-weight: bolder;
    padding: .25em;
    color: $charcoal; 
  }

.flex-center {
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

.centered {
    max-width: 50%
}

/// Headers ///

.title-box h2 {
    align-items: center;
    padding: 1em 0;
}

/// Grid and Flexbox ///

/* Grid full page layout */

.grid-wrapper {
    display: grid;
    max-height: 100vh;
    grid-gap: 1em;
    grid-template-areas:
        "menu"
        "title-wrap"
        "main"
        "footer";
}

@media (min-width: 500px) {
    .grid-wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "header header"
        "title-wrap title-wrap"
        "main main"
        "footer footer";
    }
}

.grid-container {
    display: grid;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex: 0 1;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.grid-container-fluid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 1em;
    padding: 1em; 
  }

  .grid-container {
      display: grid;
  } 
  
  .fluid {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
  
  .full {
      grid-gap: 0;
  }

  .pad {
      padding: 1em; 
  }

.grid__page--12x12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 0;
    justify-content: center;
    min-height: 100%;
}



/* Card components */

.card-container {
    display: grid;
  }
    
  .card {
    height: 100%;
    justify-self: center;
    align-self: center;
    overflow: hidden;
    padding: 1em;
  }

  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }

  /* Portfolio / Projects Grid */

  
  
/* Alignment */

.left {
    text-align: left;
  }
  
  .center {
    text-align: center;
  }
  
  .right {
    text-align: right;
  }
  
